Repository bisq-network/bisq, pull requests merged in 2019-04, with the labels that each got.

#2606 Make create offer label cases easier to translate
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
Labels: in:gui

#2622 Fix max available stake for voting showing negative
  desktop/src/main/java/bisq/desktop/main/dao/governance/proposals/ProposalsView.java
Labels: in:dao, in:gui

#2656 Reword text in proposal fee pop-up
  core/src/main/resources/i18n/displayStrings.properties
Labels: in:dao, in:gui

#2657 Reduce tx broadcast timeout
  core/src/main/java/bisq/core/btc/wallet/TxBroadcaster.java
Labels: in:dao, re:Bitcoin

#2670 Add filter for min required version for DAO
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/dao/DaoKillSwitch.java
  core/src/main/java/bisq/core/filter/Filter.java
  core/src/main/resources/i18n/displayStrings.properties
  core/src/test/java/bisq/core/user/UserPayloadModelVOTest.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/FilterWindow.java
Labels: in:dao

#2669 Close printWriter before renaming temp file
  common/src/main/java/bisq/common/storage/JsonFileManager.java
Labels: in:dao

#2667 Protect against late blind vote publishing
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/dao/governance/blindvote/BlindVoteListService.java
  core/src/main/java/bisq/core/dao/governance/blindvote/MyBlindVoteListService.java
  core/src/main/java/bisq/core/dao/governance/blindvote/storage/BlindVotePayload.java
  core/src/main/java/bisq/core/dao/governance/blindvote/storage/BlindVoteStorageService.java
  core/src/main/java/bisq/core/dao/governance/votereveal/VoteRevealService.java
Labels: in:dao

#2665 Use cryptographic hash from protobuffer serialized data instead of hashCode
  core/src/main/java/bisq/core/dao/state/model/governance/Role.java
Labels: in:dao

#2674 Handle dao state conflicts better
  common/src/main/java/bisq/common/storage/FileManager.java
  core/src/main/java/bisq/core/dao/monitoring/BlindVoteStateMonitoringService.java
  core/src/main/java/bisq/core/dao/monitoring/DaoStateMonitoringService.java
  core/src/main/java/bisq/core/dao/monitoring/ProposalStateMonitoringService.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/dao/monitor/StateInConflictListItem.java
  desktop/src/main/java/bisq/desktop/main/dao/monitor/StateMonitorView.java
  desktop/src/main/java/bisq/desktop/main/dao/monitor/blindvotes/BlindVoteStateInConflictListItem.java
  desktop/src/main/java/bisq/desktop/main/dao/monitor/blindvotes/BlindVoteStateMonitorView.java
  desktop/src/main/java/bisq/desktop/main/dao/monitor/daostate/DaoStateInConflictListItem.java
  desktop/src/main/java/bisq/desktop/main/dao/monitor/daostate/DaoStateMonitorView.java
  desktop/src/main/java/bisq/desktop/main/dao/monitor/proposals/ProposalStateInConflictListItem.java
  desktop/src/main/java/bisq/desktop/main/dao/monitor/proposals/ProposalStateMonitorView.java
Labels: in:dao

#2696 Add slide animation for DAO launch popup
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DaoLaunchWindow.java
Labels: in:dao, in:gui

#2701 Manage startup popups
  desktop/src/main/java/bisq/desktop/main/MainView.java
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/overlays/Overlay.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DaoLaunchWindow.java
Labels: in:gui

#2722 Add missing pricenode project generated shell script
  build.gradle
Labels: in:build

#2719 Rebroadcast new blocks at lite nodes
  core/src/main/java/bisq/core/dao/monitoring/network/RequestStateHashesHandler.java
  core/src/main/java/bisq/core/dao/node/lite/network/LiteNodeNetworkService.java
Labels: in:dao

#2733 Fix ignore list
  core/src/main/java/bisq/core/arbitration/ArbitratorService.java
  core/src/main/java/bisq/core/dao/node/lite/network/RequestBlocksHandler.java
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  core/src/main/java/bisq/core/offer/availability/ArbitratorSelection.java
  core/src/main/java/bisq/core/trade/protocol/tasks/PublishTradeStatistics.java
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/components/PeerInfoIcon.java
  desktop/src/main/java/bisq/desktop/main/overlays/editor/PeerInfoWithTagEditor.java
Labels: in:gui, in:trade-process

#2732 Add nodeaddress and capabilities at getblocks request
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/dao/node/lite/network/RequestBlocksHandler.java
  core/src/main/java/bisq/core/dao/node/messages/GetBlocksRequest.java
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/messages/PreliminaryGetDataRequest.java
Labels: in:dao, in:network

#2734 Remove BSQ filter for crypto currencies
  desktop/src/test/java/bisq/desktop/MarketsPrintTool.java
Labels: in:build

#2621 Ignore dust utxo
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/btc/wallet/BisqDefaultCoinSelector.java
  core/src/main/java/bisq/core/btc/wallet/BsqCoinSelector.java
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
  core/src/main/java/bisq/core/btc/wallet/BtcCoinSelector.java
  core/src/main/java/bisq/core/btc/wallet/BtcWalletService.java
  core/src/main/java/bisq/core/btc/wallet/NonBsqCoinSelector.java
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
  core/src/main/java/bisq/core/btc/wallet/WalletService.java
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/main/java/bisq/core/user/PreferencesPayload.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionListItemFactory.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsListItem.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsView.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
Labels: in:wallet, re:Bitcoin

#2730 Request blocks in case we have not received it
  core/src/main/java/bisq/core/dao/node/lite/LiteNode.java
Labels: in:dao

#2736 Fix issues with DAO full mode in preferences
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/app/P2PNetworkSetup.java
  core/src/main/java/bisq/core/dao/node/BsqNodeProvider.java
  core/src/main/java/bisq/core/dao/node/full/RpcService.java
  core/src/main/java/bisq/core/offer/OfferPayload.java
  core/src/main/java/bisq/core/setup/CoreNetworkCapabilities.java
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/main/java/bisq/core/user/PreferencesPayload.java
  core/src/main/resources/i18n/displayStrings.properties
  core/src/test/java/bisq/core/user/PreferencesTest.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
  desktop/src/test/java/bisq/desktop/maker/PreferenceMakers.java
Labels: in:dao

#2737 Add UTF8 for getBytes calls
  common/src/main/java/bisq/common/crypto/PGP.java
  core/src/main/java/bisq/core/alert/AlertManager.java
  core/src/main/java/bisq/core/alert/PrivateNotificationManager.java
  core/src/main/java/bisq/core/notifications/MobileMessageEncryption.java
  core/src/main/java/bisq/core/trade/protocol/ArbitratorSelectionRule.java
  core/src/main/java/bisq/core/trade/protocol/MediatorSelectionRule.java
  core/src/main/java/bisq/core/trade/protocol/tasks/maker/MakerProcessPayDepositRequest.java
  core/src/main/java/bisq/core/trade/protocol/tasks/taker/TakerSendPayDepositRequest.java
  core/src/main/java/bisq/core/trade/statistics/TradeStatistics2.java
  desktop/src/main/java/bisq/desktop/components/PeerInfoIcon.java
  desktop/src/main/java/bisq/desktop/main/overlays/editor/PeerInfoWithTagEditor.java
  monitor/src/main/java/bisq/monitor/reporter/GraphiteReporter.java
  p2p/src/main/java/bisq/network/DnsLookupTor.java
  pricenode/src/main/java/bisq/price/spot/providers/BitcoinAverage.java
Labels: a:bug

#2764 Dont disable confirm buttons
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep2View.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep3View.java
Labels: in:arbitration, in:trade-process

#2763 Use same precision for all x-axis labels
  desktop/src/main/java/bisq/desktop/main/market/offerbook/OfferBookChartView.java
Labels: in:gui

#2753 Fix account age display of peer
  core/src/main/java/bisq/core/payment/AccountAgeWitnessService.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/components/PeerInfoIcon.java
  desktop/src/main/java/bisq/desktop/components/PeerInfoIconSmall.java
  desktop/src/main/java/bisq/desktop/main/disputes/arbitrator/ArbitratorDisputeView.java
  desktop/src/main/java/bisq/desktop/main/disputes/trader/TraderDisputeView.java
  desktop/src/main/java/bisq/desktop/main/overlays/editor/PeerInfoWithTagEditor.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ContractWindow.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/TradeDetailsWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
Labels: in:gui, in:trade-process

#2675 List ParsiCoin (PARS)
  assets/src/main/java/bisq/asset/coins/ParsiCoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/ParsiCoinTest.java
  core/src/main/resources/i18n/displayStrings.properties
Labels: in:altcoins
