Repository bisq-network/bisq, pull requests merged in 2019-12, with the labels that each got.

#3749 Validate wallet date when restoring from seed
  desktop/src/main/java/bisq/desktop/main/account/content/seedwords/SeedWordsView.java
Labels: in:gui, in:wallet

#3743 Display warning based on supported languages by mediators and refund agents
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesViewModel.java
  desktop/src/test/java/bisq/desktop/main/settings/preferences/PreferencesViewModelTest.java
Labels: a:bug, in:gui

#3713 Update dao-setup doc to include bloom filter for newer bitcoincore v0.19.0.1
  docs/dao-setup.md
Labels: waiting for author

#3777 Revolut account should accept only phone number
  core/src/main/java/bisq/core/locale/CountryUtil.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/RevolutForm.java
  desktop/src/main/java/bisq/desktop/util/validation/RevolutValidator.java
Labels: waiting for author
