Repository bisq-network/bisq, pull requests merged in 2019-02, with the labels that each got.

#2348 Monitor release: Showing off
  build.gradle
  monitor/src/main/java/bisq/monitor/AvailableTor.java
  monitor/src/main/java/bisq/monitor/Metric.java
  monitor/src/main/java/bisq/monitor/Monitor.java
  monitor/src/main/java/bisq/monitor/OnionParser.java
  monitor/src/main/java/bisq/monitor/StatisticsHelper.java
  monitor/src/main/java/bisq/monitor/ThreadGate.java
  monitor/src/main/java/bisq/monitor/metric/P2PNetworkLoad.java
  monitor/src/main/java/bisq/monitor/metric/P2PNetworkMessageSnapshot.java
  monitor/src/main/java/bisq/monitor/metric/P2PRoundTripTime.java
  monitor/src/main/java/bisq/monitor/metric/TorHiddenServiceStartupTime.java
  monitor/src/main/java/bisq/monitor/metric/TorRoundTripTime.java
  monitor/src/main/java/bisq/monitor/reporter/GraphiteReporter.java
  monitor/src/main/resources/logback.xml
  monitor/src/main/resources/metrics.properties
  monitor/src/test/java/bisq/monitor/P2PNetworkLoadTests.java
  monitor/src/test/java/bisq/monitor/P2PRoundTripTimeTests.java
Labels: in:monitoring, in:network

#2336 Add LOCK_TIME_TRADE_PAYOUT and ARBITRATOR_FEE param
  common/src/main/java/bisq/common/proto/ProtoUtil.java
  core/src/main/java/bisq/core/dao/governance/param/Param.java
  core/src/main/java/bisq/core/dao/governance/proposal/param/ChangeParamValidator.java
  core/src/main/java/bisq/core/dao/governance/voteresult/MissingDataRequestService.java
  core/src/main/java/bisq/core/dao/governance/voteresult/VoteResultService.java
  core/src/main/java/bisq/core/dao/node/full/network/FullNodeNetworkService.java
  core/src/main/java/bisq/core/dao/state/DaoStateService.java
  core/src/main/java/bisq/core/util/BsqFormatter.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
Labels: in:dao

#2366 Dao: Add link from confiscation proposal to bond view
  desktop/src/main/java/bisq/desktop/Navigation.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/BondingView.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/bonds/BondsView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/ProposalDisplay.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/make/MakeProposalView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/proposals/ProposalsView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
Labels: in:dao

#2345 List Augmint Euro (AEUR)
  assets/src/main/java/bisq/asset/tokens/AugmintEuro.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/tokens/AugmintEuroTest.java
Labels: in:altcoins

#2370 DAO:Use highlight color without link behavior
  desktop/src/main/java/bisq/desktop/components/TableGroupHeadline.java
Labels: in:dao

#2359 List CRowdCLassic (CRCL)
  assets/src/main/java/bisq/asset/coins/CRowdCLassic.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/CRowdCLassicTest.java
Labels: in:altcoins

#2341 List VectorspaceAI (VXV)
  assets/src/main/java/bisq/asset/tokens/VectorspaceAI.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/tokens/VectorspaceAITest.java
Labels: in:altcoins

#2322 List Adeptio (ADE)
  assets/src/main/java/bisq/asset/coins/Adeptio.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/AdeptioTest.java
Labels: in:altcoins

#2321 List Lytix (LYTX)
  assets/src/main/java/bisq/asset/coins/Lytix.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/LytixTest.java
Labels: in:altcoins

#2319 List Cash2 (CASH2)
  assets/src/main/java/bisq/asset/coins/Cash2.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/Cash2Test.java
  core/src/main/resources/i18n/displayStrings.properties
Labels: in:altcoins

#2309 List BitDaric [DARX]
  assets/src/main/java/bisq/asset/coins/BitDaric.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/BitDaricTest.java
Labels: in:altcoins

#2221 List LitecoinZ (LTZ)
  assets/src/main/java/bisq/asset/coins/LitecoinZ.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/LitecoinZTest.java
  core/src/main/resources/i18n/displayStrings.properties
Labels: in:altcoins

#2382 List Askcoin (ASK)
  assets/src/main/java/bisq/asset/coins/Askcoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/AskcoinTest.java
Labels: in:altcoins

#2377 Fix missing removal of old or invalid proposals
  core/src/main/java/bisq/core/dao/governance/proposal/ProposalService.java
  core/src/main/java/bisq/core/dao/governance/votereveal/VoteRevealService.java
Labels: in:dao

#2394 Show DAO news badge
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/main/MainView.java
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/dao/wallet/receive/BsqReceiveView.java
  desktop/src/main/java/bisq/desktop/main/presentation/DaoPresentation.java
Labels: in:dao

#2386 Show warning for bonded role if user has insufficient funds
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/dao/governance/make/MakeProposalView.java
Labels: in:dao

#2384 Wait until proposal is published before resetting the form
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/dao/governance/ProposalDisplay.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/make/MakeProposalView.java
Labels: in:dao

#2379 Show BSQ trading fee more explicitly when funding your offer
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/components/FundsTextField.java
  desktop/src/main/java/bisq/desktop/components/InfoTextField.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
Labels: in:dao

#2388 Add indication that BSQ transactions are not up to date
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/DesktopModule.java
  desktop/src/main/java/bisq/desktop/main/MainView.java
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/presentation/DaoPresentation.java
  desktop/src/main/java/bisq/desktop/main/presentation/MarketPricePresentation.java
Labels: in:dao

#2395 List multiple stable coins
  assets/src/main/java/bisq/asset/tokens/DaiStablecoin.java
  assets/src/main/java/bisq/asset/tokens/TrueUSD.java
  assets/src/main/java/bisq/asset/tokens/USDCoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/tokens/DaiStablecoinTest.java
  assets/src/test/java/bisq/asset/tokens/TrueUSDTest.java
  assets/src/test/java/bisq/asset/tokens/USDCoinTest.java
Labels: in:altcoins

#2409 Update view on activation with block at current chain height
  core/src/main/java/bisq/core/dao/DaoFacade.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/make/MakeProposalView.java
Labels: in:dao

#2419 Improve governance layout
  desktop/src/main/java/bisq/desktop/main/dao/governance/ProposalDisplay.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/make/MakeProposalView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/proposals/ProposalsView.java
Labels: in:dao

#2417 Extend initialization message to improve readability during app startup
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/presentation/DaoPresentation.java
Labels: in:gui

#2421 Adapt DAO news view for Mainnet
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/components/AddressWithIconAndDirection.java
  desktop/src/main/java/bisq/desktop/components/HyperlinkWithIcon.java
  desktop/src/main/java/bisq/desktop/main/dao/DaoView.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/bonds/BondsView.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/reputation/MyReputationView.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/roles/RolesView.java
  desktop/src/main/java/bisq/desktop/main/dao/burnbsq/proofofburn/ProofOfBurnView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
  desktop/src/main/java/bisq/desktop/main/dao/news/NewsView.fxml
  desktop/src/main/java/bisq/desktop/main/dao/news/NewsView.java
  desktop/src/main/java/bisq/desktop/main/dao/wallet/receive/BsqReceiveView.java
  desktop/src/main/java/bisq/desktop/main/dao/wallet/tx/BsqTxView.java
  desktop/src/main/java/bisq/desktop/main/funds/deposit/DepositView.java
  desktop/src/main/java/bisq/desktop/main/funds/locked/LockedView.java
  desktop/src/main/java/bisq/desktop/main/funds/reserved/ReservedView.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsView.java
  desktop/src/main/java/bisq/desktop/main/funds/withdrawal/WithdrawalView.java
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
  desktop/src/main/resources/fonts/IBMPlexSans-Light.ttf
Labels: in:dao, in:gui

#2405 Add scripts to autosetup dao on regtest
  docs/autosetup-regtest-dao/README.md
  docs/autosetup-regtest-dao/bisq/alice
  docs/autosetup-regtest-dao/bisq/bob
  docs/autosetup-regtest-dao/bisq/config.sh
  docs/autosetup-regtest-dao/bisq/create_genesis.sh
  docs/autosetup-regtest-dao/bisq/seed_node
  docs/autosetup-regtest-dao/bitcoin.conf
  docs/autosetup-regtest-dao/blocknotify
  docs/autosetup-regtest-dao/clean.sh
  docs/autosetup-regtest-dao/generate_101_blocks.sh
  docs/autosetup-regtest-dao/start_bitcoind.sh
Labels: in:dao

#2403 Use NonMMappedSPVBlockStore on windows.
  core/src/main/java/bisq/core/btc/setup/NonMMappedSPVBlockStore.java
  core/src/main/java/bisq/core/btc/setup/WalletConfig.java
Labels: in:wallet

#2399 Improve handling when unable to connect to tor
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/app/P2PNetworkSetup.java
  core/src/main/java/bisq/core/app/WalletAppSetup.java
  desktop/src/main/java/bisq/desktop/main/MainView.java
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  p2p/src/main/java/bisq/network/p2p/network/SetupListener.java
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
Labels: re:Tor

#2431 Download rpm package on RedHat-based Linux
  common/src/main/java/bisq/common/util/Utilities.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/downloadupdate/BisqInstaller.java
Labels: in:build, on:Linux

#2461 Security framework for the API
  api/README.md
  api/src/main/java/bisq/api/http/HttpApiModule.java
  api/src/main/java/bisq/api/http/exceptions/ExceptionMappers.java
  api/src/main/java/bisq/api/http/exceptions/UnauthorizedException.java
  api/src/main/java/bisq/api/http/model/AuthForm.java
  api/src/main/java/bisq/api/http/model/AuthResult.java
  api/src/main/java/bisq/api/http/model/ChangePassword.java
  api/src/main/java/bisq/api/http/service/HttpApiInterfaceV1.java
  api/src/main/java/bisq/api/http/service/HttpApiServer.java
  api/src/main/java/bisq/api/http/service/auth/ApiPasswordManager.java
  api/src/main/java/bisq/api/http/service/auth/AuthFilter.java
  api/src/main/java/bisq/api/http/service/auth/TokenRegistry.java
  api/src/main/java/bisq/api/http/service/endpoint/UserEndpoint.java
  api/src/test/java/bisq/api/http/service/auth/ApiPasswordManagerTest.java
  api/src/test/java/bisq/api/http/service/auth/AuthFilterTest.java
  api/src/test/java/bisq/api/http/service/auth/TokenRegistryTest.java
  api/src/testIntegration/java/bisq/api/http/UserEndpointIT.java
  build.gradle
Labels: in:api

#2462 Fix incorrect available balance for voting
  core/src/main/java/bisq/core/dao/governance/blindvote/MyBlindVoteListService.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/proposals/ProposalsView.java
Labels: in:dao

#2467 Fix Windows system tray icon resolution
  desktop/src/main/java/bisq/desktop/app/SystemTray.java
Labels: in:gui

#2184 List Bitzec (BZC)
  assets/src/main/java/bisq/asset/coins/Bitzec.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/BitzecTest.java
Labels: in:altcoins

#2326 List CloakCoin (CLOAK)
  assets/src/main/java/bisq/asset/coins/CloakCoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/CloakCoinTest.java
Labels: in:altcoins

#2353 List Helium (HLM)
  assets/src/main/java/bisq/asset/coins/Helium.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/HeliumTest.java
Labels: in:altcoins

#2401 List Hatch (HATCH)
  assets/src/main/java/bisq/asset/coins/Hatch.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/HatchTest.java
Labels: in:altcoins

#2464 Seed node repo refactoring
  core/src/main/java/bisq/core/CoreModule.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
  core/src/main/java/bisq/core/network/p2p/seed/DefaultSeedNodeAddresses.java
  core/src/main/java/bisq/core/network/p2p/seed/DefaultSeedNodeRepository.java
  core/src/main/java/bisq/core/network/p2p/seed/ImmutableSetDecorator.java
  core/src/main/java/bisq/core/network/p2p/seed/SeedNodeAddressLookup.java
  core/src/main/java/bisq/core/network/p2p/seed/SeedNodeAddresses.java
  core/src/main/resources/btc_dao_testnet.seednodes
  core/src/main/resources/btc_mainnet.seednodes
  core/src/main/resources/btc_regtest.seednodes
  core/src/main/resources/btc_testnet.seednodes
  core/src/test/java/bisq/core/network/p2p/seed/DefaultSeedNodeRepositoryTest.java
  core/src/test/java/bisq/core/network/p2p/seed/ImmutableSetDecoratorTest.java
  core/src/test/java/bisq/core/network/p2p/seed/SeedNodeAddressLookupTest.java
  core/src/test/java/bisq/core/network/p2p/seed/SeedNodeAddressesTest.java
  core/src/test/resources/mainnet.seednodes
  core/src/test/resources/regtest.seednodes
  core/src/test/resources/testnet.seednodes
  monitor/src/main/java/bisq/monitor/metric/P2PNetworkLoad.java
  p2p/src/main/java/bisq/network/p2p/seed/SeedNodeRepository.java
Labels: in:network

#2468 Update testing doc for TestPad
  docs/testing.md
Labels: re:testing
