Repository bisq-network/bisq, pull requests merged in 2019-01, with the labels that each got.

#2161 List GambleCoin (GMCN)
  assets/src/main/java/bisq/asset/coins/GambleCoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/GambleCoinTest.java
Labels: in:altcoins

#2176 List Webchain (WEB)
  assets/src/main/java/bisq/asset/coins/Webchain.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/WebchainTest.java
Labels: in:altcoins

#2078 List Bitmark (BTM)
  assets/src/main/java/bisq/asset/coins/Bitmark.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/BitmarkTest.java
Labels: in:altcoins

#2147 List WrkzCoin (WRKZ)
  assets/src/main/java/bisq/asset/coins/WrkzCoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/WrkzCoinTest.java
Labels: in:altcoins

#2217 Add Grin
  assets/src/main/java/bisq/asset/GrinAddressValidator.java
  assets/src/main/java/bisq/asset/coins/Grin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/GrinTest.java
Labels: in:altcoins

#2218 Add Beam
  assets/src/main/java/bisq/asset/coins/Beam.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/BeamTest.java
Labels: in:altcoins

#2236 List AustraliaCash (AUS)
  assets/src/main/java/bisq/asset/coins/Australiacash.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/AustraliacashTest.java
Labels: in:altcoins

#2228 List Persona (PRSN)
  assets/src/main/java/bisq/asset/coins/Persona.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/PersonaTest.java
Labels: in:altcoins

#2238 List DeepOnion (ONION)
  assets/src/main/java/bisq/asset/coins/DeepOnion.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/DeepOnionTest.java
Labels: in:altcoins

#2252 Move util code from UI to core
  core/src/main/java/bisq/core/offer/OfferUtil.java
  core/src/main/java/bisq/core/payment/PaymentAccount.java
  core/src/main/java/bisq/core/payment/PaymentAccountUtil.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/PaymentMethodForm.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
Labels: a:refactoring, in:api, in:gui

#2250 Refactor balances and trademanager setup
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/btc/Balances.java
  core/src/main/java/bisq/core/btc/BitcoinModule.java
  core/src/main/java/bisq/core/presentation/BalancePresentation.java
  core/src/main/java/bisq/core/trade/TradeManager.java
Labels: a:refactoring

#2247 Fix windows install custom translations
  desktop/package/windows/Bisq.iss
Labels: re:installation

#2270 List Fujicoin (FJC)
  assets/src/main/java/bisq/asset/coins/Fujicoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/FujicoinTest.java
Labels: in:altcoins

#2253 Http api
  .dockerignore
  .idea/codeStyles/Project.xml
  .travis.yml
  api/.dockerignore
  api/README.md
  api/docker-compose-base.yml
  api/docker-compose.yml
  api/docker/dev/Dockerfile
  api/docker/startApi.sh
  api/src/main/java/bisq/api/http/HttpApiModule.java
  api/src/main/java/bisq/api/http/app/HttpApiHeadlessApp.java
  api/src/main/java/bisq/api/http/app/HttpApiHeadlessModule.java
  api/src/main/java/bisq/api/http/app/HttpApiMain.java
  api/src/main/java/bisq/api/http/model/VersionDetails.java
  api/src/main/java/bisq/api/http/service/HttpApiInterfaceV1.java
  api/src/main/java/bisq/api/http/service/HttpApiServer.java
  api/src/main/java/bisq/api/http/service/endpoint/VersionEndpoint.java
  api/src/main/resources/META-INF/custom-swagger-ui/index.html
  api/src/main/resources/openapi-configuration.json
  api/src/testIntegration/java/bisq/api/http/ApiTestHelper.java
  api/src/testIntegration/java/bisq/api/http/ContainerFactory.java
  api/src/testIntegration/java/bisq/api/http/RegexMatcher.java
  api/src/testIntegration/java/bisq/api/http/SwaggerIT.java
  api/src/testIntegration/java/bisq/api/http/VersionEndpointIT.java
  api/src/testIntegration/java/bisq/api/http/arquillian/CubeLogger.java
  api/src/testIntegration/java/bisq/api/http/arquillian/CubeLoggerExtension.java
  api/src/testIntegration/resources/META-INF/services/org.jboss.arquillian.core.spi.LoadableExtension
  api/src/testIntegration/resources/arquillian.xml
  api/src/testIntegration/resources/logback-test.xml
  build.gradle
  core/src/main/java/bisq/core/app/AppOptionKeys.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  desktop/src/main/java/bisq/desktop/app/BisqAppMain.java
  gradle/witness/gradle-witness.gradle
  settings.gradle
Labels: in:api

#2275 Start api before wallet started
  api/src/main/java/bisq/api/http/app/HttpApiHeadlessApp.java
  api/src/main/java/bisq/api/http/app/HttpApiMain.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/BisqHeadlessApp.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/app/HeadlessApp.java
  desktop/src/main/java/bisq/desktop/app/BisqAppMain.java
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
Labels: in:api

#2291 List Mile (MILE)
  assets/src/main/java/bisq/asset/coins/Mile.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/MileTest.java
Labels: in:altcoins

#2251 Refactor fee estimation
  core/src/main/java/bisq/core/btc/BitcoinModule.java
  core/src/main/java/bisq/core/btc/TxFeeEstimationService.java
  core/src/main/java/bisq/core/btc/wallet/BtcWalletService.java
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
  core/src/test/java/bisq/core/btc/TxFeeEstimationServiceTest.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/createoffer/CreateOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModel.java
  desktop/src/test/java/bisq/desktop/main/offer/createoffer/CreateOfferViewModelTest.java
Labels: a:refactoring, in:gui

#2312 Allow host as bitcoinRegtestHost parameter
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/btc/BitcoinModule.java
  core/src/main/java/bisq/core/btc/setup/RegTestHost.java
  core/src/main/java/bisq/core/btc/setup/WalletsSetup.java
Labels: re:Bitcoin

#2344 Delete tor files at startup
  core/src/main/java/bisq/core/CoreModule.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/app/TorSetup.java
  core/src/main/java/bisq/core/app/misc/AppSetupWithP2P.java
  core/src/main/java/bisq/core/app/misc/AppSetupWithP2PAndDAO.java
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/TorNetworkSettingsWindow.java
Labels: re:Tor, re:security

#2335 Dao various bug fixes
  core/src/main/java/bisq/core/dao/governance/votereveal/VoteRevealService.java
  core/src/main/java/bisq/core/util/BsqFormatter.java
  core/src/main/java/bisq/core/util/validation/UrlInputValidator.java
  core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings_de.properties
  core/src/main/resources/i18n/displayStrings_el.properties
  core/src/main/resources/i18n/displayStrings_es.properties
  core/src/main/resources/i18n/displayStrings_fa.properties
  core/src/main/resources/i18n/displayStrings_fr.properties
  core/src/main/resources/i18n/displayStrings_hu.properties
  core/src/main/resources/i18n/displayStrings_pt.properties
  core/src/main/resources/i18n/displayStrings_ro.properties
  core/src/main/resources/i18n/displayStrings_ru.properties
  core/src/main/resources/i18n/displayStrings_sr.properties
  core/src/main/resources/i18n/displayStrings_th.properties
  core/src/main/resources/i18n/displayStrings_vi.properties
  core/src/main/resources/i18n/displayStrings_zh.properties
  desktop/src/main/java/bisq/desktop/main/dao/DaoView.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/bonds/BondListItem.java
  desktop/src/main/java/bisq/desktop/main/dao/burnbsq/proofofburn/ProofOfBurnView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/ProposalDisplay.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/make/MakeProposalView.java
  desktop/src/main/java/bisq/desktop/main/dao/wallet/send/BsqSendView.java
  desktop/src/main/java/bisq/desktop/main/overlays/Overlay.java
Labels: in:dao

#2333 Fix incorrect phase display
  core/src/main/java/bisq/core/dao/DaoFacade.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/PhasesView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/dashboard/GovernanceDashboardView.java
Labels: in:dao

#2331 Dao avoid multiple button clicks
  desktop/src/main/java/bisq/desktop/main/dao/governance/make/MakeProposalView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/proposals/ProposalsView.java
Labels: in:dao

#2328 Dao improve exception handling
  core/src/main/java/bisq/core/app/BisqHeadlessApp.java
  core/src/main/java/bisq/core/dao/governance/voteresult/MissingDataRequestService.java
  core/src/main/java/bisq/core/dao/governance/voteresult/VoteResultConsensus.java
  core/src/main/java/bisq/core/dao/governance/voteresult/VoteResultException.java
  core/src/main/java/bisq/core/dao/governance/voteresult/VoteResultService.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
Labels: in:dao

#2342 Dao show menu item
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/MainView.java
  desktop/src/main/java/bisq/desktop/main/dao/DaoView.java
  desktop/src/main/java/bisq/desktop/main/dao/wallet/receive/BsqReceiveView.java
Labels: in:dao
