Repository bisq-network/bisq, pull requests merged in 2019-05, with the labels that each got.

#2821 Fix getBlocks issue
  core/src/main/java/bisq/core/dao/node/full/network/FullNodeNetworkService.java
  core/src/main/java/bisq/core/dao/node/lite/network/LiteNodeNetworkService.java
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
  p2p/src/main/java/bisq/network/p2p/network/NetworkNode.java
  p2p/src/main/java/bisq/network/p2p/peers/PeerManager.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataManager.java
Labels: in:dao, in:network

#2609 Bitcoin p2p: Use different timeouts
  core/src/main/java/bisq/core/btc/setup/WalletConfig.java
Labels: re:Bitcoin

#2618 Use bitcoinj with connection handling audit fixes + Transaction.unCache() set confidence to null
  build.gradle
  gradle/witness/gradle-witness.gradle
Labels: in:wallet

#2705 Add specific URL validation for proposal links
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/dao/governance/ProposalDisplay.java
Labels: in:dao

#2750 List ZeroClassic (ZERC)
  assets/src/main/java/bisq/asset/coins/ZeroClassic.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/ZeroClassicTest.java
Labels: in:altcoins

#2811 List burnt BlackCoin (BLK-BURNT)
  assets/src/main/java/bisq/asset/coins/BurntBlackCoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/BurntBlackCoinTest.java
  core/src/main/resources/i18n/displayStrings.properties
Labels: in:altcoins
