Repository bisq-network/bisq, pull requests merged in 2019-03, with the labels that each got.

#2470 API over TOR
  api/src/main/java/bisq/api/http/service/HttpApiServer.java
Labels: in:api

#2471 Combine and update installer background
  desktop/package/macosx/Bisq-background.png
  desktop/package/macosx/background/Bisq-background.png
  desktop/package/macosx/background/Bisq-background@2x.png
Labels: re:installation

#2483 Add MacOS support in install_java.sh script
  docs/build.md
  docs/idea-import.md
  scripts/install_java.sh
Labels: in:build

#2492 Fix system tray visibility for dark mode Mac
  common/src/main/java/bisq/common/util/Utilities.java
  desktop/src/main/java/bisq/desktop/app/SystemTray.java
  desktop/src/main/resources/images/system_tray_icon@2x_white.png
  desktop/src/main/resources/images/system_tray_icon_white.png
Labels: in:gui

#2385 List DSTRA (DST)
  assets/src/main/java/bisq/asset/coins/DSTRA.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/DSTRATest.java
Labels: in:altcoins

#2407 List MirQuiX (MQX)
  assets/src/main/java/bisq/asset/coins/MirQuiX.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/MirQuiXTest.java
Labels: in:altcoins

#2418 List LitecoinPlus (LCP)
  assets/src/main/java/bisq/asset/coins/LitecoinPlus.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/LitecoinPlusTest.java
Labels: in:altcoins

#2448 List Doichain (DOI)
  assets/src/main/java/bisq/asset/coins/Doichain.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/DoichainTest.java
Labels: in:altcoins

#2454 List XDR (XDR)
  assets/src/main/java/bisq/asset/coins/XDR.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/XDRTest.java
Labels: in:altcoins

#2466 List Plenteum (PLE)
  assets/src/main/java/bisq/asset/coins/Plenteum.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/PlenteumTest.java
Labels: in:altcoins

#2494 Add program arguments for p2p network config
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/offer/OfferPayload.java
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  p2p/src/main/java/bisq/network/NetworkOptionKeys.java
  p2p/src/main/java/bisq/network/p2p/P2PModule.java
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
  p2p/src/main/java/bisq/network/p2p/network/ConnectionConfig.java
Labels: in:network

#2443 List Galilel (GALI)
  assets/src/main/java/bisq/asset/coins/Galilel.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/GalilelTest.java
Labels: in:altcoins

#2433 List Arqma
  assets/src/main/java/bisq/asset/coins/Arqma.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/ArqmaTest.java
  core/src/main/resources/i18n/displayStrings.properties
Labels: in:altcoins

#2430 List Veil (VEIL)
  assets/src/main/java/bisq/asset/coins/Veil.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/VeilTest.java
Labels: in:altcoins

#2498 Use percentage based value for security deposits
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/btc/wallet/Restrictions.java
  core/src/main/java/bisq/core/offer/OfferUtil.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/main/java/bisq/core/user/PreferencesPayload.java
  core/src/main/java/bisq/core/util/CoinUtil.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/components/InfoInputTextField.java
  desktop/src/main/java/bisq/desktop/components/NewBadge.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/AssetsForm.java
  desktop/src/main/java/bisq/desktop/main/account/content/altcoinaccounts/AltCoinAccountsView.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/OfferView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModel.java
  desktop/src/main/java/bisq/desktop/util/validation/SecurityDepositValidator.java
  desktop/src/test/java/bisq/desktop/main/offer/createoffer/CreateOfferDataModelTest.java
Labels: in:gui, in:trade-process

#2504 Added button to export voting history into JSON
  core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings_de.properties
  core/src/main/resources/i18n/displayStrings_el.properties
  core/src/main/resources/i18n/displayStrings_es.properties
  core/src/main/resources/i18n/displayStrings_fa.properties
  core/src/main/resources/i18n/displayStrings_fr.properties
  core/src/main/resources/i18n/displayStrings_hu.properties
  core/src/main/resources/i18n/displayStrings_pt.properties
  core/src/main/resources/i18n/displayStrings_ro.properties
  core/src/main/resources/i18n/displayStrings_ru.properties
  core/src/main/resources/i18n/displayStrings_sr.properties
  core/src/main/resources/i18n/displayStrings_th.properties
  core/src/main/resources/i18n/displayStrings_vi.properties
  core/src/main/resources/i18n/displayStrings_zh.properties
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/ProposalListItem.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.fxml
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
Labels: in:dao

#2499 WIP Updated netlayer, jtorctl and tor-binary
  build.gradle
  gradle/witness/gradle-witness.gradle
Labels: in:network, re:Tor

#2478 Use bitcoinj 0.14.7
  build.gradle
  core/src/main/java/bisq/core/btc/wallet/WalletService.java
  core/src/main/java/bisq/core/trade/Trade.java
  desktop/src/main/java/bisq/desktop/main/dao/wallet/tx/BsqTxView.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsListItem.java
  gradle/witness/gradle-witness.gradle
Labels: in:wallet, re:Bitcoin

#2127 Basic support for version 2 transactions.
  core/src/main/java/bisq/core/btc/wallet/BisqRiskAnalysis.java
Labels: re:Bitcoin

#2505 Add removed deprecated payment methods again as it would break trade history
  core/src/main/java/bisq/core/payment/CashAppAccount.java
  core/src/main/java/bisq/core/payment/OKPayAccount.java
  core/src/main/java/bisq/core/payment/PaymentAccountFactory.java
  core/src/main/java/bisq/core/payment/VenmoAccount.java
  core/src/main/java/bisq/core/payment/payload/CashAppAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/OKPayAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/PaymentMethod.java
  core/src/main/java/bisq/core/payment/payload/VenmoAccountPayload.java
  core/src/main/java/bisq/core/proto/CoreProtoResolver.java
  core/src/main/resources/i18n/displayStrings.properties
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Labels: in:payment

#2507 Monitor tweaks, fixes and a new Metric
  build.gradle
  monitor/README.md
  monitor/bisq-monitor.service
  monitor/src/main/java/bisq/monitor/Monitor.java
  monitor/src/main/java/bisq/monitor/Reporter.java
  monitor/src/main/java/bisq/monitor/metric/MarketStats.java
  monitor/src/main/java/bisq/monitor/metric/P2PNetworkLoad.java
  monitor/src/main/java/bisq/monitor/metric/P2PRoundTripTime.java
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshot.java
  monitor/src/main/java/bisq/monitor/metric/TorHiddenServiceStartupTime.java
  monitor/src/main/java/bisq/monitor/reporter/ConsoleReporter.java
  monitor/src/main/java/bisq/monitor/reporter/GraphiteReporter.java
  monitor/src/main/resources/metrics.properties
  monitor/src/test/java/bisq/monitor/PriceNodeStatsTests.java
  monitor/src/test/java/bisq/monitor/TorHiddenServiceStartupTimeTests.java
  monitor/src/test/java/bisq/monitor/TorRoundTripTimeTests.java
  monitor/src/test/java/bisq/monitor/TorStartupTimeTests.java
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
Labels: in:monitoring

#2476 Seed node repo refactoring
  core/src/main/java/bisq/core/CoreModule.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
  core/src/main/java/bisq/core/network/p2p/seed/DefaultSeedNodeAddresses.java
  core/src/main/java/bisq/core/network/p2p/seed/DefaultSeedNodeRepository.java
  core/src/main/java/bisq/core/network/p2p/seed/ImmutableSetDecorator.java
  core/src/main/java/bisq/core/network/p2p/seed/SeedNodeAddressLookup.java
  core/src/main/java/bisq/core/network/p2p/seed/SeedNodeAddresses.java
  core/src/main/resources/btc_dao_testnet.seednodes
  core/src/main/resources/btc_mainnet.seednodes
  core/src/main/resources/btc_regtest.seednodes
  core/src/main/resources/btc_testnet.seednodes
  core/src/test/java/bisq/core/network/p2p/seed/DefaultSeedNodeRepositoryTest.java
  core/src/test/java/bisq/core/network/p2p/seed/ImmutableSetDecoratorTest.java
  core/src/test/java/bisq/core/network/p2p/seed/SeedNodeAddressLookupTest.java
  core/src/test/java/bisq/core/network/p2p/seed/SeedNodeAddressesTest.java
  core/src/test/resources/mainnet.seednodes
  core/src/test/resources/regtest.seednodes
  core/src/test/resources/testnet.seednodes
  monitor/src/main/java/bisq/monitor/metric/P2PNetworkLoad.java
  p2p/src/main/java/bisq/network/NetworkOptionKeys.java
  p2p/src/main/java/bisq/network/p2p/NetworkNodeProvider.java
  p2p/src/main/java/bisq/network/p2p/P2PModule.java
  p2p/src/main/java/bisq/network/p2p/network/LocalhostNetworkNode.java
  p2p/src/main/java/bisq/network/p2p/network/NetworkNode.java
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataManager.java
  p2p/src/main/java/bisq/network/p2p/seed/SeedNodeRepository.java
  p2p/src/test/java/bisq/network/p2p/DummySeedNode.java
Labels: a:refactoring

#2517 Fix missing balance at restore from seed words
  core/src/main/java/bisq/core/btc/model/AddressEntryList.java
  desktop/src/main/java/bisq/desktop/main/account/content/seedwords/SeedWordsView.java
Labels: in:wallet

#2515 Make vote result json deterministic
  core/src/main/java/bisq/core/util/BSFormatter.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/CycleListItem.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/ProposalListItem.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
Labels: in:dao

#2523 Fix index out of bound issues
  common/src/main/java/bisq/common/app/Capabilities.java
  core/src/main/java/bisq/core/dao/state/model/governance/DaoPhase.java
Labels: a:refactoring

#2524 Improve restore wallet from seed process
  core/src/main/java/bisq/core/btc/model/AddressEntryList.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
Labels: in:wallet

#2521 Added feedback popup for DAO test users
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/dao/governance/proposals/ProposalsView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
  desktop/src/main/java/bisq/desktop/main/overlays/Overlay.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DAOTestingFeedbackWindow.java
Labels: in:dao, in:gui

#2528 Fix bug UI treats rejected proposals as accepted
  core/src/main/java/bisq/core/dao/governance/asset/AssetService.java
  core/src/main/java/bisq/core/dao/governance/bond/role/BondedRolesRepository.java
Labels: in:dao

#2520 List AmityCoin (AMIT)
  assets/src/main/java/bisq/asset/coins/Amitycoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/AmitycoinTest.java
Labels: in:altcoins

#2546 Add dao betatest network
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/btc/BaseCurrencyNetwork.java
  core/src/main/java/bisq/core/dao/DaoModule.java
  core/src/main/java/bisq/core/dao/DaoOptionKeys.java
  core/src/main/java/bisq/core/dao/governance/param/Param.java
  core/src/main/java/bisq/core/dao/monitoring/BlindVoteStateMonitoringService.java
  core/src/main/java/bisq/core/dao/node/full/RpcService.java
  core/src/main/java/bisq/core/dao/state/DaoStateService.java
  core/src/main/java/bisq/core/dao/state/GenesisTxInfo.java
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/main/resources/btc_dao_betanet.seednodes
  core/src/main/resources/i18n/displayStrings.properties
  core/src/test/java/bisq/core/dao/state/DaoStateServiceTest.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
Labels: in:dao

#2538 Fix exception handling during Tor setup
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
Labels: re:Tor

#2552 Refactor capabilities
  common/src/main/java/bisq/common/app/Capabilities.java
  common/src/main/java/bisq/common/app/HasCapabilities.java
  common/src/test/java/bisq/common/app/CapabilitiesTest.java
  core/src/main/java/bisq/core/dao/governance/blindvote/network/RepublishGovernanceDataHandler.java
  core/src/main/java/bisq/core/setup/CoreNetworkCapabilities.java
  monitor/src/main/java/bisq/monitor/metric/P2PNetworkLoad.java
  p2p/src/main/java/bisq/network/p2p/P2PService.java
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
  p2p/src/main/java/bisq/network/p2p/peers/PeerManager.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/GetDataRequestHandler.java
  p2p/src/main/java/bisq/network/p2p/peers/peerexchange/Peer.java
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
Labels: in:network

#2527 List Navcoin (NAV)
  assets/src/main/java/bisq/asset/coins/Navcoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/NavcoinTest.java
Labels: in:altcoins

#2459 List Qwertycoin (QWC)
  assets/src/main/java/bisq/asset/coins/Qwertycoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/QwertycoinTest.java
  core/src/main/resources/i18n/displayStrings.properties
Labels: in:altcoins

#2577 Added mining fee to un/lock bond popup
  core/src/main/java/bisq/core/dao/DaoFacade.java
  core/src/main/java/bisq/core/dao/governance/bond/lockup/LockupTxService.java
  core/src/main/java/bisq/core/dao/governance/bond/unlock/UnlockTxService.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/dao/bonding/BondingViewUtils.java
Labels: in:dao

#2576 Fix get all bonds not returning not active bonds
  core/src/main/java/bisq/core/dao/DaoFacade.java
  core/src/main/java/bisq/core/dao/governance/voteresult/VoteResultException.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/ProposalDisplay.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/make/MakeProposalView.java
Labels: in:dao

#2575 Set max buyer's security deposit to 20% instead of 10%
  core/src/main/java/bisq/core/btc/wallet/Restrictions.java
Labels: in:trade-process

#2529 rename XDR ticker (conflict with ISO 4217)
  assets/src/main/java/bisq/asset/coins/XDR.java
Labels: in:altcoins

#2583 Increase timeouts
  p2p/src/main/java/bisq/network/p2p/peers/getdata/GetDataRequestHandler.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
Labels: in:network

#2566 DAO UI improvements
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/main/dao/bonding/bonds/BondsView.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/dashboard/BondingDashboardView.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/reputation/MyReputationView.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/roles/RolesView.java
  desktop/src/main/java/bisq/desktop/main/dao/burnbsq/assetfee/AssetFeeView.java
  desktop/src/main/java/bisq/desktop/main/dao/burnbsq/proofofburn/ProofOfBurnView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/ProposalDisplay.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/dashboard/GovernanceDashboardView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/make/MakeProposalView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/proposals/ProposalsView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
  desktop/src/main/java/bisq/desktop/main/dao/wallet/BsqBalanceUtil.java
  desktop/src/main/java/bisq/desktop/main/dao/wallet/dashboard/BsqDashboardView.java
  desktop/src/main/java/bisq/desktop/main/dao/wallet/receive/BsqReceiveView.java
  desktop/src/main/java/bisq/desktop/main/market/offerbook/OfferBookChartView.java
  desktop/src/main/java/bisq/desktop/main/overlays/Overlay.java
  desktop/src/main/java/bisq/desktop/main/overlays/TabbedOverlay.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ProposalResultsWindow.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SelectProposalWindow.java
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
  desktop/src/main/java/bisq/desktop/util/Layout.java
Labels: in:dao, in:gui

#2584 Add ISSUANCE_LIMIT param and check for max issuance per cycle
  core/src/main/java/bisq/core/dao/governance/param/Param.java
  core/src/main/java/bisq/core/dao/governance/voteresult/VoteResultService.java
  core/src/main/resources/i18n/displayStrings.properties
Labels: in:dao

#2595 DAO governance and bond improvements
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/components/HyperlinkWithIcon.java
  desktop/src/main/java/bisq/desktop/components/InfoAutoTooltipLabel.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/bonds/BondsView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/ProposalDisplay.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/proposals/ProposalsView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteListItem.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ProposalResultsWindow.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SelectProposalWindow.java
Labels: in:dao
