Repository bisq-network/bisq, pull requests merged in 2020-02, with the labels that each got.

#3939 Add additional information for a local Bitcoin Core v0.19+
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
Labels: is:priority

#3948 Add signing debug logs
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/main/java/bisq/core/trade/protocol/BuyerAsMakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/BuyerAsTakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/ProcessModel.java
  core/src/main/java/bisq/core/trade/protocol/SellerAsMakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/SellerAsTakerProtocol.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesViewModel.java
Labels: is:priority

#3978 Accept empty config values
  common/src/main/java/bisq/common/config/ConfigFileOption.java
  common/src/test/java/bisq/common/config/ConfigFileOptionTests.java
Labels: is:priority

#3985 Monitoring install scripts
  monitor/collectd.conf
  monitor/install_collectd_debian.sh
  monitor/nginx.conf
  monitor/uninstall_collectd_debian.sh
  pricenode/collectd.conf.snippet
  pricenode/install_networksize_debian.sh
  pricenode/journalscraper.sh
  seednode/README.md
  seednode/bisq.env
Labels: is:priority

#4002 Avoid startup failure when appDataDir is a symbolic link
  common/src/main/java/bisq/common/config/Config.java
  common/src/main/java/bisq/common/config/ConfigException.java
  common/src/test/java/bisq/common/config/ConfigTests.java
Labels: is:priority

#4008 Tableview multiple rows checkbox column issue
  desktop/src/main/java/bisq/desktop/main/portfolio/openoffer/OpenOffersView.java
Labels: is:priority

#4007 Add ARS as supported currency for MoneyGram
  core/src/main/java/bisq/core/locale/CurrencyUtil.java
Labels: in:payment-methods, is:no-priority

#4009 Handle SNAPSHOT versioning differently for rpm packages
  desktop/package/linux/package.sh
Labels: is:no-priority

#3982 Add local Bitcoin node configuration detection
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/app/CoreModule.java
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
  core/src/main/java/bisq/core/btc/nodes/LocalBitcoinNode.java
  core/src/main/java/bisq/core/btc/setup/WalletConfig.java
  core/src/main/java/bisq/core/btc/setup/WalletsSetup.java
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/main/resources/i18n/displayStrings.properties
  core/src/test/java/bisq/core/btc/nodes/LocalBitcoinNodeTests.java
  core/src/test/java/bisq/core/user/PreferencesTest.java
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
Labels: is:priority
