Repository bisq-network/bisq, pull requests merged in 2020-03, with the labels that each got.

#4004 Adjust NetworkSize metric installer
  pricenode/README.md
  pricenode/bisq-pricenode.service
  pricenode/journalscraper.sh
Labels: is:priority

#4031 Size the offer book on window activation
  desktop/src/main/java/bisq/desktop/main/market/offerbook/OfferBookChartView.java
Labels: in:gui

#4077 Improve handling of filtered offers and unsupported payment methods
  core/src/main/java/bisq/core/payment/payload/PaymentMethod.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBook.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SendPrivateNotificationWindow.java
Labels: is:priority

#4045 Allow IPv6 connections to Bitcoin nodes
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
  p2p/src/main/java/bisq/network/DnsLookupTor.java
Labels: waiting for author

#4089 Upgrade and reduce version conflicts in build
  build.gradle
  gradle/witness/gradle-witness.gradle
Labels: is:priority

#4092 Make prompt text readable in dark mode
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/theme-dark.css
  desktop/src/main/java/bisq/desktop/theme-light.css
Labels: is:no-priority

#4090 Only use InputValidation when formatting voting stake
  desktop/src/main/java/bisq/desktop/main/dao/governance/proposals/ProposalsView.java
Labels: is:no-priority

#4046 Add holder name for new Faster Payments accounts
  core/src/main/java/bisq/core/payment/FasterPaymentsAccount.java
  core/src/main/java/bisq/core/payment/payload/AdvancedCashAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/AliPayAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/AssetsAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/BankAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/CashAppAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/CashDepositAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/ChaseQuickPayAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/ClearXchangeAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/CountryBasedPaymentAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/CryptoCurrencyAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/F2FAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/FasterPaymentsAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/HalCashAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/InstantCryptoCurrencyPayload.java
  core/src/main/java/bisq/core/payment/payload/InteracETransferAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/JapanBankAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/MoneyBeamAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/MoneyGramAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/NationalBankAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/OKPayAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/PaymentAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/PerfectMoneyAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/PopmoneyAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/PromptPayAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/RevolutAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/SameBankAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/SepaAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/SepaInstantAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/SpecificBanksAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/SwishAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/USPostalMoneyOrderAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/UpholdAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/VenmoAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/WeChatPayAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/WesternUnionAccountPayload.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/components/paymentmethods/FasterPaymentsForm.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferView.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
Labels: waiting for author
