Repository bisq-network/bisq, pull requests merged in 2025-02, with the labels that each got.

#7369 Makefile: Add exec-commands to .PHONY target
  Makefile
Labels: a:bug, re:testing

#7371 Update Alejandro's public key
  desktop/src/main/resources/keys/E222AA02.asc
Labels: in:build

#7372 Fix phone number required lengths
  desktop/src/main/java/bisq/desktop/util/validation/PhoneNumberRequiredLengths.java
Labels: a:bug

#7377 XMR: Fix broken subaddress docs link
  core/src/main/resources/i18n/displayStrings.properties
Labels: a:bug, in:altcoins

#7378 Improve XMR subaddress popup behaviour
  desktop/src/main/java/bisq/desktop/components/paymentmethods/XmrForm.java
  desktop/src/main/java/bisq/desktop/main/account/content/altcoinaccounts/AltCoinAccountsDataModel.java
Labels: in:gui, in:altcoins

#7379 AltCoinAccountsDataModel: Handle XMR detection NullPointerException
  desktop/src/main/java/bisq/desktop/main/account/content/altcoinaccounts/AltCoinAccountsDataModel.java
Labels: a:bug, in:altcoins

#7374 fix: payment account form issues
  core/src/main/java/bisq/core/api/model/PaymentAccountForm.java
  core/src/main/java/bisq/core/api/model/PaymentAccountTypeAdapter.java
Labels: a:bug, in:api

#7384 FileUtils: Close files after scanning for keywords
  common/src/main/java/bisq/common/file/FileUtil.java
Labels: a:bug

#7382 BackupView: Show error message if log files zipping fail
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/account/content/backup/BackupView.java
Labels: in:gui

#7393 Handle burning man selection height edge cases
  core/src/main/java/bisq/core/dao/burningman/DelayedPayoutTxReceiverService.java
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  core/src/main/java/bisq/core/trade/protocol/bisq_v1/tasks/maker/MakerProcessesInputsForDepositTxRequest.java
  core/src/test/java/bisq/core/trade/protocol/bisq_v1/tasks/maker/MakerProcessesInputsForDepositTxRequestTest.java
Labels: a:bug

#7395 Use taker's burning man selection height
  core/src/main/java/bisq/core/trade/protocol/bisq_v1/tasks/maker/MakerProcessesInputsForDepositTxRequest.java
Labels: a:bug

#7397 Fix trade protocol filter version enforcement
  core/src/main/java/bisq/core/trade/bisq_v1/TradeUtil.java
  core/src/main/java/bisq/core/trade/protocol/bisq_v1/BuyerAsMakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/bisq_v1/BuyerAsTakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/bisq_v1/SellerAsMakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/bisq_v1/SellerAsTakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/bisq_v1/tasks/EnforceFilterVersion.java
  core/src/main/java/bisq/core/trade/protocol/bsq_swap/BsqSwapBuyerAsMakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/bsq_swap/BsqSwapBuyerAsTakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/bsq_swap/BsqSwapSellerAsMakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/bsq_swap/BsqSwapSellerAsTakerProtocol.java
Labels: a:bug
