Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

Add option to ignore local bitcoin node
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/btc/BitcoinModule.java
  core/src/main/java/bisq/core/btc/BtcOptionKeys.java
Owners: @ripcurlx

add while loop
  seednode/docker/startSeedNode.sh
Owners: @ripcurlx

fix quotes
  seednode/docker/startSeedNode.sh
Owners: @ripcurlx

List Particl (PART)
  assets/src/main/java/bisq/asset/coins/Particl.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/ParticlTest.java
Owners: @blabno

Delete CMBToken.java
  assets/src/main/java/bisq/asset/tokens/CMBToken.java
Owners: @blabno

Delete CMBTokenTest.java
  assets/src/test/java/bisq/asset/tokens/CMBTokenTest.java
Owners: @blabno

Create CMBT.java
  assets/src/main/java/bisq/asset/tokens/CMBT.java
Owners: @blabno

Create CMBT.java
  assets/src/test/java/bisq/asset/tokens/CMBT.java
Owners: @blabno

Create CMBT.java
  assets/src/main/java/bisq/asset/tokens/CMBT.java
Owners: @blabno

Update bisq.asset.Asset
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
Owners: @blabno

Create CMBTTest
  assets/src/test/java/bisq/asset/tokens/CMBTTest
Owners: @blabno

Rename CMBTTest to CMBTTest.java
  assets/src/test/java/bisq/asset/tokens/CMBTTest.java
Owners: @blabno

Update CMBTTest.java
  assets/src/test/java/bisq/asset/tokens/CMBTTest.java
Owners: @blabno

Update CMBT.java
  assets/src/main/java/bisq/asset/tokens/CMBT.java
Owners: @blabno

Parse block only if height is right
  core/src/main/java/bisq/core/dao/node/BsqNode.java
Owners: @ripcurlx

Continue requesting blocks if not in sync
  core/src/main/java/bisq/core/dao/node/lite/LiteNode.java
  core/src/main/java/bisq/core/dao/node/lite/network/LiteNodeNetworkService.java
Owners: @ripcurlx

Update data stores
  p2p/src/main/resources/AccountAgeWitnessStore_BTC_MAINNET
  p2p/src/main/resources/TempProposalStore_BTC_MAINNET
Owners: @ripcurlx

Update translations
  core/src/main/resources/i18n/displayStrings_de.properties
  core/src/main/resources/i18n/displayStrings_es.properties
  core/src/main/resources/i18n/displayStrings_fa.properties
  core/src/main/resources/i18n/displayStrings_fr.properties
  core/src/main/resources/i18n/displayStrings_ru.properties
Owners: @ripcurlx

Update btcj checkpoints
  core/src/main/resources/wallet/checkpoints.txt
Owners: @ripcurlx

Bump version number
  build.gradle
  common/src/main/java/bisq/common/app/Version.java
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/Info.plist
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/replace_version_number.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
Owners: @cbeams, @ripcurlx, @sqrrm

Revert to SNAPSHOT version
  build.gradle
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/insert_snapshot_version.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
Owners: @cbeams, @ripcurlx, @sqrrm

List KORE (KORE)
  assets/src/main/java/bisq/asset/coins/Kore.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/KoreTest.java
Owners: @blabno

Update KYD to KYDC listing to be conform ISO_4217
  assets/src/main/java/bisq/asset/coins/KnowYourDeveloper.java
Owners: @blabno

List Vertcoin (VTC)
  assets/src/main/java/bisq/asset/coins/Vertcoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/VertcoinTest.java
Owners: @blabno

Change log level from error to debug
  core/src/main/java/bisq/core/trade/protocol/tasks/seller/SellerVerifiesPeersAccountAge.java
Owners: @ripcurlx

Refactored P2PRTT metric
  monitor/src/main/java/bisq/monitor/metric/P2PRoundTripTime.java
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshotBase.java
Owners: @ripcurlx

Update displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update CandleTooltip.java
  desktop/src/main/java/bisq/desktop/main/market/trades/charts/price/CandleTooltip.java
Owners: @ripcurlx, @sqrrm

Update CandleData.java
  desktop/src/main/java/bisq/desktop/main/market/trades/charts/CandleData.java
Owners: @ripcurlx, @sqrrm

Update TradesChartsViewModel.java
  desktop/src/main/java/bisq/desktop/main/market/trades/TradesChartsViewModel.java
Owners: @ripcurlx, @sqrrm

Update TradesChartsViewModelTest.java
  desktop/src/test/java/bisq/desktop/main/market/trades/TradesChartsViewModelTest.java
Owners: @ripcurlx, @sqrrm

Update displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update CandleTooltip.java
  desktop/src/main/java/bisq/desktop/main/market/trades/charts/price/CandleTooltip.java
Owners: @ripcurlx, @sqrrm

Update CandleData.java
  desktop/src/main/java/bisq/desktop/main/market/trades/charts/CandleData.java
Owners: @ripcurlx, @sqrrm

Update TradesChartsViewModel.java
  desktop/src/main/java/bisq/desktop/main/market/trades/TradesChartsViewModel.java
Owners: @ripcurlx, @sqrrm

Update TradesChartsViewModelTest.java
  desktop/src/test/java/bisq/desktop/main/market/trades/TradesChartsViewModelTest.java
Owners: @ripcurlx, @sqrrm

Fixes for issues 2944 and 2955
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/market/trades/TradesChartsViewModel.java
  desktop/src/main/java/bisq/desktop/main/market/trades/charts/CandleData.java
  desktop/src/main/java/bisq/desktop/main/market/trades/charts/price/CandleTooltip.java
Owners: @ripcurlx, @sqrrm

Fix for issue 2955
  desktop/src/main/java/bisq/desktop/main/market/trades/TradesChartsViewModel.java
Owners: @ripcurlx, @sqrrm

Fix for issue 2955
  desktop/src/main/java/bisq/desktop/main/market/trades/TradesChartsViewModel.java
Owners: @ripcurlx, @sqrrm

Added test for median statistics
  desktop/src/test/java/bisq/desktop/main/market/trades/TradesChartsViewModelTest.java
Owners: @ripcurlx, @sqrrm
