Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

Refactor: Move classed to new package
  core/src/main/java/bisq/core/offer/availability/DisputeResolverSelection.java
  core/src/main/java/bisq/core/support/dispute/agent/DisputeResolver.java
  core/src/main/java/bisq/core/support/dispute/agent/DisputeResolverManager.java
  core/src/main/java/bisq/core/support/dispute/agent/DisputeResolverService.java
  core/src/main/java/bisq/core/support/dispute/arbitration/arbitrator/Arbitrator.java
  core/src/main/java/bisq/core/support/dispute/arbitration/arbitrator/ArbitratorManager.java
  core/src/main/java/bisq/core/support/dispute/arbitration/arbitrator/ArbitratorService.java
  core/src/main/java/bisq/core/support/dispute/mediation/mediator/Mediator.java
  core/src/main/java/bisq/core/support/dispute/mediation/mediator/MediatorManager.java
  core/src/main/java/bisq/core/support/dispute/mediation/mediator/MediatorService.java
  desktop/src/main/java/bisq/desktop/main/account/register/DisputeResolverRegistrationViewModel.java
Owners: @ripcurlx, @sqrrm

Refactor: Rename package
  desktop/src/main/java/bisq/desktop/main/support/SupportView.java
  desktop/src/main/java/bisq/desktop/main/support/agent/DisputeResolverView.java
  desktop/src/main/java/bisq/desktop/main/support/agent/arbitration/ArbitratorView.fxml
  desktop/src/main/java/bisq/desktop/main/support/agent/arbitration/ArbitratorView.java
  desktop/src/main/java/bisq/desktop/main/support/agent/mediation/MediatorView.fxml
  desktop/src/main/java/bisq/desktop/main/support/agent/mediation/MediatorView.java
Owners: @ripcurlx, @sqrrm

Refactor: Move classed to new package
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/app/misc/ExecutableForAppWithP2p.java
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  core/src/main/java/bisq/core/offer/placeoffer/PlaceOfferModel.java
  core/src/main/java/bisq/core/offer/placeoffer/tasks/CreateMakerFeeTx.java
  core/src/main/java/bisq/core/proto/network/CoreNetworkProtoResolver.java
  core/src/main/java/bisq/core/support/dispute/arbitration/arbitrator/Arbitrator.java
  core/src/main/java/bisq/core/support/dispute/arbitration/arbitrator/ArbitratorManager.java
  core/src/main/java/bisq/core/support/dispute/arbitration/arbitrator/ArbitratorService.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/main/java/bisq/core/trade/protocol/ProcessModel.java
  core/src/main/java/bisq/core/trade/protocol/tasks/taker/CreateTakerFeeTx.java
  core/src/main/java/bisq/core/user/User.java
  core/src/main/java/bisq/core/user/UserPayload.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
  core/src/test/java/bisq/core/arbitration/ArbitratorManagerTest.java
  core/src/test/java/bisq/core/arbitration/ArbitratorTest.java
  desktop/src/main/java/bisq/desktop/main/account/register/arbitrator/ArbitratorRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/account/register/arbitrator/ArbitratorRegistrationViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/BuyOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/OfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/SellOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/OfferDetailsWindow.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesViewModel.java
  desktop/src/main/java/bisq/desktop/main/support/SupportView.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
  desktop/src/test/java/bisq/desktop/main/settings/preferences/PreferencesViewModelTest.java
Owners: @ripcurlx, @sqrrm

Refactor: Rename classes
  desktop/src/main/java/bisq/desktop/main/overlays/notifications/NotificationCenter.java
  desktop/src/main/java/bisq/desktop/main/support/SupportView.java
  desktop/src/main/java/bisq/desktop/main/support/agent/DisputeAgentView.java
  desktop/src/main/java/bisq/desktop/main/support/agent/arbitration/ArbitratorView.java
  desktop/src/main/java/bisq/desktop/main/support/agent/mediation/MediatorView.java
  desktop/src/main/java/bisq/desktop/main/support/trader/arbitration/TradersArbitrationView.fxml
  desktop/src/main/java/bisq/desktop/main/support/trader/arbitration/TradersArbitrationView.java
  desktop/src/main/java/bisq/desktop/main/support/trader/mediation/TradersMediationView.fxml
  desktop/src/main/java/bisq/desktop/main/support/trader/mediation/TradersMediationView.java
Owners: @ripcurlx, @sqrrm

Refactor: Rename package
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  core/src/main/java/bisq/core/offer/availability/OfferAvailabilityModel.java
  core/src/main/java/bisq/core/proto/network/CoreNetworkProtoResolver.java
  core/src/main/java/bisq/core/proto/persistable/CorePersistenceProtoResolver.java
  core/src/main/java/bisq/core/setup/CorePersistedDataHost.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationChatSession.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationDisputeList.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationDisputeManager.java
  core/src/main/java/bisq/core/support/dispute/mediation/Mediator.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediatorManager.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediatorService.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/main/java/bisq/core/user/User.java
  core/src/main/java/bisq/core/user/UserPayload.java
  core/src/test/java/bisq/core/arbitration/MediatorTest.java
  desktop/src/main/java/bisq/desktop/main/account/register/mediator/MediatorRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/account/register/mediator/MediatorRegistrationViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/overlays/notifications/NotificationCenter.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ContractWindow.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DisputeSummaryWindow.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/OfferDetailsWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
  desktop/src/main/java/bisq/desktop/main/support/DisputeView.java
  desktop/src/main/java/bisq/desktop/main/support/SupportView.java
  desktop/src/main/java/bisq/desktop/main/support/disputeresolver/mediation/MediatorView.java
  desktop/src/main/java/bisq/desktop/main/support/trader/mediation/TradersMediationDisputeView.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
Owners: @ripcurlx, @sqrrm

Refactor: Rename classes
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/notifications/alerts/DisputeMsgEvents.java
  core/src/main/java/bisq/core/presentation/DisputePresentation.java
  core/src/main/java/bisq/core/setup/CorePersistedDataHost.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationSession.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationManager.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionAwareTradableFactory.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionAwareTrade.java
  desktop/src/main/java/bisq/desktop/main/overlays/notifications/NotificationCenter.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ContractWindow.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DisputeSummaryWindow.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/TradeDetailsWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
  desktop/src/main/java/bisq/desktop/main/support/DisputeView.java
  desktop/src/main/java/bisq/desktop/main/support/SupportView.java
  desktop/src/main/java/bisq/desktop/main/support/agent/arbitration/ArbitratorView.java
  desktop/src/main/java/bisq/desktop/main/support/agent/mediation/MediatorView.java
  desktop/src/main/java/bisq/desktop/main/support/trader/arbitration/TradersArbitrationView.java
  desktop/src/main/java/bisq/desktop/main/support/trader/mediation/TradersMediationView.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
  desktop/src/test/java/bisq/desktop/main/funds/transactions/TransactionAwareTradableFactoryTest.java
  desktop/src/test/java/bisq/desktop/main/funds/transactions/TransactionAwareTradeTest.java
Owners: @ripcurlx, @sqrrm

Remove empty DisputeModule
  core/src/main/java/bisq/core/CoreModule.java
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
  core/src/main/java/bisq/core/support/dispute/DisputeModule.java
Owners: @ripcurlx

Remove methods from SupportSession
  core/src/main/java/bisq/core/support/SupportManager.java
  core/src/main/java/bisq/core/support/SupportSession.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/support/dispute/DisputeSession.java
  core/src/main/java/bisq/core/support/traderchat/TradeChatSession.java
  core/src/main/java/bisq/core/support/traderchat/TraderChatManager.java
  desktop/src/main/java/bisq/desktop/main/Chat/Chat.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
Owners: @ripcurlx, @sqrrm

Remove supportType in SupportSession
  core/src/main/java/bisq/core/support/SupportSession.java
  core/src/main/java/bisq/core/support/dispute/DisputeSession.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationSession.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationSession.java
  core/src/main/java/bisq/core/support/traderchat/TradeChatSession.java
Owners: @ripcurlx

Refactor SupportManager domain (WIP)
  core/src/main/java/bisq/core/support/SupportManager.java
  core/src/main/java/bisq/core/support/SupportSession.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationSession.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationManager.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationSession.java
  core/src/main/java/bisq/core/support/traderchat/TradeChatSession.java
  core/src/main/java/bisq/core/support/traderchat/TraderChatManager.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
  desktop/src/main/java/bisq/desktop/main/support/DisputeView.java
Owners: @ripcurlx, @sqrrm

Refactor SupportSession domain (WIP)
  core/src/main/java/bisq/core/setup/CorePersistedDataHost.java
  core/src/main/java/bisq/core/support/SupportManager.java
  core/src/main/java/bisq/core/support/SupportSession.java
  core/src/main/java/bisq/core/support/dispute/DisputeListService.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/support/dispute/DisputeSession.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationDisputeListService.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationDisputeListService.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationManager.java
  core/src/main/java/bisq/core/support/traderchat/TradeChatListService.java
  core/src/main/java/bisq/core/support/traderchat/TradeChatSession.java
  core/src/main/java/bisq/core/support/traderchat/TraderChatManager.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  desktop/src/main/java/bisq/desktop/main/Chat/Chat.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
  desktop/src/main/java/bisq/desktop/main/support/agent/DisputeAgentView.java
  desktop/src/main/java/bisq/desktop/main/support/trader/TradersDisputeView.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
Owners: @ripcurlx, @sqrrm

Dont expose p2pService in SupportManager
  core/src/main/java/bisq/core/support/SupportManager.java
  desktop/src/main/java/bisq/desktop/main/Chat/Chat.java
Owners: @ripcurlx, @sqrrm

Remove isMediationDispute fielf in ChatMessage
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/support/SupportManager.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/support/messages/ChatMessage.java
  core/src/main/java/bisq/core/support/traderchat/TraderChatManager.java
Owners: @ripcurlx

Remove supportSession from getPeerNodeAddress method
  core/src/main/java/bisq/core/support/SupportManager.java
  core/src/main/java/bisq/core/support/SupportSession.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/support/dispute/DisputeSession.java
  core/src/main/java/bisq/core/support/traderchat/TradeChatSession.java
  core/src/main/java/bisq/core/support/traderchat/TraderChatManager.java
  core/src/main/java/bisq/core/trade/Contract.java
  desktop/src/main/java/bisq/desktop/main/Chat/Chat.java
Owners: @ripcurlx, @sqrrm

Remove chatMessage.isMediationDispute()
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/java/bisq/core/support/messages/ChatMessage.java
Owners: @ripcurlx

Move creation of ChatMessage to SupportManager
  core/src/main/java/bisq/core/support/SupportManager.java
  core/src/main/java/bisq/core/support/messages/ChatMessage.java
  core/src/main/java/bisq/core/support/traderchat/TradeChatSession.java
  desktop/src/main/java/bisq/desktop/main/Chat/Chat.java
Owners: @ripcurlx, @sqrrm

Refactor: Rename class
  desktop/src/main/java/bisq/desktop/main/Chat/ChatView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
  desktop/src/main/java/bisq/desktop/main/support/DisputeView.java
  desktop/src/main/java/bisq/desktop/main/support/agent/DisputeAgentView.java
  desktop/src/main/java/bisq/desktop/main/support/trader/TradersDisputeView.java
Owners: @ripcurlx, @sqrrm

Refactor: Rename trade.getCommunicationMessages()
  core/src/main/java/bisq/core/support/traderchat/TradeChatSession.java
  core/src/main/java/bisq/core/support/traderchat/TraderChatManager.java
  core/src/main/java/bisq/core/trade/Trade.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
Owners: @ripcurlx, @sqrrm

Move creation of ChatMessage to Chat
  core/src/main/java/bisq/core/support/SupportManager.java
  core/src/main/java/bisq/core/support/messages/ChatMessage.java
  desktop/src/main/java/bisq/desktop/main/Chat/Chat.java
Owners: @ripcurlx, @sqrrm

Remove isBuyer from supportSession
  core/src/main/java/bisq/core/support/SupportSession.java
  core/src/main/java/bisq/core/support/traderchat/TradeChatSession.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
Owners: @ripcurlx, @sqrrm

Refactor: Move PriceFeedComboBoxItem class to shared package
  desktop/src/main/java/bisq/desktop/main/MainView.java
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/presentation/MarketPricePresentation.java
  desktop/src/main/java/bisq/desktop/main/shared/PriceFeedComboBoxItem.java
Owners: @ripcurlx, @sqrrm

Refactor: Move ChatView class
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
  desktop/src/main/java/bisq/desktop/main/shared/ChatView.java
  desktop/src/main/java/bisq/desktop/main/support/DisputeView.java
  desktop/src/main/java/bisq/desktop/main/support/agent/DisputeAgentView.java
  desktop/src/main/java/bisq/desktop/main/support/trader/TradersDisputeView.java
Owners: @ripcurlx, @sqrrm

Refactor: Use 'public abstract' instead of 'abstract public'
  core/src/main/java/bisq/core/payment/payload/CountryBasedPaymentAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/PaymentAccountPayload.java
  core/src/main/java/bisq/core/support/SupportManager.java
  core/src/main/java/bisq/core/support/SupportSession.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/trade/Trade.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/GeneralAccountNumberForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/PaymentMethodForm.java
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshotBase.java
  p2p/src/main/java/bisq/network/p2p/BootstrapListener.java
  p2p/src/main/java/bisq/network/p2p/network/NetworkNode.java
  p2p/src/main/java/bisq/network/p2p/storage/persistence/MapStoreService.java
  p2p/src/main/java/bisq/network/p2p/storage/persistence/StoreService.java
Owners: @ripcurlx, @sqrrm

Refactor: Use 'protected abstract' instead of 'abstract protected'
  common/src/main/java/bisq/common/taskrunner/Task.java
  core/src/main/java/bisq/core/dao/governance/bond/BondRepository.java
  core/src/main/java/bisq/core/dao/node/BsqNode.java
  core/src/main/java/bisq/core/support/dispute/DisputeListService.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/trade/Trade.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/PaymentMethodForm.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/TradeSubView.java
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshotBase.java
  p2p/src/main/java/bisq/network/p2p/network/NetworkNode.java
  p2p/src/main/java/bisq/network/p2p/storage/persistence/StoreService.java
Owners: @ripcurlx, @sqrrm

Handle chargebackrisk by currency
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
Owners: @ripcurlx, @sqrrm

List Krypton (ZOD)
  assets/src/main/java/bisq/asset/coins/Krypton.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/KryptonTest.java
Owners: @blabno

Add traderChatManager.onAllServicesInitialized() to BisqSetup
  core/src/main/java/bisq/core/app/BisqSetup.java
Owners: @ripcurlx

Replace bouncycastle Hex with guava Hex
  common/src/main/java/bisq/common/crypto/Encryption.java
  common/src/main/java/bisq/common/crypto/PGP.java
  common/src/main/java/bisq/common/util/Hex.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  pricenode/src/main/java/bisq/price/spot/providers/BitcoinAverage.java
Owners: @ripcurlx, @cbeams

Remove unused param
  core/src/main/java/bisq/core/support/SupportManager.java
  core/src/main/java/bisq/core/support/SupportSession.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
  desktop/src/main/java/bisq/desktop/main/shared/ChatView.java
  desktop/src/main/java/bisq/desktop/main/support/agent/DisputeAgentView.java
  desktop/src/main/java/bisq/desktop/main/support/trader/TradersDisputeView.java
Owners: @ripcurlx, @sqrrm

Refactor: Rename addChatMessage to addAndPersistChatMessage
  core/src/main/java/bisq/core/support/SupportSession.java
  core/src/main/java/bisq/core/support/dispute/Dispute.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/support/dispute/DisputeSession.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationManager.java
  core/src/main/java/bisq/core/support/traderchat/TradeChatSession.java
  core/src/main/java/bisq/core/support/traderchat/TraderChatManager.java
  core/src/main/java/bisq/core/trade/Trade.java
  desktop/src/main/java/bisq/desktop/main/shared/ChatView.java
Owners: @ripcurlx, @sqrrm

Check winners only for closed disputes
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
Owners: @ripcurlx

Fix missing check at ack msg handling
  core/src/main/java/bisq/core/support/SupportManager.java
  core/src/main/java/bisq/core/support/SupportSession.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/support/dispute/DisputeSession.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationDisputeList.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationDisputeListService.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationSession.java
  core/src/main/java/bisq/core/support/dispute/arbitration/messages/ArbitrationMessage.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationDisputeList.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationDisputeListService.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationManager.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationSession.java
  core/src/main/java/bisq/core/support/traderchat/TradeChatSession.java
  core/src/main/java/bisq/core/support/traderchat/TraderChatManager.java
  core/src/main/java/bisq/core/trade/Contract.java
Owners: @ripcurlx

Fix amount change when "Below market price" is empty
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
Owners: @ripcurlx, @sqrrm

Remove addAndPersistChatMessage from SupportSession
  core/src/main/java/bisq/core/support/SupportManager.java
  core/src/main/java/bisq/core/support/SupportSession.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/support/dispute/DisputeSession.java
  core/src/main/java/bisq/core/support/traderchat/TradeChatSession.java
  core/src/main/java/bisq/core/support/traderchat/TraderChatManager.java
  desktop/src/main/java/bisq/desktop/main/shared/ChatView.java
Owners: @ripcurlx, @sqrrm

Reduce size of chart axis font to fit Japanese string
  desktop/src/main/java/bisq/desktop/bisq.css
Owners: @ripcurlx, @sqrrm

Replace bouncycastle Base64 with java builtin Base64
  common/src/main/java/bisq/common/crypto/Sig.java
  common/src/main/java/bisq/common/util/Base64.java
Owners: @ripcurlx

Remove disputeManager from DisputeSession
  core/src/main/java/bisq/core/support/SupportSession.java
  core/src/main/java/bisq/core/support/dispute/DisputeSession.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationSession.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationSession.java
  desktop/src/main/java/bisq/desktop/main/support/DisputeView.java
  desktop/src/main/java/bisq/desktop/main/support/trader/TradersDisputeView.java
  desktop/src/main/java/bisq/desktop/main/support/trader/arbitration/TradersArbitrationView.java
  desktop/src/main/java/bisq/desktop/main/support/trader/mediation/TradersMediationView.java
Owners: @ripcurlx, @sqrrm

More UI polish for Dark Mode
  desktop/src/main/java/bisq/desktop/theme-dark.css
Owners: @ripcurlx, @sqrrm

Fix missing getConcreteDisputeChatSession impl.
  desktop/src/main/java/bisq/desktop/main/support/DisputeView.java
  desktop/src/main/java/bisq/desktop/main/support/agent/arbitration/ArbitratorView.java
  desktop/src/main/java/bisq/desktop/main/support/agent/mediation/MediatorView.java
  desktop/src/main/java/bisq/desktop/main/support/trader/TradersDisputeView.java
Owners: @ripcurlx, @sqrrm

Refactor: Rename package
  desktop/src/main/java/bisq/desktop/main/overlays/notifications/NotificationCenter.java
  desktop/src/main/java/bisq/desktop/main/support/SupportView.java
  desktop/src/main/java/bisq/desktop/main/support/client/TradersDisputeView.java
  desktop/src/main/java/bisq/desktop/main/support/client/arbitration/TradersArbitrationView.fxml
  desktop/src/main/java/bisq/desktop/main/support/client/arbitration/TradersArbitrationView.java
  desktop/src/main/java/bisq/desktop/main/support/client/mediation/TradersMediationView.fxml
  desktop/src/main/java/bisq/desktop/main/support/client/mediation/TradersMediationView.java
Owners: @ripcurlx, @sqrrm
