Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

Add selectedMediator to OfferAvailabilityModel
  core/src/main/java/bisq/core/offer/availability/OfferAvailabilityModel.java
  core/src/main/java/bisq/core/offer/availability/tasks/ProcessOfferAvailabilityResponse.java
Owners: @ripcurlx

Refactor: Rename method
  core/src/main/java/bisq/core/dispute/DisputeResolverService.java
  core/src/main/java/bisq/core/dispute/arbitration/ArbitratorService.java
  core/src/main/java/bisq/core/dispute/mediator/MediatorService.java
Owners: @ripcurlx

Refactor: Rename ArbitratorSelection to DisputeResolverSelection
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  core/src/main/java/bisq/core/offer/availability/DisputeResolverSelection.java
  core/src/main/java/bisq/core/offer/placeoffer/tasks/CreateMakerFeeTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/taker/CreateTakerFeeTx.java
  core/src/test/java/bisq/core/offer/availability/ArbitratorSelectionTest.java
Owners: @ripcurlx

Handle nullable mediator in ProcessOfferAvailabilityResponse
  core/src/main/java/bisq/core/offer/availability/OfferAvailabilityModel.java
  core/src/main/java/bisq/core/offer/availability/tasks/ProcessOfferAvailabilityResponse.java
  core/src/main/java/bisq/core/trade/TradeManager.java
Owners: @ripcurlx

Add mediator DisputeStates
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/dispute/arbitration/Dispute.java
  core/src/main/java/bisq/core/trade/Trade.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
Owners: @ripcurlx, @sqrrm

Revert changes in OfferPayload due backward compatibility issues
  core/src/main/java/bisq/core/offer/OfferPayload.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Add checks if any mediator is available
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/OfferDetailsWindow.java
Owners: @ripcurlx, @sqrrm

Change log level, cleanup
  core/src/main/java/bisq/core/dispute/DisputeResolverManager.java
  core/src/main/java/bisq/core/trade/messages/PayDepositRequest.java
Owners: @ripcurlx

Fix test
  core/src/test/java/bisq/core/offer/OpenOfferManagerTest.java
Owners: @ripcurlx

Cleanup classes
  core/src/main/java/bisq/core/dispute/arbitration/DisputeManager.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
Owners: @ripcurlx, @sqrrm

Add mediatorNodeAddress to trade
  core/src/main/java/bisq/core/trade/BuyerAsMakerTrade.java
  core/src/main/java/bisq/core/trade/BuyerAsTakerTrade.java
  core/src/main/java/bisq/core/trade/BuyerTrade.java
  core/src/main/java/bisq/core/trade/SellerAsMakerTrade.java
  core/src/main/java/bisq/core/trade/SellerAsTakerTrade.java
  core/src/main/java/bisq/core/trade/SellerTrade.java
  core/src/main/java/bisq/core/trade/Trade.java
Owners: @ripcurlx

Handle mediator data in Dispute domain
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/dispute/arbitration/Dispute.java
  core/src/main/java/bisq/core/dispute/arbitration/DisputeManager.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/disputes/DisputesView.java
  desktop/src/main/java/bisq/desktop/main/disputes/arbitrator/ArbitratorDisputeView.java
  desktop/src/main/java/bisq/desktop/main/disputes/trader/TraderDisputeView.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ContractWindow.java
Owners: @ripcurlx, @sqrrm

Remove impossible case
  desktop/src/main/java/bisq/desktop/main/funds/locked/LockedView.java
  desktop/src/main/java/bisq/desktop/main/funds/reserved/ReservedView.java
Owners: @ripcurlx, @sqrrm

Refactor: Rename ArbitratorDisputeView classes to DisputeResolverView
  desktop/src/main/java/bisq/desktop/main/disputes/DisputesView.java
  desktop/src/main/java/bisq/desktop/main/disputes/disputeresolvers/DisputeResolverView.fxml
  desktop/src/main/java/bisq/desktop/main/disputes/disputeresolvers/DisputeResolverView.java
Owners: @ripcurlx, @sqrrm

Refactor: Rename arbitrator package to disputeresolvers
  desktop/src/main/java/bisq/desktop/main/disputes/DisputesView.java
  desktop/src/main/java/bisq/desktop/main/disputes/disputeresolvers/ArbitratorDisputeView.fxml
  desktop/src/main/java/bisq/desktop/main/disputes/disputeresolvers/ArbitratorDisputeView.java
  desktop/src/main/java/bisq/desktop/main/overlays/notifications/NotificationCenter.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
Owners: @ripcurlx, @sqrrm

Fix typos
  desktop/src/main/java/bisq/desktop/main/dao/governance/make/MakeProposalView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
Owners: @ripcurlx, @sqrrm

Cleanup; support isMediationDispute
  core/src/main/java/bisq/core/dispute/arbitration/DisputeManager.java
Owners: @ripcurlx

Add support for mediation in dispute domain
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/chat/ChatSession.java
  core/src/main/java/bisq/core/dispute/arbitration/Dispute.java
  core/src/main/java/bisq/core/dispute/arbitration/DisputeChatSession.java
  core/src/main/java/bisq/core/dispute/arbitration/DisputeManager.java
  core/src/main/java/bisq/core/dispute/arbitration/messages/DisputeCommunicationMessage.java
  core/src/main/java/bisq/core/trade/TradeChatSession.java
  desktop/src/main/java/bisq/desktop/main/Chat/Chat.java
Owners: @ripcurlx, @sqrrm

Handle mediator and arbitrator strings
  core/src/main/java/bisq/core/dispute/arbitration/DisputeChatSession.java
  core/src/main/java/bisq/core/dispute/arbitration/DisputeManager.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/account/register/DisputeResolverRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/disputes/DisputesView.java
  desktop/src/main/java/bisq/desktop/main/disputes/arbitrator/ArbitratorDisputeView.java
  desktop/src/main/java/bisq/desktop/main/disputes/trader/TraderDisputeView.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/TradeDetailsWindow.java
Owners: @ripcurlx, @sqrrm

Add support for close ticket from mediator (WIP)
  core/src/main/java/bisq/core/dispute/arbitration/DisputeManager.java
  desktop/src/main/java/bisq/desktop/main/disputes/DisputesView.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DisputeSummaryWindow.java
Owners: @ripcurlx, @sqrrm

Clone list at persisting to avoid ConcurrentModificationException
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationDisputeList.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationDisputeList.java
Owners: @ripcurlx

Fix order of SupportType
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/support/SupportType.java
Owners: @ripcurlx

Add getDisputeState_StartedByPeer template method
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationManager.java
Owners: @ripcurlx

Refactor: Move account signing helpers to AccountAgeWitnessService
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
  core/src/test/java/bisq/core/account/witness/AccountAgeWitnessServiceTest.java
  desktop/src/main/java/bisq/desktop/main/account/content/PaymentAccountsView.java
  desktop/src/main/java/bisq/desktop/main/account/content/altcoinaccounts/AltCoinAccountsView.java
  desktop/src/main/java/bisq/desktop/main/account/content/fiataccounts/FiatAccountsView.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
Owners: @ripcurlx, @sqrrm

Add trade protocol tasks for mediation result tx signing and msg sending
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
  core/src/main/java/bisq/core/proto/network/CoreNetworkProtoResolver.java
  core/src/main/java/bisq/core/support/dispute/Dispute.java
  core/src/main/java/bisq/core/support/dispute/DisputeListService.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationManager.java
  core/src/main/java/bisq/core/support/dispute/mediation/messages/MediationMessage.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/main/java/bisq/core/trade/messages/MediatedPayoutSignatureMessage.java
  core/src/main/java/bisq/core/trade/protocol/BuyerAsMakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/BuyerAsTakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/ProcessModel.java
  core/src/main/java/bisq/core/trade/protocol/SellerAsMakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/SellerAsTakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/TradeProtocol.java
  core/src/main/java/bisq/core/trade/protocol/TradingPeer.java
  core/src/main/java/bisq/core/trade/protocol/tasks/ProcessMediatedPayoutSignatureMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/SendMediatedPayoutSignatureMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/SetupPayoutTxListener.java
  core/src/main/java/bisq/core/trade/protocol/tasks/SignMediatedPayoutTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/buyer/BuyerSetupPayoutTxListener.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsListItem.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/TradeDetailsWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/TradeSubView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep2View.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep3View.java
  desktop/src/main/java/bisq/desktop/main/support/SupportView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/DisputeView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/DisputeAgentView.java
Owners: @ripcurlx, @sqrrm

More UI polish for Dark Mode
  desktop/src/main/java/bisq/desktop/theme-dark.css
Owners: @ripcurlx, @sqrrm

Reduce size of chart axis font to fit Japanese string
  desktop/src/main/java/bisq/desktop/bisq.css
Owners: @ripcurlx, @sqrrm

Fix CSS styling bug caused by using Text() instead of Label()
  desktop/src/main/java/bisq/desktop/components/ColoredDecimalPlacesWithZerosText.java
Owners: @ripcurlx, @sqrrm

Add scripts to create testing jars
  desktop/package/macosx/create_desktop_for_testing.sh
  desktop/package/macosx/create_seednode_for_testing.sh
Owners: @ripcurlx, @sqrrm

Update docs/idea-import.md for walkthrough with IDEA 2019.2
  docs/idea-import.md
Owners: @ripcurlx

Complete protocol tasks for mediation
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
  core/src/main/java/bisq/core/proto/network/CoreNetworkProtoResolver.java
  core/src/main/java/bisq/core/trade/Contract.java
  core/src/main/java/bisq/core/trade/messages/MediatedPayoutTxPublishedMessage.java
  core/src/main/java/bisq/core/trade/protocol/BuyerAsMakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/BuyerAsTakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/SellerAsMakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/SellerAsTakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/TradeProtocol.java
  core/src/main/java/bisq/core/trade/protocol/tasks/BroadcastPayoutTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/ProcessPayoutTxPublishedMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/SendPayoutTxPublishedMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/SetupPayoutTxListener.java
  core/src/main/java/bisq/core/trade/protocol/tasks/buyer/BuyerProcessPayoutTxPublishedMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/buyer/BuyerSetupPayoutTxListener.java
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/BroadcastMediatedPayoutTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/FinalizeMediatedPayoutTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/ProcessMediatedPayoutSignatureMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/ProcessMediatedPayoutTxPublishedMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/SendMediatedPayoutSignatureMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/SendMediatedPayoutTxPublishedMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/SetupMediatedPayoutTxListener.java
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/SignMediatedPayoutTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/seller/SellerSendPayoutTxPublishedMessage.java
Owners: @ripcurlx

Complete mediation result protocol
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
  core/src/main/java/bisq/core/proto/network/CoreNetworkProtoResolver.java
  core/src/main/java/bisq/core/support/dispute/Dispute.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationManager.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationResultState.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/java/bisq/core/trade/messages/MediatedPayoutTxSignatureMessage.java
  core/src/main/java/bisq/core/trade/protocol/BuyerAsMakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/BuyerAsTakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/ProcessModel.java
  core/src/main/java/bisq/core/trade/protocol/SellerAsMakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/SellerAsTakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/TradeProtocol.java
  core/src/main/java/bisq/core/trade/protocol/TradingPeer.java
  core/src/main/java/bisq/core/trade/protocol/tasks/ProcessPayoutTxPublishedMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/SendPayoutTxPublishedMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/buyer/BuyerProcessPayoutTxPublishedMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/buyer_as_maker/BuyerAsMakerCreatesAndSignsDepositTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/buyer_as_taker/BuyerAsTakerSignAndPublishDepositTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/BroadcastMediatedPayoutTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/FinalizeMediatedPayoutTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/ProcessMediatedPayoutSignatureMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/ProcessMediatedPayoutTxPublishedMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/SendMediatedPayoutSignatureMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/SendMediatedPayoutTxPublishedMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/SetupMediatedPayoutTxListener.java
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/SignMediatedPayoutTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/seller/SellerSendPayoutTxPublishedMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/seller_as_maker/SellerAsMakerCreatesAndSignsDepositTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/seller_as_taker/SellerAsTakerSignAndPublishDepositTx.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
Owners: @ripcurlx, @sqrrm

Refactor: rename hasSignedWitness to myHasSignedWitness
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  desktop/src/main/java/bisq/desktop/main/account/content/PaymentAccountsView.java
Owners: @ripcurlx, @sqrrm

Show if witness is signed in offerbook view
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
Owners: @ripcurlx, @sqrrm

Add activation date and capability
  common/src/main/java/bisq/common/app/Capabilities.java
  common/src/main/java/bisq/common/app/Capability.java
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/offer/AvailabilityResult.java
  core/src/main/java/bisq/core/offer/Offer.java
  core/src/main/java/bisq/core/offer/OfferBookService.java
  core/src/main/java/bisq/core/offer/OfferRestrictions.java
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  core/src/main/java/bisq/core/offer/messages/OfferAvailabilityRequest.java
  core/src/main/java/bisq/core/support/SupportManager.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationManager.java
  core/src/main/java/bisq/core/support/traderchat/TraderChatManager.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
  p2p/src/main/java/bisq/network/p2p/AckMessageSourceType.java
Owners: @ripcurlx, @sqrrm

Don't paint vertical grid lines on charts
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/theme-dark.css
Owners: @ripcurlx, @sqrrm

Add autogenerated entry by Intellij (2019.2)
  .idea/codeStyles/codeStyleConfig.xml
Owners: @ripcurlx

Add portuguese (Brazil) locale
  core/src/main/java/bisq/core/locale/LanguageUtil.java
  core/src/main/resources/i18n/displayStrings_pt_BR.properties
  core/update_translations.sh
Owners: @ripcurlx

Revert "Add autogenerated entry by Intellij (2019.2)"
  .idea/codeStyles/codeStyleConfig.xml
Owners: @ripcurlx

Update to Tor v0.4.1.5
  build.gradle
  gradle/witness/gradle-witness.gradle
Owners: @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
