Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

Add move to failed trade button to popup
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
Owners: @ripcurlx, @sqrrm

Only show approval icon for accounts that are able to sign (#3552)
  desktop/src/main/java/bisq/desktop/components/paymentmethods/PaymentMethodForm.java
  desktop/src/main/java/bisq/desktop/main/account/content/PaymentAccountsView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
Owners: @ripcurlx, @sqrrm

Change log level
  core/src/main/java/bisq/core/btc/setup/WalletsSetup.java
Owners: @ripcurlx

[PR COMMENTS] Use Client API in comments
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageTest.java
Owners: @ripcurlx

Improve handling of failed trades and offers (#3566)
  core/src/main/java/bisq/core/app/BisqHeadlessApp.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/app/WalletAppSetup.java
  core/src/main/java/bisq/core/btc/Balances.java
  core/src/main/java/bisq/core/btc/exceptions/RejectedTxException.java
  core/src/main/java/bisq/core/btc/setup/WalletsSetup.java
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
  core/src/main/java/bisq/core/btc/wallet/BtcWalletService.java
  core/src/main/java/bisq/core/dao/node/parser/BlockParser.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/main/java/bisq/core/trade/TradeTxException.java
  core/src/main/java/bisq/core/trade/closed/ClosedTradableManager.java
  core/src/main/java/bisq/core/trade/failed/FailedTradesManager.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/funds/locked/LockedView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
Owners: @ripcurlx, @sqrrm

Fix trade view peer info (#3549)
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  desktop/src/main/java/bisq/desktop/components/PeerInfoIcon.java
  desktop/src/main/java/bisq/desktop/components/PeerInfoIconSmall.java
Owners: @ripcurlx, @sqrrm

Revert "Update tor, netlayer, jtorctl"
  build.gradle
  gradle/witness/gradle-witness.gradle
Owners: @cbeams

Removed unnecessary paymentDetails field in PaymentAccountPayload.
  core/src/main/java/bisq/core/payment/payload/AssetsAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/PaymentAccountPayload.java
  core/src/main/java/bisq/core/trade/protocol/tasks/ApplyFilter.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ContractWindow.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/TradeDetailsWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep3View.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/DisputeAgentView.java
Owners: @ripcurlx, @sqrrm

Update translations
  core/src/main/resources/i18n/displayStrings_de.properties
  core/src/main/resources/i18n/displayStrings_el.properties
  core/src/main/resources/i18n/displayStrings_es.properties
  core/src/main/resources/i18n/displayStrings_fa.properties
  core/src/main/resources/i18n/displayStrings_fr.properties
  core/src/main/resources/i18n/displayStrings_ja.properties
  core/src/main/resources/i18n/displayStrings_pt.properties
  core/src/main/resources/i18n/displayStrings_pt_BR.properties
  core/src/main/resources/i18n/displayStrings_ru.properties
  core/src/main/resources/i18n/displayStrings_th.properties
  core/src/main/resources/i18n/displayStrings_vi.properties
  core/src/main/resources/i18n/displayStrings_zh.properties
Owners: @ripcurlx

Update data stores and bitcoinj checkpoints
  core/src/main/resources/wallet/checkpoints.txt
  p2p/src/main/resources/AccountAgeWitnessStore_BTC_MAINNET
  p2p/src/main/resources/SignedWitnessStore_BTC_MAINNET
Owners: @ripcurlx

Update translations (#3569)
  core/src/main/resources/i18n/displayStrings_de.properties
  core/src/main/resources/i18n/displayStrings_el.properties
  core/src/main/resources/i18n/displayStrings_es.properties
  core/src/main/resources/i18n/displayStrings_fa.properties
  core/src/main/resources/i18n/displayStrings_fr.properties
  core/src/main/resources/i18n/displayStrings_ja.properties
  core/src/main/resources/i18n/displayStrings_pt.properties
  core/src/main/resources/i18n/displayStrings_pt_BR.properties
  core/src/main/resources/i18n/displayStrings_ru.properties
  core/src/main/resources/i18n/displayStrings_th.properties
  core/src/main/resources/i18n/displayStrings_vi.properties
  core/src/main/resources/i18n/displayStrings_zh.properties
Owners: @ripcurlx

Update data stores and bitcoinj checkpoints (#3570)
  core/src/main/resources/wallet/checkpoints.txt
  p2p/src/main/resources/AccountAgeWitnessStore_BTC_MAINNET
  p2p/src/main/resources/SignedWitnessStore_BTC_MAINNET
Owners: @ripcurlx

Revert "Update tor, netlayer, jtorctl" (#3567)
  build.gradle
  gradle/witness/gradle-witness.gradle
Owners: @cbeams

Bump version number
  build.gradle
  common/src/main/java/bisq/common/app/Version.java
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/Info.plist
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/replace_version_number.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
Owners: @cbeams, @ripcurlx, @sqrrm

Revert to SNAPSHOT version
  build.gradle
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/insert_snapshot_version.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
Owners: @cbeams, @ripcurlx, @sqrrm

Release/v1.2.3 (#3577)
  build.gradle
  common/src/main/java/bisq/common/app/Version.java
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/Info.plist
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/insert_snapshot_version.sh
  desktop/package/macosx/replace_version_number.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
Owners: @cbeams, @ripcurlx, @sqrrm

Add Tuple5 and make other tuple's equals method more readable
  common/src/main/java/bisq/common/util/Tuple2.java
  common/src/main/java/bisq/common/util/Tuple3.java
  common/src/main/java/bisq/common/util/Tuple5.java
Owners: @ripcurlx

Always add account age to peer info popup
  desktop/src/main/java/bisq/desktop/components/PeerInfoIcon.java
  desktop/src/main/java/bisq/desktop/components/PeerInfoIconSmall.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/overlays/editor/PeerInfoWithTagEditor.java
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
Owners: @ripcurlx, @sqrrm

Fix failing test when there are spaces in the project path
  desktop/src/test/java/bisq/desktop/main/overlays/windows/downloadupdate/BisqInstallerTest.java
Owners: @ripcurlx, @sqrrm

Should be adding column to sort order.
  desktop/src/main/java/bisq/desktop/main/market/offerbook/OfferBookChartView.java
Owners: @ripcurlx, @sqrrm

Prevent tooltip popover flicker upon mouseover
  desktop/src/main/java/bisq/desktop/components/AutoTooltipTableColumn.java
  desktop/src/main/java/bisq/desktop/components/InfoAutoTooltipLabel.java
  desktop/src/main/java/bisq/desktop/components/InfoInputTextField.java
  desktop/src/main/java/bisq/desktop/components/InfoTextField.java
  desktop/src/main/java/bisq/desktop/components/PopOverWrapper.java
Owners: @ripcurlx, @sqrrm

Update TradesChartsView.java
  desktop/src/main/java/bisq/desktop/main/market/trades/TradesChartsView.java
Owners: @ripcurlx, @sqrrm

Update TradesChartsViewModel.java
  desktop/src/main/java/bisq/desktop/main/market/trades/TradesChartsViewModel.java
Owners: @ripcurlx, @sqrrm

Updates to informations about sending XMR (Monero)
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update support text
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Fix typo forth != fourth
  common/src/main/java/bisq/common/util/Tuple4.java
  common/src/main/java/bisq/common/util/Tuple5.java
  desktop/src/main/java/bisq/desktop/components/PeerInfoIcon.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/BankForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/CashDepositForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/JapanBankTransferForm.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/proposals/ProposalsView.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsView.java
  desktop/src/main/java/bisq/desktop/main/funds/withdrawal/WithdrawalView.java
  desktop/src/main/java/bisq/desktop/main/market/offerbook/OfferBookChartView.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferView.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/OfferDetailsWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep2View.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep3View.java
Owners: @ripcurlx, @sqrrm

Use sign age or account age for ring color based on chargeback risk
  desktop/src/main/java/bisq/desktop/components/PeerInfoIcon.java
Owners: @ripcurlx, @sqrrm

Re-introduce account age to chargeback risk payment methods (#3580)
  common/src/main/java/bisq/common/util/Tuple2.java
  common/src/main/java/bisq/common/util/Tuple3.java
  common/src/main/java/bisq/common/util/Tuple5.java
  desktop/src/main/java/bisq/desktop/components/PeerInfoIcon.java
  desktop/src/main/java/bisq/desktop/components/PeerInfoIconSmall.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/BankForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/CashDepositForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/JapanBankTransferForm.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/proposals/ProposalsView.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsView.java
  desktop/src/main/java/bisq/desktop/main/funds/withdrawal/WithdrawalView.java
  desktop/src/main/java/bisq/desktop/main/market/offerbook/OfferBookChartView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferView.java
  desktop/src/main/java/bisq/desktop/main/overlays/editor/PeerInfoWithTagEditor.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/OfferDetailsWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep2View.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep3View.java
Owners: @ripcurlx, @sqrrm

[BUGFIX] Don't try and remove() if addMailboxData() fails
  p2p/src/main/java/bisq/network/p2p/P2PService.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageTest.java
Owners: @ripcurlx

[REFACTOR] P2PDataStorage::addPersistableNetworkPayload()
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

[REFACTOR] P2PDataStorage::addProtectedStorageEntry()
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

[REFACTOR] P2PDataStorage::refreshTTL()
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

[REFACTOR] P2PDataStorage::removeMailboxData()
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

[REFACTOR] P2PDataStorage::remove()
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx
