Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

Fix seednode README getting onion hostname
  seednode/README.md
Owners: @ripcurlx

Fixed bug with fixed onion address
  seednode/docker-compose.yml
  seednode/docker/prod/collectd.conf
Owners: @ripcurlx

Add missing libssl-dev in seednode installation script
  seednode/install_seednode_debian.sh
Owners: @ripcurlx

Fix seednode README command to get bitcoin onion hostname
  seednode/README.md
Owners: @ripcurlx

Add warning at bottom of seednode install script to enable firewall
  seednode/install_seednode_debian.sh
Owners: @ripcurlx

Add notes to server motd in seednode install script
  seednode/install_seednode_debian.sh
Owners: @ripcurlx

Remove redundant locking from FileManager.saveToFile
  common/src/main/java/bisq/common/storage/FileManager.java
Owners: @ripcurlx

Reuse temp file names to fix a memory leak caused by deleteOnExit()
  common/src/main/java/bisq/common/storage/FileManager.java
  common/src/main/java/bisq/common/storage/FileUtil.java
Owners: @ripcurlx

Prevent seednode install script from opening dialog boxes
  seednode/install_seednode_debian.sh
Owners: @ripcurlx

Add button for shutdown
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
Owners: @ripcurlx, @sqrrm

Handle unconfirmed BSQ change at spv resync
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/dao/state/unconfirmed/UnconfirmedBsqChangeOutputListService.java
Owners: @ripcurlx

Improve popup text
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Add 2 new columns to vote result
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/ProposalListItem.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
Owners: @ripcurlx, @sqrrm

Make all DAO screen tables resize to max. screen height
  desktop/src/main/java/bisq/desktop/main/dao/burnbsq/assetfee/AssetFeeView.java
  desktop/src/main/java/bisq/desktop/main/dao/burnbsq/proofofburn/ProofOfBurnView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
Owners: @ripcurlx, @sqrrm

Fix sorting functions
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
Owners: @ripcurlx, @sqrrm

Remove unused fields passed as constructor params from various classes
  core/src/main/java/bisq/core/app/WalletAppSetup.java
  core/src/main/java/bisq/core/dao/governance/votereveal/VoteRevealService.java
  core/src/main/java/bisq/core/notifications/alerts/market/MarketAlerts.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/AssetsForm.java
  desktop/src/main/java/bisq/desktop/main/MainView.java
  desktop/src/main/java/bisq/desktop/main/account/content/altcoinaccounts/AltCoinAccountsView.java
  desktop/src/main/java/bisq/desktop/main/account/content/notifications/ManageMarketAlertsWindow.java
  desktop/src/main/java/bisq/desktop/main/account/content/notifications/MobileNotificationsView.java
  desktop/src/main/java/bisq/desktop/main/dao/news/NewsView.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsView.java
  desktop/src/main/java/bisq/desktop/main/market/offerbook/OfferBookChartViewModel.java
  desktop/src/main/java/bisq/desktop/main/market/trades/TradesChartsViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/createoffer/CreateOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferView.java
  desktop/src/main/java/bisq/desktop/main/presentation/MarketPricePresentation.java
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
  desktop/src/main/java/bisq/desktop/main/settings/network/P2pNetworkListItem.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
  desktop/src/test/java/bisq/desktop/main/market/offerbook/OfferBookChartViewModelTest.java
  desktop/src/test/java/bisq/desktop/main/market/trades/TradesChartsViewModelTest.java
Owners: @ripcurlx, @sqrrm

Adjust security deposits
  core/src/main/java/bisq/core/btc/wallet/Restrictions.java
Owners: @ripcurlx

Refactoring: Remove unused parameter
  core/src/main/java/bisq/core/btc/wallet/Restrictions.java
  core/src/main/java/bisq/core/offer/OfferUtil.java
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/main/java/bisq/core/user/PreferencesPayload.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModel.java
  desktop/src/main/java/bisq/desktop/util/validation/SecurityDepositValidator.java
Owners: @ripcurlx, @sqrrm

Use min. refund at mediated payout
  core/src/main/java/bisq/core/btc/wallet/Restrictions.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DisputeSummaryWindow.java
Owners: @ripcurlx, @sqrrm

Improve text
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Optimise CurrencyUtil.get[Fiat|Crypto|Trade]Currency
  core/src/main/java/bisq/core/locale/CurrencyUtil.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/PaymentMethodForm.java
  desktop/src/test/java/bisq/desktop/MarketsPrintTool.java
Owners: @ripcurlx, @sqrrm

Improve column sorting
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/ProposalListItem.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
Owners: @ripcurlx, @sqrrm

Give global data precedence
  pricenode/src/main/java/bisq/price/spot/providers/BitcoinAverage.java
Owners: @cbeams

Timestamp global
  pricenode/src/main/java/bisq/price/spot/ExchangeRateService.java
Owners: @cbeams

Only move to failed trades if the reject msg is critical
  core/src/main/java/bisq/core/app/BisqSetup.java
Owners: @ripcurlx

Use only EUR when creating a SEPA payment account
  desktop/src/main/java/bisq/desktop/components/paymentmethods/GeneralSepaForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/SepaForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/SepaInstantForm.java
Owners: @ripcurlx, @sqrrm

Use only EUR when creating a SEPA payment account - additional refactoring
  desktop/src/main/java/bisq/desktop/components/paymentmethods/GeneralSepaForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/SepaForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/SepaInstantForm.java
Owners: @ripcurlx, @sqrrm

Trade limit error message is not clear Fixes #3712
  desktop/src/main/java/bisq/desktop/util/validation/BtcValidator.java
Owners: @ripcurlx, @sqrrm

Fetch "USD" and "EUR" in local symbol set
  pricenode/src/main/java/bisq/price/spot/providers/BitcoinAverage.java
Owners: @cbeams

Fix equal comparison
  pricenode/src/main/java/bisq/price/spot/providers/BitcoinAverage.java
Owners: @cbeams

Refactor duplicate code
  pricenode/src/main/java/bisq/price/spot/providers/BitcoinAverage.java
Owners: @cbeams

Set DAO activated from Settings
  common/src/main/java/bisq/common/app/DevEnv.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/dao/DaoModule.java
  core/src/main/java/bisq/core/setup/CoreNetworkCapabilities.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/dao/news/NewsView.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
Owners: @ripcurlx, @sqrrm

Begin conversion to Brisq
  README.md
Owners: @ripcurlx

DAO activated by default for existing users
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/app/BisqAppMain.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
Owners: @ripcurlx, @sqrrm

Add Aevo
  assets/src/main/java/bisq/asset/coins/Aevo.java
Owners: @blabno

Add Aevo
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
Owners: @blabno

Add Aevo
  assets/src/test/java/bisq/asset/coins/AevoTest.java
Owners: @blabno

Update AevoTest.java
  assets/src/test/java/bisq/asset/coins/AevoTest.java
Owners: @blabno

Corrected account label
  core/src/main/java/bisq/core/locale/BankUtil.java
Owners: @ripcurlx

Upgrade mempool.space to full block explorer functionality
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
