Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

Fix UI state when arbitration has started
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/support/dispute/mediation/MediationManager.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
Owners: @ripcurlx, @sqrrm

Change text field for median to average 30
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/dao/economy/dashboard/BsqDashboardView.java
Owners: @ripcurlx, @sqrrm

Apply reformat (no code change)
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
Owners: @ripcurlx, @sqrrm

Add support for columnIndex
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
Owners: @ripcurlx, @sqrrm

Add price trend indicator
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/components/TextFieldWithIcon.java
  desktop/src/main/java/bisq/desktop/main/dao/economy/dashboard/BsqDashboardView.java
Owners: @ripcurlx, @sqrrm

Fix dev test change
  desktop/src/main/java/bisq/desktop/main/dao/economy/dashboard/BsqDashboardView.java
Owners: @ripcurlx, @sqrrm

Remove restriction
  desktop/src/main/java/bisq/desktop/main/support/SupportView.java
Owners: @ripcurlx, @sqrrm

Fix typo; remove errorMessage
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/offer/OpenOffer.java
Owners: @ripcurlx

Improve text
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Store full address for localhost dev testing
  core/src/main/java/bisq/core/trade/protocol/tasks/PublishTradeStatistics.java
Owners: @ripcurlx

Remove errorMessage
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
Owners: @ripcurlx

Improve text
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Keep accept or reject button enabled after accept
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/TradeStepInfo.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
Owners: @ripcurlx, @sqrrm

Cleanups (no functional change)
  .idea/codeStyles/codeStyleConfig.xml
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
  core/src/main/java/bisq/core/filter/Filter.java
  core/src/main/java/bisq/core/offer/OfferPayload.java
  core/src/main/java/bisq/core/offer/OfferUtil.java
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  core/src/main/java/bisq/core/offer/availability/OfferAvailabilityModel.java
  core/src/main/java/bisq/core/offer/placeoffer/tasks/CreateMakerFeeTx.java
  core/src/main/java/bisq/core/support/dispute/Dispute.java
  core/src/main/java/bisq/core/support/dispute/DisputeList.java
  core/src/main/java/bisq/core/support/dispute/agent/DisputeAgentManager.java
  core/src/main/java/bisq/core/support/dispute/mediation/mediator/MediatorManager.java
  core/src/main/java/bisq/core/support/dispute/mediation/messages/MediationMessage.java
  core/src/main/java/bisq/core/support/traderchat/TradeChatListService.java
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/account/AccountView.java
  desktop/src/main/java/bisq/desktop/main/account/register/AgentRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/offer/BuyOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/OfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/SellOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/createoffer/CreateOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/overlays/notifications/NotificationCenter.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DisputeSummaryWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep2View.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep4View.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep3View.java
  desktop/src/main/java/bisq/desktop/main/presentation/MarketPricePresentation.java
  desktop/src/main/java/bisq/desktop/main/support/SupportView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/client/arbitration/ArbitrationClientView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/client/mediation/MediationClientView.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
  desktop/src/test/java/bisq/desktop/main/offer/createoffer/CreateOfferDataModelTest.java
  desktop/src/test/java/bisq/desktop/main/offer/createoffer/CreateOfferViewModelTest.java
  desktop/src/test/java/bisq/desktop/main/offer/offerbook/OfferBookViewModelTest.java
  desktop/src/test/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModelTest.java
Owners: @ripcurlx, @sqrrm

Add new BondedRoleType for Analytics Operator
  core/src/main/java/bisq/core/dao/state/model/governance/BondedRoleType.java
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Fix padding issues
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/main/dao/economy/dashboard/BsqDashboardView.java
Owners: @ripcurlx, @sqrrm

Add bsq price trend indicator (#3226)
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/components/TextFieldWithIcon.java
  desktop/src/main/java/bisq/desktop/main/dao/economy/dashboard/BsqDashboardView.java
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
Owners: @ripcurlx, @sqrrm

Increase analytics operator bond amount from 1 to 2
  core/src/main/java/bisq/core/dao/state/model/governance/BondedRoleType.java
Owners: @ripcurlx

Update core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Improve text
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Auto fill remaining amount in custom payout
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DisputeSummaryWindow.java
Owners: @ripcurlx, @sqrrm

Increase analytics operator bond amount from 1 to 2
  core/src/main/java/bisq/core/dao/state/model/governance/BondedRoleType.java
Owners: @ripcurlx

Revert "Apply kotlin plugin and convert one unused class to kotlin"
  build.gradle
  gradle/witness/gradle-witness.gradle
  p2p/src/test/java/bisq/network/p2p/storage/ProtectedDataStorageTest.java
  p2p/src/test/java/bisq/network/p2p/storage/mocks/MockData.java
  p2p/src/test/java/bisq/network/p2p/storage/mocks/MockData.kt
Owners: @cbeams, @ripcurlx

update witness file
  gradle/witness/gradle-witness.gradle
Owners: @cbeams

Integrate PhoneNumberValidator into HalCashForm
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/locale/CountryUtil.java
  core/src/main/java/bisq/core/payment/HalCashAccount.java
  core/src/main/java/bisq/core/payment/payload/HalCashAccountPayload.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/HalCashForm.java
  desktop/src/main/java/bisq/desktop/util/validation/HalCashValidator.java
Owners: @ripcurlx, @sqrrm

Hide account age verification salt for altcoin accounts
  desktop/src/main/java/bisq/desktop/components/paymentmethods/PaymentMethodForm.java
Owners: @ripcurlx, @sqrrm

Revert "Increase analytics operator bond amount from 1 to 2"
  core/src/main/java/bisq/core/dao/state/model/governance/BondedRoleType.java
Owners: @ripcurlx

Revert "Add new BondedRoleType for Analytics Operator"
  core/src/main/java/bisq/core/dao/state/model/governance/BondedRoleType.java
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Revert DAO changes to add bonded role for Analytics Operator (#3241)
  core/src/main/java/bisq/core/dao/state/model/governance/BondedRoleType.java
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Extract parsing functions from BSFormatter to ParsingUtils
  core/src/main/java/bisq/core/dao/state/DaoStateService.java
  core/src/main/java/bisq/core/monetary/Altcoin.java
  core/src/main/java/bisq/core/monetary/Price.java
  core/src/main/java/bisq/core/monetary/Volume.java
  core/src/main/java/bisq/core/util/BSFormatter.java
  core/src/main/java/bisq/core/util/BsqFormatter.java
  core/src/main/java/bisq/core/util/ParsingUtils.java
  desktop/src/main/java/bisq/desktop/main/account/content/notifications/MobileNotificationsView.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/reputation/MyReputationView.java
  desktop/src/main/java/bisq/desktop/main/dao/burnbsq/assetfee/AssetFeeView.java
  desktop/src/main/java/bisq/desktop/main/dao/burnbsq/proofofburn/ProofOfBurnView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/make/MakeProposalView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/proposals/ProposalsView.java
  desktop/src/main/java/bisq/desktop/main/dao/wallet/send/BsqSendView.java
  desktop/src/main/java/bisq/desktop/main/funds/deposit/DepositView.java
  desktop/src/main/java/bisq/desktop/main/funds/withdrawal/WithdrawalView.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DisputeSummaryWindow.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
  desktop/src/main/java/bisq/desktop/util/DisplayUtils.java
  desktop/src/main/java/bisq/desktop/util/validation/BsqValidator.java
  desktop/src/main/java/bisq/desktop/util/validation/NumberValidator.java
  desktop/src/main/java/bisq/desktop/util/validation/SecurityDepositValidator.java
Owners: @ripcurlx, @sqrrm

Fix wrong error string
  core/src/main/java/bisq/core/trade/protocol/tasks/maker/MakerProcessPayDepositRequest.java
Owners: @ripcurlx
