Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

Add missing handling for mailbox messages
  core/src/main/java/bisq/core/trade/protocol/TradeProtocol.java
Owners: @ripcurlx

Update data directories
  p2p/src/main/resources/AccountAgeWitnessStore_BTC_MAINNET
Owners: @ripcurlx

Fix broken line break
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Bump version number
  build.gradle
  common/src/main/java/bisq/common/app/Version.java
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/Info.plist
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/insert_snapshot_version.sh
  desktop/package/macosx/replace_version_number.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
Owners: @cbeams, @ripcurlx, @sqrrm

Revert to SNAPSHOT version
  build.gradle
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/insert_snapshot_version.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
Owners: @cbeams, @ripcurlx, @sqrrm

Fix test
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
Owners: @ripcurlx

Buyer sign seller account
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/setup/CoreNetworkCapabilities.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep4View.java
Owners: @ripcurlx, @sqrrm

Fix checks for signing at end of trade
  core/src/main/java/bisq/core/payment/PaymentAccountUtil.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep4View.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep3View.java
Owners: @ripcurlx, @sqrrm

Fixed sorting in views with TableView instances with no implemented sort.
  desktop/src/main/java/bisq/desktop/main/dao/bonding/bonds/BondsView.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/reputation/MyReputationView.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/roles/RolesView.java
  desktop/src/main/java/bisq/desktop/main/market/offerbook/OfferBookChartView.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ProposalResultsWindow.java
Owners: @ripcurlx, @sqrrm

Reorder to fix conflict.
  desktop/src/main/java/bisq/desktop/main/dao/bonding/reputation/MyReputationView.java
Owners: @ripcurlx, @sqrrm

Rearrangement to resolve conflict.
  desktop/src/main/java/bisq/desktop/main/dao/bonding/bonds/BondsView.java
Owners: @ripcurlx, @sqrrm

Increase "Proposals of current cycle" table size to fit the window - issue #3229
  desktop/src/main/java/bisq/desktop/main/dao/governance/proposals/ProposalsView.java
Owners: @ripcurlx, @sqrrm

Show only active roles in "Bonded Roles" table
  desktop/src/main/java/bisq/desktop/main/dao/bonding/roles/RolesView.java
Owners: @ripcurlx, @sqrrm

Add alpine-needed user
  seednode/docker/prod/Dockerfile-nginx
  seednode/docker/prod/nginx.conf
Owners: @ripcurlx

Fix [alert] 8#8: connect() failed (2: No such file or directory)
  seednode/docker/prod/nginx.conf
Owners: @ripcurlx

inject DaoKillSwitch
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
  core/src/main/java/bisq/core/dao/DaoKillSwitch.java
Owners: @ripcurlx

simplify
  core/src/main/java/bisq/core/util/BsqFormatter.java
Owners: @ripcurlx

remove instance
  core/src/main/java/bisq/core/dao/DaoKillSwitch.java
Owners: @ripcurlx

start testing the wallets
  core/src/test/java/bisq/core/btc/wallet/BtcWalletServiceTest.java
Owners: @ripcurlx

Only do recurring updatedatareq if seednode
  common/src/main/java/bisq/common/app/Capabilities.java
  p2p/src/main/java/bisq/network/p2p/P2PService.java
Owners: @ripcurlx

UpdateDataReq is run periodically
  p2p/src/main/java/bisq/network/p2p/P2PService.java
Owners: @ripcurlx

Refactored logging into subroutine
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
Owners: @ripcurlx

Only store PeristablePayloads once
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
Owners: @ripcurlx

remove instance
  core/src/main/java/bisq/core/dao/DaoKillSwitch.java
Owners: @ripcurlx

List CTSCoin (CTSC)
  assets/src/main/java/bisq/asset/coins/CTSCoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/CTSCoinTest.java
Owners: @blabno

Hide avoid standby mode feature on *nux OS
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
Owners: @ripcurlx, @sqrrm

figuring out how to test our wallets.
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
  core/src/test/java/bisq/core/btc/wallet/BsqWalletServiceTest.java
  core/src/test/java/bisq/core/btc/wallet/BtcWalletServiceTest.java
Owners: @ripcurlx

Rename BuyerDataItem -> TraderDataItem
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/main/java/bisq/core/support/dispute/arbitration/TraderDataItem.java
  core/src/test/java/bisq/core/arbitration/TraderDataItemTest.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
Owners: @ripcurlx, @sqrrm

Check for dust after subtracting fee, not before.
  core/src/main/java/bisq/core/btc/wallet/BtcWalletService.java
Owners: @ripcurlx

Arbitrator sign both parties in a buyer payout dispute
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
Owners: @ripcurlx, @sqrrm

Only sign unsigned accountAgeWitnesses
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
Owners: @ripcurlx, @sqrrm

Trade Info Popup
  core/src/main/java/bisq/core/payment/payload/AssetsAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/PaymentAccountPayload.java
  core/src/main/java/bisq/core/trade/protocol/tasks/ApplyFilter.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ContractWindow.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/TradeDetailsWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep3View.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/DisputeAgentView.java
Owners: @ripcurlx, @sqrrm

periodical UpdateDataReq for Seednodes (#3202)
  common/src/main/java/bisq/common/app/Capabilities.java
  p2p/src/main/java/bisq/network/p2p/P2PService.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
Owners: @ripcurlx

periodical UpdateDataReq for Seednodes (#3202)
  common/src/main/java/bisq/common/app/Capabilities.java
  p2p/src/main/java/bisq/network/p2p/P2PService.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
Owners: @ripcurlx

Remove unused code
  core/src/main/java/bisq/core/offer/OfferRestrictions.java
Owners: @ripcurlx

Add demo for material design icons
  desktop/src/test/java/bisq/desktop/MaterialDesignIconDemo.java
  desktop/src/test/java/bisq/desktop/MaterialDesignIconDemoLauncher.java
Owners: @ripcurlx, @sqrrm

Use different account age limits for sell/buy
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  desktop/src/main/java/bisq/desktop/components/PeerInfoIcon.java
Owners: @ripcurlx, @sqrrm

Fix signing interface for arbitrator
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
Owners: @ripcurlx, @sqrrm

Add signing state column to offer book
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
Owners: @ripcurlx, @sqrrm

Add signing state to fiat accounts overview
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/components/InfoAutoTooltipLabel.java
  desktop/src/main/java/bisq/desktop/main/account/content/PaymentAccountsView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
Owners: @ripcurlx, @sqrrm

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
