Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

Remove checkbox for hiding extremes
  desktop/src/main/java/bisq/desktop/main/market/offerbook/OfferBookChartView.java
Owners: @ripcurlx, @sqrrm

Update BitcoinJ checkpoint files
  core/src/main/resources/wallet/checkpoints.testnet.txt
  core/src/main/resources/wallet/checkpoints.txt
Owners: @ripcurlx

Remove extra UI element and text string
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/market/offerbook/OfferBookChartView.java
Owners: @ripcurlx, @sqrrm

List Genesis (GENX)
  assets/src/main/java/bisq/asset/coins/Genesis.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/GenesisTest.java
Owners: @blabno

Wait for initialized wallet before processing dispute msgs, fix #2914
  core/src/main/java/bisq/core/arbitration/DisputeManager.java
Owners: @ripcurlx

Fix AckMessage failure
  p2p/src/main/java/bisq/network/p2p/P2PService.java
Owners: @ripcurlx

Add PENG
  assets/src/main/java/bisq/asset/coins/PENG.java
  assets/src/main/java/bisq/asset/coins/ViBook.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/PENGTest.java
  assets/src/test/java/bisq/asset/coins/ViBookTest.java
Owners: @blabno

Added EnvelopeOfEnvelopes Network Message
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/proto/network/CoreNetworkProtoResolver.java
  p2p/src/main/java/bisq/network/p2p/EnvelopeOfEnvelopes.java
Owners: @ripcurlx

Sketch of businesslogic regarding EnvelopeOfEnvelopes
  common/src/main/java/bisq/common/app/Capability.java
  core/src/main/java/bisq/core/setup/CoreNetworkCapabilities.java
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Use EnvelopeOfEnvelopes message type
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Update new testnet seednode address
  core/src/main/resources/btc_testnet.seednodes
Owners: @ripcurlx

Include check for services in readyForTxBroadcast
  core/src/main/java/bisq/core/arbitration/DisputeManager.java
Owners: @ripcurlx

Add shell script for creating DAO genesis transaction
  scripts/create_dao_genesis.sh
Owners: @ripcurlx

Use new testnet genesis transaction
  core/src/main/java/bisq/core/dao/state/GenesisTxInfo.java
Owners: @ripcurlx

Don't ask for trade volume if non positive price, fix #2925
  core/src/main/java/bisq/core/trade/Trade.java
Owners: @ripcurlx

Use tempTradingPeerNodeAddress if the trade doesn't have a trading peer set yet
  core/src/main/java/bisq/core/trade/protocol/TradeProtocol.java
Owners: @ripcurlx

Fix offer editing for low volume offers
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Purge saved trades that failed market price check
  core/src/main/java/bisq/core/trade/TradableList.java
Owners: @ripcurlx

Save tradables on contruction
  core/src/main/java/bisq/core/trade/TradableList.java
Owners: @ripcurlx

Stop app after cleanup
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/trade/TradableList.java
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
Owners: @ripcurlx, @sqrrm

Fix missing payment info on SEPA Instant trades
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep2View.java
Owners: @ripcurlx, @sqrrm

Report dao state reference head as well
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshot.java
Owners: @ripcurlx

Fixed max finding algorithm
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshot.java
Owners: @ripcurlx

Fix: works for heads more than 20 behind
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshot.java
Owners: @ripcurlx

Exclude non executed BSQ trade
  core/src/main/java/bisq/core/trade/statistics/TradeStatistics2.java
Owners: @ripcurlx

Optimized memory footprint of DoS protection
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Remove restart-mechanism from seed node
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
Owners: @ripcurlx

Added systemd.service for seednode operation
  seednode/README.md
  seednode/bisq-seednode.service
Owners: @ripcurlx

Split on resulting message size
  p2p/src/main/java/bisq/network/p2p/EnvelopeOfEnvelopes.java
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Still maintain DoS protection
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Rename
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/proto/network/CoreNetworkProtoResolver.java
  p2p/src/main/java/bisq/network/p2p/BundleOfEnvelopes.java
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Cleanup
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Formatting
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

List Know Your Developer (KYD)
  assets/src/main/java/bisq/asset/coins/KnowYourDeveloper.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/KnowYourDeveloperTest.java
Owners: @blabno

Update command to generate blocks
  docs/dev-setup.md
Owners: @ripcurlx

Add files via upload
  core/src/main/java/bisq/core/locale/CurrencyUtil.java
Owners: @ripcurlx

Rename stuff
  common/src/main/java/bisq/common/app/Capability.java
  core/src/main/java/bisq/core/setup/CoreNetworkCapabilities.java
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Only send bundle if necessary
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Don't dump blockchain data during initial parsing
  core/src/main/java/bisq/core/dao/node/explorer/ExportJsonFilesService.java
Owners: @ripcurlx

Limit number of blocks sent in GetBlocksResponse
  core/src/main/java/bisq/core/dao/node/full/network/GetBlocksRequestHandler.java
  core/src/main/java/bisq/core/dao/node/messages/GetBlocksResponse.java
  core/src/main/java/bisq/core/dao/state/DaoStateService.java
Owners: @ripcurlx

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
