Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

Remove dev log, change log level
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/SendMediatedPayoutSignatureMessage.java
Owners: @ripcurlx

Close trader chat popup once trade gets closed
  core/src/main/java/bisq/core/support/traderchat/TraderChatManager.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
Owners: @ripcurlx, @sqrrm

Add missing CSS classes for trade message states and status icon
  desktop/src/main/java/bisq/desktop/bisq.css
Owners: @ripcurlx, @sqrrm

Tweak light/dark theme CSS colors for trade chat state messages
  desktop/src/main/java/bisq/desktop/theme-dark.css
  desktop/src/main/java/bisq/desktop/theme-light.css
Owners: @ripcurlx, @sqrrm

Add missing CSS classes for trade message states and status icon
  desktop/src/main/java/bisq/desktop/bisq.css
Owners: @ripcurlx, @sqrrm

Tweak light/dark theme CSS colors for trade chat state messages
  desktop/src/main/java/bisq/desktop/theme-dark.css
  desktop/src/main/java/bisq/desktop/theme-light.css
Owners: @ripcurlx, @sqrrm

Add support for Monero integrated addresses; fix #3242
  assets/src/main/java/bisq/asset/coins/Monero.java
  assets/src/test/java/bisq/asset/coins/MoneroTest.java
Owners: @blabno

Add support for Monero integrated addresses; fix #3242
  assets/src/main/java/bisq/asset/coins/Monero.java
  assets/src/test/java/bisq/asset/coins/MoneroTest.java
Owners: @blabno

Add new FormBuilder method for Label + TextField + AutocompleteComboBox
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
Owners: @ripcurlx, @sqrrm

Handle trade limit of unverified accounts as normal case
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
Owners: @ripcurlx

Avoid optional as argument
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
Owners: @ripcurlx

Set trade limit depending on trade direction
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/components/PeerInfoIcon.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/PaymentMethodForm.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferDataModel.java
  desktop/src/test/java/bisq/desktop/main/offer/createoffer/CreateOfferViewModelTest.java
  desktop/src/test/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModelTest.java
Owners: @ripcurlx, @sqrrm

Avoid optional arguments
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
Owners: @ripcurlx

Remove CapabilityRequiringPayload from NewBlockBroadcastMessage
  core/src/main/java/bisq/core/dao/node/messages/NewBlockBroadcastMessage.java
Owners: @ripcurlx

List Noteblockhain [NTBC]
  assets/src/main/java/bisq/asset/coins/NoteBlockchain.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/NoteBlockchainTest.java
Owners: @blabno

Add new payment method: Japan Bank Transfer (furikomi)
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/payment/JapanBankAccount.java
  core/src/main/java/bisq/core/payment/PaymentAccountFactory.java
  core/src/main/java/bisq/core/payment/payload/JapanBankAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/PaymentMethod.java
  core/src/main/java/bisq/core/proto/CoreProtoResolver.java
  core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings_ja.properties
  desktop/src/main/java/bisq/desktop/components/paymentmethods/JapanBankTransferForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/data/JapanBankData.java
  desktop/src/main/java/bisq/desktop/main/account/content/fiataccounts/FiatAccountsView.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
  desktop/src/main/java/bisq/desktop/util/validation/JapanBankAccountNameValidator.java
  desktop/src/main/java/bisq/desktop/util/validation/JapanBankAccountNumberValidator.java
  desktop/src/main/java/bisq/desktop/util/validation/JapanBankBranchCodeValidator.java
  desktop/src/main/java/bisq/desktop/util/validation/JapanBankBranchNameValidator.java
  desktop/src/main/java/bisq/desktop/util/validation/JapanBankTransferValidator.java
Owners: @ripcurlx, @sqrrm

Add new FormBuilder method for Label + TextField + AutocompleteComboBox
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
Owners: @ripcurlx, @sqrrm

Add new payment method: Japan Bank Transfer (furikomi)
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/payment/JapanBankAccount.java
  core/src/main/java/bisq/core/payment/PaymentAccountFactory.java
  core/src/main/java/bisq/core/payment/payload/JapanBankAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/PaymentMethod.java
  core/src/main/java/bisq/core/proto/CoreProtoResolver.java
  core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings_ja.properties
  desktop/src/main/java/bisq/desktop/components/paymentmethods/JapanBankTransferForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/data/JapanBankData.java
  desktop/src/main/java/bisq/desktop/main/account/content/fiataccounts/FiatAccountsView.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
  desktop/src/main/java/bisq/desktop/util/validation/JapanBankAccountNameValidator.java
  desktop/src/main/java/bisq/desktop/util/validation/JapanBankAccountNumberValidator.java
  desktop/src/main/java/bisq/desktop/util/validation/JapanBankBranchCodeValidator.java
  desktop/src/main/java/bisq/desktop/util/validation/JapanBankBranchNameValidator.java
  desktop/src/main/java/bisq/desktop/util/validation/JapanBankTransferValidator.java
Owners: @ripcurlx, @sqrrm

Fix typo fist > first
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/TradeStepInfo.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep1View.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep2View.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep3View.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep1View.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep2View.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep3View.java
Owners: @ripcurlx, @sqrrm

Hide support request info, when trade is complete
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/TradeStepInfo.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep4View.java
Owners: @ripcurlx, @sqrrm

Add alternative text until mediation is activated
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/TradeStepInfo.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
Owners: @ripcurlx, @sqrrm

Add information what to do next after mediation is completed
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DisputeSummaryWindow.java
Owners: @ripcurlx, @sqrrm

Rename review and accept or reject button to prevent confusion
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update data stores
  p2p/src/main/resources/AccountAgeWitnessStore_BTC_MAINNET
Owners: @ripcurlx

Update migration dates for v1.1.6 and remove testing code
  core/src/main/java/bisq/core/offer/OfferRestrictions.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationManager.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
Owners: @ripcurlx, @sqrrm

Fix typo
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
Owners: @ripcurlx, @sqrrm

Update ParseUtils methods
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
Owners: @ripcurlx, @sqrrm

Bump version number
  build.gradle
  common/src/main/java/bisq/common/app/Version.java
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/Info.plist
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/replace_version_number.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
Owners: @cbeams, @ripcurlx, @sqrrm

Fix various bugs related to Japan Bank Transfer payment method
  core/src/main/java/bisq/core/payment/payload/JapanBankAccountPayload.java
  core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings_ja.properties
  desktop/src/main/java/bisq/desktop/components/paymentmethods/JapanBankTransferForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/data/JapanBankData.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep2View.java
Owners: @ripcurlx, @sqrrm

Remove unnecessary line break
  core/src/main/java/bisq/core/payment/payload/JapanBankAccountPayload.java
Owners: @ripcurlx

Improve layout of fields
  desktop/src/main/java/bisq/desktop/components/paymentmethods/JapanBankTransferForm.java
Owners: @ripcurlx, @sqrrm

Remove CapabilityRequiringPayload from GetBlocksRequest
  core/src/main/java/bisq/core/dao/node/messages/GetBlocksRequest.java
Owners: @ripcurlx

Fix various bugs related to Japan Bank Transfer payment method (#3258)
  core/src/main/java/bisq/core/payment/payload/JapanBankAccountPayload.java
  core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings_ja.properties
  desktop/src/main/java/bisq/desktop/components/paymentmethods/JapanBankTransferForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/data/JapanBankData.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep2View.java
Owners: @ripcurlx, @sqrrm

Fix various bugs related to Japan Bank Transfer payment method (#3258)
  core/src/main/java/bisq/core/payment/payload/JapanBankAccountPayload.java
  core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings_ja.properties
  desktop/src/main/java/bisq/desktop/components/paymentmethods/JapanBankTransferForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/data/JapanBankData.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep2View.java
Owners: @ripcurlx, @sqrrm

Remove extra field from JapanBankTransferForm::addFormForBuyer()
  desktop/src/main/java/bisq/desktop/components/paymentmethods/JapanBankTransferForm.java
Owners: @ripcurlx, @sqrrm

Remove extra field from JapanBankTransferForm::addFormForBuyer()
  desktop/src/main/java/bisq/desktop/components/paymentmethods/JapanBankTransferForm.java
Owners: @ripcurlx, @sqrrm

Update IP address for @mrosseel's 2 hard-coded BTC nodes
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

Temporarily disable onion host for @KanoczTomas's BTC node
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

Remove bitcoin4-fullnode.csg.uzh.ch / 192.41.136.217 btcnode
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

Used gradle:jdk10 docker image to build the code
  seednode/docker/prod/Dockerfile
Owners: @ripcurlx
