Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

Rebrand from Neos to Donu
  assets/src/main/java/bisq/asset/coins/Donu.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/DonuTest.java
Owners: @blabno

Namecoin (NMC) update AddressValidator
  assets/src/main/java/bisq/asset/coins/Namecoin.java
  assets/src/test/java/bisq/asset/coins/NamecoinTest.java
Owners: @blabno

remove stray line
  core/src/main/java/bisq/core/dao/node/full/FullNode.java
Owners: @ripcurlx

make rpc host configurable
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/dao/DaoModule.java
  core/src/main/java/bisq/core/dao/DaoOptionKeys.java
  core/src/main/java/bisq/core/dao/node/full/RpcService.java
Owners: @ripcurlx

list DarkPay single commit
  assets/src/main/java/bisq/asset/coins/DarkPay.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/DarkPayTest.java
Owners: @blabno

List PENG (PENG)
  assets/src/main/java/bisq/asset/coins/PENG.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/PENGTest.java
Owners: @blabno

List Emercoin (EMC)
  assets/src/main/java/bisq/asset/coins/Emercoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/EmercoinTest.java
Owners: @blabno

Fixed label name for median.
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Avoid validating proposals during initial sync
  core/src/main/java/bisq/core/dao/governance/proposal/ProposalListPresentation.java
  core/src/main/java/bisq/core/dao/governance/proposal/ProposalService.java
Owners: @ripcurlx

Fixed NullPointer in corner case
  monitor/src/main/java/bisq/monitor/metric/P2PRoundTripTime.java
Owners: @ripcurlx

Fix stopping the schedule because of exception
  monitor/src/main/java/bisq/monitor/Metric.java
Owners: @ripcurlx

BEDCOIN add
  assets/src/test/java/bisq/asset/coins/Bedcoin.java
Owners: @blabno

Fix for issue #2741
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

log stacktrace to logfile when a task fails
  common/src/main/java/bisq/common/taskrunner/Task.java
Owners: @ripcurlx

rename Clock to ClockWatcher
  common/src/main/java/bisq/common/ClockWatcher.java
  core/src/main/java/bisq/core/CoreModule.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
  desktop/src/main/java/bisq/desktop/main/settings/network/P2pNetworkListItem.java
  monitor/src/main/java/bisq/monitor/metric/P2PNetworkLoad.java
  p2p/src/main/java/bisq/network/p2p/peers/PeerManager.java
  p2p/src/test/java/bisq/network/p2p/DummySeedNode.java
  p2p/src/test/java/bisq/network/p2p/TestUtils.java
Owners: @ripcurlx, @sqrrm

generify
  monitor/src/main/java/bisq/monitor/metric/P2PNetworkLoad.java
Owners: @ripcurlx

idea autofixes
  core/src/main/java/bisq/core/btc/wallet/BtcWalletService.java
  core/src/main/java/bisq/core/dao/node/BsqNode.java
  core/src/main/java/bisq/core/dao/state/model/governance/CompensationProposal.java
  core/src/main/java/bisq/core/dao/state/model/governance/ReimbursementProposal.java
  core/src/main/java/bisq/core/payment/AccountAgeWitnessService.java
  core/src/main/java/bisq/core/payment/PaymentAccount.java
  core/src/main/java/bisq/core/payment/payload/SepaAccountPayload.java
  core/src/main/java/bisq/core/payment/payload/SepaInstantAccountPayload.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/main/java/bisq/core/util/BsqFormatter.java
  p2p/src/main/java/bisq/network/p2p/P2PService.java
Owners: @ripcurlx

Fixed NullPointerEx of corner case
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshot.java
Owners: @ripcurlx

List SixEleven Coin (SIL)
  assets/src/main/java/bisq/asset/coins/SixEleven.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/SixElevenTest.java
Owners: @blabno

Reflect change in operator for seed node jhgcy2won7xnslrb
  core/src/main/resources/btc_mainnet.seednodes
  core/src/test/resources/mainnet.seednodes
Owners: @ripcurlx

Issue #1896 fixed.
  assets/src/main/java/bisq/asset/coins/Counterparty.java
  assets/src/main/java/bisq/asset/coins/Decred.java
  assets/src/main/java/bisq/asset/coins/EtherClassic.java
  assets/src/main/java/bisq/asset/coins/Namecoin.java
  assets/src/main/java/bisq/asset/coins/Siafund.java
  assets/src/main/java/bisq/asset/coins/Unobtanium.java
  assets/src/main/java/bisq/asset/coins/Zcoin.java
Owners: @blabno

fix format string
  p2p/src/main/java/bisq/network/p2p/P2PService.java
Owners: @ripcurlx

Remove tiny gap in time for missing a message
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshotBase.java
Owners: @ripcurlx

Remove debug statement
  monitor/src/main/java/bisq/monitor/metric/MarketStats.java
Owners: @ripcurlx

Logging cosmetics
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshotBase.java
Owners: @ripcurlx

remove step that is not needed anymore now
  docs/idea-import.md
Owners: @ripcurlx

Fix block without braces
  core/src/main/java/bisq/core/dao/node/lite/LiteNode.java
Owners: @ripcurlx

fix docs
  docs/idea-import.md
Owners: @ripcurlx

mark outdated fields as deprecated
  common/src/main/proto/pb.proto
Owners: @ripcurlx

Correct "County" typo
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Fix for issue 1896: removing references to deprecated DefaultAddressValidator.
  assets/src/main/java/bisq/asset/EtherAddressValidator.java
  assets/src/main/java/bisq/asset/coins/Counterparty.java
  assets/src/main/java/bisq/asset/coins/Decred.java
  assets/src/main/java/bisq/asset/coins/EtherClassic.java
  assets/src/main/java/bisq/asset/coins/Namecoin.java
  assets/src/main/java/bisq/asset/coins/Siafund.java
  assets/src/main/java/bisq/asset/coins/Unobtanium.java
  assets/src/main/java/bisq/asset/coins/Zcoin.java
Owners: @blabno

To get around dependency of project assets on project core, a new class was created to load the properties file.
  assets/src/main/java/bisq/asset/I18n.java
  assets/src/main/java/bisq/asset/coins/Counterparty.java
  assets/src/main/java/bisq/asset/coins/Decred.java
  assets/src/main/java/bisq/asset/coins/EtherClassic.java
  assets/src/main/java/bisq/asset/coins/Namecoin.java
  assets/src/main/java/bisq/asset/coins/Siafund.java
  assets/src/main/java/bisq/asset/coins/Unobtanium.java
  assets/src/main/java/bisq/asset/coins/Zcoin.java
  assets/src/test/java/bisq/asset/coins/CounterpartyTest.java
  assets/src/test/java/bisq/asset/coins/DecredTest.java
  assets/src/test/java/bisq/asset/coins/NamecoinTest.java
  assets/src/test/java/bisq/asset/coins/UnobtaniumTest.java
  assets/src/test/java/bisq/asset/coins/ZcoinTest.java
  core/src/main/resources/i18n/displayStrings.properties
Owners: @blabno, @ripcurlx

displayStrings.properties path fix.
  assets/src/main/java/bisq/asset/I18n.java
Owners: @blabno

Best to factor out i18n from core project to asset project.
  assets/src/main/java/bisq/asset/I18n.java
  assets/src/main/java/bisq/asset/coins/Counterparty.java
  assets/src/main/java/bisq/asset/coins/Decred.java
  assets/src/main/java/bisq/asset/coins/EtherClassic.java
  assets/src/main/java/bisq/asset/coins/Namecoin.java
  assets/src/main/java/bisq/asset/coins/Siafund.java
  assets/src/main/java/bisq/asset/coins/Unobtanium.java
  assets/src/main/java/bisq/asset/coins/Zcoin.java
  core/src/main/resources/i18n/displayStrings.properties
Owners: @blabno, @ripcurlx

Cleaning up; validating only with regular expressions.
  assets/src/main/java/bisq/asset/coins/Counterparty.java
  assets/src/main/java/bisq/asset/coins/Decred.java
  assets/src/main/java/bisq/asset/coins/Namecoin.java
  assets/src/main/java/bisq/asset/coins/Unobtanium.java
  assets/src/main/java/bisq/asset/coins/Zcoin.java
  assets/src/test/java/bisq/asset/coins/CounterpartyTest.java
  assets/src/test/java/bisq/asset/coins/DecredTest.java
  assets/src/test/java/bisq/asset/coins/EtherClassicTest.java
  assets/src/test/java/bisq/asset/coins/NamecoinTest.java
  assets/src/test/java/bisq/asset/coins/SiafundTest.java
  assets/src/test/java/bisq/asset/coins/UnobtaniumTest.java
  assets/src/test/java/bisq/asset/coins/ZcoinTest.java
Owners: @blabno

Splitting i18n resource bundle due to dependency resolution.
  assets/src/main/resources/i18n/displayStrings.properties
Owners: @blabno

Renamed to resolve conflict with core project instance of resource.
  assets/src/main/java/bisq/asset/I18n.java
  assets/src/main/resources/i18n/displayStrings-assets.properties
Owners: @blabno

Avoid validating proposals during initial sync
  core/src/main/java/bisq/core/dao/governance/proposal/ProposalListPresentation.java
  core/src/main/java/bisq/core/dao/governance/proposal/ProposalService.java
Owners: @ripcurlx

Fix block without braces
  core/src/main/java/bisq/core/dao/node/lite/LiteNode.java
Owners: @ripcurlx

Update data stores
  p2p/src/main/resources/BlindVoteStore_BTC_MAINNET
  p2p/src/main/resources/ProposalStore_BTC_MAINNET
  p2p/src/main/resources/TempProposalStore_BTC_MAINNET
Owners: @ripcurlx
