Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

Remove Ergo coin as prep to remove Bouncy Castle
  assets/src/main/java/bisq/asset/coins/Ergo.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/ErgoTest.java
Owners: @blabno

Refactor: Rename classes
  desktop/src/main/java/bisq/desktop/main/overlays/notifications/NotificationCenter.java
  desktop/src/main/java/bisq/desktop/main/support/SupportView.java
  desktop/src/main/java/bisq/desktop/main/support/client/DisputeClientView.java
  desktop/src/main/java/bisq/desktop/main/support/client/arbitration/ArbitrationClientView.fxml
  desktop/src/main/java/bisq/desktop/main/support/client/arbitration/ArbitrationClientView.java
  desktop/src/main/java/bisq/desktop/main/support/client/mediation/MediationClientView.fxml
  desktop/src/main/java/bisq/desktop/main/support/client/mediation/MediationClientView.java
Owners: @ripcurlx, @sqrrm

Refactor: Move classes to new package
  desktop/src/main/java/bisq/desktop/main/overlays/notifications/NotificationCenter.java
  desktop/src/main/java/bisq/desktop/main/support/SupportView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/DisputeView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/DisputeAgentView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/arbitration/ArbitratorView.fxml
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/arbitration/ArbitratorView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/mediation/MediatorView.fxml
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/mediation/MediatorView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/client/DisputeClientView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/client/arbitration/ArbitrationClientView.fxml
  desktop/src/main/java/bisq/desktop/main/support/dispute/client/arbitration/ArbitrationClientView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/client/mediation/MediationClientView.fxml
  desktop/src/main/java/bisq/desktop/main/support/dispute/client/mediation/MediationClientView.java
Owners: @ripcurlx, @sqrrm

Remove bouncycastle:bcprov from *direct* dependencies
  build.gradle
  core/src/test/java/bisq/core/crypto/EncryptionTest.java
Owners: @cbeams, @ripcurlx

Show sign status of paymentaccounts in AccountsView
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  desktop/src/main/java/bisq/desktop/main/account/content/PaymentAccountsView.java
  desktop/src/main/java/bisq/desktop/main/account/content/altcoinaccounts/AltCoinAccountsView.java
  desktop/src/main/java/bisq/desktop/main/account/content/fiataccounts/FiatAccountsView.java
Owners: @ripcurlx, @sqrrm

Auto caluculate offer price from amount and volume
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
Owners: @ripcurlx, @sqrrm

Rename service to accountAgeWitnessService
  core/src/main/java/bisq/core/payment/PaymentAccounts.java
Owners: @ripcurlx

Remove json-simple dependency
  build.gradle
  common/src/main/java/bisq/common/storage/JsonFileManager.java
  gradle/witness/gradle-witness.gradle
Owners: @cbeams, @ripcurlx

Fix missing protobuf data
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/support/dispute/Dispute.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/java/bisq/core/support/dispute/arbitration/messages/PeerPublishedDisputePayoutTxMessage.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationManager.java
  core/src/main/java/bisq/core/support/dispute/messages/DisputeResultMessage.java
  core/src/main/java/bisq/core/support/dispute/messages/OpenNewDisputeMessage.java
  core/src/main/java/bisq/core/support/dispute/messages/PeerOpenedDisputeMessage.java
  core/src/main/java/bisq/core/support/traderchat/TraderChatManager.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ContractWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
Owners: @ripcurlx, @sqrrm

Use abstract base class DisputeResolver for arbitrator
  core/src/main/java/bisq/core/dispute/DisputeResolver.java
  core/src/main/java/bisq/core/dispute/arbitration/Arbitrator.java
  core/src/main/java/bisq/core/dispute/arbitration/ArbitratorManager.java
Owners: @ripcurlx

Do not use protobuf inheritance
  core/src/main/java/bisq/core/dispute/DisputeResolver.java
  core/src/main/java/bisq/core/dispute/arbitration/Arbitrator.java
Owners: @ripcurlx

Let Mediator inherit DisputeResolver.
  core/src/main/java/bisq/core/dispute/mediator/Mediator.java
Owners: @ripcurlx

Refactoring: Rename ArbitratorModule to DisputeModule
  core/src/main/java/bisq/core/CoreModule.java
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
  core/src/main/java/bisq/core/dispute/DisputeModule.java
Owners: @ripcurlx

Use abstract DisputeResolverService as base class for ArbitratorService
  core/src/main/java/bisq/core/dispute/DisputeResolverService.java
  core/src/main/java/bisq/core/dispute/arbitration/ArbitratorManager.java
  core/src/main/java/bisq/core/dispute/mediator/MediatorService.java
Owners: @ripcurlx

Refactoring: Move mediator to mediator package.
  core/src/main/java/bisq/core/dispute/arbitration/ArbitratorManager.java
  core/src/main/java/bisq/core/proto/network/CoreNetworkProtoResolver.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/java/bisq/core/user/User.java
  core/src/main/java/bisq/core/user/UserPayload.java
  core/src/test/java/bisq/core/arbitration/MediatorTest.java
Owners: @ripcurlx

Add mediators to Filter
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/filter/Filter.java
Owners: @ripcurlx

Add mediators to filter window
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/windows/FilterWindow.java
Owners: @ripcurlx, @sqrrm

Refactoring: Move ArbitratorModule to parent package
  core/src/main/java/bisq/core/CoreModule.java
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
  core/src/main/java/bisq/core/dispute/ArbitratorModule.java
Owners: @ripcurlx

Refactor: Rename arbitratorregistration package to arbitrator
  desktop/src/main/java/bisq/desktop/main/account/AccountView.java
  desktop/src/main/java/bisq/desktop/main/account/register/arbitrator/ArbitratorRegistrationView.fxml
  desktop/src/main/java/bisq/desktop/main/account/register/arbitrator/ArbitratorRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/account/register/arbitrator/ArbitratorRegistrationViewModel.java
Owners: @ripcurlx, @sqrrm

Separate pub key list for mediator (no new keys added yet)
  core/src/main/java/bisq/core/dispute/DisputeResolverManager.java
  core/src/main/java/bisq/core/dispute/arbitration/ArbitratorManager.java
  core/src/main/java/bisq/core/dispute/mediator/MediatorManager.java
Owners: @ripcurlx

Fix test
  core/src/test/java/bisq/core/user/UserPayloadModelVOTest.java
Owners: @ripcurlx

Set disputes @Nullable. Add null checks
  core/src/main/java/bisq/core/dispute/arbitration/DisputeManager.java
Owners: @ripcurlx

Use abstract DisputeResolverManager as base class for ArbitratorManager
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/dispute/DisputeModule.java
  core/src/main/java/bisq/core/dispute/DisputeResolverManager.java
  core/src/main/java/bisq/core/dispute/DisputeResolverService.java
  core/src/main/java/bisq/core/dispute/arbitration/ArbitratorService.java
  core/src/main/java/bisq/core/dispute/mediator/MediatorManager.java
  core/src/main/java/bisq/core/dispute/mediator/MediatorService.java
  core/src/main/java/bisq/core/offer/availability/ArbitratorSelection.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/test/java/bisq/core/arbitration/ArbitratorManagerTest.java
  desktop/src/main/java/bisq/desktop/main/account/arbitratorregistration/ArbitratorRegistrationViewModel.java
  desktop/src/main/java/bisq/desktop/main/disputes/DisputesView.java
  desktop/src/main/java/bisq/desktop/main/offer/OfferView.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesViewModel.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
  desktop/src/test/java/bisq/desktop/main/settings/preferences/PreferencesViewModelTest.java
Owners: @ripcurlx, @sqrrm

Add registration view for mediator
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/account/AccountView.java
  desktop/src/main/java/bisq/desktop/main/account/register/DisputeResolverRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/account/register/DisputeResolverRegistrationViewModel.java
  desktop/src/main/java/bisq/desktop/main/account/register/mediator/MediatorRegistrationView.fxml
  desktop/src/main/java/bisq/desktop/main/account/register/mediator/MediatorRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/account/register/mediator/MediatorRegistrationViewModel.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/UnlockDisputeResolverRegistrationWindow.java
Owners: @ripcurlx, @sqrrm

Remove pre v0.9 handling for supported arbitrators from offer
  core/src/main/java/bisq/core/offer/availability/tasks/ProcessOfferAvailabilityResponse.java
Owners: @ripcurlx

Set new pubkeys for mediator registration
  core/src/main/java/bisq/core/dispute/mediator/MediatorManager.java
Owners: @ripcurlx

Refactor: Move arbitratorregistration package inside register pkg
  desktop/src/main/java/bisq/desktop/main/account/AccountView.java
  desktop/src/main/java/bisq/desktop/main/account/register/arbitratorregistration/ArbitratorRegistrationView.fxml
  desktop/src/main/java/bisq/desktop/main/account/register/arbitratorregistration/ArbitratorRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/account/register/arbitratorregistration/ArbitratorRegistrationViewModel.java
Owners: @ripcurlx, @sqrrm

Make ArbitratorSelection generic. Add MEDIATOR_ADDRESS
  core/src/main/java/bisq/core/offer/availability/ArbitratorSelection.java
  core/src/main/java/bisq/core/trade/statistics/TradeStatistics2.java
  core/src/test/java/bisq/core/offer/availability/ArbitratorSelectionTest.java
Owners: @ripcurlx

Set arbitratorNodeAddresses and mediatorNodeAddresses to deprecated
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/offer/Offer.java
  core/src/main/java/bisq/core/offer/OfferPayload.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Remove check for matching arbitrator languages
  desktop/src/main/java/bisq/desktop/main/offer/OfferView.java
Owners: @ripcurlx, @sqrrm

Remove TakerSelectMediator
  core/src/main/java/bisq/core/trade/protocol/BuyerAsTakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/MediatorSelectionRule.java
  core/src/main/java/bisq/core/trade/protocol/SellerAsTakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/tasks/taker/TakerSelectMediator.java
  desktop/src/main/java/bisq/desktop/main/debug/DebugView.java
Owners: @ripcurlx, @sqrrm

Remove checks for arbitrator and mediator in offer
  core/src/main/java/bisq/core/offer/placeoffer/tasks/ValidateOffer.java
Owners: @ripcurlx

Remove supported arbitrators info in offer details window
  desktop/src/main/java/bisq/desktop/main/overlays/windows/OfferDetailsWindow.java
Owners: @ripcurlx, @sqrrm

Remove not used classes
  core/src/main/java/bisq/core/trade/protocol/ArbitratorSelectionRule.java
  core/src/main/java/bisq/core/trade/protocol/tasks/maker/MakerVerifyArbitratorSelection.java
Owners: @ripcurlx

Add check if sig of proto object is not empty
  core/src/main/java/bisq/core/alert/Alert.java
Owners: @ripcurlx

Add mediator to OfferAvailabilityResponse and mediatorNodeAddress to OpenOffer
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/offer/OpenOffer.java
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  core/src/main/java/bisq/core/offer/messages/OfferAvailabilityResponse.java
Owners: @ripcurlx

Refactor: Rename method
  core/src/main/java/bisq/core/dispute/DisputeResolverManager.java
  core/src/main/java/bisq/core/dispute/arbitration/ArbitratorManager.java
  core/src/main/java/bisq/core/dispute/mediator/MediatorManager.java
Owners: @ripcurlx

Make arbitrator not nullable
  core/src/main/java/bisq/core/offer/messages/OfferAvailabilityResponse.java
Owners: @ripcurlx

Fix wrong handling of registeredMediator
  core/src/main/java/bisq/core/user/UserPayload.java
Owners: @ripcurlx

Add todo for using more generic keys for display strings
  desktop/src/main/java/bisq/desktop/main/account/register/DisputeResolverRegistrationView.java
Owners: @ripcurlx, @sqrrm

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
