Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

move to bitcoin 0.18, readme changes
  seednode/README.md
  seednode/docker/prod/Dockerfile-btc
Owners: @ripcurlx

Replace "P2P network" with "Bisq network" in GUI
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update protobuf to fix annoying warnings
  build.gradle
  gradle/witness/gradle-witness.gradle
Owners: @cbeams

Enhance docs/translation-process.md
  docs/translation-process.md
Owners: @ripcurlx

Define more version variables, fix style problems
  build.gradle
Owners: @cbeams

Normalize phone numbers
  build.gradle
  core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings_pt.properties
  desktop/src/main/java/bisq/desktop/util/validation/PhoneNumberValidator.java
  desktop/src/test/java/bisq/desktop/util/validation/PhoneNumberValidatorTest.java
Owners: @cbeams, @ripcurlx, @sqrrm

Auto remove whitespace in the IBAN input field
  desktop/src/main/java/bisq/desktop/components/paymentmethods/SepaForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/SepaInstantForm.java
  desktop/src/main/java/bisq/desktop/util/normalization/IBANNormalizer.java
Owners: @ripcurlx, @sqrrm

Fix automatic 24 hour restart
  core/src/main/java/bisq/core/app/misc/ExecutableForAppWithP2p.java
Owners: @ripcurlx

restore the test that was lost in a rebase of my test branch
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageTest.java
Owners: @ripcurlx

inject CorruptedDataFilesHandler instead of making it static
  common/src/main/java/bisq/common/storage/Storage.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/arbitration/DisputeManager.java
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  core/src/main/java/bisq/core/proto/persistable/CorePersistenceProtoResolver.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/main/java/bisq/core/trade/closed/ClosedTradableManager.java
  core/src/main/java/bisq/core/trade/failed/FailedTradesManager.java
  core/src/test/java/bisq/core/offer/OpenOfferManagerTest.java
  core/src/test/java/bisq/core/trade/TradableListTest.java
  desktop/src/main/java/bisq/desktop/main/account/content/altcoinaccounts/AltCoinAccountsDataModel.java
  desktop/src/main/java/bisq/desktop/main/account/content/fiataccounts/FiatAccountsDataModel.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
  monitor/src/main/java/bisq/monitor/metric/P2PNetworkLoad.java
  p2p/src/main/java/bisq/network/p2p/peers/PeerManager.java
Owners: @ripcurlx, @sqrrm

remove unused test method
  p2p/src/test/java/bisq/network/p2p/TestUtils.java
Owners: @ripcurlx

change some storage creations to injection. ensure its not a singleton
  core/src/main/java/bisq/core/arbitration/DisputeManager.java
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/test/java/bisq/core/offer/OpenOfferManagerTest.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
Owners: @ripcurlx, @sqrrm

inject storage where possible
  core/src/main/java/bisq/core/trade/closed/ClosedTradableManager.java
  core/src/main/java/bisq/core/trade/failed/FailedTradesManager.java
  monitor/src/main/java/bisq/monitor/metric/P2PNetworkLoad.java
  p2p/src/main/java/bisq/network/p2p/peers/PeerManager.java
Owners: @ripcurlx

fix formatting, set method parameter wrapping to "chop if long"
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  common/src/main/java/bisq/common/storage/Storage.java
  core/src/main/java/bisq/core/arbitration/DisputeManager.java
Owners: @ripcurlx

fix formatting
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  core/src/main/java/bisq/core/trade/closed/ClosedTradableManager.java
  core/src/main/java/bisq/core/trade/failed/FailedTradesManager.java
  p2p/src/main/java/bisq/network/p2p/peers/PeerManager.java
Owners: @ripcurlx

make sure that signed witness is immutable.
  core/src/main/java/bisq/core/account/sign/SignedWitness.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessTest.java
Owners: @ripcurlx

adding collectd, removing networking
  seednode/docker-compose.yml
  seednode/docker/prod/Dockerfile
  seednode/docker/prod/Dockerfile-collectd
  seednode/docker/prod/collectd.conf
  seednode/docker/prod/nginx.conf
  seednode/docker/prod/openjdk.conf
  seednode/docker/startSeedNode.sh
Owners: @ripcurlx

Create yang
  yang
Owners: @ripcurlx

Use same seednodes for updatedDataReq
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataManager.java
Owners: @ripcurlx

Optimize initial tradestats processing
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

Fix performance issue with DaoResultView
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/CycleListItem.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/ResultsOfCycle.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
Owners: @ripcurlx, @sqrrm

Only validate param change after parsing is done
  core/src/main/java/bisq/core/dao/governance/proposal/param/ChangeParamValidator.java
Owners: @ripcurlx

Adjust log levels of P2P connection class
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Adjust log level for DAO logging statements
  core/src/main/java/bisq/core/dao/node/lite/LiteNode.java
  core/src/main/java/bisq/core/dao/node/lite/network/LiteNodeNetworkService.java
  core/src/main/java/bisq/core/dao/state/DaoStateSnapshotService.java
Owners: @ripcurlx

Adjust log levels of price feed service
  core/src/main/java/bisq/core/provider/price/PriceFeedService.java
Owners: @ripcurlx

Improve naming
  core/src/test/java/bisq/core/account/sign/SignedWitnessTest.java
Owners: @ripcurlx

Apply kotlin plugin and convert one unused class to kotlin
  build.gradle
  gradle/witness/gradle-witness.gradle
  p2p/src/test/java/bisq/network/p2p/storage/ProtectedDataStorageTest.java
  p2p/src/test/java/bisq/network/p2p/storage/mocks/MockData.java
  p2p/src/test/java/bisq/network/p2p/storage/mocks/MockData.kt
Owners: @cbeams, @ripcurlx

put version variables in alphabetical order.
  build.gradle
Owners: @cbeams

Prevent NullPointerException in ProposalsView
  desktop/src/main/java/bisq/desktop/main/dao/governance/proposals/ProposalsView.java
Owners: @ripcurlx, @sqrrm

Add wiz's 2nd Bitcoin node
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

assert that all the account signing services are singletons
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
Owners: @ripcurlx, @sqrrm

init signedWitnessService at declaration to make it a non null val
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.kt
Owners: @ripcurlx

convert SignedWitnessTest to kotlin, add mockito-kotlin
  .idea/codeStyles/codeStyleConfig.xml
  build.gradle
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.kt
Owners: @ripcurlx, @cbeams

Inject P2PDataStorage instead of whole P2PService.
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/account/witness/AccountAgeWitness.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.kt
Owners: @ripcurlx

bump gradle to 5.6
  gradle/wrapper/gradle-wrapper.properties
Owners: @cbeams

Publish signed witness
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
Owners: @ripcurlx

Arbitrator sign accountAgeWitnesses
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/app/misc/AppSetupWithP2P.java
  core/src/main/java/bisq/core/app/misc/AppSetupWithP2PAndDAO.java
  core/src/main/java/bisq/core/arbitration/BuyerDataItem.java
  core/src/main/java/bisq/core/payment/payload/PaymentMethod.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
Owners: @ripcurlx

fix random test failure.
  core/src/main/java/bisq/core/network/p2p/seed/DefaultSeedNodeRepository.java
Owners: @ripcurlx

Fix bugs in SearchComboBox (improve autocomplete)
  desktop/src/main/java/bisq/desktop/components/SearchComboBox.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/AssetsForm.java
Owners: @ripcurlx, @sqrrm

Fix incorrect DAO full node check when loading PreferencesView
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
Owners: @ripcurlx, @sqrrm

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
