Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

Remove Byteball in order to remove commons-codec.
  assets/src/main/java/bisq/asset/coins/Byteball.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/ByteballTest.java
  build.gradle
Owners: @blabno, @cbeams

Add rpcBlockNotificationHost option
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/dao/DaoModule.java
  core/src/main/java/bisq/core/dao/DaoOptionKeys.java
  core/src/main/java/bisq/core/dao/node/full/RpcService.java
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Fix tests
  core/src/test/java/bisq/core/user/PreferencesTest.java
  desktop/src/test/java/bisq/desktop/maker/PreferenceMakers.java
Owners: @ripcurlx, @sqrrm

Move CSS theme code into its own class, apply CSS theme to all scenes
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
  desktop/src/main/java/bisq/desktop/util/CssTheme.java
Owners: @ripcurlx, @sqrrm

Multiple CSS bugfixes for light/dark themes
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/theme-dark.css
Owners: @ripcurlx, @sqrrm

Fix performance issue in BsqWalletService
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
  core/src/main/java/bisq/core/dao/governance/bond/BondRepository.java
  core/src/main/java/bisq/core/dao/governance/bond/reputation/MyBondedReputationRepository.java
  core/src/main/java/bisq/core/dao/governance/bond/role/BondedRolesRepository.java
  desktop/src/main/java/bisq/desktop/main/dao/wallet/tx/BsqTxView.java
Owners: @ripcurlx, @sqrrm

Improve logging
  common/src/main/java/bisq/common/storage/FileManager.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/arbitration/DisputeList.java
  core/src/main/java/bisq/core/dao/governance/proposal/ProposalValidator.java
  core/src/main/java/bisq/core/dao/monitoring/BlindVoteStateMonitoringService.java
  core/src/main/java/bisq/core/dao/monitoring/ProposalStateMonitoringService.java
  core/src/main/java/bisq/core/dao/node/lite/LiteNode.java
  core/src/main/java/bisq/core/dao/node/lite/network/LiteNodeNetworkService.java
  core/src/main/java/bisq/core/dao/node/parser/BlockParser.java
  core/src/main/java/bisq/core/dao/node/parser/TxParser.java
  core/src/main/java/bisq/core/offer/Offer.java
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  core/src/main/java/bisq/core/provider/price/PriceRequest.java
  core/src/main/java/bisq/core/trade/TradableList.java
  core/src/main/java/bisq/core/trade/statistics/AssetTradeActivityCheck.java
  core/src/main/java/bisq/core/trade/statistics/TradeStatisticsManager.java
  p2p/src/main/java/bisq/network/p2p/P2PService.java
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
  p2p/src/main/java/bisq/network/p2p/peers/PeerManager.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

Reset daoFullNode in preferences if rpc data are not set
  core/src/main/java/bisq/core/dao/node/BsqNodeProvider.java
Owners: @ripcurlx

Improve RequestDataHandler
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
Owners: @ripcurlx

Add duration log for DaoStateMonitoringService
  core/src/main/java/bisq/core/dao/monitoring/DaoStateMonitoringService.java
Owners: @ripcurlx

Update core/src/main/java/bisq/core/dao/monitoring/DaoStateMonitoringService.java
  core/src/main/java/bisq/core/dao/monitoring/DaoStateMonitoringService.java
Owners: @ripcurlx

Use preferred trade currency as the only displayed fiat currency
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Remove all altcoins from default displayed altcoins
  core/src/main/java/bisq/core/locale/CurrencyUtil.java
Owners: @ripcurlx

Update top traded fiat currencies
  core/src/main/java/bisq/core/locale/CurrencyUtil.java
Owners: @ripcurlx

Update data stores
  desktop/package/macosx/copy_dbs.sh
  p2p/src/main/resources/AccountAgeWitnessStore_BTC_MAINNET
Owners: @ripcurlx, @sqrrm

Update translations
  core/src/main/resources/i18n/displayStrings_fr.properties
  core/src/main/resources/i18n/displayStrings_ja.properties
Owners: @ripcurlx

Remove cbeams pricenode from ProvidersRepository
  core/src/main/java/bisq/core/provider/ProvidersRepository.java
Owners: @ripcurlx

fix NPE in shutdown hook
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
Owners: @ripcurlx

Change DisputeCommunicationMessage.Type enum
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/arbitration/DisputeChatSession.java
  core/src/main/java/bisq/core/arbitration/messages/DisputeCommunicationMessage.java
Owners: @ripcurlx

Use ARBITRATION instead of MEDIATION
  core/src/main/java/bisq/core/arbitration/DisputeChatSession.java
Owners: @ripcurlx

Update bitcoinj checkpoint
  core/src/main/resources/wallet/checkpoints.txt
  docs/bitcoinj-checkpoint.md
  docs/release-process.md
Owners: @ripcurlx

Use latest btcd-cli4j
  build.gradle
  gradle/witness/gradle-witness.gradle
Owners: @cbeams

Log Exceptions to logfile instead of STDERR
  common/src/main/java/bisq/common/FrameRateTimer.java
  common/src/main/java/bisq/common/UserThread.java
  common/src/main/java/bisq/common/crypto/Encryption.java
  common/src/main/java/bisq/common/crypto/Hash.java
  common/src/main/java/bisq/common/crypto/KeyStorage.java
  common/src/main/java/bisq/common/crypto/Sig.java
Owners: @ripcurlx

Fix CSS styling bug caused by using Text() instead of Label()
  desktop/src/main/java/bisq/desktop/components/ColoredDecimalPlacesWithZerosText.java
Owners: @ripcurlx, @sqrrm

gender-neutral language change in P2PService.java
  p2p/src/main/java/bisq/network/p2p/P2PService.java
Owners: @ripcurlx

Update displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update TacWindow.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/TacWindow.java
Owners: @ripcurlx, @sqrrm

Update GetDataRequestHandler.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/GetDataRequestHandler.java
Owners: @ripcurlx

add missing corrections
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update ApplyFilter.java
  core/src/main/java/bisq/core/trade/protocol/tasks/ApplyFilter.java
Owners: @ripcurlx

Update TakeOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Don't paint vertical grid lines on charts
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/theme-dark.css
Owners: @ripcurlx, @sqrrm

Use abstract base class DisputeResolver for arbitrator
  core/src/main/java/bisq/core/dispute/DisputeResolver.java
  core/src/main/java/bisq/core/dispute/arbitration/Arbitrator.java
  core/src/main/java/bisq/core/dispute/arbitration/ArbitratorManager.java
Owners: @ripcurlx

Let Mediator inherit DisputeResolver.
  core/src/main/java/bisq/core/dispute/mediator/Mediator.java
Owners: @ripcurlx

Add mediators to Filter
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/filter/Filter.java
Owners: @ripcurlx

Refactoring: Rename ArbitratorModule to DisputeModule
  core/src/main/java/bisq/core/CoreModule.java
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
  core/src/main/java/bisq/core/dispute/DisputeModule.java
Owners: @ripcurlx

Refactoring: Move mediator to mediator package.
  core/src/main/java/bisq/core/dispute/arbitration/ArbitratorManager.java
  core/src/main/java/bisq/core/proto/network/CoreNetworkProtoResolver.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/java/bisq/core/user/User.java
  core/src/main/java/bisq/core/user/UserPayload.java
  core/src/test/java/bisq/core/arbitration/MediatorTest.java
Owners: @ripcurlx

Do not use protobuf inheritance
  core/src/main/java/bisq/core/dispute/DisputeResolver.java
  core/src/main/java/bisq/core/dispute/arbitration/Arbitrator.java
Owners: @ripcurlx

Refactoring: Move ArbitratorModule to parent package
  core/src/main/java/bisq/core/CoreModule.java
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
  core/src/main/java/bisq/core/dispute/ArbitratorModule.java
Owners: @ripcurlx
