Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

Fix resource name (#3514)
  p2p/src/main/resources/SignedWitnessStore_BTC_MAINNET
Owners: @ripcurlx

Update to reflect isContentAvailable supports iPhone 6s and newer
  core/src/main/java/bisq/core/notifications/MobileModel.java
  core/src/test/java/bisq/core/notifications/MobileModelTest.java
Owners: @ripcurlx

Remove minor version number in news popup
  desktop/src/main/java/bisq/desktop/main/overlays/windows/NewTradeProtocolLaunchWindow.java
Owners: @ripcurlx, @sqrrm

Fix copy SignedWitnessStore db script
  desktop/package/macosx/copy_dbs.sh
Owners: @ripcurlx, @sqrrm

Not show payment account details for blocked offers
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
Owners: @ripcurlx, @sqrrm

Use age of accountAgeWitness as basis for sell limits
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
Owners: @ripcurlx

Bump version number
  build.gradle
  common/src/main/java/bisq/common/app/Version.java
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/Info.plist
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/replace_version_number.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
Owners: @cbeams, @ripcurlx, @sqrrm

Revert to SNAPSHOT version
  build.gradle
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/insert_snapshot_version.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
Owners: @cbeams, @ripcurlx, @sqrrm

Fix wrong auto merge
  core/src/main/java/bisq/core/trade/protocol/tasks/PublishTradeStatistics.java
Owners: @ripcurlx

Merge v1.2.0/v1.2.1 with master (#3521)
  .github/ISSUE_TEMPLATE.md
  assets/src/main/java/bisq/asset/coins/Krypton.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/KryptonTest.java
Owners: @ripcurlx, @blabno

Add CapabilityRequiringPayload to TradeStatistics2
  core/src/main/java/bisq/core/trade/statistics/TradeStatistics2.java
Owners: @ripcurlx

Update tor, netlayer, jtorctl
  build.gradle
  gradle/witness/gradle-witness.gradle
Owners: @cbeams

Recreate hash from protobuf data
  core/src/main/java/bisq/core/trade/statistics/TradeStatistics2.java
Owners: @ripcurlx

Add filter.toString method and log filter in case of wrong signature
  core/src/main/java/bisq/core/filter/Filter.java
  core/src/main/java/bisq/core/filter/FilterManager.java
Owners: @ripcurlx

Change log level, add log
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Refactor: Move code to dump method
  core/src/main/java/bisq/core/trade/statistics/TradeStatisticsManager.java
Owners: @ripcurlx

Add TRADE_STATISTICS_HASH_UPDATE capability
  common/src/main/java/bisq/common/app/Capability.java
  core/src/main/java/bisq/core/trade/statistics/TradeStatistics2.java
Owners: @ripcurlx

Add logs for size of data exchange messages
  p2p/src/main/java/bisq/network/p2p/peers/getdata/messages/GetDataResponse.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/messages/GetUpdatedDataRequest.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/messages/PreliminaryGetDataRequest.java
Owners: @ripcurlx

Add more data in log
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Improve logs
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/messages/GetDataResponse.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/messages/GetUpdatedDataRequest.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/messages/PreliminaryGetDataRequest.java
Owners: @ripcurlx

Fix wrong msg in log, cahnge log level
  p2p/src/main/java/bisq/network/p2p/peers/PeerManager.java
Owners: @ripcurlx

Add check for depositTxId not empty
  core/src/main/java/bisq/core/trade/statistics/TradeStatistics2.java
Owners: @ripcurlx

Remove check for duplicates
  core/src/main/java/bisq/core/trade/statistics/TradeStatistics2StorageService.java
  core/src/main/java/bisq/core/trade/statistics/TradeStatisticsManager.java
Owners: @ripcurlx

Add logs
  p2p/src/main/java/bisq/network/p2p/peers/getdata/GetDataRequestHandler.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
Owners: @ripcurlx

Fix tradestat hash issue (#3529)
  common/src/main/java/bisq/common/app/Capability.java
  core/src/main/java/bisq/core/filter/Filter.java
  core/src/main/java/bisq/core/filter/FilterManager.java
  core/src/main/java/bisq/core/trade/statistics/TradeStatistics2.java
  core/src/main/java/bisq/core/trade/statistics/TradeStatistics2StorageService.java
  core/src/main/java/bisq/core/trade/statistics/TradeStatisticsManager.java
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
  p2p/src/main/java/bisq/network/p2p/peers/PeerManager.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/GetDataRequestHandler.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/messages/GetDataResponse.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/messages/GetUpdatedDataRequest.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/messages/PreliminaryGetDataRequest.java
Owners: @ripcurlx

Temporarily remove this part of the statistics
  core/src/main/java/bisq/core/trade/protocol/tasks/PublishTradeStatistics.java
Owners: @ripcurlx

Remove duplicate word in user agreement
  desktop/src/main/java/bisq/desktop/main/overlays/windows/TacWindow.java
Owners: @ripcurlx, @sqrrm

Tweak issue template to send users to keybase for support requests
  .github/ISSUE_TEMPLATE.md
Owners: @ripcurlx

Tweak issue template to send users to keybase for support requests (#3535)
  .github/ISSUE_TEMPLATE.md
Owners: @ripcurlx

Fix BTC valuation popups
  desktop/src/main/java/bisq/desktop/main/MainView.java
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/presentation/MarketPricePresentation.java
Owners: @ripcurlx, @sqrrm

Bump version number
  build.gradle
  common/src/main/java/bisq/common/app/Version.java
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/Info.plist
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/replace_version_number.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
Owners: @cbeams, @ripcurlx, @sqrrm

Update translations
  core/src/main/resources/i18n/displayStrings_de.properties
  core/src/main/resources/i18n/displayStrings_el.properties
  core/src/main/resources/i18n/displayStrings_es.properties
  core/src/main/resources/i18n/displayStrings_fa.properties
  core/src/main/resources/i18n/displayStrings_fr.properties
  core/src/main/resources/i18n/displayStrings_ja.properties
  core/src/main/resources/i18n/displayStrings_pt.properties
  core/src/main/resources/i18n/displayStrings_pt_BR.properties
  core/src/main/resources/i18n/displayStrings_ru.properties
  core/src/main/resources/i18n/displayStrings_th.properties
  core/src/main/resources/i18n/displayStrings_vi.properties
  core/src/main/resources/i18n/displayStrings_zh.properties
Owners: @ripcurlx

Revert to SNAPSHOT version
  build.gradle
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/insert_snapshot_version.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
Owners: @cbeams, @ripcurlx, @sqrrm

Add listener for RejectMessages
  core/src/main/java/bisq/core/btc/setup/WalletsSetup.java
Owners: @ripcurlx

Handle RejectedTxException
  core/src/main/java/bisq/core/app/WalletAppSetup.java
Owners: @ripcurlx

Add RejectedTxException
  core/src/main/java/bisq/core/btc/exceptions/RejectedTxException.java
Owners: @ripcurlx

Add checkForInvalidMakerFeeTxs method
  core/src/main/java/bisq/core/app/BisqSetup.java
Owners: @ripcurlx

Show all parse blocks logs (not only those which takes longer)
  core/src/main/java/bisq/core/dao/node/parser/BlockParser.java
Owners: @ripcurlx

Add null check, add display strings, other small changes...
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
  core/src/main/java/bisq/core/btc/wallet/BtcWalletService.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
Owners: @ripcurlx, @sqrrm

Check for trades with no deposit tx. Improve cleanUpAddressEntries method
  core/src/main/java/bisq/core/trade/TradeManager.java
Owners: @ripcurlx

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
