Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

more singletoning
  common/src/main/java/bisq/common/crypto/KeyRing.java
  common/src/main/java/bisq/common/crypto/KeyStorage.java
  core/src/main/java/bisq/core/CoreModule.java
  core/src/main/java/bisq/core/user/User.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
Owners: @ripcurlx, @sqrrm

convert some of the core config
  core/src/main/java/bisq/core/CoreModule.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/app/P2PNetworkSetup.java
  core/src/main/java/bisq/core/app/TorSetup.java
  core/src/main/java/bisq/core/app/WalletAppSetup.java
  core/src/main/java/bisq/core/payment/TradeLimits.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
Owners: @ripcurlx, @sqrrm

even more singletoning
  common/src/main/java/bisq/common/ClockWatcher.java
  common/src/main/java/bisq/common/storage/CorruptedDatabaseFilesHandler.java
  core/src/main/java/bisq/core/CoreModule.java
  core/src/main/java/bisq/core/app/AvoidStandbyModeService.java
  core/src/main/java/bisq/core/network/p2p/seed/DefaultSeedNodeRepository.java
  core/src/main/java/bisq/core/user/Preferences.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
Owners: @ripcurlx, @sqrrm

fix missing annotation
  core/src/main/java/bisq/core/notifications/MobileMessageEncryption.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
Owners: @ripcurlx, @sqrrm

singletonify the rest of the core module
  core/src/main/java/bisq/core/CoreModule.java
  core/src/main/java/bisq/core/notifications/MobileModel.java
  core/src/main/java/bisq/core/notifications/MobileNotificationService.java
  core/src/main/java/bisq/core/notifications/MobileNotificationValidator.java
  core/src/main/java/bisq/core/notifications/alerts/DisputeMsgEvents.java
  core/src/main/java/bisq/core/notifications/alerts/MyOfferTakenEvents.java
  core/src/main/java/bisq/core/notifications/alerts/TradeEvents.java
  core/src/main/java/bisq/core/notifications/alerts/market/MarketAlerts.java
  core/src/main/java/bisq/core/notifications/alerts/price/PriceAlert.java
  core/src/main/java/bisq/core/proto/network/CoreNetworkProtoResolver.java
  core/src/main/java/bisq/core/proto/persistable/CorePersistenceProtoResolver.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
Owners: @ripcurlx, @sqrrm

start testing p2p data storage
  build.gradle
  p2p/src/test/java/bisq/network/p2p/storage/ObsoleteP2PDataStorageTest.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageTest.java
Owners: @cbeams, @ripcurlx

start testing MyProposalListService.
  common/src/main/java/bisq/common/crypto/PubKeyRing.java
  core/src/main/java/bisq/core/dao/governance/period/PeriodService.java
  core/src/main/java/bisq/core/dao/governance/proposal/MyProposalListService.java
  core/src/test/java/bisq/core/dao/governance/proposal/MyProposalListServiceTest.java
Owners: @ripcurlx

provide PubKeyRing and use it where appropriate instead of keyring
  common/src/main/java/bisq/common/crypto/PubKeyRingProvider.java
  core/src/main/java/bisq/core/CoreModule.java
  core/src/main/java/bisq/core/dao/governance/proposal/MyProposalListService.java
  core/src/test/java/bisq/core/dao/governance/proposal/MyProposalListServiceTest.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
Owners: @ripcurlx, @sqrrm

put the jdk10 instructions in the readme for easier discovery.
  README.md
Owners: @ripcurlx

fix link to docs readme
  README.md
Owners: @ripcurlx

WIP remove powermock
  build.gradle
  core/src/main/java/bisq/core/dao/governance/period/PeriodService.java
  core/src/main/java/bisq/core/offer/OfferPayload.java
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/test/java/bisq/core/arbitration/ArbitratorManagerTest.java
  core/src/test/java/bisq/core/btc/nodes/BtcNodesSetupPreferencesTest.java
  core/src/test/java/bisq/core/dao/governance/ballot/BallotListServiceTest.java
  core/src/test/java/bisq/core/dao/state/DaoStateSnapshotServiceTest.java
  core/src/test/java/bisq/core/offer/OfferTest.java
  core/src/test/java/bisq/core/offer/OpenOfferManagerTest.java
  core/src/test/java/bisq/core/payment/PaymentAccountsTest.java
  core/src/test/java/bisq/core/payment/ReceiptPredicatesTest.java
  core/src/test/java/bisq/core/payment/ReceiptValidatorTest.java
  core/src/test/java/bisq/core/payment/TradeLimitsTest.java
  core/src/test/java/bisq/core/trade/TradableListTest.java
  core/src/test/java/bisq/core/user/PreferencesTest.java
  core/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Owners: @cbeams, @ripcurlx

remove powermock from core.
  build.gradle
  core/src/test/java/bisq/core/btc/TxFeeEstimationServiceTest.java
  core/src/test/java/bisq/core/dao/state/DaoStateSnapshotServiceTest.java
Owners: @cbeams, @ripcurlx

remove more powermock and jmockit tests.
  build.gradle
  desktop/src/main/java/bisq/desktop/main/offer/MakerFeeMaker.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/createoffer/CreateOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModel.java
  desktop/src/test/java/bisq/desktop/main/funds/transactions/TransactionAwareTradeTest.java
  desktop/src/test/java/bisq/desktop/main/market/offerbook/OfferBookChartViewModelTest.java
  desktop/src/test/java/bisq/desktop/main/market/spread/SpreadViewModelTest.java
  desktop/src/test/java/bisq/desktop/main/market/trades/TradesChartsViewModelTest.java
  desktop/src/test/java/bisq/desktop/main/offer/createoffer/CreateOfferDataModelTest.java
  desktop/src/test/java/bisq/desktop/main/offer/createoffer/CreateOfferViewModelTest.java
  desktop/src/test/java/bisq/desktop/main/offer/offerbook/OfferBookViewModelTest.java
  desktop/src/test/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModelTest.java
  desktop/src/test/java/bisq/desktop/main/settings/preferences/PreferencesViewModelTest.java
  desktop/src/test/java/bisq/desktop/util/BSFormatterTest.java
  desktop/src/test/java/bisq/desktop/util/CurrencyListTest.java
  desktop/src/test/java/bisq/desktop/util/GUIUtilTest.java
  desktop/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Owners: @cbeams, @ripcurlx, @sqrrm

remove powermock from gradle file
  build.gradle
Owners: @cbeams

remove jmockit
  build.gradle
  core/src/test/java/bisq/core/dao/node/full/BlockParserTest.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageTest.java
Owners: @cbeams, @ripcurlx

make final classes final again
  core/src/main/java/bisq/core/dao/governance/period/PeriodService.java
  core/src/main/java/bisq/core/offer/OfferPayload.java
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

simplify
  core/src/test/java/bisq/core/trade/TradableListTest.java
Owners: @ripcurlx

don't force jdk 10 on developers
  build.gradle
Owners: @cbeams

Update README.md
  README.md
Owners: @ripcurlx

Render proper column headers and values for CSV exports; fix #3075
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.java
Owners: @ripcurlx, @sqrrm

typo in usuario
  core/src/main/resources/i18n/displayStrings_es.properties
Owners: @ripcurlx

document what this is for
  core/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  desktop/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Owners: @ripcurlx, @sqrrm

avoid acronyms
  desktop/src/test/java/bisq/desktop/main/market/trades/TradesChartsViewModelTest.java
Owners: @ripcurlx, @sqrrm

Remove legacy hack from build.gradle installDist task
  build.gradle
Owners: @cbeams

Shutdown seed nodes every 24h
  core/src/main/java/bisq/core/app/misc/ExecutableForAppWithP2p.java
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
Owners: @ripcurlx

Add wiz bitcoin node to BtcNodes list
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

Render proper column headers and values for CSV exports; fix #3075
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.java
Owners: @ripcurlx, @sqrrm

rename MakerFeeMaker => MakerFeeProvider
  desktop/src/main/java/bisq/desktop/main/offer/MakerFeeProvider.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/createoffer/CreateOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModel.java
  desktop/src/test/java/bisq/desktop/main/offer/createoffer/CreateOfferDataModelTest.java
  desktop/src/test/java/bisq/desktop/main/offer/createoffer/CreateOfferViewModelTest.java
  desktop/src/test/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModelTest.java
Owners: @ripcurlx, @sqrrm

comment out obsolete test
  p2p/src/test/java/bisq/network/p2p/storage/ObsoleteP2PDataStorageTest.java
Owners: @ripcurlx

fix seednode guice config
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
Owners: @ripcurlx

provide PubKeyRing and use it where appropriate instead of keyring
  common/src/main/java/bisq/common/crypto/PubKeyRingProvider.java
  core/src/main/java/bisq/core/CoreModule.java
  core/src/main/java/bisq/core/dao/governance/proposal/MyProposalListService.java
  core/src/test/java/bisq/core/dao/governance/proposal/MyProposalListServiceTest.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
Owners: @ripcurlx, @sqrrm

start testing MyProposalListService.
  common/src/main/java/bisq/common/crypto/PubKeyRing.java
  core/src/main/java/bisq/core/dao/governance/period/PeriodService.java
  core/src/main/java/bisq/core/dao/governance/proposal/MyProposalListService.java
  core/src/test/java/bisq/core/dao/governance/proposal/MyProposalListServiceTest.java
Owners: @ripcurlx

start testing p2p data storage
  build.gradle
  p2p/src/test/java/bisq/network/p2p/storage/ObsoleteP2PDataStorageTest.java
Owners: @cbeams, @ripcurlx

make keyring and pubkeyring final again
  common/src/main/java/bisq/common/crypto/KeyRing.java
  common/src/main/java/bisq/common/crypto/PubKeyRing.java
Owners: @ripcurlx

jdk10 is no longer needed to build and run the test suite
  README.md
  docs/build.md
Owners: @ripcurlx

Add minheight to prevent truncation
  desktop/src/main/java/bisq/desktop/main/account/content/altcoinaccounts/AltCoinAccountsView.java
  desktop/src/main/java/bisq/desktop/main/account/content/fiataccounts/FiatAccountsView.java
Owners: @ripcurlx, @sqrrm

Fix merge conficts
  build.gradle
Owners: @cbeams

Remove deprecated DefaultAddressValidator
  assets/src/main/java/bisq/asset/DefaultAddressValidator.java
  assets/src/test/java/bisq/asset/AbstractAssetWithDefaultValidatorTest.java
  assets/src/test/java/bisq/asset/coins/NoirTest.java
Owners: @blabno

Takeover jhgcy2won7xnslrb.onion from @devinbileck
  core/src/main/resources/btc_mainnet.seednodes
  core/src/test/resources/mainnet.seednodes
Owners: @ripcurlx

completing readme for docker installation
  seednode/README.md
Owners: @ripcurlx
