Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

Add comments on BSQ trade fee calculation
  core/src/main/java/bisq/core/dao/governance/param/Param.java
  core/src/main/java/bisq/core/util/CoinUtil.java
Owners: @ripcurlx

Init BsqBlocks metric
  monitor/src/main/java/bisq/monitor/Monitor.java
  monitor/src/main/java/bisq/monitor/metric/P2PMarketStats.java
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeBSQBlocksSnapshot.java
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshot.java
Owners: @ripcurlx

Fix NullPointerEx in Monitor
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Gather Dao data
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshot.java
Owners: @ripcurlx

Increase max message size until a greater refactoring
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

SeedNodeSnapshot knows the Dao
  monitor/README.md
  monitor/src/main/java/bisq/monitor/Monitor.java
  monitor/src/main/java/bisq/monitor/metric/P2PMarketStats.java
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeBSQBlocksSnapshot.java
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshot.java
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeWithDaoSnapshot.java
  monitor/src/main/resources/metrics.properties
Owners: @ripcurlx

Removed static bsq block height
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeWithDaoSnapshot.java
Owners: @ripcurlx

Change message box aid
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Renamed classes
  monitor/README.md
  monitor/src/main/java/bisq/monitor/Monitor.java
  monitor/src/main/java/bisq/monitor/metric/P2PMarketStats.java
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshot.java
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshotBase.java
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeWithDaoSnapshot.java
  monitor/src/main/resources/metrics.properties
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Add basic chat UI
  desktop/src/main/java/bisq/desktop/main/Chat/Chat.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/TradeSubView.java
Owners: @ripcurlx, @sqrrm

add depends_on so notifications don't error out at startup
  seednode/docker-compose.yml
Owners: @ripcurlx

List Myce (YCE)
  assets/src/main/java/bisq/asset/coins/Myce.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/MyceTest.java
Owners: @blabno

Add PENG
  assets/src/main/java/bisq/asset/coins/PENG.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/PENGTest.java
Owners: @blabno

Update PENGTest.java
  assets/src/test/java/bisq/asset/coins/PENGTest.java
Owners: @blabno

Handle payout delay in trade process (WIP)
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/account/age/AccountCreationAgeService.java
  core/src/main/java/bisq/core/account/score/AccountScoreService.java
  core/src/main/java/bisq/core/proto/persistable/CorePersistenceProtoResolver.java
  core/src/main/java/bisq/core/trade/BuyerAsMakerTrade.java
  core/src/main/java/bisq/core/trade/BuyerAsTakerTrade.java
  core/src/main/java/bisq/core/trade/BuyerTrade.java
  core/src/main/java/bisq/core/trade/SellerAsMakerTrade.java
  core/src/main/java/bisq/core/trade/SellerAsTakerTrade.java
  core/src/main/java/bisq/core/trade/SellerTrade.java
  core/src/main/java/bisq/core/trade/TradableList.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/main/java/bisq/core/util/BSFormatter.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/components/PeerInfoIcon.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/PaymentMethodForm.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep3View.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep3View.java
Owners: @ripcurlx, @sqrrm

Wait for bitcoin rpc port to be available before connecting
  seednode/docker/prod/Dockerfile
  seednode/docker/wait-for-it.sh
Owners: @ripcurlx

correct path
  seednode/docker/prod/Dockerfile
Owners: @ripcurlx

make executable
  seednode/docker/wait-for-it.sh
Owners: @ripcurlx

increase timeout (just in case)
  seednode/docker/prod/Dockerfile
Owners: @ripcurlx

switch dependency
  seednode/docker-compose.yml
Owners: @ripcurlx

Add checkbox to hide extreme offers in chart
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/market/offerbook/OfferBookChartView.java
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
Owners: @ripcurlx, @sqrrm

Use proper vertical alignment for checkbox
  desktop/src/main/java/bisq/desktop/main/market/offerbook/OfferBookChartView.java
Owners: @ripcurlx, @sqrrm

Show failed ballots as failed, fix #2704
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/ProposalListItem.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
Owners: @ripcurlx, @sqrrm

Indicate when vote wasn't included in result in proposalDisplay
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/dao/governance/ProposalDisplay.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ProposalResultsWindow.java
Owners: @ripcurlx, @sqrrm

Limit BSQ validator to 10M BSQ, fix #2727
  desktop/src/main/java/bisq/desktop/util/validation/BsqValidator.java
Owners: @ripcurlx, @sqrrm

Display changed param value at proposal time, fix #2692
  core/src/main/java/bisq/core/dao/DaoFacade.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/dao/governance/ProposalDisplay.java
Owners: @ripcurlx, @sqrrm

Remove MessageListener before adding it
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshotBase.java
Owners: @ripcurlx

Use genesis height as fallback
  desktop/src/main/java/bisq/desktop/main/dao/governance/ProposalDisplay.java
Owners: @ripcurlx, @sqrrm

Delete gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.jar
Owners: @cbeams

Fix check for vote inclusion
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/ProposalListItem.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
Owners: @ripcurlx, @sqrrm

Minimal HTTP API
  .dockerignore
  .idea/codeStyles/Project.xml
  .travis.yml
  api/.dockerignore
  api/README.md
  api/docker-compose-base.yml
  api/docker-compose.yml
  api/docker/dev/Dockerfile
  api/docker/startApi.sh
  api/src/main/java/bisq/api/http/HttpApiModule.java
  api/src/main/java/bisq/api/http/app/HttpApiHeadlessApp.java
  api/src/main/java/bisq/api/http/app/HttpApiHeadlessModule.java
  api/src/main/java/bisq/api/http/app/HttpApiMain.java
  api/src/main/java/bisq/api/http/model/VersionDetails.java
  api/src/main/java/bisq/api/http/service/HttpApiInterfaceV1.java
  api/src/main/java/bisq/api/http/service/HttpApiServer.java
  api/src/main/java/bisq/api/http/service/endpoint/VersionEndpoint.java
  api/src/main/resources/META-INF/custom-swagger-ui/index.html
  api/src/main/resources/openapi-configuration.json
  api/src/testIntegration/java/bisq/api/http/ApiTestHelper.java
  api/src/testIntegration/java/bisq/api/http/ContainerFactory.java
  api/src/testIntegration/java/bisq/api/http/RegexMatcher.java
  api/src/testIntegration/java/bisq/api/http/SwaggerIT.java
  api/src/testIntegration/java/bisq/api/http/VersionEndpointIT.java
  api/src/testIntegration/java/bisq/api/http/arquillian/CubeLogger.java
  api/src/testIntegration/java/bisq/api/http/arquillian/CubeLoggerExtension.java
  api/src/testIntegration/resources/META-INF/services/org.jboss.arquillian.core.spi.LoadableExtension
  api/src/testIntegration/resources/arquillian.xml
  api/src/testIntegration/resources/logback-test.xml
  build.gradle
  core/src/main/java/bisq/core/app/AppOptionKeys.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  desktop/src/main/java/bisq/desktop/app/BisqAppMain.java
  gradle/witness/gradle-witness.gradle
  settings.gradle
Owners: @ripcurlx, @cbeams, @sqrrm

Decrease logs verbosity for integration tests
  api/README.md
  api/src/testIntegration/java/bisq/api/http/ContainerFactory.java
  api/src/testIntegration/resources/logback-test.xml
Owners: @ripcurlx

Add onInitP2pNetwork and onInitWallet to BisqSetupListener
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/BisqHeadlessApp.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/app/HeadlessApp.java
  desktop/src/main/java/bisq/desktop/app/BisqAppMain.java
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
Owners: @ripcurlx, @sqrrm

Start server at onInitWallet and add wallet password handler
  api/src/main/java/bisq/api/http/app/HttpApiHeadlessApp.java
  api/src/main/java/bisq/api/http/app/HttpApiMain.java
  core/src/main/java/bisq/core/app/BisqHeadlessApp.java
  core/src/main/java/bisq/core/app/BisqSetup.java
Owners: @ripcurlx

Add periodic log to remind user to enter pw
  api/src/main/java/bisq/api/http/app/HttpApiHeadlessApp.java
Owners: @ripcurlx

Security framework for the API
  api/README.md
  api/src/main/java/bisq/api/http/HttpApiModule.java
  api/src/main/java/bisq/api/http/exceptions/ExceptionMappers.java
  api/src/main/java/bisq/api/http/exceptions/UnauthorizedException.java
  api/src/main/java/bisq/api/http/model/AuthForm.java
  api/src/main/java/bisq/api/http/model/AuthResult.java
  api/src/main/java/bisq/api/http/model/ChangePassword.java
  api/src/main/java/bisq/api/http/service/HttpApiInterfaceV1.java
  api/src/main/java/bisq/api/http/service/HttpApiServer.java
  api/src/main/java/bisq/api/http/service/auth/ApiPasswordManager.java
  api/src/main/java/bisq/api/http/service/auth/AuthFilter.java
  api/src/main/java/bisq/api/http/service/auth/TokenRegistry.java
  api/src/main/java/bisq/api/http/service/endpoint/UserEndpoint.java
  api/src/test/java/bisq/api/http/service/auth/ApiPasswordManagerTest.java
  api/src/test/java/bisq/api/http/service/auth/AuthFilterTest.java
  api/src/test/java/bisq/api/http/service/auth/TokenRegistryTest.java
  api/src/testIntegration/java/bisq/api/http/UserEndpointIT.java
  build.gradle
Owners: @ripcurlx, @cbeams

API over TOR
  api/src/main/java/bisq/api/http/service/HttpApiServer.java
Owners: @ripcurlx

Check not null tx
  core/src/main/java/bisq/core/dao/state/unconfirmed/UnconfirmedBsqChangeOutputListService.java
Owners: @ripcurlx

Increase tolerated trade limit from 0.01 BTC to 0.02 BTC based on accepted proposal https://github.com/bisq-network/proposals/issues/95
  core/src/main/java/bisq/core/offer/OfferRestrictions.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferViewModel.java
Owners: @ripcurlx, @sqrrm

Update idea-import.md
  docs/idea-import.md
Owners: @ripcurlx

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
