Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

Remove bitcoin4-fullnode.csg.uzh.ch / 192.41.136.217 btcnode
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

Update IP address for @mrosseel's 2 hard-coded BTC nodes
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

Revert to SNAPSHOT version
  build.gradle
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/insert_snapshot_version.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
Owners: @cbeams, @ripcurlx, @sqrrm

GetBlocksReq is no CapRequiringPayload anymore
  core/src/main/java/bisq/core/dao/node/messages/GetBlocksRequest.java
Owners: @ripcurlx

Add text for seller as signer
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep3View.java
Owners: @ripcurlx, @sqrrm

Adapted rpcallowip to bitcoin core 0.18.1, removed wait-for-it.sh
  seednode/docker-compose.yml
  seednode/docker/startSeedNode.sh
  seednode/docker/wait-for-it.sh
Owners: @ripcurlx

Sort hashes by hitcount
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshot.java
Owners: @ripcurlx

Added rough bisq version metric
  monitor/src/main/java/bisq/monitor/metric/P2PMarketStats.java
Owners: @ripcurlx

This is to initiate the update necessary for the fulfillment of proposal #110:
  .gitignore
  build.gradle
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/payment/PaymentAccountFactory.java
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/main/java/bisq/core/user/PreferencesPayload.java
  core/src/main/java/bisq/core/xmr/XmrFormatter.java
  core/src/main/java/bisq/core/xmr/trade/XmrTradeAutomationInterceptor.java
  core/src/main/java/bisq/core/xmr/wallet/TxProofHandler.java
  core/src/main/java/bisq/core/xmr/wallet/XmrTxListItem.java
  core/src/main/java/bisq/core/xmr/wallet/XmrWalletRpcWrapper.java
  core/src/main/java/bisq/core/xmr/wallet/listeners/WalletBalanceListener.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/components/WalletAddressTextField.java
  desktop/src/main/java/bisq/desktop/main/account/AccountView.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/AltCoinWalletsView.fxml
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/AltCoinWalletsView.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/XmrBalanceUtil.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/XmrWalletView.fxml
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/XmrWalletView.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/receive/XmrReceiveView.fxml
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/receive/XmrReceiveView.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/send/XmrSendView.fxml
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/send/XmrSendView.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/tx/XmrTxProofWindow.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/tx/XmrTxView.fxml
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/tx/XmrTxView.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
  desktop/src/main/java/bisq/desktop/util/validation/XmrValidator.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
Owners: @ripcurlx, @cbeams, @sqrrm

Merging messages from proposal #110 messages with HEAD.
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Cleaning up.
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
Owners: @ripcurlx, @sqrrm

Cleaning up.
  .gitignore
Owners: @ripcurlx

Cleaning up formatting.
  core/src/main/java/bisq/core/user/PreferencesPayload.java
Owners: @ripcurlx

Cleaning up formatting.
  desktop/src/main/java/bisq/desktop/main/account/AccountView.fxml
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
Owners: @ripcurlx, @sqrrm

Quick fix; misplaced bracket.
  core/src/main/java/bisq/core/user/PreferencesPayload.java
Owners: @ripcurlx

Switching mode to debug from info.
  core/src/main/java/bisq/core/xmr/trade/XmrTradeAutomationInterceptor.java
  core/src/main/java/bisq/core/xmr/wallet/XmrWalletRpcWrapper.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/AltCoinWalletsView.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/XmrBalanceUtil.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/XmrWalletView.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/receive/XmrReceiveView.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/send/XmrSendView.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/tx/XmrTxView.java
Owners: @ripcurlx, @sqrrm

Update MobileModel parseDescriptor to support iPhone 11
  core/src/main/java/bisq/core/notifications/MobileModel.java
  core/src/test/java/bisq/core/notifications/MobileModelTest.java
Owners: @ripcurlx

Change dao.proposal.display.name to 'Exact GitHub username'
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Use static method, remove unused formatter field
  core/src/main/java/bisq/core/util/BsqFormatter.java
  desktop/src/main/java/bisq/desktop/util/validation/SecurityDepositValidator.java
Owners: @ripcurlx, @sqrrm

use gradle dist with sources for better IDE experience.
  gradle/wrapper/gradle-wrapper.properties
Owners: @cbeams

use /usr/bin/caffeinate to disable power management on macOS
  core/src/main/java/bisq/core/app/OSXStandbyModeDisabler.java
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
Owners: @ripcurlx, @sqrrm

Add an explaining comment
  core/src/main/java/bisq/core/app/OSXStandbyModeDisabler.java
Owners: @ripcurlx

Keeping abreast of new changes.
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/user/PreferencesPayload.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/account/AccountView.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
Owners: @ripcurlx, @sqrrm

Seller with signer privilege signs buyer witness
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep3View.java
Owners: @ripcurlx, @sqrrm

Remove redundant/invalid null handling from PaymentMethod.compareTo
  core/src/main/java/bisq/core/payment/payload/PaymentMethod.java
Owners: @ripcurlx

Fix invalid neutral element handling in View comparators
  desktop/src/main/java/bisq/desktop/main/funds/locked/LockedView.java
  desktop/src/main/java/bisq/desktop/main/funds/reserved/ReservedView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/failedtrades/FailedTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/openoffer/OpenOffersView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/DisputeView.java
Owners: @ripcurlx, @sqrrm

Refixing merged items.
  core/src/main/java/bisq/core/user/PreferencesPayload.java
  desktop/src/main/java/bisq/desktop/main/account/AccountView.java
Owners: @ripcurlx, @sqrrm

Upgraded to monero-wallet-java v0.1.1
  build.gradle
  core/src/main/java/bisq/core/xmr/wallet/XmrTxListItem.java
  core/src/main/java/bisq/core/xmr/wallet/XmrWalletRpcWrapper.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/tx/XmrTxView.java
Owners: @cbeams, @ripcurlx, @sqrrm

Maven plugin resolved the problem with monero-wallet-rpc.
  build.gradle
Owners: @cbeams

Removed references to view component in core component.
  build.gradle
  core/src/main/java/bisq/core/xmr/wallet/XmrWalletRpcWrapper.java
  core/src/main/java/bisq/core/xmr/wallet/listeners/WalletUiListener.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/XmrBalanceUtil.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/receive/XmrReceiveView.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/send/XmrSendView.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/tx/XmrTxView.java
Owners: @cbeams, @ripcurlx, @sqrrm

RPC digest authentication fixed.
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/main/java/bisq/core/xmr/wallet/XmrWalletRpcWrapper.java
  core/src/main/java/monero/rpc/MoneroRpcConnection.java
Owners: @ripcurlx

Digest not needed.
  core/src/main/java/monero/rpc/MoneroRpcConnection.java
Owners: @ripcurlx

Remove showing FPS rate in developer mode
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
Owners: @ripcurlx, @sqrrm

Remove reactfx dependency
  build.gradle
  common/src/main/java/bisq/common/reactfx/FxTimer.java
  common/src/main/java/bisq/common/reactfx/LICENSE
  common/src/main/java/bisq/common/reactfx/README.md
  common/src/main/java/bisq/common/reactfx/Timer.java
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
  desktop/src/main/java/bisq/desktop/common/UITimer.java
  gradle/witness/gradle-witness.gradle
Owners: @cbeams, @ripcurlx, @sqrrm

Remove controlsfx dependency
  build.gradle
  desktop/src/main/java/bisq/desktop/components/AutoTooltipTableColumn.java
  desktop/src/main/java/bisq/desktop/components/InfoAutoTooltipLabel.java
  desktop/src/main/java/bisq/desktop/components/InfoInputTextField.java
  desktop/src/main/java/bisq/desktop/components/InfoTextField.java
  desktop/src/main/java/bisq/desktop/components/InputTextField.java
  desktop/src/main/java/bisq/desktop/components/controlsfx/README.md
  desktop/src/main/java/bisq/desktop/components/controlsfx/control/PopOver.java
  desktop/src/main/java/bisq/desktop/components/controlsfx/control/popover.css
  desktop/src/main/java/bisq/desktop/components/controlsfx/skin/PopOverSkin.java
  gradle/witness/gradle-witness.gradle
Owners: @cbeams, @ripcurlx, @sqrrm

Add Ergo (ERG) without Bouncy Castle dependency.
  assets/src/main/java/bisq/asset/coins/Ergo.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/ErgoTest.java
Owners: @blabno

Take the start script from parent dir, not the one checked out
  seednode/docker-compose.yml
  seednode/docker/prod/Dockerfile
Owners: @ripcurlx

Fixed copy of start script
  seednode/docker/prod/Dockerfile
Owners: @ripcurlx

Added block notify host
  seednode/docker-compose.yml
  seednode/docker/startSeedNode.sh
Owners: @ripcurlx

Modified rpc host
  seednode/docker-compose.yml
Owners: @ripcurlx

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
