Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

[TESTS] Rename P2PDataStoreTest
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageProtectedStorageEntryTest.java
Owners: @ripcurlx

Add MockNode that allows for simulating connections
  p2p/src/test/java/bisq/network/p2p/MockNode.java
Owners: @ripcurlx

Add PeerManagerTest
  p2p/src/test/java/bisq/network/p2p/peers/PeerManagerTest.java
  p2p/src/test/java/bisq/network/p2p/routing/PeerManagerTest.java
Owners: @ripcurlx

Added check for empty validation This commit is for github issue #3458 and #3459 check added for moneybeam and national bank transfer
  core/src/main/java/bisq/core/util/validation/InputValidator.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/BankForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/GeneralBankForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/MoneyBeamForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/PaymentMethodForm.java
Owners: @ripcurlx, @sqrrm

Add testCompile dependency to core
  build.gradle
Owners: @cbeams

Added empty check validation for popmoney/revolut/uphold/zelle
  desktop/src/main/java/bisq/desktop/components/paymentmethods/ClearXchangeForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/PopmoneyForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/RevolutForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/UpholdForm.java
Owners: @ripcurlx, @sqrrm

Add max allowed message option to Popup and increase window size for Monero to improve readability
  desktop/src/main/java/bisq/desktop/main/account/content/altcoinaccounts/AltCoinAccountsView.java
  desktop/src/main/java/bisq/desktop/main/overlays/Overlay.java
Owners: @ripcurlx, @sqrrm

Add payload safety checks in ProtectedStorageEntry
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/main/java/bisq/network/p2p/storage/payload/ProtectedStorageEntry.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageRemoveExpiredTest.java
  p2p/src/test/java/bisq/network/p2p/storage/mocks/ProtectedStoragePayloadStub.java
  p2p/src/test/java/bisq/network/p2p/storage/payload/ProtectedStorageEntryTest.java
Owners: @ripcurlx

Add distributionSha256Sum to gradle-wrapper.properties
  gradle/wrapper/gradle-wrapper.properties
Owners: @cbeams

Bump gradle wrapper to version 5.6.4
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Owners: @cbeams

[REFACTOR] Clean up removeExpiredEntries
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

[BUGFIX] Correctly remove PersistablePayload in onDisconnect path
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStoreDisconnectTest.java
Owners: @ripcurlx

[REFACTOR] Use common path for updating map/data store on remove
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

[BUGFIX] Validate Entry.receiversPubKey for MailboxPayloads
  p2p/src/main/java/bisq/network/p2p/storage/payload/ProtectedMailboxStorageEntry.java
  p2p/src/test/java/bisq/network/p2p/storage/payload/ProtectedMailboxStorageEntryTest.java
Owners: @ripcurlx

BSQ Merit now displayed - fixes issue #3352
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/dao/wallet/BsqBalanceUtil.java
Owners: @ripcurlx, @sqrrm

Remove trailing spaces
  core/src/main/resources/btc_regtest.seednodes
Owners: @ripcurlx

Add toProtoTradeStatistics2 method
  core/src/main/java/bisq/core/trade/statistics/TradeStatistics2.java
Owners: @ripcurlx

Add CreateOfferService class
  core/src/main/java/bisq/core/offer/CreateOfferService.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Remove commented out code
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
Owners: @ripcurlx, @sqrrm

User weaker access, add final
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Add getRandomOfferId method
  core/src/main/java/bisq/core/offer/CreateOfferService.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Add getSellerSecurityDeposit method
  core/src/main/java/bisq/core/offer/CreateOfferService.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Add getEstimatedFeeAndTxSize method
  core/src/main/java/bisq/core/offer/CreateOfferService.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
Owners: @ripcurlx, @sqrrm

Use methods from createOfferService
  core/src/main/java/bisq/core/offer/CreateOfferService.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Use txFeeFromFeeService from createOfferService
  core/src/main/java/bisq/core/offer/CreateOfferService.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Use getPriceAsLong from createOfferService
  core/src/main/java/bisq/core/offer/CreateOfferService.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Use marketPriceMarginParam from createOfferService
  core/src/main/java/bisq/core/offer/CreateOfferService.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Pass useMarketBasedPriceValue to getPriceAsLong
  core/src/main/java/bisq/core/offer/CreateOfferService.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Use getMaxTradeLimit from createOfferService
  core/src/main/java/bisq/core/offer/CreateOfferService.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Use createAndGetOffer from createOfferService
  core/src/main/java/bisq/core/offer/CreateOfferService.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Remove unused fields
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Add createOfferService, remove unused params
  desktop/src/main/java/bisq/desktop/main/offer/createoffer/CreateOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Use weaker access
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Add null checks
  core/src/main/java/bisq/core/offer/CreateOfferService.java
Owners: @ripcurlx

Add log of params, Cleanup
  core/src/main/java/bisq/core/offer/CreateOfferService.java
Owners: @ripcurlx

Remove unused fields
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Use weaker access
  core/src/main/java/bisq/core/offer/CreateOfferService.java
Owners: @ripcurlx

Remove trivial methods
  core/src/main/java/bisq/core/offer/CreateOfferService.java
Owners: @ripcurlx

Remove trivial methods, rename methods
  core/src/main/java/bisq/core/offer/CreateOfferService.java
Owners: @ripcurlx

Sort params for offer as they are used
  core/src/main/java/bisq/core/offer/CreateOfferService.java
Owners: @ripcurlx
