Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

Working setup for collectd
  seednode/docker-compose.yml
  seednode/docker/prod/Dockerfile-collectd
  seednode/docker/prod/collectd.conf
  seednode/docker/prod/nginx.conf
Owners: @ripcurlx

Closed ports to docker only, moved certs to root of seednode, add btcd
  seednode/docker-compose.yml
Owners: @ripcurlx

List Ergo (ERG)
  assets/src/main/java/bisq/asset/coins/Ergo.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/ErgoTest.java
Owners: @blabno

Suppress RPC service log entries when running as DAO lite node
  core/src/main/java/bisq/core/dao/node/full/RpcService.java
Owners: @ripcurlx

Added basic UI for account signing for arbitrators
  core/src/main/java/bisq/core/user/User.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
  desktop/src/main/java/bisq/desktop/main/account/content/fiataccounts/FiatAccountsView.java
  desktop/src/main/java/bisq/desktop/main/disputes/DisputesView.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
Owners: @ripcurlx, @sqrrm

Add demo for material design icons
  desktop/src/test/java/bisq/desktop/MaterialDesignIconDemo.java
  desktop/src/test/java/bisq/desktop/MaterialDesignIconDemoLauncher.java
Owners: @ripcurlx, @sqrrm

Update jfoenix library (material design UI components)
  build.gradle
  gradle/witness/gradle-witness.gradle
Owners: @cbeams

Fix logging
  core/src/main/java/bisq/core/dao/node/lite/network/LiteNodeNetworkService.java
Owners: @ripcurlx

Increase top navigation button text size for Japanese locale
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/main/MainView.java
Owners: @ripcurlx, @sqrrm

List Solo (XSL)
  assets/src/main/java/bisq/asset/coins/Solo.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/SoloTest.java
  core/src/main/resources/i18n/displayStrings.properties
Owners: @blabno, @ripcurlx

Tweak class names for navigation button text size for Japanese locale
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/main/MainView.java
Owners: @ripcurlx, @sqrrm

Changed "Portfolio" to "Orders"
  desktop/src/test/java/bisq/desktop/ComponentsDemo.java
Owners: @ripcurlx, @sqrrm

Correct the ip address of btcd
  seednode/docker-compose.yml
Owners: @ripcurlx

Test BuyerDataItem, use lombok generated equals and hash
  core/src/main/java/bisq/core/arbitration/BuyerDataItem.java
  core/src/test/java/bisq/core/arbitration/BuyerDataItemTest.java
Owners: @ripcurlx

Add non static ChargeBackRisk wrapper
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/payment/ChargeBackRisk.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
Owners: @ripcurlx

Validate phone numbers
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/main/MainView.java
  desktop/src/main/java/bisq/desktop/util/validation/CountryCallingCodes.java
  desktop/src/main/java/bisq/desktop/util/validation/PhoneNumberValidator.java
  desktop/src/test/java/bisq/desktop/util/validation/PhoneNumberValidatorTest.java
Owners: @ripcurlx, @sqrrm

Also run tests on jdk12
  .travis.yml
Owners: @ripcurlx

Reformat travis config
  .travis.yml
Owners: @ripcurlx

Fix test, add singleton check for ChargeBackRisk
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
  seednode/src/test/java/bisq/seednode/GuiceSetupTest.java
Owners: @ripcurlx, @sqrrm

Use builder docker, pass url/branch to indicate code to build
  seednode/docker-compose.yml
  seednode/docker/prod/Dockerfile
Owners: @ripcurlx

Improve TempProposal processing (fixes #3143)
  core/src/main/java/bisq/core/dao/DaoSetup.java
  core/src/main/java/bisq/core/dao/governance/proposal/ProposalListPresentation.java
  core/src/main/java/bisq/core/dao/governance/proposal/ProposalService.java
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
  p2p/src/main/java/bisq/network/p2p/storage/HashMapChangedListener.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/main/resources/TempProposalStore_BTC_MAINNET
Owners: @ripcurlx

Validate phone numbers
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/util/validation/CountryCallingCodes.java
  desktop/src/main/java/bisq/desktop/util/validation/PhoneNumberValidator.java
  desktop/src/test/java/bisq/desktop/util/validation/PhoneNumberValidatorTest.java
Owners: @ripcurlx, @sqrrm

Update data storage on expired data removal
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

Do not send BSQ blocks to full nodes
  common/src/main/java/bisq/common/app/Capability.java
  core/src/main/java/bisq/core/dao/node/messages/NewBlockBroadcastMessage.java
  core/src/main/java/bisq/core/setup/CoreNetworkCapabilities.java
Owners: @ripcurlx

Add missing listener notification and clean up class
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Add backup operator for seeds 3f3cu2yw7u457ztq and fl3mmribyxgrv63c
  core/src/main/resources/btc_mainnet.seednodes
  core/src/test/resources/mainnet.seednodes
Owners: @ripcurlx

Remove Capability.SIGNED_ACCOUNT_AGE_WITNESS
  core/src/main/java/bisq/core/setup/CoreNetworkCapabilities.java
Owners: @ripcurlx

Call supportedCapabilitiesListener on Userthread
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Use node address for thread name; cleanup
  p2p/src/main/java/bisq/network/p2p/network/NetworkNode.java
  p2p/src/main/java/bisq/network/p2p/peers/peerexchange/Peer.java
Owners: @ripcurlx

Improve TempProposal processing (fixes #3143)
  core/src/main/java/bisq/core/dao/DaoSetup.java
  core/src/main/java/bisq/core/dao/governance/proposal/ProposalListPresentation.java
  core/src/main/java/bisq/core/dao/governance/proposal/ProposalService.java
  p2p/src/main/java/bisq/network/p2p/storage/HashMapChangedListener.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/main/resources/TempProposalStore_BTC_MAINNET
Owners: @ripcurlx

Update data storage on expired data removal
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

Do not send BSQ blocks to full nodes
  common/src/main/java/bisq/common/app/Capability.java
  core/src/main/java/bisq/core/dao/node/messages/NewBlockBroadcastMessage.java
  core/src/main/java/bisq/core/setup/CoreNetworkCapabilities.java
Owners: @ripcurlx

Add @nicolasdorier as backup seednode operator for jhgcy2won7xnslrb
  core/src/main/resources/btc_mainnet.seednodes
Owners: @ripcurlx

Group burned BSQ by day
  desktop/src/main/java/bisq/desktop/main/dao/economy/supply/SupplyView.java
Owners: @ripcurlx, @sqrrm

Added basic UI for account signing for arbitrators
  core/src/main/java/bisq/core/user/User.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
  desktop/src/main/java/bisq/desktop/main/account/content/fiataccounts/FiatAccountsView.java
  desktop/src/main/java/bisq/desktop/main/disputes/DisputesView.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
Owners: @ripcurlx, @sqrrm

Arbitrator sign accountAgeWitnesses
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
Owners: @ripcurlx, @sqrrm

Remove testing gridlines
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
Owners: @ripcurlx, @sqrrm

Add domain layer for signed account age witnesses (credits ManfredKarrer and oscarguindzberg)
  core/src/main/java/bisq/core/setup/CoreNetworkCapabilities.java
Owners: @ripcurlx

Dark mode theme
  .gitignore
  build.gradle
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/main/java/bisq/core/user/PreferencesPayload.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
  desktop/src/main/java/bisq/desktop/components/HyperlinkWithIcon.java
  desktop/src/main/java/bisq/desktop/components/SeparatedPhaseBars.java
  desktop/src/main/java/bisq/desktop/components/TooltipUtil.java
  desktop/src/main/java/bisq/desktop/images.css
  desktop/src/main/java/bisq/desktop/main/disputes/trader/TraderDisputeView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep3View.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
  desktop/src/main/java/bisq/desktop/util/UITheme.java
  desktop/src/main/resources/styles/README.md
  desktop/src/main/resources/styles/_CandleStickChart.scss
  desktop/src/main/resources/styles/_base-colors.scss
  desktop/src/main/resources/styles/_dao.scss
  desktop/src/main/resources/styles/_icons.scss
  desktop/src/main/resources/styles/_images.scss
  desktop/src/main/resources/styles/_market.scss
  desktop/src/main/resources/styles/_popups.scss
  desktop/src/main/resources/styles/_tables.scss
  desktop/src/main/resources/styles/_typography.scss
  desktop/src/main/resources/styles/_ui-elements.scss
  desktop/src/main/resources/styles/_variables.scss
  desktop/src/main/resources/styles/bisq.scss
  desktop/src/main/resources/styles/theme-dark.scss
  desktop/src/main/resources/styles/theme-light.scss
Owners: @ripcurlx, @cbeams, @sqrrm

Update backup operator
  core/src/main/resources/btc_mainnet.seednodes
  core/src/test/resources/mainnet.seednodes
Owners: @ripcurlx
