Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

Add mempool.space Tor V2 block explorer
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Changed label
  core/src/main/java/bisq/core/locale/BankUtil.java
Owners: @ripcurlx

Changed uri
  pricenode/src/main/java/bisq/price/spot/providers/BitcoinAverage.java
Owners: @cbeams

Sign commit
  archive.tar.sig
Owners: @ripcurlx

List BlacerCoin (BLCR)
  assets/src/main/java/bisq/asset/coins/BlacerCoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/BlacerCoinTest.java
Owners: @blabno

Revert "Changed label"
  core/src/main/java/bisq/core/locale/BankUtil.java
Owners: @ripcurlx

Revert "Changed uri"
  pricenode/src/main/java/bisq/price/spot/providers/BitcoinAverage.java
Owners: @cbeams

Fix bank account number label for Swedish language
  core/src/main/java/bisq/core/locale/BankUtil.java
Owners: @ripcurlx

Add comment
  core/src/main/java/bisq/core/btc/wallet/Restrictions.java
Owners: @ripcurlx

Use early return
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DisputeSummaryWindow.java
Owners: @ripcurlx, @sqrrm

If no valid Bitcoin block explorer is set, use the 1st block explorer
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Remove unused parameter
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
Owners: @ripcurlx, @sqrrm

Fix build error on master branch
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
Owners: @ripcurlx, @sqrrm

Show the correct sign state icon for accounts that are able to sign (30+ days)
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
Owners: @ripcurlx

Target USD and EUR in local symbol set
  pricenode/src/main/java/bisq/price/spot/providers/BitcoinAverage.java
Owners: @cbeams

Check existence of selected block explorer using name string comparison
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Check existence of selected block explorer using name string comparison
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Modify seednode install script to use GitHub API for latest release tags
  seednode/install_seednode_debian.sh
Owners: @ripcurlx

Bump version number for v1.2.5
  build.gradle
  common/src/main/java/bisq/common/app/Version.java
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/Info.plist
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/replace_version_number.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
Owners: @cbeams, @ripcurlx, @sqrrm

Tweak seednode environment variables for BSQ explorer usage
  seednode/bisq-seednode.env
  seednode/bisq-seednode.service
Owners: @ripcurlx

Modify seednode service script to mount tmpfs for BSQ data JSON files
  seednode/bisq-seednode.service
Owners: @ripcurlx

Changed variable name
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Fix account age format when ended in 1
  desktop/src/main/java/bisq/desktop/util/DisplayUtils.java
Owners: @ripcurlx, @sqrrm

Fix typo in bisq-seednode.env using wrong variable name
  seednode/bisq-seednode.env
Owners: @ripcurlx

Set bisq-seednode.env java heap size and seednode max memory to 4GB
  seednode/bisq-seednode.env
Owners: @ripcurlx

Add bsq.ninja BSQ explorer operated by @wiz
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Add bsq.bisq.services BSQ explorer
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Add bsq.sqrrm.net BSQ explorer operated by @sqrrm
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Add bsq.vante.me BSQ explorer operated by @mrosseel
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Add bsq.emzy.de BSQ explorer operated by @emzy
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Add bsq.ninja BSQ explorer operated by @wiz
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Add bsq.bisq.services BSQ explorer
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Add bsq.sqrrm.net BSQ explorer operated by @sqrrm
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Add bsq.vante.me BSQ explorer operated by @mrosseel
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Add bsq.emzy.de BSQ explorer operated by @emzy
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

List Brapper (BRAP)
  assets/src/main/java/bisq/asset/tokens/Brapper.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/tokens/BrapperTest.java
Owners: @blabno

Add BSQ explorers into v1.2.5 release (#3864)
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Modify seednode install script to use GitHub API for latest release tags
  seednode/install_seednode_debian.sh
Owners: @ripcurlx

Fix typo in bisq-seednode.env using wrong variable name
  seednode/bisq-seednode.env
Owners: @ripcurlx

Merge commit for bisq-seednode.env
  seednode/bisq-seednode.env
Owners: @ripcurlx

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
