Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

Use unordered Tx stream from daoState.txMap wherever possible
  core/src/main/java/bisq/core/dao/DaoFacade.java
  core/src/main/java/bisq/core/dao/state/DaoStateService.java
Owners: @ripcurlx

List Limitless VIP (VIP)
  assets/src/main/java/bisq/asset/coins/LimitlessVIP.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/LimitlessVIPTest.java
Owners: @blabno

Encapsulate mutable Block tx list and DaoState tx cache
  core/src/main/java/bisq/core/dao/DaoFacade.java
  core/src/main/java/bisq/core/dao/node/explorer/ExportJsonFilesService.java
  core/src/main/java/bisq/core/dao/node/parser/BlockParser.java
  core/src/main/java/bisq/core/dao/state/DaoStateService.java
  core/src/main/java/bisq/core/dao/state/model/DaoState.java
  core/src/main/java/bisq/core/dao/state/model/blockchain/Block.java
  desktop/src/main/java/bisq/desktop/main/dao/economy/transactions/BSQTransactionsView.java
Owners: @ripcurlx, @sqrrm

Create Polis.java
  assets/src/main/java/bisq/asset/coins/Polis.java
Owners: @blabno

Create PolisTest.java
  assets/src/test/java/bisq/asset/coins/PolisTest.java
Owners: @blabno

Update bisq.asset.Asset
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
Owners: @blabno

Not allow bitcoinj to auto connect to localhost when localhost was not detected by client
  core/src/main/java/bisq/core/btc/setup/WalletConfig.java
Owners: @ripcurlx

Fix valid address test
  assets/src/test/java/bisq/asset/coins/PolisTest.java
Owners: @blabno

Add and rename Portfolio History columns meaningfully
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesViewModel.java
Owners: @ripcurlx, @sqrrm

List Denarius (D)
  assets/src/main/java/bisq/asset/coins/Denarius.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/DenariusTest.java
Owners: @blabno

Add report feature for disputes
  desktop/src/main/java/bisq/desktop/main/support/dispute/DisputeView.java
Owners: @ripcurlx, @sqrrm

Add duration
  desktop/src/main/java/bisq/desktop/main/support/dispute/DisputeView.java
Owners: @ripcurlx, @sqrrm

Add user preference combobox for BSQ block explorer with random default
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/main/java/bisq/core/user/PreferencesPayload.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
Owners: @ripcurlx, @sqrrm

List Genix (GENIX)
  assets/src/main/java/bisq/asset/coins/Genix.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/GenixTest.java
Owners: @blabno

Remove listener before setting a new one
  desktop/src/main/java/bisq/desktop/main/support/dispute/DisputeView.java
Owners: @ripcurlx, @sqrrm

List Pegnet (PEG)
  assets/src/main/java/bisq/asset/coins/Pegnet.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/PegnetTest.java
  core/src/main/resources/i18n/displayStrings.properties
Owners: @blabno, @ripcurlx

Remove betanet and testnet BSQ block explorers
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Add shortcut to move failed trade to pending trades
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/main/java/bisq/core/trade/failed/FailedTradesManager.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/portfolio/failedtrades/FailedTradesDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/failedtrades/FailedTradesView.java
Owners: @ripcurlx, @sqrrm

List Mogwaicoin (MOG)
  assets/src/main/java/bisq/asset/coins/Mogwaicoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/MogwaicoinTest.java
Owners: @blabno

Always check if a valid BSQ block explorer is set
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Fix random BSQ block explorer selection by setting Nullable
  core/src/main/java/bisq/core/user/PreferencesPayload.java
Owners: @ripcurlx

Make popover text readable in dark mode
  desktop/src/main/java/bisq/desktop/bisq.css
Owners: @ripcurlx, @sqrrm

Make progress bar track styleable
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/theme-dark.css
  desktop/src/main/java/bisq/desktop/theme-light.css
Owners: @ripcurlx, @sqrrm

List Mogwaicoin (MOG)
  assets/src/main/java/bisq/asset/coins/Mogwaicoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/MogwaicoinTest.java
Owners: @blabno

Remove unused parameters from assorted methods
  core/src/main/java/bisq/core/dao/presentation/DaoUtil.java
  core/src/main/java/bisq/core/offer/CreateOfferService.java
  core/src/main/java/bisq/core/offer/OfferUtil.java
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/test/java/bisq/core/user/PreferencesTest.java
  desktop/src/main/java/bisq/desktop/components/PeerInfoIconSmall.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/dashboard/GovernanceDashboardView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/make/MakeProposalView.java
  desktop/src/main/java/bisq/desktop/main/funds/deposit/DepositView.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionListItemFactory.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsListItem.java
  desktop/src/main/java/bisq/desktop/main/market/offerbook/OfferBookChartView.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferViewModel.java
  desktop/src/test/java/bisq/desktop/maker/PreferenceMakers.java
Owners: @ripcurlx, @sqrrm

Actually use the injected Clock param of isDateInTolerance
  core/src/main/java/bisq/core/account/sign/SignedWitness.java
  core/src/main/java/bisq/core/account/witness/AccountAgeWitness.java
Owners: @ripcurlx

Suppress warnings of unused method params which may be needed later
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
  core/src/main/java/bisq/core/locale/BankUtil.java
  core/src/main/java/bisq/core/util/FormattingUtils.java
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
Owners: @ripcurlx, @sqrrm

Fix double presence of the word days
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

creating altcoin offer not throwing error during previously set high security deposit.
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
Owners: @ripcurlx, @sqrrm

Not use style workaround
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
Owners: @ripcurlx, @sqrrm

Fix wrong styling of link icon in dark mode
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/components/HyperlinkWithIcon.java
Owners: @ripcurlx, @sqrrm

Fix doc comment warnings in TradeWalletService & OfferUtil
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
  core/src/main/java/bisq/core/offer/OfferUtil.java
Owners: @ripcurlx

Re-enable mbm6ffx6j5ygi2ck.onion btcnode operated by @KanoczTomas
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

Add one command installation script for tor + btcnode + seednode
  seednode/README.md
  seednode/bisq-seednode.env
  seednode/bisq-seednode.service
  seednode/bitcoin.conf
  seednode/bitcoin.service
  seednode/install_seednode_debian.sh
  seednode/torrc
  seednode/uninstall_seednode_debian.sh
Owners: @ripcurlx

Fix seednode installation script URL
  seednode/README.md
Owners: @ripcurlx

Fix seednode uninstallation script paths
  seednode/uninstall_seednode_debian.sh
Owners: @ripcurlx

Fix seednode install script causing gradle to hang
  seednode/install_seednode_debian.sh
Owners: @ripcurlx

Fix seednode install script path replacement delimiter
  seednode/install_seednode_debian.sh
Owners: @ripcurlx

Fix bisq-seednode.env file replacement
  seednode/bisq-seednode.env
  seednode/bisq-seednode.service
Owners: @ripcurlx

Fix seednode README bitcoin-cli usage instructions
  seednode/README.md
Owners: @ripcurlx
