Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

Go to new refund view if it is no mediation and not open mediation notification if refund is already in progress
  desktop/src/main/java/bisq/desktop/main/overlays/notifications/NotificationCenter.java
Owners: @ripcurlx, @sqrrm

NTP: Improve differentiation between mediation and new arbitration (#3414)
  core/src/main/java/bisq/core/presentation/SupportTicketsPresentation.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationManager.java
  core/src/main/java/bisq/core/support/dispute/refund/RefundManager.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/notifications/NotificationCenter.java
Owners: @ripcurlx, @sqrrm

Don't sign filtered accounts
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/test/java/bisq/core/account/witness/AccountAgeWitnessServiceTest.java
Owners: @ripcurlx

List Dubaicoin (DBIX)
  assets/src/main/resources/i18n/displayStrings-assets.properties
Owners: @blabno

List Dubaicoin (DBIX)
  assets/src/main/java/bisq/asset/coins/Dubaicoin.java
Owners: @blabno

List Dubaicoin (DBIX)
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
Owners: @blabno

List Dubaicoin (DBIX)
  assets/src/test/java/bisq/asset/coins/DubaicoinTest.java
Owners: @blabno

DBIX dictionary order
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
Owners: @blabno

syntax error
  assets/src/main/java/bisq/asset/coins/Dubaicoin.java
Owners: @blabno

Add DBIX
  assets/src/main/java/bisq/asset/coins/DBIX.java
Owners: @blabno

add DBIX
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
Owners: @blabno

add DBIX
  assets/src/test/java/bisq/asset/coins/DBIXTest.java
Owners: @blabno

fix Dubaicon name
  assets/src/main/java/bisq/asset/coins/Dubaicoin.java
Owners: @blabno

fix Dubaicoin name
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
Owners: @blabno

add fix name for test
  assets/src/test/java/bisq/asset/coins/DubaicoinTest.java
Owners: @blabno

Adding Dubaicoin DBIX
  assets/src/main/java/bisq/asset/coins/Dubaicoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/DubaicoinTest.java
Owners: @blabno

fix test
  assets/src/test/java/bisq/asset/coins/DubaicoinTest.java
Owners: @blabno

Pre-select a point of time 2 months in the past
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
Owners: @ripcurlx, @sqrrm

Only show payment methods with high chargeback risk to be signed
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
Owners: @ripcurlx, @sqrrm

NTP: merge with master (#3420)
  assets/src/main/java/bisq/asset/coins/CTSCoin.java
  assets/src/main/java/bisq/asset/coins/Ergo.java
  assets/src/main/java/bisq/asset/coins/Faircoin.java
  assets/src/main/java/bisq/asset/coins/uPlexa.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/CTSCoinTest.java
  assets/src/test/java/bisq/asset/coins/ErgoTest.java
  assets/src/test/java/bisq/asset/coins/FaircoinTest.java
  assets/src/test/java/bisq/asset/coins/uPlexaTest.java
  common/src/main/java/bisq/common/util/Utilities.java
  common/src/test/java/bisq/common/util/UtilitiesTest.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/BisqHeadlessApp.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/btc/BaseCurrencyNetwork.java
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
  core/src/main/java/bisq/core/trade/protocol/tasks/PublishTradeStatistics.java
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/util/ImageUtil.java
Owners: @blabno, @ripcurlx, @sqrrm

Account Signing: Improve arbitrator signing flow (#3421)
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
Owners: @ripcurlx, @sqrrm

Fix missing balance and button state update
  desktop/src/main/java/bisq/desktop/main/dao/burnbsq/assetfee/AssetFeeView.java
Owners: @ripcurlx, @sqrrm

Refactor isBtcOutputOfBurnFeeTx method and add comments and TODOs
  core/src/main/java/bisq/core/dao/node/parser/TxOutputParser.java
Owners: @ripcurlx

Handle asset listing fee in custom method
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
Owners: @ripcurlx

Use getPreparedBurnFeeTxForAssetListing
  core/src/main/java/bisq/core/dao/governance/asset/AssetService.java
Owners: @ripcurlx

Update comments to not use dust output values
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
  core/src/main/java/bisq/core/dao/node/parser/TxOutputParser.java
Owners: @ripcurlx

Show connected Bitcoin network peer info
  core/src/main/java/bisq/core/btc/setup/WalletsSetup.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/settings/network/BitcoinNetworkListItem.java
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.fxml
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
Owners: @ripcurlx, @sqrrm

Fix missing balance and button state update
  desktop/src/main/java/bisq/desktop/main/dao/burnbsq/proofofburn/ProofOfBurnView.java
Owners: @ripcurlx, @sqrrm

Use same method for asset listing fee and proof of burn
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
Owners: @ripcurlx

Use getPreparedProofOfBurnTx
  core/src/main/java/bisq/core/dao/governance/proofofburn/ProofOfBurnService.java
Owners: @ripcurlx

Require mandatory BSQ change output for proposal fee tx.
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
  core/src/main/java/bisq/core/dao/governance/proposal/BaseProposalFactory.java
  core/src/main/java/bisq/core/dao/node/parser/TxOutputParser.java
  core/src/main/java/bisq/core/offer/placeoffer/tasks/CreateMakerFeeTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/taker/CreateTakerFeeTx.java
Owners: @ripcurlx

Add fix for not correctly handled issuance tx
  core/src/main/java/bisq/core/dao/node/parser/TxOutputParser.java
Owners: @ripcurlx

Use new method for issuance tx
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
Owners: @ripcurlx

Show connected Bitcoin network peer info
  core/src/main/java/bisq/core/btc/setup/WalletsSetup.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/settings/network/BitcoinNetworkListItem.java
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.fxml
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
Owners: @ripcurlx, @sqrrm

List Ndau (XND)
  assets/src/main/java/bisq/asset/coins/Ndau.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/NdauTest.java
Owners: @blabno

List Animecoin (ANI)
  assets/src/main/java/bisq/asset/coins/Animecoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/AnimecoinTest.java
Owners: @blabno

Not show payment account details for blocked offers
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
Owners: @ripcurlx, @sqrrm

Not show payment account details for blocked offers (#3425)
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
Owners: @ripcurlx, @sqrrm

List LBRY Credits (LBC)
  assets/src/main/java/bisq/asset/coins/LBRYCredits.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/LBRYCreditsTest.java
Owners: @blabno

Refactor BisqEnvironment - create getListProperty
  core/src/main/java/bisq/core/app/BisqEnvironment.java
Owners: @ripcurlx

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
