Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

Remove now unused BtcOptionKeys class
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/btc/BtcOptionKeys.java
  monitor/src/main/java/bisq/monitor/metric/P2PNetworkLoad.java
Owners: @ripcurlx

Move 'numConnectionsForBtc' option handling to Config
  common/src/main/java/bisq/common/config/Config.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/btc/BitcoinModule.java
  core/src/main/java/bisq/core/btc/BtcOptionKeys.java
  core/src/main/java/bisq/core/btc/nodes/BtcNodesSetupPreferences.java
  core/src/main/java/bisq/core/btc/setup/WalletConfig.java
  core/src/main/java/bisq/core/btc/setup/WalletsSetup.java
Owners: @ripcurlx

Move 'rpcHost' option handling to Config
  common/src/main/java/bisq/common/config/Config.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/dao/DaoModule.java
  core/src/main/java/bisq/core/dao/DaoOptionKeys.java
  core/src/main/java/bisq/core/dao/node/full/RpcService.java
Owners: @ripcurlx

Move 'rpcBlockNotificationPort' option handling to Config
  common/src/main/java/bisq/common/config/Config.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/dao/DaoModule.java
  core/src/main/java/bisq/core/dao/DaoOptionKeys.java
  core/src/main/java/bisq/core/dao/node/full/RpcService.java
  core/src/main/java/bisq/core/user/Preferences.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
  desktop/src/test/java/bisq/desktop/maker/PreferenceMakers.java
Owners: @ripcurlx, @sqrrm

Move 'rpcUser' option handling to Config
  common/src/main/java/bisq/common/config/Config.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/dao/DaoModule.java
  core/src/main/java/bisq/core/dao/DaoOptionKeys.java
  core/src/main/java/bisq/core/user/Preferences.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
Owners: @ripcurlx, @sqrrm

Move 'rpcPort' option handling to Config
  common/src/main/java/bisq/common/config/Config.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/dao/DaoModule.java
  core/src/main/java/bisq/core/dao/DaoOptionKeys.java
  core/src/main/java/bisq/core/dao/node/full/RpcService.java
  p2p/src/main/java/bisq/network/p2p/NetworkNodeProvider.java
Owners: @ripcurlx

Move 'rpcBlockNotificationHost' option handling to Config
  common/src/main/java/bisq/common/config/Config.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/dao/DaoModule.java
  core/src/main/java/bisq/core/dao/DaoOptionKeys.java
  core/src/main/java/bisq/core/dao/node/full/RpcService.java
  core/src/test/java/bisq/core/user/PreferencesTest.java
Owners: @ripcurlx

Move 'rpcPassword' option handling to Config
  common/src/main/java/bisq/common/config/Config.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/dao/DaoModule.java
  core/src/main/java/bisq/core/dao/DaoOptionKeys.java
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/test/java/bisq/core/user/PreferencesTest.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
Owners: @ripcurlx, @sqrrm

Finish moving 'daoActivated' option handling to Config
  common/src/main/java/bisq/common/config/Config.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/dao/DaoModule.java
  core/src/main/java/bisq/core/dao/DaoOptionKeys.java
  core/src/main/java/bisq/core/dao/governance/proposal/ProposalService.java
Owners: @ripcurlx

Move 'dumpBlockchainData' option handling to Config
  common/src/main/java/bisq/common/config/Config.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/dao/DaoModule.java
  core/src/main/java/bisq/core/dao/DaoOptionKeys.java
  core/src/main/java/bisq/core/dao/node/explorer/ExportJsonFilesService.java
Owners: @ripcurlx

Move 'fullDaoNode' option handling to Config
  common/src/main/java/bisq/common/config/Config.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/dao/DaoModule.java
  core/src/main/java/bisq/core/dao/DaoOptionKeys.java
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/test/java/bisq/core/user/PreferencesTest.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
  desktop/src/test/java/bisq/desktop/maker/PreferenceMakers.java
Owners: @ripcurlx, @sqrrm

Move 'genesisTxId' option handling to Config
  common/src/main/java/bisq/common/config/Config.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/dao/DaoModule.java
  core/src/main/java/bisq/core/dao/DaoOptionKeys.java
  core/src/main/java/bisq/core/dao/state/GenesisTxInfo.java
Owners: @ripcurlx

Move 'genesisTotalSupply' option handling to Config
  common/src/main/java/bisq/common/config/Config.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/dao/DaoModule.java
  core/src/main/java/bisq/core/dao/DaoOptionKeys.java
  core/src/main/java/bisq/core/dao/state/GenesisTxInfo.java
Owners: @ripcurlx

Move 'genesisBlockHeight' option handling to Config
  common/src/main/java/bisq/common/config/Config.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/dao/DaoModule.java
  core/src/main/java/bisq/core/dao/DaoOptionKeys.java
  core/src/main/java/bisq/core/dao/state/GenesisTxInfo.java
Owners: @ripcurlx

Finish moving 'referralId' option handling to Config
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/CoreModule.java
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
Owners: @ripcurlx

Remove now unused DaoOptionKeys class
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/dao/DaoOptionKeys.java
  core/src/main/java/bisq/core/dao/node/BsqNodeProvider.java
  core/src/main/java/bisq/core/setup/CoreNetworkCapabilities.java
  core/src/main/java/bisq/core/setup/CorePersistedDataHost.java
Owners: @ripcurlx

Finish moving 'useDevPrivilegeKeys' option handling to Config
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/CoreModule.java
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
Owners: @ripcurlx

Finish moving 'useDevMode' option handling to Config
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/CoreModule.java
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
Owners: @ripcurlx

Replace use of Spring's AnnotationUtils
  desktop/src/main/java/bisq/desktop/common/fxml/FxmlViewLoader.java
Owners: @ripcurlx, @sqrrm

Remove now unused BisqEnvironment class
  common/src/main/java/bisq/common/app/AppModule.java
  core/src/main/java/bisq/core/alert/AlertModule.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/BisqHeadlessAppMain.java
  core/src/main/java/bisq/core/app/CoreModule.java
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
  core/src/main/java/bisq/core/btc/BitcoinModule.java
  core/src/main/java/bisq/core/dao/DaoModule.java
  core/src/main/java/bisq/core/dao/state/model/governance/ReimbursementProposal.java
  core/src/main/java/bisq/core/filter/FilterModule.java
  core/src/main/java/bisq/core/offer/OfferModule.java
  core/src/main/java/bisq/core/presentation/CorePresentationModule.java
  core/src/main/java/bisq/core/trade/TradeModule.java
  core/src/main/java/bisq/core/util/coin/ImmutableCoinFormatter.java
  core/src/test/java/bisq/core/app/BisqEnvironmentTests.java
  daemon/src/main/java/bisq/daemon/app/BisqDaemonMain.java
  desktop/src/main/java/bisq/desktop/DesktopModule.java
  desktop/src/main/java/bisq/desktop/app/BisqAppMain.java
  desktop/src/main/java/bisq/desktop/app/BisqAppModule.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DaoLaunchWindow.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/NewTradeProtocolLaunchWindow.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/downloadupdate/DisplayUpdateDownloadWindow.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
  desktop/src/test/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModelTest.java
  p2p/src/main/java/bisq/network/crypto/EncryptionServiceModule.java
  p2p/src/main/java/bisq/network/p2p/P2PModule.java
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
  seednode/src/test/java/bisq/seednode/GuiceSetupTest.java
  statsnode/src/main/java/bisq/statistics/StatisticsMain.java
Owners: @ripcurlx, @sqrrm

Replace use of Spring's ClassUtils
  desktop/src/main/java/bisq/desktop/common/view/DefaultPathConvention.java
Owners: @ripcurlx, @sqrrm

Replace use of Spring's StringUtils
  common/src/main/java/bisq/common/config/EnumValueConverter.java
Owners: @ripcurlx

Make ConfigException extend BisqException
  common/src/main/java/bisq/common/BisqException.java
  common/src/main/java/bisq/common/config/Config.java
  common/src/main/java/bisq/common/config/ConfigException.java
Owners: @ripcurlx

Remove now unused BisqExecutable option handling
  common/src/main/java/bisq/common/config/Config.java
  common/src/test/java/bisq/common/config/ConfigTests.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/BisqHeadlessAppMain.java
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
  statsnode/src/main/java/bisq/statistics/StatisticsMain.java
Owners: @ripcurlx

Broaden BisqExcutable exception handling
  core/src/main/java/bisq/core/app/BisqExecutable.java
Owners: @ripcurlx

Catch ConfigException as contingency, Throwble as fault
  common/src/main/java/bisq/common/config/Config.java
  common/src/main/java/bisq/common/config/ConfigFileReader.java
  common/src/main/java/bisq/common/config/EnumValueConverter.java
  common/src/test/java/bisq/common/config/ConfigFileReaderTests.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
Owners: @ripcurlx

Eliminate dependency on Spring Framework
  build.gradle
  gradle/witness/gradle-witness.gradle
Owners: @cbeams

Add comments to Config and reorder a few things
  common/src/main/java/bisq/common/config/Config.java
Owners: @ripcurlx

Normalize creation of appDataDir and subdirs
  common/src/main/java/bisq/common/config/Config.java
  common/src/main/java/bisq/common/config/ConfigException.java
  common/src/main/java/bisq/common/crypto/KeyStorage.java
  common/src/main/java/bisq/common/storage/Storage.java
  common/src/main/java/bisq/common/util/Preconditions.java
  common/src/test/java/bisq/common/config/ConfigTests.java
  common/src/test/java/bisq/common/util/PreconditionsTests.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/TorSetup.java
  core/src/main/java/bisq/core/btc/setup/WalletConfig.java
  core/src/main/java/bisq/core/btc/setup/WalletsSetup.java
  core/src/test/java/bisq/core/offer/OpenOfferManagerTest.java
  core/src/test/java/bisq/core/trade/TradableListTest.java
  p2p/src/test/java/bisq/network/p2p/MockNode.java
  p2p/src/test/java/bisq/network/p2p/peers/PeerManagerTest.java
Owners: @ripcurlx

Remove ConnectionConfig console output
  common/src/main/java/bisq/common/config/Config.java
  common/src/test/java/bisq/common/config/ConfigTests.java
Owners: @ripcurlx

Extract Config.APP_DATA_DIR constant
  common/src/main/java/bisq/common/config/Config.java
Owners: @ripcurlx

Replace HelpRequested exception with Config.isHelpRequested()
  common/src/main/java/bisq/common/config/Config.java
  common/src/main/java/bisq/common/config/HelpRequested.java
  common/src/main/java/bisq/common/config/TestConfig.java
  common/src/test/java/bisq/common/config/ConfigTests.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
Owners: @ripcurlx

Remove TestConfig in favor of reworked Config ctors
  common/src/main/java/bisq/common/config/Config.java
  common/src/main/java/bisq/common/config/TestConfig.java
  common/src/test/java/bisq/common/config/ConfigTests.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/test/java/bisq/core/network/p2p/seed/DefaultSeedNodeRepositoryTest.java
  core/src/test/java/bisq/core/user/PreferencesTest.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
  seednode/src/test/java/bisq/seednode/GuiceSetupTest.java
Owners: @ripcurlx, @sqrrm

Introduce and document static Config.appDataDir()
  common/src/main/java/bisq/common/config/Config.java
  desktop/src/main/java/bisq/desktop/main/overlays/Overlay.java
Owners: @ripcurlx, @sqrrm

Qualify relative --configFile value with appDataDir
  common/src/main/java/bisq/common/config/Config.java
  common/src/test/java/bisq/common/config/ConfigTests.java
Owners: @ripcurlx

Introduce LocalBitcoinNode and tests
  common/src/main/java/bisq/common/config/Config.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/app/CoreModule.java
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
  core/src/main/java/bisq/core/btc/nodes/LocalBitcoinNode.java
  core/src/main/java/bisq/core/btc/setup/WalletConfig.java
  core/src/main/java/bisq/core/btc/setup/WalletsSetup.java
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/test/java/bisq/core/btc/nodes/LocalBitcoinNodeTests.java
  core/src/test/java/bisq/core/user/PreferencesTest.java
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
  desktop/src/test/java/bisq/desktop/maker/PreferenceMakers.java
Owners: @ripcurlx, @sqrrm

Move Config.getOsUserDataDir to BisqExecutable.osUserDataDir
  common/src/main/java/bisq/common/config/Config.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
Owners: @ripcurlx

Rename and reorder test for nonexistent --configFile
  common/src/test/java/bisq/common/config/ConfigTests.java
Owners: @ripcurlx

Reorder a few of the most important options
  common/src/main/java/bisq/common/config/Config.java
Owners: @ripcurlx

Throw if --configFile value does not exist
  common/src/main/java/bisq/common/config/Config.java
  common/src/test/java/bisq/common/config/ConfigTests.java
Owners: @ripcurlx

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
