Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

@NotNull ProtectedStorageEntry::protectedStoragePayload
  p2p/src/main/java/bisq/network/p2p/storage/payload/ProtectedMailboxStorageEntry.java
  p2p/src/main/java/bisq/network/p2p/storage/payload/ProtectedStorageEntry.java
Owners: @ripcurlx

@NotNull MailboxStoragePayload::senderPubKeyForAddOperation
  p2p/src/main/java/bisq/network/p2p/storage/payload/MailboxStoragePayload.java
  p2p/src/main/java/bisq/network/p2p/storage/payload/ProtectedMailboxStorageEntry.java
  p2p/src/main/java/bisq/network/p2p/storage/payload/ProtectedStorageEntry.java
Owners: @ripcurlx

Update translations
  core/src/main/resources/i18n/displayStrings_de.properties
  core/src/main/resources/i18n/displayStrings_el.properties
  core/src/main/resources/i18n/displayStrings_es.properties
  core/src/main/resources/i18n/displayStrings_fa.properties
  core/src/main/resources/i18n/displayStrings_fr.properties
  core/src/main/resources/i18n/displayStrings_ja.properties
  core/src/main/resources/i18n/displayStrings_pt-br.properties
  core/src/main/resources/i18n/displayStrings_pt.properties
  core/src/main/resources/i18n/displayStrings_ru.properties
  core/src/main/resources/i18n/displayStrings_th.properties
  core/src/main/resources/i18n/displayStrings_vi.properties
  core/src/main/resources/i18n/displayStrings_zh-hans.properties
  core/src/main/resources/i18n/displayStrings_zh-hant.properties
Owners: @ripcurlx

Update data stores
  p2p/src/main/resources/AccountAgeWitnessStore_BTC_MAINNET
  p2p/src/main/resources/SignedWitnessStore_BTC_MAINNET
Owners: @ripcurlx

Update data stores, translations and bitcoinj checkpoints (#3748)
  core/src/main/resources/i18n/displayStrings_de.properties
  core/src/main/resources/i18n/displayStrings_el.properties
  core/src/main/resources/i18n/displayStrings_es.properties
  core/src/main/resources/i18n/displayStrings_fa.properties
  core/src/main/resources/i18n/displayStrings_fr.properties
  core/src/main/resources/i18n/displayStrings_ja.properties
  core/src/main/resources/i18n/displayStrings_pt-br.properties
  core/src/main/resources/i18n/displayStrings_pt.properties
  core/src/main/resources/i18n/displayStrings_ru.properties
  core/src/main/resources/i18n/displayStrings_th.properties
  core/src/main/resources/i18n/displayStrings_vi.properties
  core/src/main/resources/i18n/displayStrings_zh-hans.properties
  core/src/main/resources/i18n/displayStrings_zh-hant.properties
  core/src/main/resources/wallet/checkpoints.txt
  p2p/src/main/resources/AccountAgeWitnessStore_BTC_MAINNET
  p2p/src/main/resources/SignedWitnessStore_BTC_MAINNET
Owners: @ripcurlx

Make CHECK_TTL_INTERVAL_SEC final
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

s/networkPayload/protectedStoragePayload
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

[TESTS] Make onDisconnect tests more robust
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStoreDisconnectTest.java
Owners: @ripcurlx

Refactor P2PDataStorage::onDisconnect
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStoreDisconnectTest.java
Owners: @ripcurlx

Remove expire optimization in onDisconnect
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStoreDisconnectTest.java
Owners: @ripcurlx

Remove filter for ExpirablePayload
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

Validate wallet date when restoring from seed
  desktop/src/main/java/bisq/desktop/main/account/content/seedwords/SeedWordsView.java
Owners: @ripcurlx, @sqrrm

Revert to SNAPSHOT version
  build.gradle
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/insert_snapshot_version.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
Owners: @cbeams, @ripcurlx, @sqrrm

Rename "Spread" tab to a more general "Details"
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update docs/README.md with link to new Makefile
  docs/README.md
Owners: @ripcurlx

Improve link to developer docs
  CONTRIBUTING.md
Owners: @ripcurlx

Fix dark mode slider switch not disabling dark mode on first try
  core/src/main/java/bisq/core/user/Preferences.java
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
Owners: @ripcurlx, @sqrrm

Add script to create seednode jar archive without jar deps
  seednode/create_jaronly_archive.sh
Owners: @ripcurlx

Add checksum-dependency-plugin to verify plugin and dependency checksums
  .travis.yml
  checksum.xml
  gradle.properties
  settings.gradle
Owners: @ripcurlx, @cbeams

Arbitration Request - Message Popup
  core/src/main/java/bisq/core/support/dispute/mediation/MediationManager.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
Owners: @ripcurlx, @sqrrm

Fix broken code due to updated MediationManager class
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
Owners: @ripcurlx, @sqrrm

Transfer seednode ef5qnzx6znifo3df.onion to @wiz and @emzy
  core/src/main/resources/btc_mainnet.seednodes
Owners: @ripcurlx

Updated readme for seednode
  seednode/README.md
Owners: @ripcurlx

Cleaned up startup script
  seednode/docker/startSeedNode.sh
Owners: @ripcurlx

Upgrade gradle, gradle available for jdk11 is too old.
  seednode/docker/prod/Dockerfile
Owners: @ripcurlx

Change "click" to "press"
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Revert to SNAPSHOT version
  .github/stale.yml
Owners: @ripcurlx

Close PRs that are inactive for more than 30 days
  .github/stale.yml
Owners: @ripcurlx

List [Bolivarcoin] (BOLI)
  assets/src/main/java/bisq/asset/coins/Bolivarcoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/BolivarcoinTest.java
Owners: @blabno

Add "are you the Guy?" section
  CONTRIBUTING.md
Owners: @ripcurlx

Added "Get started" section
  CONTRIBUTING.md
Owners: @ripcurlx

Refactored "Pull request rules" section
  CONTRIBUTING.md
Owners: @ripcurlx

Refactored "Further reading"
  CONTRIBUTING.md
Owners: @ripcurlx

Remove unnecessary indirection for setting custom withdrawal fees
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Update css theme property when read from data store
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

[PR COMMENTS] Fix comment typo
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

Add command for signing windows executables with the default code signing certificate
  desktop/package/windows/package.bat
Owners: @ripcurlx, @sqrrm

Adjusted header levels
  CONTRIBUTING.md
Owners: @ripcurlx

Included review comments
  CONTRIBUTING.md
Owners: @ripcurlx

Add transient tx map to DaoState to speed up getTx queries
  core/src/main/java/bisq/core/dao/node/parser/BlockParser.java
  core/src/main/java/bisq/core/dao/state/DaoStateService.java
  core/src/main/java/bisq/core/dao/state/model/DaoState.java
Owners: @ripcurlx

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
