Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

Refactor BisqEnvironment - use @Getter annotation for appDataDir
  core/src/main/java/bisq/core/app/BisqEnvironment.java
Owners: @ripcurlx

Handle all possible blind vote fee transactions
  core/src/main/java/bisq/core/dao/node/parser/TxOutputParser.java
Owners: @ripcurlx

Move check for invalid opReturn output up
  core/src/main/java/bisq/core/dao/node/parser/TxOutputParser.java
Owners: @ripcurlx

Add dust check at final sign method
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
Owners: @ripcurlx

Fix incorrect comments
  core/src/main/java/bisq/core/btc/wallet/BtcWalletService.java
Owners: @ripcurlx

Refactor
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
Owners: @ripcurlx

Add comment
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
Owners: @ripcurlx

Fix comments, rename methods
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
  core/src/main/java/bisq/core/dao/node/parser/TxOutputParser.java
Owners: @ripcurlx

Move code of isBlindVoteBurnedFeeOutput to isBtcOutputOfBurnFeeTx
  core/src/main/java/bisq/core/dao/node/parser/TxOutputParser.java
Owners: @ripcurlx

Apply rule to not allow BSQ outputs after BTC output for regular txs (#3413)
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
  core/src/main/java/bisq/core/btc/wallet/BtcWalletService.java
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
  core/src/main/java/bisq/core/dao/governance/asset/AssetService.java
  core/src/main/java/bisq/core/dao/governance/proofofburn/ProofOfBurnService.java
  core/src/main/java/bisq/core/dao/governance/proposal/BaseProposalFactory.java
  core/src/main/java/bisq/core/dao/node/parser/TxOutputParser.java
  core/src/main/java/bisq/core/dao/node/parser/TxParser.java
  core/src/main/java/bisq/core/offer/placeoffer/tasks/CreateMakerFeeTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/taker/CreateTakerFeeTx.java
  desktop/src/main/java/bisq/desktop/main/dao/burnbsq/assetfee/AssetFeeView.java
  desktop/src/main/java/bisq/desktop/main/dao/burnbsq/proofofburn/ProofOfBurnView.java
Owners: @ripcurlx, @sqrrm

Select the the correct sub view when a dispute is created
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
Owners: @ripcurlx, @sqrrm

Require capability REFUND_AGENT to receive RefundAgent Messages
  common/src/main/java/bisq/common/app/Capability.java
  core/src/main/java/bisq/core/setup/CoreNetworkCapabilities.java
  core/src/main/java/bisq/core/support/dispute/refund/refundagent/RefundAgent.java
Owners: @ripcurlx

Update account signing strings for v1.2 release
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Add minor corrections from ripcurlx review
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Adjust tradeLimitDueAccountAgeRestriction string
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update account signing strings for v1.2 release (#3435)
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Remove unused return type for account signing
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
Owners: @ripcurlx

Add new feature popup for account signing and new trade protocol
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/images.css
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/NewTradeProtocolLaunchWindow.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
  desktop/src/main/resources/images/accepted.png
  desktop/src/main/resources/images/accepted@2x.png
  desktop/src/main/resources/images/account_signing_screenshot.png
  desktop/src/main/resources/images/account_signing_screenshot@2x.png
  desktop/src/main/resources/images/btcaverage.png
  desktop/src/main/resources/images/btcaverage@2x.png
  desktop/src/main/resources/images/dao-screenshot-cheaper-fees.png
  desktop/src/main/resources/images/dao-screenshot-cheaper-fees@2x.png
  desktop/src/main/resources/images/dao-screenshot-governance.png
  desktop/src/main/resources/images/dao-screenshot-governance@2x.png
  desktop/src/main/resources/images/dao-screenshot-trading.png
  desktop/src/main/resources/images/dao-screenshot-trading@2x.png
  desktop/src/main/resources/images/new_trade_protocol_screenshot.png
  desktop/src/main/resources/images/new_trade_protocol_screenshot@2x.png
  desktop/src/main/resources/images/poloniex.png
  desktop/src/main/resources/images/poloniex@2x.png
  desktop/src/main/resources/images/rejected.png
  desktop/src/main/resources/images/rejected@2x.png
Owners: @ripcurlx, @sqrrm

Return void from account signing
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
Owners: @ripcurlx

Account Signing/NTP: More improvements and fixes (#3436)
  common/src/main/java/bisq/common/app/Capability.java
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/main/java/bisq/core/setup/CoreNetworkCapabilities.java
  core/src/main/java/bisq/core/support/dispute/refund/refundagent/RefundAgent.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/images.css
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/NewTradeProtocolLaunchWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
  desktop/src/main/resources/images/accepted.png
  desktop/src/main/resources/images/accepted@2x.png
  desktop/src/main/resources/images/account_signing_screenshot.png
  desktop/src/main/resources/images/account_signing_screenshot@2x.png
  desktop/src/main/resources/images/btcaverage.png
  desktop/src/main/resources/images/btcaverage@2x.png
  desktop/src/main/resources/images/dao-screenshot-cheaper-fees.png
  desktop/src/main/resources/images/dao-screenshot-cheaper-fees@2x.png
  desktop/src/main/resources/images/dao-screenshot-governance.png
  desktop/src/main/resources/images/dao-screenshot-governance@2x.png
  desktop/src/main/resources/images/dao-screenshot-trading.png
  desktop/src/main/resources/images/dao-screenshot-trading@2x.png
  desktop/src/main/resources/images/new_trade_protocol_screenshot.png
  desktop/src/main/resources/images/new_trade_protocol_screenshot@2x.png
  desktop/src/main/resources/images/poloniex.png
  desktop/src/main/resources/images/poloniex@2x.png
  desktop/src/main/resources/images/rejected.png
  desktop/src/main/resources/images/rejected@2x.png
Owners: @ripcurlx, @sqrrm

Improve readability of offer update
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
Owners: @ripcurlx

Add type safeguard for dispute lists
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationDisputeList.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationDisputeList.java
  core/src/main/java/bisq/core/support/dispute/refund/RefundDisputeList.java
Owners: @ripcurlx

Set not existing dispute support type for clients < 1.2.0 from message support type
  core/src/main/java/bisq/core/support/dispute/Dispute.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
Owners: @ripcurlx

Enable handling of mediation cases for old trade protocol disputes in 1.2.0 clients
  desktop/src/main/java/bisq/desktop/main/support/dispute/DisputeView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/mediation/MediatorView.java
Owners: @ripcurlx, @sqrrm

Remove unnecessary forEach
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationDisputeList.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationDisputeList.java
  core/src/main/java/bisq/core/support/dispute/refund/RefundDisputeList.java
Owners: @ripcurlx

Fix bug with not updating vote result table at vote result block
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
Owners: @ripcurlx, @sqrrm

NTP: improve backwards compatibility for mediation (#3439)
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  core/src/main/java/bisq/core/support/dispute/Dispute.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationDisputeList.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationDisputeList.java
  core/src/main/java/bisq/core/support/dispute/refund/RefundDisputeList.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/DisputeView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/mediation/MediatorView.java
Owners: @ripcurlx, @sqrrm

Use correct formatter and add missing value for placeholder
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferViewModel.java
Owners: @ripcurlx, @sqrrm

Bump version number
  build.gradle
  common/src/main/java/bisq/common/app/Version.java
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/Info.plist
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/replace_version_number.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
Owners: @cbeams, @ripcurlx, @sqrrm

Arbitrator republish signedWitnesses on startup
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/app/BisqSetup.java
Owners: @ripcurlx

Add sign all checkbox. Fix list entry display
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
Owners: @ripcurlx, @sqrrm

Add summary to log and clipboard
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
Owners: @ripcurlx, @sqrrm

Apply shutdown and memory check again
  core/src/main/java/bisq/core/app/misc/ExecutableForAppWithP2p.java
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
Owners: @ripcurlx

Revert code change for periodic updates between seed nodes.
  p2p/src/main/java/bisq/network/p2p/P2PService.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
Owners: @ripcurlx

Add sign all checkbox. Fix list entry display (#3450)
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
Owners: @ripcurlx, @sqrrm

Use safe version for seednodes (#3452)
  core/src/main/java/bisq/core/app/misc/ExecutableForAppWithP2p.java
  p2p/src/main/java/bisq/network/p2p/P2PService.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
Owners: @ripcurlx

Keep republish internal to SignedWitnessService
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
Owners: @ripcurlx

Arbitrator republish signedWitnesses on startup (#3448)
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
Owners: @ripcurlx

Improve new feature popup for ntp and account signing
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/components/HyperlinkWithIcon.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/NewTradeProtocolLaunchWindow.java
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
Owners: @ripcurlx, @sqrrm

Add issue template with steps to reproduce and actual/expected behavior
  .github/ISSUE_TEMPLATE.md
Owners: @ripcurlx

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
