Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

Minimal HTTP API
  .dockerignore
  .idea/codeStyles/Project.xml
  .travis.yml
  api/.dockerignore
  api/README.md
  api/docker-compose-base.yml
  api/docker-compose.yml
  api/docker/dev/Dockerfile
  api/docker/startApi.sh
  api/src/main/java/bisq/api/http/HttpApiModule.java
  api/src/main/java/bisq/api/http/app/HttpApiHeadlessApp.java
  api/src/main/java/bisq/api/http/app/HttpApiHeadlessModule.java
  api/src/main/java/bisq/api/http/app/HttpApiMain.java
  api/src/main/java/bisq/api/http/model/VersionDetails.java
  api/src/main/java/bisq/api/http/service/HttpApiInterfaceV1.java
  api/src/main/java/bisq/api/http/service/HttpApiServer.java
  api/src/main/java/bisq/api/http/service/endpoint/VersionEndpoint.java
  api/src/main/resources/META-INF/custom-swagger-ui/index.html
  api/src/main/resources/openapi-configuration.json
  api/src/testIntegration/java/bisq/api/http/ApiTestHelper.java
  api/src/testIntegration/java/bisq/api/http/ContainerFactory.java
  api/src/testIntegration/java/bisq/api/http/RegexMatcher.java
  api/src/testIntegration/java/bisq/api/http/SwaggerIT.java
  api/src/testIntegration/java/bisq/api/http/VersionEndpointIT.java
  api/src/testIntegration/java/bisq/api/http/arquillian/CubeLogger.java
  api/src/testIntegration/java/bisq/api/http/arquillian/CubeLoggerExtension.java
  api/src/testIntegration/resources/META-INF/services/org.jboss.arquillian.core.spi.LoadableExtension
  api/src/testIntegration/resources/arquillian.xml
  api/src/testIntegration/resources/logback-test.xml
  build.gradle
  core/src/main/java/bisq/core/app/AppOptionKeys.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  desktop/src/main/java/bisq/desktop/app/BisqAppMain.java
  gradle/witness/gradle-witness.gradle
  settings.gradle
Owners: @ripcurlx, @cbeams, @sqrrm

Decrease logs verbosity for integration tests
  api/README.md
  api/src/testIntegration/java/bisq/api/http/ContainerFactory.java
  api/src/testIntegration/resources/logback-test.xml
Owners: @ripcurlx

Add onInitP2pNetwork and onInitWallet to BisqSetupListener
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/BisqHeadlessApp.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/app/HeadlessApp.java
  desktop/src/main/java/bisq/desktop/app/BisqAppMain.java
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
Owners: @ripcurlx, @sqrrm

Start server at onInitWallet and add wallet password handler
  api/src/main/java/bisq/api/http/app/HttpApiHeadlessApp.java
  api/src/main/java/bisq/api/http/app/HttpApiMain.java
  core/src/main/java/bisq/core/app/BisqHeadlessApp.java
  core/src/main/java/bisq/core/app/BisqSetup.java
Owners: @ripcurlx

Add periodic log to remind user to enter pw
  api/src/main/java/bisq/api/http/app/HttpApiHeadlessApp.java
Owners: @ripcurlx

Security framework for the API
  api/README.md
  api/src/main/java/bisq/api/http/HttpApiModule.java
  api/src/main/java/bisq/api/http/exceptions/ExceptionMappers.java
  api/src/main/java/bisq/api/http/exceptions/UnauthorizedException.java
  api/src/main/java/bisq/api/http/model/AuthForm.java
  api/src/main/java/bisq/api/http/model/AuthResult.java
  api/src/main/java/bisq/api/http/model/ChangePassword.java
  api/src/main/java/bisq/api/http/service/HttpApiInterfaceV1.java
  api/src/main/java/bisq/api/http/service/HttpApiServer.java
  api/src/main/java/bisq/api/http/service/auth/ApiPasswordManager.java
  api/src/main/java/bisq/api/http/service/auth/AuthFilter.java
  api/src/main/java/bisq/api/http/service/auth/TokenRegistry.java
  api/src/main/java/bisq/api/http/service/endpoint/UserEndpoint.java
  api/src/test/java/bisq/api/http/service/auth/ApiPasswordManagerTest.java
  api/src/test/java/bisq/api/http/service/auth/AuthFilterTest.java
  api/src/test/java/bisq/api/http/service/auth/TokenRegistryTest.java
  api/src/testIntegration/java/bisq/api/http/UserEndpointIT.java
  build.gradle
Owners: @ripcurlx, @cbeams

API over TOR
  api/src/main/java/bisq/api/http/service/HttpApiServer.java
Owners: @ripcurlx

Remove swagger jaxrs
  api/src/main/java/bisq/api/http/service/HttpApiServer.java
  api/src/main/resources/META-INF/custom-swagger-ui/index.html
  api/src/main/resources/openapi-configuration.json
  api/src/testIntegration/java/bisq/api/http/SwaggerIT.java
  build.gradle
  gradle/witness/gradle-witness.gradle
Owners: @ripcurlx, @cbeams

Manual swagger documentation generation
  api/src/main/java/bisq/api/http/service/HttpApiServer.java
  api/src/main/resources/META-INF/swagger/openapi.json
  api/src/main/resources/META-INF/swagger/ui/favicon-16x16.png
  api/src/main/resources/META-INF/swagger/ui/favicon-32x32.png
  api/src/main/resources/META-INF/swagger/ui/index.html
  api/src/main/resources/META-INF/swagger/ui/swagger-ui-bundle.js
  api/src/main/resources/META-INF/swagger/ui/swagger-ui.css
  api/src/test/java/bisq/api/http/service/auth/SwaggerGenerator.java
  api/src/testIntegration/java/bisq/api/http/SwaggerIT.java
  build.gradle
Owners: @ripcurlx, @cbeams

Fixed column indexing.
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.java
Owners: @ripcurlx, @sqrrm

bump guice version and start testing desktop guice setup
  build.gradle
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
  gradle/witness/gradle-witness.gradle
Owners: @cbeams, @ripcurlx, @sqrrm

use singleton annotation instead of binding as singleton.
  core/src/main/java/bisq/core/util/BSFormatter.java
  core/src/main/java/bisq/core/util/BsqFormatter.java
  desktop/src/main/java/bisq/desktop/DesktopModule.java
  desktop/src/main/java/bisq/desktop/Navigation.java
  desktop/src/main/java/bisq/desktop/common/fxml/FxmlViewLoader.java
  desktop/src/main/java/bisq/desktop/common/view/CachingViewLoader.java
  desktop/src/main/java/bisq/desktop/common/view/guice/InjectorViewFactory.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/BondingViewUtils.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/DisplayedTransactionsFactory.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TradableRepository.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionAwareTradableFactory.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionListItemFactory.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBook.java
  desktop/src/main/java/bisq/desktop/main/overlays/notifications/NotificationCenter.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/TorNetworkSettingsWindow.java
  desktop/src/main/java/bisq/desktop/main/presentation/DaoPresentation.java
  desktop/src/main/java/bisq/desktop/main/presentation/MarketPricePresentation.java
  desktop/src/main/java/bisq/desktop/util/Transitions.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
Owners: @ripcurlx, @sqrrm

don't fail if there is no shutdown hook.
  desktop/src/main/java/bisq/desktop/main/overlays/Overlay.java
Owners: @ripcurlx, @sqrrm

update witness file for new guice version
  gradle/witness/gradle-witness.gradle
Owners: @cbeams

list Masari
  assets/src/main/java/bisq/asset/coins/Masari.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/MasariTest.java
  core/src/main/resources/i18n/displayStrings.properties
Owners: @blabno, @ripcurlx

Check that proposal is in correct cycle
  core/src/main/java/bisq/core/dao/governance/voteresult/VoteResultService.java
Owners: @ripcurlx

Update translations
  core/src/main/resources/i18n/displayStrings_ja.properties
  core/src/main/resources/i18n/displayStrings_zh.properties
Owners: @ripcurlx

Update translations
  core/src/main/resources/i18n/displayStrings_ja.properties
  core/src/main/resources/i18n/displayStrings_zh.properties
Owners: @ripcurlx

Update resources
  p2p/src/main/resources/AccountAgeWitnessStore_BTC_MAINNET
Owners: @ripcurlx

Check that proposal is in correct cycle
  core/src/main/java/bisq/core/dao/governance/voteresult/VoteResultService.java
Owners: @ripcurlx

Don't force close on checkpoint fail
  desktop/src/main/java/bisq/desktop/main/MainView.java
Owners: @ripcurlx, @sqrrm

Update resources
  p2p/src/main/resources/AccountAgeWitnessStore_BTC_MAINNET
Owners: @ripcurlx

Don't force close on checkpoint fail
  desktop/src/main/java/bisq/desktop/main/MainView.java
Owners: @ripcurlx, @sqrrm

Update bitcoinj checkpoint file
  core/src/main/resources/wallet/checkpoints.txt
Owners: @ripcurlx

Update bitcoinj checkpoint file
  core/src/main/resources/wallet/checkpoints.txt
Owners: @ripcurlx

Bump version number
  build.gradle
  common/src/main/java/bisq/common/app/Version.java
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/Info.plist
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/insert_snapshot_version.sh
  desktop/package/macosx/replace_version_number.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
Owners: @cbeams, @ripcurlx, @sqrrm

Revert to SNAPSHOT version
  build.gradle
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/insert_snapshot_version.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
Owners: @cbeams, @ripcurlx, @sqrrm

Create VFCTest.java
  assets/src/test/java/bisq/asset/coins/VFCTest.java
Owners: @blabno

Create VFCASH.java
  assets/src/main/java/bisq/asset/coins/VFCASH.java
Owners: @blabno

Delete VFCTest.java
  assets/src/test/java/bisq/asset/coins/VFCTest.java
Owners: @blabno

Create VFCASHTest.java
  assets/src/test/java/bisq/asset/coins/VFCASHTest.java
Owners: @blabno

Update bisq.asset.Asset
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
Owners: @blabno

Add coin VARIUS
  assets/src/main/java/bisq/asset/coins/VARIUS.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/VARIUSTest.java
Owners: @blabno

Refactor exception handling
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshot.java
Owners: @ripcurlx

Fix merge conflict
  build.gradle
Owners: @cbeams

Update trading amount to prevent popup loop
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
Owners: @ripcurlx, @sqrrm

Dynamic list view size in accounts view
  desktop/src/main/java/bisq/desktop/main/account/AccountView.fxml
  desktop/src/main/java/bisq/desktop/main/account/content/altcoinaccounts/AltCoinAccountsView.java
  desktop/src/main/java/bisq/desktop/main/account/content/fiataccounts/FiatAccountsView.java
Owners: @ripcurlx, @sqrrm

Dynamic list view size in Dao network monitor view
  desktop/src/main/java/bisq/desktop/main/dao/monitor/MonitorView.fxml
  desktop/src/main/java/bisq/desktop/main/dao/monitor/StateMonitorView.java
Owners: @ripcurlx, @sqrrm

Dynamic list view size for asset listing fee
  desktop/src/main/java/bisq/desktop/main/dao/burnbsq/BurnBsqView.fxml
Owners: @ripcurlx, @sqrrm

Dynamic list view sizes for DAO bonding tab
  desktop/src/main/java/bisq/desktop/main/dao/bonding/BondingView.fxml
  desktop/src/main/java/bisq/desktop/main/dao/bonding/bonds/BondsView.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/reputation/MyReputationView.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/roles/RolesView.java
Owners: @ripcurlx, @sqrrm
