Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

Add refund agent domain
  common/src/main/java/bisq/common/app/Version.java
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/filter/Filter.java
  core/src/main/java/bisq/core/proto/network/CoreNetworkProtoResolver.java
  core/src/main/java/bisq/core/support/dispute/refund/refundagent/RefundAgent.java
  core/src/main/java/bisq/core/support/dispute/refund/refundagent/RefundAgentManager.java
  core/src/main/java/bisq/core/support/dispute/refund/refundagent/RefundAgentService.java
  core/src/main/java/bisq/core/user/User.java
  core/src/main/java/bisq/core/user/UserPayload.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/windows/FilterWindow.java
Owners: @ripcurlx, @sqrrm

Support refundAgent
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/offer/OfferBookService.java
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  core/src/main/java/bisq/core/setup/CorePersistedDataHost.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationManager.java
  core/src/main/java/bisq/core/support/dispute/refund/RefundDisputeList.java
  core/src/main/java/bisq/core/support/dispute/refund/RefundManager.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/notifications/NotificationCenter.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/TradeStepInfo.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
  desktop/src/main/java/bisq/desktop/main/support/SupportView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/refund/RefundAgentView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/client/refund/RefundClientView.java
Owners: @ripcurlx, @sqrrm

Apply refundAgent domain
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/offer/OpenOffer.java
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  core/src/main/java/bisq/core/offer/availability/DisputeAgentSelection.java
  core/src/main/java/bisq/core/offer/availability/OfferAvailabilityModel.java
  core/src/main/java/bisq/core/offer/availability/tasks/ProcessOfferAvailabilityResponse.java
  core/src/main/java/bisq/core/offer/messages/OfferAvailabilityResponse.java
  core/src/main/java/bisq/core/proto/persistable/CorePersistenceProtoResolver.java
  core/src/main/java/bisq/core/support/dispute/refund/RefundDisputeList.java
  core/src/main/java/bisq/core/support/dispute/refund/RefundResultState.java
  core/src/main/java/bisq/core/support/dispute/refund/refundagent/RefundAgentManager.java
  core/src/main/java/bisq/core/trade/BuyerAsMakerTrade.java
  core/src/main/java/bisq/core/trade/BuyerAsTakerTrade.java
  core/src/main/java/bisq/core/trade/BuyerTrade.java
  core/src/main/java/bisq/core/trade/SellerAsMakerTrade.java
  core/src/main/java/bisq/core/trade/SellerAsTakerTrade.java
  core/src/main/java/bisq/core/trade/SellerTrade.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/main/java/bisq/core/trade/messages/InputsForDepositTxRequest.java
  core/src/main/java/bisq/core/trade/protocol/ProcessModel.java
  core/src/main/java/bisq/core/trade/protocol/tasks/maker/MakerCreateAndSignContract.java
  core/src/main/java/bisq/core/trade/protocol/tasks/maker/MakerProcessesInputsForDepositTxRequest.java
  core/src/main/java/bisq/core/trade/protocol/tasks/taker/TakerSendInputsForDepositTxRequest.java
  core/src/main/java/bisq/core/trade/protocol/tasks/taker/TakerVerifyAndSignContract.java
  core/src/main/java/bisq/core/trade/statistics/TradeStatistics2.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/account/AccountView.java
  desktop/src/main/java/bisq/desktop/main/account/register/refundagent/RefundAgentRegistrationView.fxml
  desktop/src/main/java/bisq/desktop/main/account/register/refundagent/RefundAgentRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/account/register/refundagent/RefundAgentRegistrationViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
Owners: @ripcurlx, @sqrrm

Apply refund domain
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/support/SupportType.java
  core/src/main/java/bisq/core/support/dispute/Dispute.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/java/bisq/core/support/dispute/refund/RefundDisputeList.java
  core/src/main/java/bisq/core/support/dispute/refund/RefundDisputeListService.java
  core/src/main/java/bisq/core/support/dispute/refund/RefundManager.java
  core/src/main/java/bisq/core/support/dispute/refund/RefundSession.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ContractWindow.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DisputeSummaryWindow.java
Owners: @ripcurlx, @sqrrm

Apply refundAgent payout
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/btc/TxFeeEstimationService.java
  core/src/main/java/bisq/core/btc/wallet/BtcWalletService.java
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
  core/src/main/java/bisq/core/proto/network/CoreNetworkProtoResolver.java
  core/src/main/java/bisq/core/support/dispute/Dispute.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/java/bisq/core/support/dispute/refund/RefundManager.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/main/java/bisq/core/trade/protocol/tasks/buyer/BuyerProcessDepositTxAndDelayedPayoutTxMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/maker/MakerSetsLockTime.java
  core/src/main/java/bisq/core/trade/protocol/tasks/seller/SellerCreatesDelayedPayoutTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/seller/SellerFinalizesDelayedPayoutTx.java
  core/src/main/java/bisq/core/util/BSFormatter.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsListItem.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DisputeSummaryWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
Owners: @ripcurlx, @sqrrm

Handle tx info and balances
  core/src/main/java/bisq/core/btc/Balances.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/main/java/bisq/core/trade/messages/PeerPublishedDelayedPayoutTxMessage.java
  core/src/main/java/bisq/core/trade/protocol/TradeProtocol.java
  core/src/main/java/bisq/core/trade/protocol/tasks/buyer/BuyerProcessDepositTxAndDelayedPayoutTxMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/seller/SellerFinalizesDelayedPayoutTx.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/funds/transactions/DisplayedTransactionsFactory.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TradableRepository.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionAwareTradableFactory.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionAwareTrade.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionListItemFactory.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsListItem.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DisputeSummaryWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
  desktop/src/test/java/bisq/desktop/main/funds/transactions/TransactionAwareTradeTest.java
Owners: @ripcurlx, @sqrrm

Remove mediation activation
  core/src/main/java/bisq/core/support/dispute/mediation/MediationManager.java
Owners: @ripcurlx

Add new tac accepted flag for v1.2.0 and adjust text
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/main/java/bisq/core/user/PreferencesPayload.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/TacWindow.java
Owners: @ripcurlx, @sqrrm

Fix params for test classes
  core/src/test/java/bisq/core/offer/OpenOfferManagerTest.java
  core/src/test/java/bisq/core/user/UserPayloadModelVOTest.java
  desktop/src/test/java/bisq/desktop/main/funds/transactions/TransactionAwareTradableFactoryTest.java
Owners: @ripcurlx, @sqrrm

Retrieve only unsigned witnesses for arbitrator to sign
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
Owners: @ripcurlx

Accounts signed by arbitrators are signers
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
Owners: @ripcurlx

Disable test due to travis issues
  core/src/test/java/bisq/core/payment/PaymentAccountsTest.java
Owners: @ripcurlx

Fix comparison
  core/src/main/java/bisq/core/payment/PaymentAccountUtil.java
Owners: @ripcurlx

Improve handling of adding tx to wallet
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
  core/src/main/java/bisq/core/btc/wallet/WalletService.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/main/java/bisq/core/trade/protocol/ProcessModel.java
  core/src/main/java/bisq/core/trade/protocol/tasks/ProcessPeerPublishedDelayedPayoutTxMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/buyer/BuyerProcessDelayedPayoutTxSignatureRequest.java
  core/src/main/java/bisq/core/trade/protocol/tasks/buyer/BuyerProcessDepositTxAndDelayedPayoutTxMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/buyer/BuyerProcessPayoutTxPublishedMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/buyer/BuyerSignsDelayedPayoutTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/ProcessMediatedPayoutTxPublishedMessage.java
  core/src/main/java/bisq/core/trade/protocol/tasks/seller/SellerCreatesDelayedPayoutTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/seller/SellerFinalizesDelayedPayoutTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/seller/SellerSendDelayedPayoutTxSignatureRequest.java
  core/src/main/java/bisq/core/trade/protocol/tasks/seller/SellerSignsDelayedPayoutTx.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionAwareTrade.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionListItemFactory.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsListItem.java
Owners: @ripcurlx, @sqrrm

Add delayedPayoutTx to dispute
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/support/dispute/Dispute.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ContractWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
Owners: @ripcurlx, @sqrrm

Fix test
  desktop/src/test/java/bisq/desktop/main/funds/transactions/TransactionAwareTradeTest.java
Owners: @ripcurlx, @sqrrm

Use RECIPIENT_BTC_ADDRESS from DAO for trade fee
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  core/src/main/java/bisq/core/offer/placeoffer/PlaceOfferModel.java
  core/src/main/java/bisq/core/offer/placeoffer/tasks/CreateMakerFeeTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/taker/CreateTakerFeeTx.java
Owners: @ripcurlx

Set lockTime to 10 days for altcoins, 20 days others.
  core/src/main/java/bisq/core/trade/protocol/tasks/maker/MakerSetsLockTime.java
Owners: @ripcurlx

Fix params
  core/src/test/java/bisq/core/offer/OpenOfferManagerTest.java
Owners: @ripcurlx

Update text
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/windows/TacWindow.java
Owners: @ripcurlx, @sqrrm

Update docs
  docs/dev-setup.md
Owners: @ripcurlx

Update logging
  core/src/main/java/bisq/core/app/BisqSetup.java
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
Owners: @ripcurlx

Remove log
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Remove arbitrator checks
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  core/src/main/java/bisq/core/offer/placeoffer/tasks/CreateMakerFeeTx.java
  core/src/main/java/bisq/core/trade/protocol/tasks/taker/CreateTakerFeeTx.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
Owners: @ripcurlx, @sqrrm

Add display strings for witness sign state
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
Owners: @ripcurlx, @sqrrm

Remove arbitrator address
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/offer/messages/OfferAvailabilityResponse.java
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationManager.java
  core/src/main/java/bisq/core/support/dispute/refund/RefundManager.java
  core/src/main/java/bisq/core/trade/Contract.java
  core/src/main/java/bisq/core/trade/messages/InputsForDepositTxRequest.java
  core/src/main/java/bisq/core/trade/protocol/tasks/maker/MakerCreateAndSignContract.java
  core/src/main/java/bisq/core/trade/protocol/tasks/maker/MakerProcessesInputsForDepositTxRequest.java
  core/src/main/java/bisq/core/trade/protocol/tasks/taker/TakerVerifyAndSignContract.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ContractWindow.java
  desktop/src/main/java/bisq/desktop/main/support/SupportView.java
Owners: @ripcurlx, @sqrrm

Fix immaturity check
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
Owners: @ripcurlx

Remove log.isDebugEnabled() check
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
Owners: @ripcurlx

Use accountAgeWitness age for non risky payment methods
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
Owners: @ripcurlx

Show information about non risky account types
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
Owners: @ripcurlx, @sqrrm

Fix peer info icon account age text
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  desktop/src/main/java/bisq/desktop/components/PeerInfoIcon.java
Owners: @ripcurlx, @sqrrm

Tweak the English name of Japan Bank Transfer payment method
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

List Animecoin (ANI)
  assets/src/main/java/bisq/asset/coins/Animecoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/AnimecoinTest.java
Owners: @blabno

Add and rename Portfolio History columns meaningfully: issue #3338
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.fxml
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesViewModel.java
Owners: @ripcurlx, @sqrrm

Improve witness handling (#3342)
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/main/java/bisq/core/payment/PaymentAccountUtil.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/components/PeerInfoIcon.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
Owners: @ripcurlx, @sqrrm

Add account signing icons to signing state in account display
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/components/InfoTextField.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/PaymentMethodForm.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep4View.java
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
Owners: @ripcurlx, @sqrrm

Add additional warning in the received payment popup for account signer
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep3View.java
Owners: @ripcurlx, @sqrrm

Remove unnecessary "." that caused layout issues in the past
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep2View.java
Owners: @ripcurlx, @sqrrm

BTCV update
  assets/src/main/java/bisq/asset/coins/BitcoinV.java
Owners: @blabno

fix build issue
  assets/src/main/java/bisq/asset/coins/BitcoinV.java
Owners: @blabno
