Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

Remove new badge from percentage user deposit feature
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
Owners: @ripcurlx, @sqrrm

Fix line break issues in received payment confirmation popup
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep3View.java
Owners: @ripcurlx, @sqrrm

Check if received payload fulfills signing state condition and not any personal witness
  core/src/main/java/bisq/core/app/BisqSetup.java
Owners: @ripcurlx

Show additional badge for account sections to guide user to check out new signing states
  desktop/src/main/java/bisq/desktop/main/MainView.java
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/account/AccountView.java
  desktop/src/main/java/bisq/desktop/main/presentation/AccountPresentation.java
Owners: @ripcurlx, @sqrrm

Increase minimum TX fee to 2 sats/vByte to fix #3106 (#3387)
  core/src/main/java/bisq/core/btc/BaseCurrencyNetwork.java
Owners: @ripcurlx

Fix account signing state in offer book
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
Owners: @ripcurlx, @sqrrm

Update core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update message in failed trade popup
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Account Signing: Improve signed state notificaton (#3388)
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/components/paymentmethods/AssetsForm.java
  desktop/src/main/java/bisq/desktop/main/MainView.java
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/account/AccountView.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep3View.java
  desktop/src/main/java/bisq/desktop/main/presentation/AccountPresentation.java
Owners: @ripcurlx, @sqrrm

Fix account signing state in offer book (#3390)
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
Owners: @ripcurlx, @sqrrm

Rename witnessHash -> accountAgeWitnessHash
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/account/sign/SignedWitness.java
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessTest.java
Owners: @ripcurlx

Fix mistakes in English source (#3386)
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Add enum for SignedWitness verification method
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/account/sign/SignedWitness.java
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessTest.java
Owners: @ripcurlx

Show that even with a order preserving TreeMap protobuf orders the map
  common/src/test/java/bisq/HashMapOrderTest.java
Owners: @ripcurlx

Fix usage of isValidAccountAgeWitness
  core/src/main/java/bisq/core/account/sign/SignedWitness.java
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
  desktop/src/main/java/bisq/desktop/main/account/content/PaymentAccountsView.java
Owners: @ripcurlx, @sqrrm

Revert icon for signstate change
  desktop/src/main/java/bisq/desktop/main/account/content/PaymentAccountsView.java
Owners: @ripcurlx, @sqrrm

Account Signing: Fix verified usage (#3392)
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/account/sign/SignedWitness.java
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessTest.java
Owners: @ripcurlx

Refactor BisqEnvironment
  core/src/main/java/bisq/core/app/BisqEnvironment.java
Owners: @ripcurlx

Clean up dead code parts
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesViewModel.java
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
Owners: @ripcurlx, @sqrrm

Add account signing state to payment account selection
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/createoffer/CreateOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferViewModel.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
  desktop/src/test/java/bisq/desktop/main/offer/createoffer/CreateOfferViewModelTest.java
Owners: @ripcurlx, @sqrrm

Account signing: add signing state to payment account selection (#3403)
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/createoffer/CreateOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesViewModel.java
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
  desktop/src/test/java/bisq/desktop/main/offer/createoffer/CreateOfferViewModelTest.java
Owners: @ripcurlx, @sqrrm

List Ndau (XND)
  assets/src/main/java/bisq/asset/coins/Ndau.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/NdauTest.java
Owners: @blabno

Revert temporary value for dev testing
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
Owners: @ripcurlx

Only enable button if there are accounts to be signed
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
Owners: @ripcurlx, @sqrrm

disable jdk12 for now because its broken on travis
  .travis.yml
Owners: @ripcurlx

Account signing: revert dev date setting for trusted accounts (#3404)
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
Owners: @ripcurlx, @sqrrm

Remove dead code
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
Owners: @ripcurlx

Add trade limit exception for accounts signed by arbitrator
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/main/java/bisq/core/payment/PaymentAccounts.java
Owners: @ripcurlx

Add trade limit exceptions (#3406)
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/main/java/bisq/core/payment/PaymentAccounts.java
Owners: @ripcurlx

Update translations to adapt to new unified delay
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/presentation/AccountPresentation.java
Owners: @ripcurlx, @sqrrm

Add badge support for refund agent (new arbitrator) tickets
  core/src/main/java/bisq/core/presentation/SupportTicketsPresentation.java
Owners: @ripcurlx

Fix translation typo
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Clean up arbitrator issues in translation
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/account/register/arbitrator/ArbitratorRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ContractWindow.java
  desktop/src/main/java/bisq/desktop/main/support/SupportView.java
Owners: @ripcurlx, @sqrrm

Only show refund agent label to support staff
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/java/bisq/core/support/dispute/refund/RefundManager.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/account/register/refundagent/RefundAgentRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ContractWindow.java
  desktop/src/main/java/bisq/desktop/main/support/SupportView.java
Owners: @ripcurlx, @sqrrm

Apply rule to not allow BSQ outputs after BTC output for regular txs
  core/src/main/java/bisq/core/dao/node/parser/TxOutputParser.java
  core/src/main/java/bisq/core/dao/node/parser/TxParser.java
Owners: @ripcurlx

Update translations to adapt to new unified delay (#3409)
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/presentation/AccountPresentation.java
Owners: @ripcurlx, @sqrrm

NTP: Fix a couple of UI issues in the New Trade Protocol (#3410)
  core/src/main/java/bisq/core/presentation/SupportTicketsPresentation.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/java/bisq/core/support/dispute/refund/RefundManager.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/account/register/arbitrator/ArbitratorRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/account/register/refundagent/RefundAgentRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ContractWindow.java
  desktop/src/main/java/bisq/desktop/main/support/SupportView.java
Owners: @ripcurlx, @sqrrm

Enforce exactly 1 BSQ output for vote reveal tx
  core/src/main/java/bisq/core/dao/node/parser/TxOutputParser.java
Owners: @ripcurlx

Clean up property exposure
  core/src/main/java/bisq/core/presentation/SupportTicketsPresentation.java
Owners: @ripcurlx

Improve differentiation between mediation and arbitration cases
  core/src/main/java/bisq/core/support/dispute/DisputeManager.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationManager.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationManager.java
  core/src/main/java/bisq/core/support/dispute/refund/RefundManager.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/notifications/NotificationCenter.java
Owners: @ripcurlx, @sqrrm

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
