Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

[BUGFIX] Use 32-byte key in requestData path
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
Owners: @ripcurlx

[DEAD CODE] Remove getProtectedDataStoreMap
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/test/java/bisq/network/p2p/storage/TestState.java
Owners: @ripcurlx

Update based on review feedback
  build.gradle
  p2p/src/test/java/bisq/network/p2p/MockNode.java
Owners: @cbeams, @ripcurlx

Implement remove-before-add message sequence behavior
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageClientAPITest.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageProtectedStorageEntryTest.java
Owners: @ripcurlx

[TESTS] Allow tests to validate SequenceNumberMap write separately
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageClientAPITest.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageProtectedStorageEntryTest.java
  p2p/src/test/java/bisq/network/p2p/storage/TestState.java
Owners: @ripcurlx

List Denarius (D)
  assets/src/main/java/bisq/asset/coins/Denarius.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/DenariusTest.java
Owners: @blabno

Fix typos and cleanup
  CONTRIBUTING.md
  desktop/src/main/java/bisq/desktop/components/SeparatedPhaseBars.java
  desktop/src/main/java/bisq/desktop/components/TooltipUtil.java
  desktop/src/main/java/bisq/desktop/components/TxIdTextField.java
  desktop/src/main/java/bisq/desktop/components/controlsfx/control/PopOver.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/FasterPaymentsForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/JapanBankTransferForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/data/JapanBankData.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
  relay/src/main/java/bisq/relay/RelayMain.java
Owners: @ripcurlx, @sqrrm

Remove redundant interfaces from SendPrivateNotificationWindow
  desktop/src/main/java/bisq/desktop/main/overlays/editor/PeerInfoWithTagEditor.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SendPrivateNotificationWindow.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/DisputeView.java
Owners: @ripcurlx, @sqrrm

Use dependency injection in FilterWindow and SendAlertMessageWindow
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/FilterWindow.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SendAlertMessageWindow.java
Owners: @ripcurlx, @sqrrm

Refactor OfferView constructor
  desktop/src/main/java/bisq/desktop/main/offer/BuyOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/OfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/SellOfferView.java
Owners: @ripcurlx, @sqrrm

Refactored Tor-related stuff
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
Owners: @ripcurlx

Migrate to new folder structure of HSs
  monitor/src/main/java/bisq/monitor/AvailableTor.java
  p2p/src/main/java/bisq/network/p2p/network/NewTor.java
  p2p/src/main/java/bisq/network/p2p/network/RunningTor.java
  p2p/src/main/java/bisq/network/p2p/network/TorMode.java
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
Owners: @ripcurlx

Only report HSready when all HS are started
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
Owners: @ripcurlx

Report TorNode ready once we now our address
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
Owners: @ripcurlx

Formatting cosmetics
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
Owners: @ripcurlx

Renew address is active
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
  p2p/src/main/java/bisq/network/p2p/P2PService.java
  p2p/src/main/java/bisq/network/p2p/network/LocalhostNetworkNode.java
  p2p/src/main/java/bisq/network/p2p/network/NetworkNode.java
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
Owners: @ripcurlx, @sqrrm

Clear unused hidden services
  core/src/main/java/bisq/core/trade/TradeManager.java
  p2p/src/main/java/bisq/network/p2p/P2PService.java
  p2p/src/main/java/bisq/network/p2p/network/LocalhostNetworkNode.java
  p2p/src/main/java/bisq/network/p2p/network/NetworkNode.java
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
Owners: @ripcurlx

Add informative popup before renew
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
Owners: @ripcurlx, @sqrrm

Reenable rolling backup
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
Owners: @ripcurlx

HS backup active
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
  p2p/src/main/java/bisq/network/p2p/P2PService.java
  p2p/src/main/java/bisq/network/p2p/network/LocalhostNetworkNode.java
  p2p/src/main/java/bisq/network/p2p/network/NetworkNode.java
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
Owners: @ripcurlx, @sqrrm

HS restore active
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
  p2p/src/main/java/bisq/network/p2p/P2PService.java
  p2p/src/main/java/bisq/network/p2p/network/LocalhostNetworkNode.java
  p2p/src/main/java/bisq/network/p2p/network/NetworkNode.java
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
Owners: @ripcurlx, @sqrrm

Ignore HS dirs like .DS_Store
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
Owners: @ripcurlx

Adjust expected HS ready events
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
Owners: @ripcurlx

Report if HS(s) fail to start in time
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
Owners: @ripcurlx

Handle duplicate hidden service situation
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
Owners: @ripcurlx

DE translations
  core/src/main/resources/i18n/displayStrings_de.properties
Owners: @ripcurlx

Streamline button text (+ DE translation)
  core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings_de.properties
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
Owners: @ripcurlx, @sqrrm

Prevent connecting to self
  p2p/src/main/java/bisq/network/p2p/network/NetworkNode.java
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
  p2p/src/main/java/bisq/network/p2p/peers/PeerManager.java
Owners: @ripcurlx

Cleanup
  p2p/src/main/java/bisq/network/p2p/network/NewTor.java
  p2p/src/main/java/bisq/network/p2p/network/RunningTor.java
  p2p/src/main/java/bisq/network/p2p/network/TorMode.java
Owners: @ripcurlx

Refactored migration and validation
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
Owners: @ripcurlx

Incoming messages get accepted if addressed to us
  p2p/src/main/java/bisq/network/p2p/P2PService.java
  p2p/src/main/java/bisq/network/p2p/network/NetworkNode.java
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
  p2p/src/main/java/bisq/network/p2p/peers/PeerManager.java
Owners: @ripcurlx

Added tests but ignore them for now
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
  p2p/src/test/java/bisq/network/p2p/network/MultiHSTest.java
  p2p/src/test/resources/logback.xml
Owners: @ripcurlx

Fix compilation error
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
Owners: @ripcurlx, @sqrrm

Add missing `@Named` annotations for CoinFormatter injection
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsView.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferView.java
Owners: @ripcurlx, @sqrrm

Add additional trade amount limit for trades that qualify for account signing
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep4View.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep3View.java
Owners: @ripcurlx, @sqrrm

Only allow seller side to sign accounts
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesViewModel.java
Owners: @ripcurlx, @sqrrm

Fix typos
  common/src/main/proto/pb.proto
Owners: @ripcurlx

Split EmptyWalletWindow into BsqEmptyWalletWindow and BtcEmptyWalletWindow
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/BsqEmptyWalletWindow.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/BtcEmptyWalletWindow.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/EmptyWalletWindow.java
Owners: @ripcurlx, @sqrrm

Remove @FxmlView from abstract view classes
  desktop/src/main/java/bisq/desktop/main/account/register/AgentRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/dao/monitor/StateMonitorView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/DisputeView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/DisputeAgentView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/client/DisputeClientView.java
Owners: @ripcurlx, @sqrrm

Use generic javax imports for DI
  core/src/main/java/bisq/core/account/sign/SignedWitnessStorageService.java
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessStorageService.java
  core/src/main/java/bisq/core/alert/AlertManager.java
  core/src/main/java/bisq/core/alert/PrivateNotificationManager.java
  core/src/main/java/bisq/core/app/TorSetup.java
  core/src/main/java/bisq/core/dao/governance/blindvote/storage/BlindVoteStorageService.java
  core/src/main/java/bisq/core/dao/governance/proposal/storage/appendonly/ProposalStorageService.java
  core/src/main/java/bisq/core/dao/governance/proposal/storage/temp/TempProposalStorageService.java
  core/src/main/java/bisq/core/filter/FilterManager.java
  core/src/main/java/bisq/core/offer/OfferBookService.java
  core/src/main/java/bisq/core/support/dispute/arbitration/arbitrator/ArbitratorManager.java
  core/src/main/java/bisq/core/support/dispute/mediation/mediator/MediatorManager.java
  core/src/main/java/bisq/core/support/dispute/refund/refundagent/RefundAgentManager.java
  core/src/main/java/bisq/core/trade/statistics/TradeStatistics2StorageService.java
  core/src/main/java/bisq/core/trade/statistics/TradeStatisticsManager.java
  desktop/src/main/java/bisq/desktop/main/account/register/AgentRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/account/register/arbitrator/ArbitratorRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/account/register/mediator/MediatorRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/account/register/refundagent/RefundAgentRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/DisputeAgentView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/arbitration/ArbitratorView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/mediation/MediatorView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/refund/RefundAgentView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/client/arbitration/ArbitrationClientView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/client/mediation/MediationClientView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/client/refund/RefundClientView.java
  p2p/src/main/java/bisq/network/p2p/NetworkNodeProvider.java
  p2p/src/main/java/bisq/network/p2p/network/ConnectionConfig.java
  p2p/src/main/java/bisq/network/p2p/peers/BanList.java
  p2p/src/main/java/bisq/network/p2p/peers/PeerManager.java
  p2p/src/main/java/bisq/network/p2p/storage/persistence/PersistableNetworkPayloadListService.java
Owners: @ripcurlx, @sqrrm
