Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

Bump version number
  build.gradle
  common/src/main/java/bisq/common/app/Version.java
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/Info.plist
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/insert_snapshot_version.sh
  desktop/package/macosx/replace_version_number.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
Owners: @cbeams, @ripcurlx, @sqrrm

List WORX (WORX)
  assets/src/main/java/bisq/asset/coins/WORX.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/WORXTest.java
Owners: @blabno

Add checkpoint at block 586920
  core/src/main/java/bisq/core/dao/monitoring/DaoStateMonitoringService.java
  core/src/main/java/bisq/core/dao/monitoring/network/Checkpoint.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/MainView.java
  desktop/src/main/java/bisq/desktop/main/dao/monitor/daostate/DaoStateMonitorView.java
Owners: @ripcurlx, @sqrrm

Add Japanese translations
  core/src/main/java/bisq/core/locale/LanguageUtil.java
  core/src/main/resources/i18n/displayStrings_ja.properties
  core/update_translations.sh
Owners: @ripcurlx

force jdk 10 on build to avoid confusion when some tests fail.
  build.gradle
Owners: @cbeams

Add Japanese translations
  core/src/main/java/bisq/core/locale/LanguageUtil.java
  core/src/main/resources/i18n/displayStrings_ja.properties
  core/update_translations.sh
Owners: @ripcurlx

mention how to use Adoptopenjdk to build
  docs/build.md
Owners: @ripcurlx

Update translations
  core/src/main/resources/i18n/displayStrings_es.properties
  core/src/main/resources/i18n/displayStrings_fr.properties
  core/src/main/resources/i18n/displayStrings_ru.properties
  core/src/main/resources/i18n/displayStrings_zh.properties
Owners: @ripcurlx

fix generics warning
  monitor/src/main/java/bisq/monitor/metric/P2PNetworkLoad.java
Owners: @ripcurlx

Bisq
  monitor/src/main/java/bisq/monitor/metric/P2PNetworkLoad.java
Owners: @ripcurlx

Revert to SNAPSHOT version
  build.gradle
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/insert_snapshot_version.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
Owners: @cbeams, @ripcurlx, @sqrrm

add comment
  build.gradle
Owners: @cbeams

fix type
  build.gradle
Owners: @cbeams

Fix typos
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/account/sign/SignedWitnessStorageService.java
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessStorageService.java
Owners: @ripcurlx

Change scope of safe account age point in time as long as it is not used anywhere else
  core/src/main/java/bisq/core/account/witness/AccountAgeRestrictions.java
Owners: @ripcurlx

Remove old TODO and remove unused duplicate constant for safe account age date
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
Owners: @ripcurlx

Improve documentation
  core/src/main/java/bisq/core/payment/TradeLimits.java
  core/src/main/java/bisq/core/payment/payload/PaymentMethod.java
Owners: @ripcurlx

inline test method and simplify
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
Owners: @ripcurlx

fix warnings
  p2p/src/main/java/bisq/network/p2p/storage/persistence/AppendOnlyDataStoreService.java
Owners: @ripcurlx

move all init code to setUp
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
Owners: @ripcurlx

make local what can be local
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
Owners: @ripcurlx

inject clock for usage in isDateInTolerance
  core/src/main/java/bisq/core/CoreModule.java
  core/src/main/java/bisq/core/account/sign/SignedWitness.java
  core/src/main/java/bisq/core/account/witness/AccountAgeWitness.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/main/java/bisq/network/p2p/storage/payload/DateTolerantPayload.java
Owners: @ripcurlx

rename
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
Owners: @ripcurlx

make test nicer
  core/src/test/java/bisq/core/account/sign/SignedWitnessTest.java
Owners: @ripcurlx

start unit testing SignedWitness
  core/src/main/java/bisq/core/account/sign/SignedWitness.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
  core/src/test/java/bisq/core/account/sign/SignedWitnessTest.java
Owners: @ripcurlx

remove empty lines
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
Owners: @ripcurlx

Revert "Issue #1896 fixed."
  assets/src/main/java/bisq/asset/coins/Counterparty.java
  assets/src/main/java/bisq/asset/coins/Decred.java
  assets/src/main/java/bisq/asset/coins/EtherClassic.java
  assets/src/main/java/bisq/asset/coins/Namecoin.java
  assets/src/main/java/bisq/asset/coins/Siafund.java
  assets/src/main/java/bisq/asset/coins/Unobtanium.java
  assets/src/main/java/bisq/asset/coins/Zcoin.java
Owners: @blabno

Additional columns are hidden in display and only show up in CSV export.
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.fxml
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesViewModel.java
Owners: @ripcurlx, @sqrrm

Columns added to export but hidden from view table. - Transaction Fee - Maker Fee - Buyer Deposit - Seller Deposit
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.fxml
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesViewModel.java
Owners: @ripcurlx, @sqrrm

Move Clock binding to P2PModule
  core/src/main/java/bisq/core/CoreModule.java
  p2p/src/main/java/bisq/network/p2p/P2PModule.java
Owners: @ripcurlx

test the seednode's guice setup
  build.gradle
  seednode/src/test/java/bisq/seednode/GuiceSetupTest.java
Owners: @cbeams, @ripcurlx

test all of it
  seednode/src/test/java/bisq/seednode/GuiceSetupTest.java
Owners: @ripcurlx

Reformatting.
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.java
Owners: @ripcurlx, @sqrrm

Update build.gradle
  build.gradle
Owners: @cbeams

Reformatting completed.
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.java
Owners: @ripcurlx, @sqrrm

create key directory if it does not exist
  common/src/main/java/bisq/common/crypto/KeyStorage.java
Owners: @ripcurlx

Update tor to 0.4.0.5
  build.gradle
  gradle/witness/gradle-witness.gradle
Owners: @cbeams

Define missing dependency version variables
  build.gradle
Owners: @cbeams

bump guice version and start testing desktop guice setup
  build.gradle
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
  gradle/witness/gradle-witness.gradle
Owners: @cbeams, @ripcurlx, @sqrrm

why does this work? the test should fail because OfferBook is not registered but somehow it seems to be automatically registered which I think guice does not usually do.
  desktop/src/main/java/bisq/desktop/DesktopModule.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
Owners: @ripcurlx, @sqrrm
