Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

[TESTS] Allow remove() verification to be more flexible
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageClientAPITest.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageProtectedStorageEntryTest.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageRemoveExpiredTest.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStoreDisconnectTest.java
  p2p/src/test/java/bisq/network/p2p/storage/TestState.java
Owners: @ripcurlx

Broadcast remove-before-add messages to P2P network
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageClientAPITest.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageProtectedStorageEntryTest.java
Owners: @ripcurlx

[TESTS] Clean up remove verification helpers
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageProtectedStorageEntryTest.java
Owners: @ripcurlx

Additional cleanup of redundant DI annotations
  desktop/src/main/java/bisq/desktop/main/account/register/AgentRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/DisputeAgentView.java
Owners: @ripcurlx, @sqrrm

Use strict stubbing for ReceiptValidatorTest to avoid confusion
  core/src/test/java/bisq/core/payment/ReceiptValidatorTest.java
Owners: @ripcurlx

Prevent taking of offers with unequal bank account types
  core/src/main/java/bisq/core/payment/ReceiptValidator.java
  core/src/test/java/bisq/core/payment/ReceiptValidatorTest.java
Owners: @ripcurlx

Use correct monetary format in BsqFormatter
  core/src/main/java/bisq/core/util/coin/BsqFormatter.java
Owners: @ripcurlx

Only show accepted bonded roles in bond view.
  core/src/main/java/bisq/core/dao/DaoFacade.java
  core/src/main/java/bisq/core/dao/governance/bond/role/BondedRolesRepository.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/roles/RolesView.java
Owners: @ripcurlx, @sqrrm

Fix #3662: Malformed trade chat & dispute speech bubbles
  desktop/src/main/java/bisq/desktop/main/shared/ChatView.java
Owners: @ripcurlx, @sqrrm

Update strings to reflect bisq is exchange network
  core/src/main/resources/i18n/displayStrings.properties
  desktop/package/linux/package.sh
  desktop/package/macosx/create_app.sh
  desktop/package/windows/Bisq.iss
Owners: @ripcurlx, @sqrrm

[BUGFIX] Fix duplicate sequence number use case (startup)
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageProtectedStorageEntryTest.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageRemoveExpiredTest.java
Owners: @ripcurlx

Clean up AtomicBoolean usage in FileManager
  common/src/main/java/bisq/common/storage/FileManager.java
Owners: @ripcurlx

[DEADCODE] Clean up FileManager.java
  common/src/main/java/bisq/common/storage/FileManager.java
Owners: @ripcurlx

[BUGFIX] Shorter delay values not taking precedence
  common/src/main/java/bisq/common/storage/FileManager.java
Owners: @ripcurlx

[REFACTOR] Inline saveNowInternal
  common/src/main/java/bisq/common/storage/FileManager.java
Owners: @ripcurlx

[TESTS] Introduce MapStoreServiceFake
  p2p/src/test/java/bisq/network/p2p/storage/TestState.java
  p2p/src/test/java/bisq/network/p2p/storage/mocks/MapStoreServiceFake.java
Owners: @ripcurlx

[DEADCODE] Remove protectedDataStoreListener
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/main/java/bisq/network/p2p/storage/persistence/ProtectedDataStoreListener.java
  p2p/src/test/java/bisq/network/p2p/storage/TestState.java
Owners: @ripcurlx

[DEADCODE] Remove unused methods in ProtectedDataStoreService
  p2p/src/main/java/bisq/network/p2p/storage/persistence/ProtectedDataStoreService.java
Owners: @ripcurlx

Persist changes to ProtectedStorageEntrys
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/main/java/bisq/network/p2p/storage/persistence/MapStoreService.java
  p2p/src/main/java/bisq/network/p2p/storage/persistence/ProtectedDataStoreService.java
  p2p/src/test/java/bisq/network/p2p/storage/TestState.java
Owners: @ripcurlx

Add re-review text to Contributing Doc
  CONTRIBUTING.md
Owners: @ripcurlx

Moved implementation from MainView to MainViewModel and to display after splash screen.
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
Owners: @ripcurlx, @sqrrm

Remove short cut for legacy arbitrator registration
  desktop/src/main/java/bisq/desktop/main/account/AccountView.java
Owners: @ripcurlx, @sqrrm

Change shortcut for reRepublishAllGovernanceData
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
Owners: @ripcurlx, @sqrrm

Use isAltOrCtrlPressed for removeFailedTrade
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
Owners: @ripcurlx, @sqrrm

Remove showStatisticsPopup
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsView.java
Owners: @ripcurlx, @sqrrm

Cleanup
  desktop/src/main/java/bisq/desktop/main/settings/about/AboutView.java
Owners: @ripcurlx, @sqrrm

List Denarius (D)
  assets/src/main/java/bisq/asset/coins/Denarius.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/DenariusTest.java
Owners: @blabno

Add list of shortcuts
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/settings/about/AboutView.java
Owners: @ripcurlx, @sqrrm

Use 2of2 multisig deposit tx version for manual payout
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ManualPayoutTxWindow.java
Owners: @ripcurlx, @sqrrm

Update comment
  core/src/main/java/bisq/core/dao/governance/voteresult/MissingDataRequestService.java
Owners: @ripcurlx

Replace arbitration link in tac
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/windows/TacWindow.java
Owners: @ripcurlx, @sqrrm

Update bitcoinj checkpoints file
  core/src/main/resources/wallet/checkpoints.txt
Owners: @ripcurlx

Update translations
  core/src/main/resources/i18n/displayStrings_de.properties
  core/src/main/resources/i18n/displayStrings_el.properties
  core/src/main/resources/i18n/displayStrings_es.properties
  core/src/main/resources/i18n/displayStrings_fa.properties
  core/src/main/resources/i18n/displayStrings_fr.properties
  core/src/main/resources/i18n/displayStrings_ja.properties
  core/src/main/resources/i18n/displayStrings_pt.properties
  core/src/main/resources/i18n/displayStrings_pt_BR.properties
  core/src/main/resources/i18n/displayStrings_ru.properties
  core/src/main/resources/i18n/displayStrings_th.properties
  core/src/main/resources/i18n/displayStrings_vi.properties
  core/src/main/resources/i18n/displayStrings_zh.properties
Owners: @ripcurlx

Update data stores
  p2p/src/main/resources/AccountAgeWitnessStore_BTC_MAINNET
  p2p/src/main/resources/SignedWitnessStore_BTC_MAINNET
Owners: @ripcurlx

Use 2of2 multisig deposit tx version for manual payout
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/ManualPayoutTxWindow.java
Owners: @ripcurlx, @sqrrm

Replace arbitration link in tac
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/windows/TacWindow.java
Owners: @ripcurlx, @sqrrm

Added a Pull Request template
  pull_request_template.md
Owners: @ripcurlx

Use lowercase 'bitcoin'
  core/src/main/resources/i18n/displayStrings.properties
  desktop/package/linux/package.sh
  desktop/package/macosx/create_app.sh
  desktop/package/windows/Bisq.iss
Owners: @ripcurlx, @sqrrm

Fix language tags so script and regional variants work correctly
  core/src/main/java/bisq/core/locale/LanguageUtil.java
  core/src/main/resources/i18n/displayStrings_pt-br.properties
  core/src/main/resources/i18n/displayStrings_zh-hans.properties
Owners: @ripcurlx

Adjust update_translations.sh language tags for script/regional variants
  core/update_translations.sh
Owners: @ripcurlx
