Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

Use trading fee in BSQ fee comparison
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Add information if minimum trading fee or minimum security deposit is used
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesViewModel.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
  desktop/src/test/java/bisq/desktop/util/GUIUtilTest.java
Owners: @ripcurlx, @sqrrm

Show minimum security deposit in create offer dialog when used
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
Owners: @ripcurlx, @sqrrm

Only validate security deposit amount if used
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
Owners: @ripcurlx, @sqrrm

Use general "(required minimum)" label with BTC value if min value is used
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesViewModel.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
  desktop/src/test/java/bisq/desktop/util/GUIUtilTest.java
Owners: @ripcurlx, @sqrrm

Use trading fee in BSQ fee comparison
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Add information if minimum trading fee or minimum security deposit is used
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesViewModel.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
  desktop/src/test/java/bisq/desktop/util/GUIUtilTest.java
Owners: @ripcurlx, @sqrrm

Show minimum security deposit in create offer dialog when used
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
Owners: @ripcurlx, @sqrrm

Only validate security deposit amount if used
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
Owners: @ripcurlx, @sqrrm

Use general "(required minimum)" label with BTC value if min value is used
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesViewModel.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
  desktop/src/test/java/bisq/desktop/util/GUIUtilTest.java
Owners: @ripcurlx, @sqrrm

Add bsq.bisq.cc BSQ explorer operated by @m52go
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Add new 4nnuyxm5k5tlyjq3.onion:8333 btcnode operated by @m52go
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

Migrated onions for my 2 btcnodes to new servers, only clearnet changed
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

Temporarily disable z33nukt7ngik3cpe btcnode due to failing service checks
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

Add bsq.bisq.cc BSQ explorer operated by @m52go
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Add new 4nnuyxm5k5tlyjq3.onion:8333 btcnode operated by @m52go
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

Migrated onions for my 2 btcnodes to new servers, only clearnet changed
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

Temporarily disable z33nukt7ngik3cpe btcnode due to failing service checks
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

Remove Greek from supported core languages
  core/src/main/java/bisq/core/locale/LanguageUtil.java
  core/src/main/resources/i18n/displayStrings_el.properties
  core/update_translations.sh
Owners: @ripcurlx

Update translations
  core/src/main/resources/i18n/displayStrings_de.properties
  core/src/main/resources/i18n/displayStrings_es.properties
  core/src/main/resources/i18n/displayStrings_fa.properties
  core/src/main/resources/i18n/displayStrings_fr.properties
  core/src/main/resources/i18n/displayStrings_ja.properties
  core/src/main/resources/i18n/displayStrings_pt-br.properties
  core/src/main/resources/i18n/displayStrings_pt.properties
  core/src/main/resources/i18n/displayStrings_ru.properties
  core/src/main/resources/i18n/displayStrings_th.properties
  core/src/main/resources/i18n/displayStrings_vi.properties
  core/src/main/resources/i18n/displayStrings_zh-hans.properties
  core/src/main/resources/i18n/displayStrings_zh-hant.properties
Owners: @ripcurlx

Update bitcoinj checkpoints file
  core/src/main/resources/wallet/checkpoints.txt
Owners: @ripcurlx

Update data stores
  p2p/src/main/resources/AccountAgeWitnessStore_BTC_MAINNET
  p2p/src/main/resources/SignedWitnessStore_BTC_MAINNET
Owners: @ripcurlx

Force the text-fill style to fix wrong text color every now and then
  desktop/src/main/java/bisq/desktop/bisq.css
Owners: @ripcurlx, @sqrrm

Update buy and sell color and move all color codes to the top
  desktop/src/main/java/bisq/desktop/theme-dark.css
Owners: @ripcurlx, @sqrrm

Force the text-fill style to fix wrong text color every now and then
  desktop/src/main/java/bisq/desktop/bisq.css
Owners: @ripcurlx, @sqrrm

Update buy and sell color and move all color codes to the top
  desktop/src/main/java/bisq/desktop/theme-dark.css
Owners: @ripcurlx, @sqrrm

The small icon on top should match the label color
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferView.java
  desktop/src/main/java/bisq/desktop/theme-dark.css
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
Owners: @ripcurlx, @sqrrm

Remove non existing id style "cancel-button"
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferView.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/OfferDetailsWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferView.java
Owners: @ripcurlx, @sqrrm

Remove dead code
  core/src/main/java/bisq/core/locale/GlobalSettings.java
Owners: @ripcurlx

Add back manual style workaround
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/theme-dark.css
  desktop/src/main/java/bisq/desktop/theme-light.css
  desktop/src/main/java/bisq/desktop/util/CssTheme.java
Owners: @ripcurlx, @sqrrm

The small icon on top should match the label color
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferView.java
  desktop/src/main/java/bisq/desktop/theme-dark.css
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
Owners: @ripcurlx, @sqrrm

Remove non existing id style "cancel-button"
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferView.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/OfferDetailsWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferView.java
Owners: @ripcurlx, @sqrrm

Remove dead code
  core/src/main/java/bisq/core/locale/GlobalSettings.java
Owners: @ripcurlx

Add back manual style workaround
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/theme-dark.css
  desktop/src/main/java/bisq/desktop/theme-light.css
  desktop/src/main/java/bisq/desktop/util/CssTheme.java
Owners: @ripcurlx, @sqrrm

Dragonglass (DRGL) rebrands to Fango (XFG)
  assets/src/main/java/bisq/asset/coins/Fango.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/DragonglassTest.java
  assets/src/test/java/bisq/asset/coins/FangoTest.java
  core/src/main/resources/i18n/displayStrings.properties
Owners: @blabno, @ripcurlx

Dragonglass DRGL rebrands to Fango XFG
  assets/src/main/java/bisq/asset/coins/Fango.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/DragonglassTest.java
  assets/src/test/java/bisq/asset/coins/FangoTest.java
  core/src/main/resources/i18n/displayStrings.properties
Owners: @blabno, @ripcurlx

Dark mode isn't beta anymore :tada:
  core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings_el.properties
  core/src/main/resources/i18n/displayStrings_es.properties
  core/src/main/resources/i18n/displayStrings_fa.properties
  core/src/main/resources/i18n/displayStrings_fr.properties
  core/src/main/resources/i18n/displayStrings_ja.properties
  core/src/main/resources/i18n/displayStrings_pt-br.properties
  core/src/main/resources/i18n/displayStrings_pt.properties
  core/src/main/resources/i18n/displayStrings_ru.properties
  core/src/main/resources/i18n/displayStrings_th.properties
  core/src/main/resources/i18n/displayStrings_vi.properties
Owners: @ripcurlx

Add some missing changes in seednode systemd service for release/v1.2.5
  seednode/bisq-seednode.service
Owners: @ripcurlx

Revert to SNAPSHOT version
  build.gradle
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/insert_snapshot_version.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
Owners: @cbeams, @ripcurlx, @sqrrm

Also revert to SNAPSHOT version for relay
  relay/src/main/resources/version.txt
Owners: @ripcurlx
