Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

Use getReservedFundsForOffer from createOfferService
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Add MakerFeeProvider
  core/src/main/java/bisq/core/offer/MakerFeeProvider.java
Owners: @ripcurlx

Adjust to new super class params
  desktop/src/main/java/bisq/desktop/main/offer/createoffer/CreateOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Remove sellerSecurityDeposit field, refactor placeOffer
  core/src/main/java/bisq/core/offer/CreateOfferService.java
  core/src/main/java/bisq/core/offer/OpenOfferManager.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
Owners: @ripcurlx, @sqrrm

Adjust tests to new params
  core/src/test/java/bisq/core/offer/OpenOfferManagerTest.java
  desktop/src/test/java/bisq/desktop/main/offer/createoffer/CreateOfferDataModelTest.java
  desktop/src/test/java/bisq/desktop/main/offer/createoffer/CreateOfferViewModelTest.java
  desktop/src/test/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModelTest.java
Owners: @ripcurlx, @sqrrm

Fixes https://github.com/bisq-network/bisq/pull/3572
  desktop/src/main/java/bisq/desktop/main/account/content/altcoinaccounts/AltCoinAccountsDataModel.java
  desktop/src/main/java/bisq/desktop/main/account/content/fiataccounts/FiatAccountsDataModel.java
Owners: @ripcurlx, @sqrrm

Fixed spelling in Contributing.md
  CONTRIBUTING.md
Owners: @ripcurlx

Added PR timeout info
  CONTRIBUTING.md
Owners: @ripcurlx

Remove optional signing info
  CONTRIBUTING.md
Owners: @ripcurlx

Bump gradle wrapper to version 5.6.4
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Owners: @cbeams

Add distributionSha256Sum to gradle-wrapper.properties
  gradle/wrapper/gradle-wrapper.properties
Owners: @cbeams

Extract setupFieldFromList method in FilterWindow
  desktop/src/main/java/bisq/desktop/main/overlays/windows/FilterWindow.java
Owners: @ripcurlx, @sqrrm

Extract setupFieldFromPaymentAccountFiltersList method in FilterWindow
  desktop/src/main/java/bisq/desktop/main/overlays/windows/FilterWindow.java
Owners: @ripcurlx, @sqrrm

Extract readAsPaymentAccountFiltersList method in FilterWindow
  desktop/src/main/java/bisq/desktop/main/overlays/windows/FilterWindow.java
Owners: @ripcurlx, @sqrrm

Reformat sendButton handler in FilterWindow
  desktop/src/main/java/bisq/desktop/main/overlays/windows/FilterWindow.java
Owners: @ripcurlx, @sqrrm

payment account removal issue. Issue #3461
  core/src/main/java/bisq/core/payment/PaymentAccount.java
  core/src/test/java/bisq/core/payment/PaymentAccountsTest.java
Owners: @ripcurlx

Add colon after paymentMethod on tooltip
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookViewModel.java
Owners: @ripcurlx, @sqrrm

Update PaymentAccountUtil.java
  core/src/main/java/bisq/core/payment/PaymentAccountUtil.java
Owners: @ripcurlx

Don't extend ActivatableViewAndModel when the model is empty
  desktop/src/main/java/bisq/desktop/common/model/Activatable.java
  desktop/src/main/java/bisq/desktop/common/view/ActivatableViewAndModel.java
  desktop/src/main/java/bisq/desktop/main/dao/DaoView.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/BondingView.java
  desktop/src/main/java/bisq/desktop/main/dao/burnbsq/BurnBsqView.java
  desktop/src/main/java/bisq/desktop/main/dao/economy/EconomyView.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/GovernanceView.java
  desktop/src/main/java/bisq/desktop/main/dao/monitor/MonitorView.java
  desktop/src/main/java/bisq/desktop/main/dao/wallet/BsqWalletView.java
  desktop/src/main/java/bisq/desktop/main/funds/FundsView.java
  desktop/src/main/java/bisq/desktop/main/market/MarketView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/PortfolioView.java
  desktop/src/main/java/bisq/desktop/main/settings/SettingsView.java
  desktop/src/main/java/bisq/desktop/main/settings/about/AboutView.java
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
  desktop/src/main/java/bisq/desktop/main/support/SupportView.java
Owners: @ripcurlx, @sqrrm

Improve type safety of the fluent interface of Overlay<T>
  desktop/src/main/java/bisq/desktop/main/overlays/Overlay.java
  desktop/src/main/java/bisq/desktop/main/overlays/TabbedOverlay.java
  desktop/src/test/java/bisq/desktop/main/overlays/OverlayTest.java
Owners: @ripcurlx, @sqrrm

Improve type safety of ProtoUtil.collectionToProto(Collection)
  common/src/main/java/bisq/common/proto/ProtoUtil.java
  core/src/main/java/bisq/core/payment/PaymentAccount.java
  core/src/main/java/bisq/core/support/dispute/arbitration/ArbitrationDisputeList.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationDisputeList.java
  core/src/main/java/bisq/core/support/dispute/refund/RefundDisputeList.java
  core/src/main/java/bisq/core/trade/TradableList.java
  core/src/main/java/bisq/core/trade/protocol/ProcessModel.java
  core/src/main/java/bisq/core/trade/protocol/TradingPeer.java
  core/src/main/java/bisq/core/user/UserPayload.java
Owners: @ripcurlx

Avoid raw types to prevent unchecked casts in Log.java
  common/src/main/java/bisq/common/app/Log.java
Owners: @ripcurlx

Avoid unchecked casts when deserializing JSON using Gson
  core/src/main/java/bisq/core/provider/fee/FeeProvider.java
  core/src/main/java/bisq/core/provider/price/PriceProvider.java
Owners: @ripcurlx

Fix unchecked casts in views due to raw chart point types
  desktop/src/main/java/bisq/desktop/main/dao/economy/dashboard/BsqDashboardView.java
  desktop/src/main/java/bisq/desktop/main/dao/economy/supply/SupplyView.java
  desktop/src/main/java/bisq/desktop/main/market/offerbook/OfferBookChartView.java
  desktop/src/main/java/bisq/desktop/main/market/offerbook/OfferBookChartViewModel.java
  desktop/src/main/java/bisq/desktop/main/market/trades/TradesChartsView.java
Owners: @ripcurlx, @sqrrm

Fix some remaining suppressed unchecked casts in the UI logic
  desktop/src/main/java/bisq/desktop/Navigation.java
  desktop/src/main/java/bisq/desktop/main/dao/governance/ProposalDisplay.java
  desktop/src/main/java/bisq/desktop/main/market/trades/TradesChartsView.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
Owners: @ripcurlx, @sqrrm

Avoid raw type bounds in class declarations to fix unchecked warnings
  desktop/src/main/java/bisq/desktop/main/account/register/AgentRegistrationView.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
Owners: @ripcurlx, @sqrrm

Add missing blocknotify.sh script and README instructions
  seednode/README.md
  seednode/blocknotify.sh
Owners: @ripcurlx

Update OfferBookViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookViewModel.java
Owners: @ripcurlx, @sqrrm

Fix a few remaining unsuppressed unchecked warnings
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/btc/setup/WalletConfig.java
  desktop/src/main/java/bisq/desktop/components/AutocompleteComboBox.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/AssetsForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/JapanBankTransferForm.java
  monitor/src/main/java/bisq/monitor/metric/P2PMarketStats.java
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshot.java
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshotBase.java
Owners: @ripcurlx, @sqrrm

[BUGFIX] Account validation was comparing user trade limit with MAX amount of offer
  core/src/main/java/bisq/core/payment/PaymentAccountUtil.java
Owners: @ripcurlx

Bump gradle wrapper to version 5.6.4
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Owners: @cbeams

Add distributionSha256Sum to gradle-wrapper.properties
  gradle/wrapper/gradle-wrapper.properties
Owners: @cbeams

Bump gradle wrapper to version 5.6.4 (#3627)
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Owners: @cbeams

Set use standby mode to false on non Win, OSX desktops
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
Owners: @ripcurlx, @sqrrm

Added interface and corresponding implementation to handle display of exceptions on failed vote reveal transaction - fixes issue 3408.
  core/src/main/java/bisq/core/dao/governance/votereveal/VoteRevealService.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/dao/DaoView.java
Owners: @ripcurlx, @sqrrm

Bump javafx version to 11.0.2
  build.gradle
Owners: @cbeams

Fix package.bat version parsing
  desktop/package/windows/package.bat
Owners: @ripcurlx, @sqrrm

Remove dead Code from BSFormatter
  core/src/main/java/bisq/core/util/BSFormatter.java
Owners: @ripcurlx

Move Currency related helpers out of BSFormatter to CurrencyUtils
  core/src/main/java/bisq/core/locale/CurrencyUtil.java
  core/src/main/java/bisq/core/notifications/alerts/market/MarketAlerts.java
  core/src/main/java/bisq/core/notifications/alerts/price/PriceAlert.java
  core/src/main/java/bisq/core/util/BSFormatter.java
  desktop/src/main/java/bisq/desktop/main/market/MarketView.java
  desktop/src/main/java/bisq/desktop/main/market/offerbook/OfferBookChartView.java
  desktop/src/main/java/bisq/desktop/main/market/trades/TradesChartsView.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/failedtrades/FailedTradesViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/openoffer/OpenOffersViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesViewModel.java
  desktop/src/main/java/bisq/desktop/main/presentation/MarketPricePresentation.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/DisputeView.java
Owners: @ripcurlx, @sqrrm

Move functions that only have 1 call-site out of BSFormatter
  core/src/main/java/bisq/core/util/BSFormatter.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesViewModel.java
Owners: @ripcurlx, @sqrrm
