Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

Use macOS app Info.plist setting for automatic light/dark title bar
  desktop/package/macosx/Info.plist
Owners: @ripcurlx, @sqrrm

Ignore Structure101 Workspace files
  .gitignore
Owners: @ripcurlx

Introduce gRPC API proof of concept
  build.gradle
  core/src/main/java/bisq/core/CoreApi.java
  desktop/src/main/java/bisq/desktop/app/BisqAppMain.java
  gradle/witness/gradle-witness.gradle
  grpc/src/main/java/bisq/grpc/BisqGrpcApp.java
  grpc/src/main/java/bisq/grpc/BisqGrpcClient.java
  grpc/src/main/java/bisq/grpc/BisqGrpcServer.java
  grpc/src/main/java/bisq/grpc/BisqGrpcServerMain.java
  grpc/src/main/java/resources/logback.xml
  grpc/src/main/proto/grpc.proto
  settings.gradle
Owners: @cbeams, @ripcurlx, @sqrrm

Remove --desktopWith{Grpc|Http}Api options for now
  core/src/main/java/bisq/core/app/AppOptionKeys.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  desktop/src/main/java/bisq/desktop/app/BisqAppMain.java
Owners: @ripcurlx, @sqrrm

Do not strip trailing whitespace in Git diffs
  .editorconfig
Owners: @ripcurlx

Revert "Apply kotlin plugin and convert one unused class to kotlin"
  build.gradle
  p2p/src/test/java/bisq/network/p2p/storage/mocks/MockData.java
  p2p/src/test/java/bisq/network/p2p/storage/mocks/MockData.kt
Owners: @cbeams, @ripcurlx

Redact DepositTxId when publishing TradeStatistics for user privacy
  core/src/main/java/bisq/core/trade/protocol/tasks/PublishTradeStatistics.java
Owners: @ripcurlx

Allow setting validation error message for InputTextField
  desktop/src/main/java/bisq/desktop/components/InputTextField.java
  desktop/src/main/java/bisq/desktop/util/validation/JFXInputValidator.java
Owners: @ripcurlx, @sqrrm

Add input validation for ignored peers and BTC nodes
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
  desktop/src/test/java/bisq/desktop/util/GUIUtilTest.java
Owners: @ripcurlx, @sqrrm

Allow for selecting custom BTC nodes on testnet
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
Owners: @ripcurlx, @sqrrm

Capitalize connection failed string
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Suppress shutdown popup when BTC nodes have not changed
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
Owners: @ripcurlx, @sqrrm

Revert to using provided BTC nodes if custom nodes are invalid
  core/src/main/java/bisq/core/app/BisqHeadlessApp.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/app/WalletAppSetup.java
  core/src/main/java/bisq/core/btc/exceptions/InvalidHostException.java
  core/src/main/java/bisq/core/btc/setup/WalletsSetup.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
Owners: @ripcurlx, @sqrrm

Fix popup message about trade limits
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
Owners: @ripcurlx, @sqrrm

Add and rename Portfolio History columns meaningfully.
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.fxml
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/closedtrades/ClosedTradesViewModel.java
Owners: @ripcurlx, @sqrrm

Update desktop/package/macosx/Info.plist
  desktop/package/macosx/Info.plist
Owners: @ripcurlx, @sqrrm

Fix code quality issues
  grpc/src/main/java/bisq/grpc/BisqGrpcClient.java
Owners: @ripcurlx

Provide an online standard deviation algorithm
  common/src/main/java/bisq/common/util/DoubleSummaryStatisticsWithStdDev.java
Owners: @ripcurlx

Provide a way to zoom a chart axis to inliers
  desktop/src/main/java/bisq/desktop/util/AxisInlierUtils.java
Owners: @ripcurlx, @sqrrm

Provide an online moving average algorithm
  desktop/src/main/java/bisq/desktop/util/MovingAverageUtils.java
  desktop/src/test/java/bisq/desktop/util/MovingAverageUtilsTest.java
Owners: @ripcurlx, @sqrrm

Improve readability of the daily burnt BSQ chart
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/main/dao/economy/supply/SupplyView.java
  desktop/src/main/java/bisq/desktop/theme-dark.css
  desktop/src/main/java/bisq/desktop/theme-light.css
Owners: @ripcurlx, @sqrrm

List Liquid Bitcoin (L-BTC)
  assets/src/main/java/bisq/asset/coins/LiquidBitcoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
Owners: @blabno

Remove 2 btcnodes not operated by active bisq contributors
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

Refactoring of and function in ValidationResult
  core/src/main/java/bisq/core/util/validation/InputValidator.java
  desktop/src/main/java/bisq/desktop/util/validation/BsqValidator.java
  desktop/src/main/java/bisq/desktop/util/validation/BtcValidator.java
  desktop/src/main/java/bisq/desktop/util/validation/MonetaryValidator.java
  desktop/src/main/java/bisq/desktop/util/validation/SecurityDepositValidator.java
Owners: @ripcurlx, @sqrrm

Move bisq.core{=>.app}.CoreModule
  core/src/main/java/bisq/core/app/BisqHeadlessAppMain.java
  core/src/main/java/bisq/core/app/CoreModule.java
  desktop/src/main/java/bisq/desktop/app/BisqAppModule.java
  grpc/src/main/java/bisq/grpc/BisqGrpcServerMain.java
Owners: @ripcurlx, @sqrrm

Move bisq.{grpc.BisqGrpcClient=>cli.BisqCliMain}
  cli/src/main/java/bisq/cli/app/BisqCliMain.java
  grpc/src/main/java/bisq/grpc/BisqGrpcClient.java
Owners: @ripcurlx

Introduce 'cli' subproject
  build.gradle
  cli/src/main/java/bisq/cli/app/BisqCliMain.java
  settings.gradle
Owners: @cbeams, @ripcurlx

Move grpc generation from :grpc to :core
  build.gradle
  core/src/main/proto/grpc.proto
Owners: @cbeams, @ripcurlx

Clean up protobuf/grpc config and dependencies
  build.gradle
  gradle/witness/gradle-witness.gradle
Owners: @cbeams

Sever dependency from :desktop => :grpc
  build.gradle
  cli/src/main/java/bisq/cli/app/BisqCliMain.java
  core/src/main/java/bisq/core/grpc/BisqGrpcServer.java
  core/src/main/java/bisq/core/grpc/CoreApi.java
  core/src/main/proto/grpc.proto
  grpc/src/main/java/bisq/grpc/BisqGrpcServerMain.java
Owners: @cbeams, @ripcurlx

Rename submodule grpc => daemon
  build.gradle
  daemon/src/main/java/bisq/daemon/app/BisqDaemon.java
  daemon/src/main/java/bisq/daemon/app/BisqDaemonMain.java
  daemon/src/main/java/resources/logback.xml
  settings.gradle
Owners: @cbeams, @ripcurlx

Remove duplicate attempt to start BisqGrpcServer
  core/src/main/java/bisq/core/grpc/BisqGrpcServer.java
  daemon/src/main/java/bisq/daemon/app/BisqDaemonMain.java
Owners: @ripcurlx

Organize io.grpc imports correctly
  .idea/codeStyles/Project.xml
  cli/src/main/java/bisq/cli/app/BisqCliMain.java
  core/src/main/java/bisq/core/grpc/BisqGrpcServer.java
Owners: @ripcurlx

Reflect higher security deposit in placeOffer RPC comment
  cli/src/main/java/bisq/cli/app/BisqCliMain.java
Owners: @ripcurlx

Exclude unnecessary dependency on animal-sniffer-plugin
  build.gradle
  gradle/witness/gradle-witness.gradle
Owners: @cbeams

Move 'useDevMode' option handling from BisqEnvironment to Config
  common/src/main/java/bisq/common/CommonOptionKeys.java
  common/src/main/java/bisq/common/app/DevEnv.java
  common/src/main/java/bisq/common/config/Config.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/CoreModule.java
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
Owners: @ripcurlx

Move 'referralId' option handling from BisqEnvironment to Config
  common/src/main/java/bisq/common/config/Config.java
  core/src/main/java/bisq/core/app/AppOptionKeys.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/CoreModule.java
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Move 'btcNetworkDir' and co from BisqEnvironment to Config
  common/src/main/java/bisq/common/config/Config.java
  common/src/main/java/bisq/common/crypto/KeyStorage.java
  common/src/main/java/bisq/common/storage/Storage.java
  core/src/main/java/bisq/core/account/sign/SignedWitnessStorageService.java
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessStorageService.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/CoreModule.java
  core/src/main/java/bisq/core/app/TorSetup.java
  core/src/main/java/bisq/core/app/misc/ModuleForAppWithP2p.java
  core/src/main/java/bisq/core/btc/BitcoinModule.java
  core/src/main/java/bisq/core/btc/BtcOptionKeys.java
  core/src/main/java/bisq/core/btc/setup/WalletsSetup.java
  core/src/main/java/bisq/core/dao/governance/blindvote/storage/BlindVoteStorageService.java
  core/src/main/java/bisq/core/dao/governance/proposal/storage/appendonly/ProposalStorageService.java
  core/src/main/java/bisq/core/dao/governance/proposal/storage/temp/TempProposalStorageService.java
  core/src/main/java/bisq/core/dao/monitoring/DaoStateMonitoringService.java
  core/src/main/java/bisq/core/dao/node/explorer/ExportJsonFilesService.java
  core/src/main/java/bisq/core/dao/state/DaoStateStorageService.java
  core/src/main/java/bisq/core/offer/OfferBookService.java
  core/src/main/java/bisq/core/proto/persistable/CorePersistenceProtoResolver.java
  core/src/main/java/bisq/core/trade/statistics/TradeStatistics2StorageService.java
  core/src/main/java/bisq/core/trade/statistics/TradeStatisticsManager.java
  desktop/src/main/java/bisq/desktop/main/account/content/seedwords/SeedWordsView.java
  desktop/src/main/java/bisq/desktop/main/dao/monitor/blindvotes/BlindVoteStateMonitorView.java
  desktop/src/main/java/bisq/desktop/main/dao/monitor/daostate/DaoStateMonitorView.java
  desktop/src/main/java/bisq/desktop/main/dao/monitor/proposals/ProposalStateMonitorView.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/WalletPasswordWindow.java
  p2p/src/main/java/bisq/network/NetworkOptionKeys.java
  p2p/src/main/java/bisq/network/p2p/NetworkNodeProvider.java
  p2p/src/main/java/bisq/network/p2p/P2PModule.java
  p2p/src/main/java/bisq/network/p2p/storage/persistence/PersistableNetworkPayloadListService.java
Owners: @ripcurlx, @sqrrm

Remove BisqException parser calls for options already moved to Config
  core/src/main/java/bisq/core/app/BisqExecutable.java
Owners: @ripcurlx

Finish moving baseCurrencyNetwork option handling to Config
  common/src/main/java/bisq/common/config/Config.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/btc/BtcOptionKeys.java
  monitor/src/main/java/bisq/monitor/Metric.java
Owners: @ripcurlx

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
