Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

Add Makefile for automating localnet setup
  .gitignore
  Makefile
Owners: @ripcurlx

Use STATE_DIR := .localnet in makefile
  .gitignore
  Makefile
Owners: @ripcurlx

Make `make localnet` command idempotent
  Makefile
Owners: @ripcurlx

Make build target phony (gradle doesn't remove the dir on clean)
  Makefile
Owners: @ripcurlx

Do not add an output if value is 0 BTC
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
Owners: @ripcurlx

Refactoring: Replace isGreaterThan(Coin.ZERO) with isPositive()
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
Owners: @ripcurlx

Do not display confirmation icon for 0 BTC tx
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsListItem.java
Owners: @ripcurlx, @sqrrm

Add handling of mediationResultState to isFundsLockedIn
  core/src/main/java/bisq/core/trade/Trade.java
Owners: @ripcurlx

Do not add an output if value is 0 BTC
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
Owners: @ripcurlx

Refactoring: Replace isGreaterThan(Coin.ZERO) with isPositive()
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
Owners: @ripcurlx

Do not display confirmation icon for 0 BTC tx
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsListItem.java
Owners: @ripcurlx, @sqrrm

Add handling of mediationResultState to isFundsLockedIn
  core/src/main/java/bisq/core/trade/Trade.java
Owners: @ripcurlx

Partially revert "Make `make localnet` command idempotent"
  Makefile
Owners: @ripcurlx

Review "Use STATE_DIR := .localnet in makefile"
  Makefile
Owners: @ripcurlx

Update .editorconfig to use hard tabs in Makefile
  .editorconfig
  Makefile
Owners: @ripcurlx

Refine deploy target for better use of `screen`
  Makefile
Owners: @ripcurlx

Enable 'peerbloomfilters' option on localnet bitcoind
  Makefile
Owners: @ripcurlx

List Phore (PHR)
  assets/src/main/java/bisq/asset/coins/Phore.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/PhoreTest.java
Owners: @blabno

Make 'build' target phony once again
  Makefile
Owners: @ripcurlx

Create Bitzenyplus.java
  assets/src/main/java/bisq/asset/coins/Bitzenyplus.java
Owners: @blabno

Update bisq.asset.Asset
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
Owners: @blabno

Create Bitzenyplus.java
  assets/src/test/java/bisq/asset/coins/Bitzenyplus.java
Owners: @blabno

Rename Bitzenyplus.java to BitzenyplusTEST.java
  assets/src/test/java/bisq/asset/coins/BitzenyplusTEST.java
Owners: @blabno

Fixed typo
  assets/src/main/java/bisq/asset/coins/Bitzenyplus.java
Owners: @blabno

Avoid bash-specific syntax in makefile
  Makefile
Owners: @ripcurlx

Add zh-hant translations (Chinese Traditional)
  core/src/main/java/bisq/core/locale/LanguageUtil.java
  core/src/main/resources/i18n/displayStrings_zh-hant.properties
Owners: @ripcurlx

Add Chinese Traditional file to update_translations.sh script
  core/update_translations.sh
Owners: @ripcurlx

Fix language tags so script and regional variants work correctly
  core/src/main/java/bisq/core/locale/LanguageUtil.java
  core/src/main/resources/i18n/displayStrings_pt-br.properties
  core/src/main/resources/i18n/displayStrings_zh-hans.properties
Owners: @ripcurlx

Adjust update_translations.sh language tags for script/regional variants
  core/update_translations.sh
Owners: @ripcurlx

Add zh-hant translations (Chinese Traditional)
  core/src/main/java/bisq/core/locale/LanguageUtil.java
  core/src/main/resources/i18n/displayStrings_zh-hant.properties
Owners: @ripcurlx

Add Chinese Traditional file to update_translations.sh script
  core/update_translations.sh
Owners: @ripcurlx

Add 'make undeploy' target to kill all running nodes
  Makefile
Owners: @ripcurlx

Bump version number to v1.2.4
  build.gradle
  common/src/main/java/bisq/common/app/Version.java
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/Info.plist
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/replace_version_number.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
Owners: @cbeams, @ripcurlx, @sqrrm

Fix memory leak
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

[TESTS] Add tests of requestData
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
  p2p/src/test/java/bisq/network/p2p/peers/getdata/RequestDataHandlerRequestDataTest.java
  p2p/src/test/java/bisq/network/p2p/storage/TestState.java
  p2p/src/test/java/bisq/network/p2p/storage/mocks/PersistableNetworkPayloadStub.java
Owners: @ripcurlx

[REFACTOR] Introduce buildGetDataRequest variants
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

[TESTS] Add tests of new RequestData APIs
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageRequestDataTest.java
Owners: @ripcurlx

[REFACTOR] Extract connectionInfo String
  p2p/src/main/java/bisq/network/p2p/peers/getdata/GetDataRequestHandler.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

[REFACTOR] Introduce buildGetDataResponse
  p2p/src/main/java/bisq/network/p2p/peers/getdata/GetDataRequestHandler.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

[TESTS] Add tests of GetDataRequestHandler
  p2p/src/test/java/bisq/network/p2p/peers/getdata/GetDataRequestHandlerTest.java
Owners: @ripcurlx
