Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

Corrected blocknotify host
  seednode/docker-compose.yml
Owners: @ripcurlx

Minimal HTTP API
  .idea/codeStyles/Project.xml
  api/README.md
  api/src/main/java/bisq/api/http/HttpApiModule.java
  api/src/main/java/bisq/api/http/app/HttpApiHeadlessApp.java
  api/src/main/java/bisq/api/http/app/HttpApiHeadlessModule.java
  api/src/main/java/bisq/api/http/app/HttpApiMain.java
  api/src/main/java/bisq/api/http/exceptions/ExceptionMappers.java
  api/src/main/java/bisq/api/http/exceptions/UnauthorizedException.java
  api/src/main/java/bisq/api/http/model/ChangePassword.java
  api/src/main/java/bisq/api/http/model/VersionDetails.java
  api/src/main/java/bisq/api/http/service/HttpApiInterfaceV1.java
  api/src/main/java/bisq/api/http/service/HttpApiServer.java
  api/src/main/java/bisq/api/http/service/auth/ApiPasswordManager.java
  api/src/main/java/bisq/api/http/service/auth/AuthFilter.java
  api/src/main/java/bisq/api/http/service/endpoint/UserEndpoint.java
  api/src/main/java/bisq/api/http/service/endpoint/VersionEndpoint.java
  api/src/main/resources/META-INF/swagger/openapi.json
  api/src/main/resources/META-INF/swagger/ui/favicon-16x16.png
  api/src/main/resources/META-INF/swagger/ui/favicon-32x32.png
  api/src/main/resources/META-INF/swagger/ui/index.html
  api/src/main/resources/META-INF/swagger/ui/swagger-ui-bundle.js
  api/src/main/resources/META-INF/swagger/ui/swagger-ui.css
  api/src/test/java/bisq/api/http/service/auth/ApiPasswordManagerTest.java
  api/src/test/java/bisq/api/http/service/auth/AuthFilterTest.java
  api/src/test/java/bisq/api/http/service/auth/SwaggerGenerator.java
  build.gradle
  core/src/main/java/bisq/core/app/AppOptionKeys.java
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqExecutable.java
  settings.gradle
Owners: @ripcurlx, @cbeams

Add onInitP2pNetwork and onInitWallet to BisqSetupListener
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/BisqHeadlessApp.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/app/HeadlessApp.java
  desktop/src/main/java/bisq/desktop/app/BisqAppMain.java
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
Owners: @ripcurlx, @sqrrm

Start server at onInitWallet and add wallet password handler
  api/src/main/java/bisq/api/http/app/HttpApiHeadlessApp.java
  api/src/main/java/bisq/api/http/app/HttpApiMain.java
  core/src/main/java/bisq/core/app/BisqHeadlessApp.java
  core/src/main/java/bisq/core/app/BisqSetup.java
Owners: @ripcurlx

Add periodic log to remind user to enter pw
  api/src/main/java/bisq/api/http/app/HttpApiHeadlessApp.java
Owners: @ripcurlx

chop down long chained calls and force brackets on if
  .idea/codeStyles/Project.xml
Owners: @ripcurlx

Revert to SNAPSHOT version
  docs/dev-setup.md
Owners: @ripcurlx

Remove unnecessary release step because of updates in the bisq-website repository
  docs/release-process.md
Owners: @ripcurlx

add Right-to-Left support (#2774)
  core/src/main/java/bisq/core/locale/LanguageUtil.java
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/main/MainView.java
  desktop/src/main/java/bisq/desktop/main/overlays/Overlay.java
Owners: @ripcurlx, @sqrrm

Fix merge issues
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/DisputeView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/arbitration/ArbitratorView.java
Owners: @ripcurlx, @sqrrm

Update copyright date for macOS binary
  desktop/package/macosx/Info.plist
Owners: @ripcurlx, @sqrrm

Remove explicit check for risky offers
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/main/java/bisq/core/offer/OfferRestrictions.java
  core/src/main/java/bisq/core/payment/PaymentAccountUtil.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookViewModel.java
Owners: @ripcurlx, @sqrrm

Remove sellers explicit account age check
  core/src/main/java/bisq/core/trade/protocol/SellerAsMakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/SellerAsTakerProtocol.java
  core/src/main/java/bisq/core/trade/protocol/tasks/seller/SellerVerifiesPeersAccountAge.java
Owners: @ripcurlx

Replacing monero-java with a stripped down version of less than 10 classes.
  core/src/main/java/bisq/core/xmr/jsonrpc/MoneroDestination.java
  core/src/main/java/bisq/core/xmr/jsonrpc/MoneroOutgoingTransfer.java
Owners: @ripcurlx

Replacement of monero-java with compact version complete.
  core/src/main/java/bisq/core/xmr/wallet/XmrTxListItem.java
Owners: @ripcurlx

Test ignore for now.
  core/src/test/java/bisq/core/xmr/jsonrpc/MoneroRpcConnectionTest.java
Owners: @ripcurlx

Display destination address; filter out transactions older than 90 days.
  core/src/main/java/bisq/core/xmr/wallet/XmrTxListItem.java
  core/src/main/java/bisq/core/xmr/wallet/XmrWalletRpcWrapper.java
  core/src/test/java/bisq/core/xmr/jsonrpc/MoneroRpcConnectionTest.java
Owners: @ripcurlx

Add new pricenode gztmprecgqjq64zh operated by @wiz
  core/src/main/java/bisq/core/provider/ProvidersRepository.java
Owners: @ripcurlx

Made startup work without copying everything, docker-compose cleanup
  seednode/docker-compose.yml
  seednode/docker/prod/Dockerfile
  seednode/docker/prod/nginx.conf
  seednode/docker/startSeedNode.sh
Owners: @ripcurlx

Fixed mandatory capabilities
  monitor/src/main/java/bisq/monitor/metric/P2PNetworkLoad.java
Owners: @ripcurlx

Increase chart maxTicks from 30 to 90
  desktop/src/main/java/bisq/desktop/main/market/trades/TradesChartsViewModel.java
Owners: @ripcurlx, @sqrrm

Load hashes from local store
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshot.java
  monitor/src/main/resources/metrics.properties
Owners: @ripcurlx

Changed rel no. ref. host to overall unique msg
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshot.java
Owners: @ripcurlx

Bump datstateheight to start from on restart
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshot.java
Owners: @ripcurlx

Load hashes from local store for market stats
  monitor/src/main/java/bisq/monitor/metric/P2PMarketStats.java
  monitor/src/main/resources/metrics.properties
Owners: @ripcurlx

Add all capabilities so we get all the data
  monitor/src/main/java/bisq/monitor/Monitor.java
  monitor/src/main/java/bisq/monitor/metric/P2PNetworkLoad.java
Owners: @ripcurlx

Fix arbitrator key event handling
  desktop/src/main/java/bisq/desktop/main/support/dispute/DisputeView.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/agent/arbitration/ArbitratorView.java
Owners: @ripcurlx, @sqrrm

Add limit check based on common accountAgeWitness function
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/main/java/bisq/core/payment/PaymentAccountUtil.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookViewModel.java
Owners: @ripcurlx, @sqrrm

Filter accounts on tradelimit instead of maturity
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/main/java/bisq/core/payment/PaymentAccountUtil.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookViewModel.java
Owners: @ripcurlx, @sqrrm

References to Log4J and JUnit in non test-case classes removed.
  build.gradle
  core/src/main/java/bisq/core/xmr/jsonrpc/MoneroException.java
  core/src/main/java/bisq/core/xmr/jsonrpc/MoneroRpcConnection.java
  core/src/main/java/bisq/core/xmr/jsonrpc/MoneroUtils.java
  core/src/main/java/bisq/core/xmr/wallet/XmrWalletRpcWrapper.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/send/XmrSendView.java
  desktop/src/main/java/bisq/desktop/main/account/content/wallet/monero/tx/XmrTxView.java
Owners: @cbeams, @ripcurlx, @sqrrm

Create own image for nginx
  seednode/.dockerignore
  seednode/docker-compose.yml
Owners: @ripcurlx

Created docker-compose files to start a seednode
  core/src/main/java/bisq/core/dao/node/full/RpcService.java
  seednode/.dockerignore
  seednode/.gitignore
  seednode/README.md
  seednode/docker-compose.yml
  seednode/docker-compose_dev.yml
  seednode/docker/prod/Dockerfile
  seednode/docker/prod/Dockerfile-btc
  seednode/docker/prod/Dockerfile-collectd
  seednode/docker/prod/Dockerfile-nginx
  seednode/docker/prod/blocknotify
  seednode/docker/prod/collectd.conf
  seednode/docker/prod/nginx.conf
  seednode/docker/prod/openjdk.conf
  seednode/docker/startSeedNode.sh
Owners: @ripcurlx

Removed RPCService changes
  core/src/main/java/bisq/core/dao/node/full/RpcService.java
Owners: @ripcurlx

Revert recent code format changes
  .idea/codeStyles/Project.xml
Owners: @ripcurlx

Add missing handling for mailbox messages
  core/src/main/java/bisq/core/trade/protocol/TradeProtocol.java
Owners: @ripcurlx

Fix potential ConcurrentModificationException
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/ProcessMediatedPayoutTxPublishedMessage.java
Owners: @ripcurlx

Avoid that the mediation result popup is shown
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
Owners: @ripcurlx, @sqrrm

Update data directories
  p2p/src/main/resources/AccountAgeWitnessStore_BTC_MAINNET
Owners: @ripcurlx

Avoid that the mediation result popup is shown
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
Owners: @ripcurlx, @sqrrm

Fix potential ConcurrentModificationException
  core/src/main/java/bisq/core/trade/protocol/tasks/mediation/ProcessMediatedPayoutTxPublishedMessage.java
Owners: @ripcurlx
