Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

Save commit from builder in a file
  seednode/docker/prod/Dockerfile
Owners: @ripcurlx

Avoid null objects
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
Owners: @ripcurlx

Remove check for type
  core/src/main/java/bisq/core/support/dispute/mediation/MediationDisputeList.java
Owners: @ripcurlx

Avoid null objects (#3481)
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  core/src/main/java/bisq/core/support/dispute/mediation/MediationDisputeList.java
Owners: @ripcurlx

List ZBit (ZBT)
  assets/src/main/java/bisq/asset/coins/ZBit.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/ZBitTest.java
Owners: @blabno

Display appropriate account age info header
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/components/PeerInfoIcon.java
  desktop/src/main/java/bisq/desktop/components/PeerInfoIconSmall.java
  desktop/src/main/java/bisq/desktop/main/overlays/editor/PeerInfoWithTagEditor.java
Owners: @ripcurlx, @sqrrm

Set amount for delayed payout tx to 0 (#3471)
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsListItem.java
Owners: @ripcurlx, @sqrrm

Check for result phase at activate method
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
Owners: @ripcurlx, @sqrrm

Fix style issues with dark mode
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/components/InfoAutoTooltipLabel.java
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
Owners: @ripcurlx, @sqrrm

Addresses issues mentioned in https://github.com/bisq-network/bisq/issues/3482#issuecomment-546812730
  desktop/src/main/java/bisq/desktop/components/PeerInfoIcon.java
  desktop/src/main/java/bisq/desktop/main/overlays/editor/PeerInfoWithTagEditor.java
Owners: @ripcurlx, @sqrrm

Only show warning for risky payment menthods
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/account/content/fiataccounts/FiatAccountsView.java
Owners: @ripcurlx, @sqrrm

Only show warning for risky payment menthods (#3497)
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/account/content/fiataccounts/FiatAccountsView.java
Owners: @ripcurlx, @sqrrm

Fix style issues with dark mode (#3495)
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/components/InfoAutoTooltipLabel.java
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
Owners: @ripcurlx, @sqrrm

Addresses issues mentioned in https://github.com/bisq-network/bisq/issues/3482#issuecomment-546812730 (#3496)
  desktop/src/main/java/bisq/desktop/components/PeerInfoIcon.java
  desktop/src/main/java/bisq/desktop/main/overlays/editor/PeerInfoWithTagEditor.java
Owners: @ripcurlx, @sqrrm

Clean up trade statistics from duplicate entries (#3476)
  core/src/main/java/bisq/core/trade/statistics/TradeStatistics2.java
  core/src/main/java/bisq/core/trade/statistics/TradeStatistics2StorageService.java
  core/src/main/java/bisq/core/trade/statistics/TradeStatisticsManager.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

Update data stores and adding SignedWitnessStore
  desktop/package/macosx/copy_dbs.sh
  p2p/src/main/resources/AccountAgeWitnessStore_BTC_MAINNET
  p2p/src/main/resources/SignedWitnessStore_MAINNET
Owners: @ripcurlx, @sqrrm

Update translations
  core/src/main/resources/i18n/displayStrings_de.properties
  core/src/main/resources/i18n/displayStrings_el.properties
  core/src/main/resources/i18n/displayStrings_es.properties
  core/src/main/resources/i18n/displayStrings_fa.properties
  core/src/main/resources/i18n/displayStrings_fr.properties
  core/src/main/resources/i18n/displayStrings_ja.properties
  core/src/main/resources/i18n/displayStrings_pt.properties
  core/src/main/resources/i18n/displayStrings_pt_BR.properties
  core/src/main/resources/i18n/displayStrings_ru.properties
  core/src/main/resources/i18n/displayStrings_th.properties
  core/src/main/resources/i18n/displayStrings_vi.properties
  core/src/main/resources/i18n/displayStrings_zh.properties
Owners: @ripcurlx

Update cleaned TradeStatistics2Store and changes in other stores
  p2p/src/main/resources/AccountAgeWitnessStore_BTC_MAINNET
Owners: @ripcurlx

Format maker fee for BTC and BSQ correctly
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/openoffer/OpenOffersView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/openoffer/OpenOffersViewModel.java
Owners: @ripcurlx, @sqrrm

Change unsigned to N/A
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update tests
  desktop/src/test/java/bisq/desktop/main/offer/offerbook/OfferBookViewModelTest.java
Owners: @ripcurlx, @sqrrm

[1.2.0] Update data stores and adding SignedWitnessStore (#3494)
  core/src/main/resources/i18n/displayStrings_de.properties
  core/src/main/resources/i18n/displayStrings_el.properties
  core/src/main/resources/i18n/displayStrings_es.properties
  core/src/main/resources/i18n/displayStrings_fa.properties
  core/src/main/resources/i18n/displayStrings_fr.properties
  core/src/main/resources/i18n/displayStrings_ja.properties
  core/src/main/resources/i18n/displayStrings_pt.properties
  core/src/main/resources/i18n/displayStrings_pt_BR.properties
  core/src/main/resources/i18n/displayStrings_ru.properties
  core/src/main/resources/i18n/displayStrings_th.properties
  core/src/main/resources/i18n/displayStrings_vi.properties
  core/src/main/resources/i18n/displayStrings_zh.properties
  desktop/package/macosx/copy_dbs.sh
  p2p/src/main/resources/AccountAgeWitnessStore_BTC_MAINNET
  p2p/src/main/resources/SignedWitnessStore_MAINNET
Owners: @ripcurlx, @sqrrm

VoteResultView update results on any block in result phase
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
Owners: @ripcurlx, @sqrrm

[1.2.0] Format maker fee for BTC and BSQ correctly (#3498)
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/openoffer/OpenOffersView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/openoffer/OpenOffersViewModel.java
  desktop/src/test/java/bisq/desktop/main/offer/offerbook/OfferBookViewModelTest.java
Owners: @ripcurlx, @sqrrm

Fixed Tests, Updated Regex
  assets/src/main/java/bisq/asset/coins/ZBit.java
  assets/src/test/java/bisq/asset/coins/ZBitTest.java
Owners: @blabno

Only automatically open popup if result wasn't accepted and disable action button when being accepted
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/Overlay.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
Owners: @ripcurlx, @sqrrm

Only automatically open popup if result wasn't accepted and disable action button when being accepted (#3503)
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/Overlay.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
Owners: @ripcurlx, @sqrrm

Fix tradestatistics (#3469)
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/main/java/bisq/core/trade/protocol/tasks/PublishTradeStatistics.java
  core/src/main/java/bisq/core/trade/protocol/tasks/maker/MakerProcessesInputsForDepositTxRequest.java
  core/src/main/java/bisq/core/trade/statistics/TradeStatistics2.java
  core/src/main/java/bisq/core/trade/statistics/TradeStatisticsManager.java
Owners: @ripcurlx

Improve wording for mediation summary and add specific next steps for refund agent case
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DisputeSummaryWindow.java
Owners: @ripcurlx, @sqrrm

Select the first dispute case when entering the support section
  desktop/src/main/java/bisq/desktop/main/support/dispute/DisputeView.java
Owners: @ripcurlx, @sqrrm

Update translations
  core/src/main/resources/i18n/displayStrings_de.properties
  core/src/main/resources/i18n/displayStrings_el.properties
  core/src/main/resources/i18n/displayStrings_es.properties
  core/src/main/resources/i18n/displayStrings_fa.properties
  core/src/main/resources/i18n/displayStrings_fr.properties
  core/src/main/resources/i18n/displayStrings_ja.properties
  core/src/main/resources/i18n/displayStrings_pt.properties
  core/src/main/resources/i18n/displayStrings_pt_BR.properties
  core/src/main/resources/i18n/displayStrings_ru.properties
  core/src/main/resources/i18n/displayStrings_th.properties
  core/src/main/resources/i18n/displayStrings_vi.properties
  core/src/main/resources/i18n/displayStrings_zh.properties
Owners: @ripcurlx

[1.2.0] Improve dispute section (#3504)
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DisputeSummaryWindow.java
  desktop/src/main/java/bisq/desktop/main/support/dispute/DisputeView.java
Owners: @ripcurlx, @sqrrm

Revert to SNAPSHOT version
  build.gradle
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/insert_snapshot_version.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
Owners: @cbeams, @ripcurlx, @sqrrm

chore: add btc node
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

Remove donation link
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/settings/about/AboutView.java
Owners: @ripcurlx, @sqrrm

Fix but with initialRequestApplied
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
Owners: @ripcurlx

Launch in Limbo with BisqException when last navigation no longer exists - resolves issue #3510
  desktop/src/main/java/bisq/desktop/main/MainView.java
Owners: @ripcurlx, @sqrrm

Fix but with initialRequestApplied (#3512)
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
Owners: @ripcurlx

Launch in Limbo with BisqException when last navigation no longer exists - fixes issue #3510.
  desktop/src/main/java/bisq/desktop/main/MainView.java
Owners: @ripcurlx, @sqrrm

Fix resource name
  p2p/src/main/resources/SignedWitnessStore_BTC_MAINNET
Owners: @ripcurlx

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
