Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

fix test
  assets/src/test/java/bisq/asset/coins/BitcoinVTest.java
Owners: @blabno

fixed asset
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
Owners: @blabno

separate setup and "then" code with whitespace
  core/src/test/java/bisq/core/btc/wallet/BsqWalletServiceTest.java
Owners: @ripcurlx

Add mediator prefix to trade statistics
  core/src/main/java/bisq/core/trade/protocol/tasks/PublishTradeStatistics.java
Owners: @ripcurlx

List Faircoin (FAIR)
  assets/src/main/java/bisq/asset/coins/Faircoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/FaircoinTest.java
Owners: @blabno

Fix proposal table hide when switching to another screen and back
  desktop/src/main/java/bisq/desktop/main/dao/governance/result/VoteResultView.java
Owners: @ripcurlx, @sqrrm

Show BSQ trade fee in % per day - issue #3292
  core/src/main/java/bisq/core/dao/governance/proofofburn/ProofOfBurnService.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/dao/burnbsq/proofofburn/ProofOfBurnListItem.java
  desktop/src/main/java/bisq/desktop/main/market/trades/TradesChartsView.java
  desktop/src/main/java/bisq/desktop/main/market/trades/TradesChartsViewModel.java
  desktop/src/main/java/bisq/desktop/main/market/trades/charts/CandleData.java
  desktop/src/main/java/bisq/desktop/main/market/trades/charts/volume/VolumeBar.java
  desktop/src/test/java/bisq/desktop/main/market/trades/TradesChartsViewModelTest.java
Owners: @ripcurlx, @sqrrm

No need touching ProofOfBurn.
  core/src/main/java/bisq/core/dao/governance/proofofburn/ProofOfBurnService.java
  desktop/src/main/java/bisq/desktop/main/dao/burnbsq/proofofburn/ProofOfBurnListItem.java
Owners: @ripcurlx, @sqrrm

List uPlexa (UPX)
  assets/src/main/java/bisq/asset/coins/uPlexa.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/uPlexaTest.java
  core/src/main/resources/i18n/displayStrings.properties
Owners: @blabno, @ripcurlx

Refactor CoreNetworkCapabilities.maybeApplyDaoFullMode
  core/src/main/java/bisq/core/setup/CoreNetworkCapabilities.java
Owners: @ripcurlx

Remove not used private methods from BisqEnvironment
  core/src/main/java/bisq/core/app/BisqEnvironment.java
Owners: @ripcurlx

Fix Revolut padding issues for currencies
  desktop/src/main/java/bisq/desktop/components/paymentmethods/RevolutForm.java
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
Owners: @ripcurlx, @sqrrm

Hide signing icon for non-high-risk payment methods
  core/src/main/java/bisq/core/payment/payload/PaymentMethod.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/components/InfoAutoTooltipLabel.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/PaymentMethodForm.java
  desktop/src/main/java/bisq/desktop/main/account/content/PaymentAccountsView.java
Owners: @ripcurlx, @sqrrm

Add correct icon state and info text for account signing state
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/components/paymentmethods/PaymentMethodForm.java
  desktop/src/main/java/bisq/desktop/main/account/content/PaymentAccountsView.java
Owners: @ripcurlx, @sqrrm

Remove not implemented notification part
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep4View.java
Owners: @ripcurlx, @sqrrm

Use account signing state in accounts view (#3365)
  core/src/main/java/bisq/core/payment/payload/PaymentMethod.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/components/InfoAutoTooltipLabel.java
  desktop/src/main/java/bisq/desktop/components/InfoTextField.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/PaymentMethodForm.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/RevolutForm.java
  desktop/src/main/java/bisq/desktop/main/account/content/PaymentAccountsView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep2View.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/seller/SellerStep3View.java
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
Owners: @ripcurlx, @sqrrm

Add onInitP2pNetwork and onInitWallet to BisqSetupListener
  core/src/main/java/bisq/core/app/BisqExecutable.java
  core/src/main/java/bisq/core/app/BisqHeadlessApp.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/app/HeadlessApp.java
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
Owners: @ripcurlx, @sqrrm

Start server at onInitWallet and add wallet password handler
  core/src/main/java/bisq/core/app/BisqHeadlessApp.java
  core/src/main/java/bisq/core/app/BisqSetup.java
Owners: @ripcurlx

Test self signing witnesses
  core/src/test/java/bisq/core/account/sign/SignedWitnessServiceTest.java
Owners: @ripcurlx

Change verified account limit factor to 0.5
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
Owners: @ripcurlx

Add account signing icons to signing state in account display
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep4View.java
Owners: @ripcurlx, @sqrrm

Remove not implemented notification part
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep4View.java
Owners: @ripcurlx, @sqrrm

Hide time since signing column when not needed
  core/src/main/java/bisq/core/payment/payload/PaymentMethod.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookViewModel.java
Owners: @ripcurlx, @sqrrm

Remove fiat rounding popup as feature was introduced a long time ago already
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferView.java
Owners: @ripcurlx, @sqrrm

Add information popups for new signed states (only shown once for user) and minor clean-ups
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
Owners: @ripcurlx, @sqrrm

Add combination (Blockstream.info + Mempool.space) block explorer
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Revert "Temporarily disable onion host for @KanoczTomas's BTC node"
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

Temporarily disable KanoczTomas btcnode on both onion and clearnet
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

Update core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Account Signing: Add information popups for signing state (#3374)
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/payment/payload/PaymentMethod.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookViewModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferView.java
Owners: @ripcurlx, @sqrrm

Refactor BisqApp - update scene size calculation
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
Owners: @ripcurlx, @sqrrm

Refactor BisqApp - update error popup message build
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
Owners: @ripcurlx, @sqrrm

Refactor BisqApp - move icon load into ImageUtil
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
  desktop/src/main/java/bisq/desktop/util/ImageUtil.java
Owners: @ripcurlx, @sqrrm

Remove unused Utilities
  common/src/main/java/bisq/common/util/Utilities.java
  common/src/test/java/bisq/common/util/UtilitiesTest.java
Owners: @ripcurlx

Fix broken placeholders
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Replace non existing pending trades screen with open trades screen
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Add an extra byte to fee calculation to prevent rounding down
  core/src/main/java/bisq/core/btc/wallet/BtcWalletService.java
Owners: @ripcurlx

Increase minimum TX fee to 2 sats/vByte to fix #3106
  core/src/main/java/bisq/core/btc/BaseCurrencyNetwork.java
Owners: @ripcurlx

Verify the assumption that a HashMap orders keys.
  common/src/test/java/bisq/HashMapOrderTest.java
Owners: @ripcurlx

Remove new badge from Altcoin instant feature
  desktop/src/main/java/bisq/desktop/components/paymentmethods/AssetsForm.java
Owners: @ripcurlx, @sqrrm

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
