Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

Refactor: Rename methods
  core/src/main/java/bisq/core/btc/Balances.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/main/java/bisq/core/trade/closed/ClosedTradableManager.java
  core/src/main/java/bisq/core/trade/failed/FailedTradesManager.java
  desktop/src/main/java/bisq/desktop/main/funds/locked/LockedView.java
Owners: @ripcurlx, @sqrrm

Refactor: Rename method
  core/src/main/java/bisq/core/app/BisqSetup.java
Owners: @ripcurlx

Refactor: Rename method
  core/src/main/java/bisq/core/trade/TradeManager.java
Owners: @ripcurlx

Add more checks for invalid trades and disputes
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/main/java/bisq/core/trade/TradeTxException.java
  core/src/main/java/bisq/core/trade/closed/ClosedTradableManager.java
  core/src/main/java/bisq/core/trade/failed/FailedTradesManager.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
Owners: @ripcurlx, @sqrrm

Add null check. Deactivate addTradeToFailedTradesList call
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
  core/src/main/java/bisq/core/trade/TradeManager.java
Owners: @ripcurlx

Update seednode systemd service, move env vars to separate file
  seednode/bisq-seednode
  seednode/bisq-seednode.service
Owners: @ripcurlx

Update seednode README
  seednode/README.md
Owners: @ripcurlx

Refactor BisqEnvironment - change type of ignoreLocalBtcNode to boolean
  core/src/main/java/bisq/core/app/BisqEnvironment.java
  core/src/main/java/bisq/core/app/BisqSetup.java
Owners: @ripcurlx

Rename: PeerInfoIcon makersAccount -> peersAccount
  desktop/src/main/java/bisq/desktop/components/PeerInfoIcon.java
  desktop/src/main/java/bisq/desktop/components/PeerInfoIconSmall.java
Owners: @ripcurlx, @sqrrm

Fix peer info in trade view peerinfoicon popup, fix #3548
  core/src/main/java/bisq/core/account/witness/AccountAgeWitnessService.java
  desktop/src/main/java/bisq/desktop/components/PeerInfoIcon.java
Owners: @ripcurlx, @sqrrm

Update seednode config to increase resource limits for v1.2 (#3545)
  seednode/README.md
  seednode/bisq-seednode
  seednode/bisq-seednode.service
Owners: @ripcurlx

Add missing network capability for trade statistics hash update
  core/src/main/java/bisq/core/setup/CoreNetworkCapabilities.java
Owners: @ripcurlx

Only show approval icon for accounts that are able to sign
  desktop/src/main/java/bisq/desktop/components/paymentmethods/PaymentMethodForm.java
  desktop/src/main/java/bisq/desktop/main/account/content/PaymentAccountsView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
Owners: @ripcurlx, @sqrrm

Using Lombok generated setter for paymentDetails.
  core/src/main/java/bisq/core/payment/payload/PaymentAccountPayload.java
Owners: @ripcurlx

Increase memory to stay in line with recommendations
  seednode/docker/startSeedNode.sh
Owners: @ripcurlx

[TESTS] Add tests for P2PDataStorage in order to safely refactor
  build.gradle
  core/src/main/java/bisq/core/alert/Alert.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageTest.java
  p2p/src/test/java/bisq/network/p2p/storage/mocks/AppendOnlyDataStoreServiceFake.java
  p2p/src/test/java/bisq/network/p2p/storage/mocks/DateTolerantPayloadStub.java
  p2p/src/test/java/bisq/network/p2p/storage/mocks/PersistableNetworkPayloadStub.java
  p2p/src/test/java/bisq/network/p2p/storage/mocks/ProtectedDataStoreServiceFake.java
Owners: @cbeams, @ripcurlx

[BUGFIX] Call correct remove function in addMailboxData failure path.
  p2p/src/main/java/bisq/network/p2p/P2PService.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageTest.java
Owners: @ripcurlx

Limit max. nr. of PersistableNetworkPayload and ProtectedStorageEntry to 5000
  p2p/src/main/java/bisq/network/p2p/peers/getdata/GetDataRequestHandler.java
Owners: @ripcurlx

Default view should be OfferBookChartView when an old view has been removed
  desktop/src/main/java/bisq/desktop/main/MainView.java
Owners: @ripcurlx, @sqrrm

List ZBit (ZBT)
  assets/src/main/java/bisq/asset/coins/ZBit.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/main/resources/i18n/displayStrings-assets.properties
  assets/src/test/java/bisq/asset/coins/ZBitTest.java
Owners: @blabno

List Dubaicoin (DBIX)
  assets/src/main/java/bisq/asset/coins/Dubaicoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/DubaicoinTest.java
Owners: @blabno

fix merging files
  assets/src/main/java/bisq/asset/coins/Dubaicoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/DubaicoinTest.java
Owners: @blabno

List Dubaicoin (DBIX)
  assets/src/main/java/bisq/asset/coins/Dubaicoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/DubaicoinTest.java
Owners: @blabno

removing files
  assets/src/main/java/bisq/asset/coins/Dubaicoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/DubaicoinTest.java
Owners: @blabno

List Dubaicoin (DBIX)
  assets/src/main/java/bisq/asset/coins/Dubaicoin.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/DubaicoinTest.java
Owners: @blabno

List BitcoinV (BTCV)
  assets/src/main/java/bisq/asset/coins/BitcoinV.java
  assets/src/main/resources/META-INF/services/bisq.asset.Asset
  assets/src/test/java/bisq/asset/coins/BitcoinVTest.java
Owners: @blabno

[PR COMMENTS] Don't use the real Alert class
  build.gradle
  core/src/main/java/bisq/core/alert/Alert.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageTest.java
  p2p/src/test/java/bisq/network/p2p/storage/mocks/ProtectedStoragePayloadStub.java
  p2p/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Owners: @cbeams, @ripcurlx

Limit max. nr. of PersistableNetworkPayload and ProtectedStorageEntry to 10000
  p2p/src/main/java/bisq/network/p2p/peers/getdata/GetDataRequestHandler.java
Owners: @ripcurlx

Default view should be OfferBookChartView when an old view has been removed (#3561)
  desktop/src/main/java/bisq/desktop/main/MainView.java
Owners: @ripcurlx, @sqrrm

Add peers node address to logs
  p2p/src/main/java/bisq/network/p2p/peers/getdata/GetDataRequestHandler.java
Owners: @ripcurlx

Improve logs
  core/src/main/java/bisq/core/dao/node/messages/GetBlocksResponse.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/messages/GetDataResponse.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/messages/GetUpdatedDataRequest.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/messages/PreliminaryGetDataRequest.java
Owners: @ripcurlx

Hide avoid standby mode feature on *nux OS
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
Owners: @ripcurlx, @sqrrm

Log connection UID if not peer address available
  p2p/src/main/java/bisq/network/p2p/peers/getdata/GetDataRequestHandler.java
Owners: @ripcurlx

PaymentAccount object removal from ObservableSet issue Added equals/hashcode override to resolve
  core/src/main/java/bisq/core/payment/PaymentAccount.java
  core/src/test/java/bisq/core/payment/PaymentAccountsTest.java
Owners: @ripcurlx

Add cleanup code or invalid objects
  core/src/main/java/bisq/core/filter/FilterManager.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

Add log
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

Limit max. nr. of PersistableNetworkPayload and ProtectedStorageEntries (#3562)
  core/src/main/java/bisq/core/dao/node/messages/GetBlocksResponse.java
  core/src/main/java/bisq/core/filter/FilterManager.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/GetDataRequestHandler.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/messages/GetDataResponse.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/messages/GetUpdatedDataRequest.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/messages/PreliminaryGetDataRequest.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

Increased Max memory to be in sync with previous memory commit
  seednode/docker-compose.yml
Owners: @ripcurlx

Improve handling of rejected txs
  core/src/main/java/bisq/core/app/BisqHeadlessApp.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/app/WalletAppSetup.java
  core/src/main/java/bisq/core/btc/exceptions/RejectedTxException.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
Owners: @ripcurlx, @sqrrm

Improve handling of failed trades and offers
  core/src/main/java/bisq/core/app/BisqHeadlessApp.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/app/WalletAppSetup.java
  core/src/main/java/bisq/core/btc/Balances.java
  core/src/main/java/bisq/core/btc/exceptions/RejectedTxException.java
  core/src/main/java/bisq/core/btc/setup/WalletsSetup.java
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
  core/src/main/java/bisq/core/btc/wallet/BtcWalletService.java
  core/src/main/java/bisq/core/dao/node/parser/BlockParser.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/main/java/bisq/core/trade/TradeTxException.java
  core/src/main/java/bisq/core/trade/closed/ClosedTradableManager.java
  core/src/main/java/bisq/core/trade/failed/FailedTradesManager.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/MainViewModel.java
  desktop/src/main/java/bisq/desktop/main/funds/locked/LockedView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/TradeStepView.java
Owners: @ripcurlx, @sqrrm
