Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

Avoid that removed mailbox messages get added again
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/main/java/bisq/network/p2p/storage/messages/AddOncePayload.java
  p2p/src/main/java/bisq/network/p2p/storage/payload/MailboxStoragePayload.java
Owners: @ripcurlx

Smal performance optimisations, cleanups
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

Disconnect nodes which do not have the mandatory capability
  common/src/main/java/bisq/common/app/Capabilities.java
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Add toggle switch UI preference for Dark Mode on/off
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/locale/GlobalSettings.java
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/main/java/bisq/core/user/PreferencesPayload.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/settings/preferences/PreferencesView.java
Owners: @ripcurlx, @sqrrm

Load different CSS file depending on dark mode setting
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
  desktop/src/main/java/bisq/desktop/theme-dark.css
  desktop/src/main/java/bisq/desktop/theme-light.css
Owners: @ripcurlx, @sqrrm

Rename colors in bisq.css, add theme-light.css and theme-dark.css
  desktop/src/main/java/bisq/desktop/CandleStickChart.css
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/components/HyperlinkWithIcon.java
  desktop/src/main/java/bisq/desktop/components/SeparatedPhaseBars.java
  desktop/src/main/java/bisq/desktop/components/TooltipUtil.java
  desktop/src/main/java/bisq/desktop/main/MainView.java
  desktop/src/main/java/bisq/desktop/main/disputes/trader/TraderDisputeView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep3View.java
  desktop/src/main/java/bisq/desktop/theme-dark.css
  desktop/src/main/java/bisq/desktop/theme-light.css
Owners: @ripcurlx, @sqrrm

Fix merge issues
  core/src/main/java/bisq/core/arbitration/messages/DisputeCommunicationMessage.java
  core/src/main/java/bisq/core/trade/Trade.java
Owners: @ripcurlx

Update string
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Add comments, cleanup, fix wrong param name
  core/src/main/java/bisq/core/arbitration/DisputeChatSession.java
  core/src/main/java/bisq/core/arbitration/DisputeManager.java
  core/src/main/java/bisq/core/arbitration/messages/DisputeCommunicationMessage.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/java/bisq/core/trade/TradeChatSession.java
Owners: @ripcurlx

Show chat in popup instead of tab (WIP)
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.fxml
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/TradeSubView.java
Owners: @ripcurlx, @sqrrm

Add missing check if capability is not empty before checking mandatory capabilities
  common/src/main/java/bisq/common/app/Capabilities.java
Owners: @ripcurlx

Move check for empty capability.
  common/src/main/java/bisq/common/app/Capabilities.java
  p2p/src/main/java/bisq/network/p2p/network/CloseConnectionReason.java
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Revert "Fix small p2p network issues"
  common/src/main/java/bisq/common/app/Capabilities.java
  core/src/main/java/bisq/core/setup/CoreNetworkCapabilities.java
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
  p2p/src/main/java/bisq/network/p2p/network/NetworkNode.java
  p2p/src/main/java/bisq/network/p2p/peers/peerexchange/Peer.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/main/java/bisq/network/p2p/storage/messages/AddOncePayload.java
  p2p/src/main/java/bisq/network/p2p/storage/payload/MailboxStoragePayload.java
Owners: @ripcurlx

Do check after supportedCapabilities are applied
  p2p/src/main/java/bisq/network/p2p/network/Connection.java
Owners: @ripcurlx

Minor CSS fixes for light/dark themes
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/theme-dark.css
  desktop/src/main/java/bisq/desktop/theme-light.css
Owners: @ripcurlx, @sqrrm

Add close handler to popup
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/TradeSubView.java
Owners: @ripcurlx, @sqrrm

Apply changes from master
  desktop/src/main/java/bisq/desktop/main/Chat/Chat.java
Owners: @ripcurlx, @sqrrm

Add dropdown autocomplete on Market, Buy, Sell tabs; fix #2226
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/components/AutocompleteComboBox.java
  desktop/src/main/java/bisq/desktop/components/SearchComboBox.java
  desktop/src/main/java/bisq/desktop/components/paymentmethods/AssetsForm.java
  desktop/src/main/java/bisq/desktop/main/market/offerbook/OfferBookChartView.java
  desktop/src/main/java/bisq/desktop/main/market/trades/TradesChartsView.java
  desktop/src/main/java/bisq/desktop/main/offer/OfferView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java
  desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookViewModel.java
  desktop/src/main/java/bisq/desktop/util/CurrencyListItem.java
  desktop/src/main/java/bisq/desktop/util/FormBuilder.java
Owners: @ripcurlx, @sqrrm

Add missing allServicesInitialized check
  core/src/main/java/bisq/core/arbitration/DisputeManager.java
  core/src/main/java/bisq/core/chat/ChatManager.java
Owners: @ripcurlx

Add wasDisplayed field to chatMsg
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/arbitration/DisputeChatSession.java
  core/src/main/java/bisq/core/arbitration/messages/DisputeCommunicationMessage.java
  core/src/main/java/bisq/core/chat/ChatManager.java
  core/src/main/java/bisq/core/trade/TradeChatSession.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
Owners: @ripcurlx, @sqrrm

Add onAllServicesInitialized call, rename method
  core/src/main/java/bisq/core/chat/ChatManager.java
  core/src/main/java/bisq/core/trade/TradeManager.java
Owners: @ripcurlx

Set active currencies as high chargeback risk
  core/src/main/java/bisq/core/account/sign/SignedWitnessService.java
  core/src/main/java/bisq/core/account/witness/AccountAgeRestrictions.java
  core/src/main/java/bisq/core/offer/OfferRestrictions.java
  core/src/main/java/bisq/core/payment/ChargeBackRisk.java
  core/src/main/java/bisq/core/payment/PaymentAccountUtil.java
  core/src/main/java/bisq/core/payment/payload/PaymentMethod.java
Owners: @ripcurlx

Add missing setWasDisplayed
  core/src/main/java/bisq/core/arbitration/messages/DisputeCommunicationMessage.java
Owners: @ripcurlx

Add badge for num new chat msg
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
Owners: @ripcurlx, @sqrrm

Fix wrong pubkey
  core/src/main/java/bisq/core/trade/TradeChatSession.java
Owners: @ripcurlx

Add chat rules system msg; cleanups
  core/src/main/java/bisq/core/arbitration/DisputeChatSession.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/main/Chat/Chat.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
Owners: @ripcurlx, @sqrrm

Handle nullables
  core/src/main/java/bisq/core/arbitration/DisputeChatSession.java
  core/src/main/java/bisq/core/trade/TradeChatSession.java
Owners: @ripcurlx

Additional CSS fixes/tweaks for Dark Mode theme
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
  desktop/src/main/java/bisq/desktop/bisq.css
  desktop/src/main/java/bisq/desktop/theme-dark.css
Owners: @ripcurlx, @sqrrm

Do not specify indirect module dependencies
  build.gradle
Owners: @cbeams

Fix positioning of badge
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
Owners: @ripcurlx, @sqrrm

Use button instead of label to fix tooltip font size, use material design icon and add additional cleanup code
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
Owners: @ripcurlx, @sqrrm

Add BRL as mature market
  core/src/main/java/bisq/core/locale/CurrencyUtil.java
  core/src/main/java/bisq/core/payment/payload/PaymentMethod.java
Owners: @ripcurlx

Update core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update core/src/main/resources/i18n/displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Update tradeChat.rules
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Persist chat position. Improve listener handling.
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
Owners: @ripcurlx, @sqrrm

Close chat window if dispute gets closed
  core/src/main/java/bisq/core/trade/TradeChatSession.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
Owners: @ripcurlx, @sqrrm

Integrate PhoneNumberValidator into SwishForm
  core/src/main/resources/i18n/displayStrings.properties
  desktop/src/main/java/bisq/desktop/components/paymentmethods/SwishForm.java
  desktop/src/main/java/bisq/desktop/util/validation/PhoneNumberValidator.java
  desktop/src/main/java/bisq/desktop/util/validation/SwishValidator.java
  desktop/src/test/java/bisq/desktop/util/validation/PhoneNumberValidatorTest.java
Owners: @ripcurlx, @sqrrm

Fix bug with not showing system msg at peer who receives msg
  core/src/main/java/bisq/core/arbitration/messages/DisputeCommunicationMessage.java
  core/src/main/java/bisq/core/trade/TradeChatSession.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
Owners: @ripcurlx, @sqrrm

Fix #3171 doubleclick on autocomplete dropdowns
  desktop/src/main/java/bisq/desktop/components/AutocompleteComboBox.java
Owners: @ripcurlx, @sqrrm

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
