Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

Add ChatManager
  core/src/main/java/bisq/core/arbitration/DisputeChatSession.java
  core/src/main/java/bisq/core/arbitration/DisputeManager.java
  core/src/main/java/bisq/core/chat/ChatManager.java
  core/src/main/java/bisq/core/chat/ChatSession.java
  desktop/src/main/java/bisq/desktop/main/Chat/Chat.java
  desktop/src/main/java/bisq/desktop/main/Chat/ChatSession.java
  desktop/src/main/java/bisq/desktop/main/disputes/DisputeChatSession.java
  desktop/src/main/java/bisq/desktop/main/disputes/trader/TraderDisputeView.java
Owners: @ripcurlx, @sqrrm

bitcoinj 0.15: ScriptException moved to another package.
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
  core/src/main/java/bisq/core/btc/wallet/WalletService.java
Owners: @ripcurlx

bitcoinj 0.15: PeerAddress: BtcNodeConverterTest fixes.
  core/src/test/java/bisq/core/btc/nodes/BtcNodeConverterTest.java
Owners: @ripcurlx

bitcoinj 0.15: PeerAddress: don't set addr when already using hostname.
  core/src/main/java/bisq/core/btc/nodes/BtcNodeConverter.java
Owners: @ripcurlx

bitcoinj 0.15: Replace usage of bitcoinj's removed methods with new ones.
  core/src/main/java/bisq/core/btc/model/AddressEntryList.java
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
  desktop/src/main/java/bisq/desktop/main/funds/locked/LockedListItem.java
Owners: @ripcurlx, @sqrrm

Use bitcoinj 0.15.1 (commit 199df6c)
  build.gradle
  gradle/witness/gradle-witness.gradle
Owners: @cbeams

bitcoinj 0.15: replace ECKey.toAddress() with LegacyAddress.fromKey().
  core/src/main/java/bisq/core/btc/model/AddressEntry.java
  core/src/main/java/bisq/core/btc/wallet/BtcWalletService.java
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
Owners: @ripcurlx

bitcoinj 0.15: Update modified dependencies hashes.
  gradle/witness/gradle-witness.gradle
Owners: @cbeams

bitcoinj 0.15: bitcoinj exclude dependency bcprov-jdk15on because already included by bisq.
  build.gradle
Owners: @cbeams

bitcoinj 0.15: Use new Wallet.toString() with includeLookAhead boolean param.
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
  core/src/main/java/bisq/core/btc/wallet/BtcWalletService.java
Owners: @ripcurlx

bitcoinj 0.15: Replace Utils.closeUnchecked() to Closeables.closeQuietly() to match WalletAppKit.
  core/src/main/java/bisq/core/btc/setup/WalletConfig.java
Owners: @ripcurlx

bitcoinj 0.15: Deal with methods throwing SignatureDecodeException.
  core/src/main/java/bisq/core/arbitration/DisputeManager.java
  core/src/main/java/bisq/core/btc/wallet/BisqRiskAnalysis.java
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
Owners: @ripcurlx

bitcoinj 0.15: Futures.addCallback() in guava 27 requires an executor.
  core/src/main/java/bisq/core/btc/wallet/BtcWalletService.java
  core/src/main/java/bisq/core/btc/wallet/TxBroadcaster.java
  core/src/main/java/bisq/core/btc/wallet/WalletService.java
  core/src/main/java/bisq/core/dao/governance/blindvote/network/RepublishGovernanceDataHandler.java
  core/src/main/java/bisq/core/dao/monitoring/network/RequestStateHashesHandler.java
  core/src/main/java/bisq/core/dao/node/explorer/ExportJsonFilesService.java
  core/src/main/java/bisq/core/dao/node/full/RpcService.java
  core/src/main/java/bisq/core/dao/node/full/network/GetBlocksRequestHandler.java
  core/src/main/java/bisq/core/dao/node/lite/network/RequestBlocksHandler.java
  core/src/main/java/bisq/core/notifications/MobileNotificationService.java
  core/src/main/java/bisq/core/provider/fee/FeeRequest.java
  core/src/main/java/bisq/core/provider/fee/FeeService.java
  core/src/main/java/bisq/core/provider/price/PriceFeedService.java
  core/src/main/java/bisq/core/provider/price/PriceRequest.java
  core/src/main/java/bisq/core/trade/Trade.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferDataModel.java
  monitor/src/main/java/bisq/monitor/metric/P2PRoundTripTime.java
  monitor/src/main/java/bisq/monitor/metric/P2PSeedNodeSnapshot.java
  p2p/src/main/java/bisq/network/p2p/P2PService.java
  p2p/src/main/java/bisq/network/p2p/network/NetworkNode.java
  p2p/src/main/java/bisq/network/p2p/network/TorNetworkNode.java
  p2p/src/main/java/bisq/network/p2p/peers/BroadcastHandler.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/GetDataRequestHandler.java
  p2p/src/main/java/bisq/network/p2p/peers/getdata/RequestDataHandler.java
  p2p/src/main/java/bisq/network/p2p/peers/keepalive/KeepAliveHandler.java
  p2p/src/main/java/bisq/network/p2p/peers/keepalive/KeepAliveManager.java
  p2p/src/main/java/bisq/network/p2p/peers/peerexchange/GetPeersRequestHandler.java
  p2p/src/main/java/bisq/network/p2p/peers/peerexchange/PeerExchangeHandler.java
  p2p/src/test/java/bisq/network/p2p/network/TorNetworkNodeTest.java
Owners: @ripcurlx, @sqrrm

bitcoinj 0.15: Use PeerAddress constructor with NetworkParameters parameter.
  core/src/main/java/bisq/core/btc/setup/WalletConfig.java
  core/src/main/java/bisq/core/btc/setup/WalletsSetup.java
Owners: @ripcurlx

bitcoinj 0.15: Use LegacyAddress.fromBase58() instead of Address.fromBase58().
  assets/src/main/java/bisq/asset/Base58BitcoinAddressValidator.java
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
  core/src/main/java/bisq/core/btc/wallet/BtcWalletService.java
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
  core/src/main/java/bisq/core/btc/wallet/WalletService.java
  core/src/main/java/bisq/core/dao/state/model/governance/CompensationProposal.java
  core/src/main/java/bisq/core/dao/state/model/governance/ReimbursementProposal.java
  core/src/main/java/bisq/core/util/BsqFormatter.java
  core/src/main/java/bisq/core/util/validation/BtcAddressValidator.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
Owners: @blabno, @ripcurlx, @sqrrm

bitcoinj 0.15: Update depencencies to match bitcoinj versions
  build.gradle
Owners: @cbeams

bitcoinj 0.15: BisqRiskAnalisys: Add commented out code to match original DefaultRiskAnalysis.
  core/src/main/java/bisq/core/btc/wallet/BisqRiskAnalysis.java
Owners: @ripcurlx

bitcoinj 0.15: Replace deprecated Transaction.getHash() with Transaction.getTxId().
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
  core/src/main/java/bisq/core/trade/Trade.java
Owners: @ripcurlx

Use bitcoinj 0.15.1 (commit 40c9898)
  build.gradle
  gradle/witness/gradle-witness.gradle
Owners: @cbeams

bitcoinj 0.15: bitcoinj moved from spongycastle to bouncycastle.
  common/src/main/java/bisq/common/crypto/Hash.java
  core/src/main/java/bisq/core/app/BisqSetup.java
  core/src/main/java/bisq/core/btc/setup/BisqDeterministicKeyChain.java
  core/src/main/java/bisq/core/btc/setup/BtcDeterministicKeyChain.java
  core/src/main/java/bisq/core/btc/wallet/BtcWalletService.java
  core/src/main/java/bisq/core/btc/wallet/TradeWalletService.java
  core/src/main/java/bisq/core/btc/wallet/WalletService.java
  core/src/main/java/bisq/core/btc/wallet/WalletsManager.java
  core/src/main/java/bisq/core/crypto/ScryptUtil.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  desktop/src/main/java/bisq/desktop/main/funds/withdrawal/WithdrawalView.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/EmptyWalletWindow.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/WalletPasswordWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep4View.java
Owners: @ripcurlx, @sqrrm

bitcoinj 0.15: Fix TransactionAwareTradeTest
  desktop/src/test/java/bisq/desktop/main/funds/transactions/TransactionAwareTradeTest.java
Owners: @ripcurlx, @sqrrm

Remove bcprov-jdk15on dependency, already included by bcpg-jdk15on
  build.gradle
Owners: @cbeams

bitcoinj 0.15: PeerAddress: Use InetSocketAddress constructor instead of InetAddress+port.
  core/src/main/java/bisq/core/btc/nodes/BtcNodeConverter.java
Owners: @ripcurlx

bitcoinj 0.15: NetworkParameters.acceptableAddressCodes was removed.
  assets/src/main/java/bisq/asset/coins/Actinium.java
  assets/src/main/java/bisq/asset/coins/Adeptio.java
  assets/src/main/java/bisq/asset/coins/Australiacash.java
  assets/src/main/java/bisq/asset/coins/BitcoinRhodium.java
  assets/src/main/java/bisq/asset/coins/Bitmark.java
  assets/src/main/java/bisq/asset/coins/Chaucha.java
  assets/src/main/java/bisq/asset/coins/Credits.java
  assets/src/main/java/bisq/asset/coins/DSTRA.java
  assets/src/main/java/bisq/asset/coins/Dash.java
  assets/src/main/java/bisq/asset/coins/DeepOnion.java
  assets/src/main/java/bisq/asset/coins/Dextro.java
  assets/src/main/java/bisq/asset/coins/Dogecoin.java
  assets/src/main/java/bisq/asset/coins/Doichain.java
  assets/src/main/java/bisq/asset/coins/Fujicoin.java
  assets/src/main/java/bisq/asset/coins/Galilel.java
  assets/src/main/java/bisq/asset/coins/GambleCoin.java
  assets/src/main/java/bisq/asset/coins/Hatch.java
  assets/src/main/java/bisq/asset/coins/Helium.java
  assets/src/main/java/bisq/asset/coins/IdaPay.java
  assets/src/main/java/bisq/asset/coins/Kekcoin.java
  assets/src/main/java/bisq/asset/coins/Litecoin.java
  assets/src/main/java/bisq/asset/coins/LitecoinPlus.java
  assets/src/main/java/bisq/asset/coins/Lytix.java
  assets/src/main/java/bisq/asset/coins/MobitGlobal.java
  assets/src/main/java/bisq/asset/coins/MonetaryUnit.java
  assets/src/main/java/bisq/asset/coins/Navcoin.java
  assets/src/main/java/bisq/asset/coins/Neos.java
  assets/src/main/java/bisq/asset/coins/PIVX.java
  assets/src/main/java/bisq/asset/coins/PZDC.java
  assets/src/main/java/bisq/asset/coins/Pinkcoin.java
  assets/src/main/java/bisq/asset/coins/QMCoin.java
  assets/src/main/java/bisq/asset/coins/Qbase.java
  assets/src/main/java/bisq/asset/coins/Radium.java
  assets/src/main/java/bisq/asset/coins/SUB1X.java
  assets/src/main/java/bisq/asset/coins/Spectrecoin.java
  assets/src/main/java/bisq/asset/coins/UnitedCommunityCoin.java
  assets/src/main/java/bisq/asset/coins/Veil.java
Owners: @blabno

bitcoinj 0.15: Replace deprecated Script methods with ScriptPattern methods.
  core/src/main/java/bisq/core/btc/wallet/BisqRiskAnalysis.java
  core/src/main/java/bisq/core/btc/wallet/WalletService.java
  core/src/main/java/bisq/core/dao/governance/bond/BondRepository.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesDataModel.java
Owners: @ripcurlx, @sqrrm

bitcoinj 0.15: Bip44 refactor.
  core/src/main/java/bisq/core/btc/setup/BisqDeterministicKeyChain.java
  core/src/main/java/bisq/core/btc/setup/BisqKeyChainFactory.java
  core/src/main/java/bisq/core/btc/setup/BisqKeyChainGroup.java
  core/src/main/java/bisq/core/btc/setup/BisqKeyChainGroupStructure.java
  core/src/main/java/bisq/core/btc/setup/BsqWallet.java
  core/src/main/java/bisq/core/btc/setup/BtcDeterministicKeyChain.java
  core/src/main/java/bisq/core/btc/setup/WalletConfig.java
  core/src/main/java/bisq/core/btc/setup/WalletsSetup.java
Owners: @ripcurlx

bitcoinj 0.15: Remove call to PeerGroup.setIgnoreHttpSeeds(true).
  core/src/main/java/bisq/core/btc/setup/WalletsSetup.java
Owners: @ripcurlx

bitcoinj 0.15: WalletEventListener was replaced by more granular listeners.
  core/src/main/java/bisq/core/btc/wallet/BsqWalletService.java
  core/src/main/java/bisq/core/btc/wallet/BtcWalletService.java
  core/src/main/java/bisq/core/btc/wallet/WalletService.java
  desktop/src/main/java/bisq/desktop/main/funds/transactions/TransactionsView.java
Owners: @ripcurlx, @sqrrm

Prevent seednode to use older guava version
  build.gradle
Owners: @cbeams

Update btcd-cli4j to fb933fd
  build.gradle
  gradle/witness/gradle-witness.gradle
Owners: @cbeams

Update displayStrings.properties
  core/src/main/resources/i18n/displayStrings.properties
Owners: @ripcurlx

Add trader chat
  common/src/main/java/bisq/common/storage/FileManager.java
  common/src/main/proto/pb.proto
  core/src/main/java/bisq/core/arbitration/DisputeChatSession.java
  core/src/main/java/bisq/core/arbitration/DisputeManager.java
  core/src/main/java/bisq/core/arbitration/messages/DisputeCommunicationMessage.java
  core/src/main/java/bisq/core/chat/ChatManager.java
  core/src/main/java/bisq/core/chat/ChatSession.java
  core/src/main/java/bisq/core/trade/TradableList.java
  core/src/main/java/bisq/core/trade/Trade.java
  core/src/main/java/bisq/core/trade/TradeChatSession.java
  core/src/main/java/bisq/core/trade/TradeManager.java
  desktop/src/main/java/bisq/desktop/main/Chat/Chat.java
  desktop/src/main/java/bisq/desktop/main/disputes/trader/TraderDisputeView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/BuyerSubView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
Owners: @ripcurlx, @sqrrm

Fix "useless use of IPv6" in Tor socket
  desktop/package/linux/package.sh
Owners: @ripcurlx, @sqrrm

Make attachments optional
  desktop/src/main/java/bisq/desktop/main/Chat/Chat.java
Owners: @ripcurlx, @sqrrm

Test trade chat UI
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/PendingTradesView.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/TradeSubView.java
Owners: @ripcurlx, @sqrrm

node1.emzy.de has moved to a new server
  core/src/main/java/bisq/core/btc/nodes/BtcNodes.java
Owners: @ripcurlx

Update translations
  core/src/main/resources/i18n/displayStrings_de.properties
  core/src/main/resources/i18n/displayStrings_el.properties
  core/src/main/resources/i18n/displayStrings_es.properties
  core/src/main/resources/i18n/displayStrings_fa.properties
  core/src/main/resources/i18n/displayStrings_fr.properties
  core/src/main/resources/i18n/displayStrings_pt.properties
  core/src/main/resources/i18n/displayStrings_ru.properties
  core/src/main/resources/i18n/displayStrings_th.properties
  core/src/main/resources/i18n/displayStrings_vi.properties
  core/src/main/resources/i18n/displayStrings_zh.properties
Owners: @ripcurlx

Update stores
  p2p/src/main/resources/AccountAgeWitnessStore_BTC_MAINNET
  p2p/src/main/resources/TempProposalStore_BTC_MAINNET
Owners: @ripcurlx

Bump version number
  build.gradle
  common/src/main/java/bisq/common/app/Version.java
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/Info.plist
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/replace_version_number.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
  seednode/src/main/java/bisq/seednode/SeedNodeMain.java
Owners: @cbeams, @ripcurlx, @sqrrm

Revert to SNAPSHOT version
  build.gradle
  desktop/package/linux/Dockerfile
  desktop/package/linux/package.sh
  desktop/package/linux/release.sh
  desktop/package/macosx/create_app.sh
  desktop/package/macosx/finalize.sh
  desktop/package/macosx/insert_snapshot_version.sh
  desktop/package/windows/package.bat
  desktop/package/windows/release.bat
  relay/src/main/resources/version.txt
Owners: @cbeams, @ripcurlx, @sqrrm

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams
