Repository bisq-network/bisq, changes with the owners that CODEOWNERS names for each.
All owners: @ripcurlx, @blabno, @sqrrm, @cbeams

CODEOWNERS:

# This doc specifies who gets requested to review GitHub pull requests.
# See https://help.github.com/articles/about-codeowners/.

* @ripcurlx
/assets/ @blabno
/desktop/ @ripcurlx @sqrrm
*gradle* @cbeams
/pricenode/ @cbeams

Updated price node list for monitor
  monitor/src/main/resources/metrics.properties
Owners: @ripcurlx

Price monitor is more resilient against timeouts
  monitor/src/main/java/bisq/monitor/metric/PriceNodeStats.java
Owners: @ripcurlx

Monitor selects a price node randomly
  monitor/src/main/java/bisq/monitor/metric/PriceNodeStats.java
Owners: @ripcurlx

Fixed monitor market API query
  monitor/src/main/java/bisq/monitor/metric/MarketStats.java
Owners: @ripcurlx

Add RefundAgent messages to monitor
  monitor/src/main/java/bisq/monitor/Monitor.java
Owners: @ripcurlx

Adjust monitor timeout
  monitor/src/main/java/bisq/monitor/ThreadGate.java
Owners: @ripcurlx

Remove dead code from BSFormatter
  core/src/main/java/bisq/core/util/BSFormatter.java
Owners: @ripcurlx

Extract CoinFormatter interface
  core/src/main/java/bisq/core/offer/CreateOfferService.java
  core/src/main/java/bisq/core/offer/OfferUtil.java
  core/src/main/java/bisq/core/util/BSFormatter.java
  core/src/main/java/bisq/core/util/BsqFormatter.java
  core/src/main/java/bisq/core/util/ParsingUtils.java
  core/src/main/java/bisq/core/util/coin/CoinFormatter.java
  core/src/main/java/bisq/core/util/coin/CoinUtil.java
  core/src/test/java/bisq/core/util/CoinCryptoUtilsTest.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/BondingViewUtils.java
  desktop/src/main/java/bisq/desktop/main/dao/wallet/send/BsqSendView.java
  desktop/src/main/java/bisq/desktop/main/funds/withdrawal/WithdrawalView.java
  desktop/src/main/java/bisq/desktop/main/offer/MutableOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/offer/takeoffer/TakeOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/DisputeSummaryWindow.java
  desktop/src/main/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModel.java
  desktop/src/main/java/bisq/desktop/main/portfolio/pendingtrades/steps/buyer/BuyerStep4View.java
  desktop/src/main/java/bisq/desktop/util/DisplayUtils.java
  desktop/src/main/java/bisq/desktop/util/GUIUtil.java
  desktop/src/main/java/bisq/desktop/util/validation/BsqValidator.java
Owners: @ripcurlx, @sqrrm

Gui mockup
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.fxml
  desktop/src/main/java/bisq/desktop/main/settings/network/NetworkSettingsView.java
Owners: @ripcurlx, @sqrrm

Rename BSFormatter to ImmutableCoinFormatter
  core/src/main/java/bisq/core/util/BsqFormatter.java
  core/src/main/java/bisq/core/util/ImmutableCoinFormatter.java
  desktop/src/main/java/bisq/desktop/main/dao/bonding/BondingViewUtils.java
  desktop/src/main/java/bisq/desktop/main/dao/economy/dashboard/BsqDashboardView.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SignPaymentAccountsWindow.java
  desktop/src/main/java/bisq/desktop/util/validation/SecurityDepositValidator.java
  desktop/src/test/java/bisq/desktop/GuiceSetupTest.java
  desktop/src/test/java/bisq/desktop/main/market/offerbook/OfferBookChartViewModelTest.java
  desktop/src/test/java/bisq/desktop/main/market/spread/SpreadViewModelTest.java
  desktop/src/test/java/bisq/desktop/main/market/trades/TradesChartsViewModelTest.java
  desktop/src/test/java/bisq/desktop/main/offer/createoffer/CreateOfferViewModelTest.java
  desktop/src/test/java/bisq/desktop/main/offer/offerbook/OfferBookViewModelTest.java
  desktop/src/test/java/bisq/desktop/main/portfolio/editoffer/EditOfferDataModelTest.java
  desktop/src/test/java/bisq/desktop/util/DisplayUtilsTest.java
  desktop/src/test/java/bisq/desktop/util/ImmutableCoinFormatterTest.java
  desktop/src/test/java/bisq/desktop/util/validation/BtcValidatorTest.java
Owners: @ripcurlx, @sqrrm

Remove dead code
  core/src/main/java/bisq/core/util/coin/BsqFormatter.java
  core/src/main/java/bisq/core/util/coin/ImmutableCoinFormatter.java
Owners: @ripcurlx

Broke merit text setting to 2 lines.
  desktop/src/main/java/bisq/desktop/main/dao/wallet/BsqBalanceUtil.java
Owners: @ripcurlx, @sqrrm

Fix formatting
  desktop/src/main/java/bisq/desktop/main/dao/wallet/BsqBalanceUtil.java
Owners: @ripcurlx, @sqrrm

Move Payment account creation and removal from UI to core
  core/src/main/java/bisq/core/exceptions/NotFoundException.java
  core/src/main/java/bisq/core/exceptions/ValidationException.java
  core/src/main/java/bisq/core/payment/PaymentAccountInUseException.java
  core/src/main/java/bisq/core/payment/PaymentAccountManager.java
  core/src/main/java/bisq/core/payment/validation/AltCoinAddressValidator.java
  core/src/main/java/bisq/core/user/Preferences.java
  core/src/test/java/bisq/core/payment/PaymentAccountManagerTest.java
  desktop/src/main/java/bisq/desktop/main/account/content/altcoinaccounts/AltCoinAccountsDataModel.java
  desktop/src/main/java/bisq/desktop/main/account/content/fiataccounts/FiatAccountsDataModel.java
Owners: @ripcurlx, @sqrrm

Apply chimp1984 comments regarding not using exceptions for the flow control
  core/src/main/java/bisq/core/payment/PaymentAccountInUseException.java
  core/src/main/java/bisq/core/payment/PaymentAccountManager.java
  core/src/test/java/bisq/core/payment/PaymentAccountManagerTest.java
  desktop/src/main/java/bisq/desktop/main/account/content/PaymentAccountsView.java
  desktop/src/main/java/bisq/desktop/main/account/content/altcoinaccounts/AltCoinAccountsDataModel.java
  desktop/src/main/java/bisq/desktop/main/account/content/fiataccounts/FiatAccountsDataModel.java
Owners: @ripcurlx, @sqrrm

Bring back final modifier to AltCoinAddressValidator and Preferences
  core/src/main/java/bisq/core/payment/validation/AltCoinAddressValidator.java
  core/src/main/java/bisq/core/user/Preferences.java
Owners: @ripcurlx

Sort existing gradle-witness.gradle
  gradle/witness/gradle-witness.gradle
  gradle/witness/gradle-witness.jar
Owners: @cbeams

[TESTS] Clean up 'Analyze Code' warnings
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStoragePersistableNetworkPayloadTest.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageProtectedStorageEntryTest.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStoreDisconnectTest.java
  p2p/src/test/java/bisq/network/p2p/storage/TestState.java
  p2p/src/test/java/bisq/network/p2p/storage/mocks/ProtectedStoragePayloadStub.java
Owners: @ripcurlx

[PR COMMENTS] Make maxSequenceNumberBeforePurge final
  p2p/src/main/java/bisq/network/p2p/P2PModule.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageRemoveExpiredTest.java
  p2p/src/test/java/bisq/network/p2p/storage/TestState.java
Owners: @ripcurlx

Change removeFromMapAndDataStore to signal listeners at the end in a batch
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

[REFACTOR] removeFromMapAndDataStore can operate on Collections
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

[REFACTOR] HashMapListener::onAdded/onRemoved
  core/src/main/java/bisq/core/alert/AlertManager.java
  core/src/main/java/bisq/core/dao/governance/proposal/ProposalListPresentation.java
  core/src/main/java/bisq/core/dao/governance/proposal/ProposalService.java
  core/src/main/java/bisq/core/filter/FilterManager.java
  core/src/main/java/bisq/core/offer/OfferBookService.java
  core/src/main/java/bisq/core/support/dispute/agent/DisputeAgentManager.java
  p2p/src/main/java/bisq/network/p2p/P2PService.java
  p2p/src/main/java/bisq/network/p2p/storage/HashMapChangedListener.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/test/java/bisq/network/p2p/storage/TestState.java
Owners: @ripcurlx

ProposalService::onProtectedDataRemoved signals listeners once on batch removes
  core/src/main/java/bisq/core/dao/governance/proposal/ProposalService.java
  core/src/test/java/bisq/core/dao/governance/proposal/ProposalServiceP2PDataStorageListenerTest.java
Owners: @ripcurlx

Update removeExpiredEntries to remove all items in a batch
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageRemoveExpiredTest.java
  p2p/src/test/java/bisq/network/p2p/storage/TestState.java
Owners: @ripcurlx

Remove HashmapChangedListener::onBatch operations
  core/src/main/java/bisq/core/dao/governance/proposal/ProposalListPresentation.java
  p2p/src/main/java/bisq/network/p2p/storage/HashMapChangedListener.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
Owners: @ripcurlx

Upgrade Gradle Shadow plugin from 4.0.2 => 5.2.0
  build.gradle
Owners: @cbeams

Refactor FilterWindow - remove redundant interfaces
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/FilterWindow.java
Owners: @ripcurlx, @sqrrm

Refactor SendAlertMessageWindow - remove redundant interfaces
  desktop/src/main/java/bisq/desktop/app/BisqApp.java
  desktop/src/main/java/bisq/desktop/main/overlays/windows/SendAlertMessageWindow.java
Owners: @ripcurlx, @sqrrm

[TESTS] Regression test for #3629
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageProtectedStorageEntryTest.java
  p2p/src/test/java/bisq/network/p2p/storage/TestState.java
Owners: @ripcurlx

Fix typos and cleanup
  docs/idea-import.md
  docs/release-process.md
  docs/testing.md
  docs/translation-process.md
  monitor/README.md
Owners: @ripcurlx

Implement installation path check on Windows
  desktop/package/windows/Bisq.iss
Owners: @ripcurlx, @sqrrm

Ensure the destination location dialog is always shown
  desktop/package/windows/Bisq.iss
Owners: @ripcurlx, @sqrrm

Show the Welcome dialog
  desktop/package/windows/Bisq.iss
Owners: @ripcurlx, @sqrrm

Reorder/group setup items logically
  desktop/package/windows/Bisq.iss
Owners: @ripcurlx, @sqrrm

Update BankUtil.java
  core/src/main/java/bisq/core/locale/BankUtil.java
Owners: @ripcurlx

Update BankUtil.java
  core/src/main/java/bisq/core/locale/BankUtil.java
Owners: @ripcurlx

Use global price data instead of local #3527
  pricenode/src/main/java/bisq/price/spot/providers/BitcoinAverage.java
Owners: @cbeams

Update BitcoinAverage.java
  pricenode/src/main/java/bisq/price/spot/providers/BitcoinAverage.java
Owners: @cbeams

Update ExchangeRateService.java
  pricenode/src/main/java/bisq/price/spot/ExchangeRateService.java
Owners: @cbeams

[BUGFIX] Reconstruct HashMap using 32-byte key
  core/src/main/java/bisq/core/dao/governance/proposal/storage/temp/TempProposalStore.java
  p2p/src/main/java/bisq/network/p2p/storage/P2PDataStorage.java
  p2p/src/test/java/bisq/network/p2p/storage/P2PDataStorageProtectedStorageEntryTest.java
  p2p/src/test/java/bisq/network/p2p/storage/TestState.java
Owners: @ripcurlx
